<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="form-group" style="padding-top: 5px">
      <textarea class="aw-textarea" [cols]="50" [rows]="5" pInputTextarea [(ngModel)]="reportAlertMessage"></textarea>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>
  </a-footer>
</a-modal>
