<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div class="page-subtitle">- {{ "page.searchPage" | translate }}</div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button type="button" mat-raised-button (click)="openNewTask()" *ngIf="hasUpdateAccessRight">
      {{ "global.create" | translate }}
    </button>
    <button
      id="actions"
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #actions="matMenu">
      <button id="favorites" mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ "global.search" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <div class="row search-criteria-header">
                  <i
                    class="fa fa-fw fa-undo aw-icon aw-icon-with-border search-criteria-action"
                    aria-hidden="true"
                    pTooltip="{{ 'global.reset' | translate }}"
                    tooltipPosition="top"
                    (click)="resetSearchCriteria()"
                  ></i>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".familyVariant" | translate }} </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="familyVariants"
                        [(ngModel)]="familyVariantSearchObject"
                        [showClear]="true"
                        (keyup.enter)="search()"
                        placeholder="&nbsp;"
                      ></p-dropdown>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">
                      {{ componentData.componentId + ".taskMaintenanceProgram" | translate }}
                    </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="taskMaintenanceProgram"
                        [(ngModel)]="maintenanceProgramSearchObject"
                        placeholder="&nbsp;"
                        (keyup.enter)="search()"
                        [showClear]="true"
                      ></p-dropdown>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".notApproved" | translate }} </label>

                    <div class="form-control">
                      <p-checkbox binary="true" class="aw-checkbox" [(ngModel)]="notApproved"></p-checkbox>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".taskCode" | translate }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.taskCode" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".taskVersion" | translate }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.taskVersion" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">
                      {{ componentData.componentId + ".repairCenterCode" | translate }}
                    </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="mroCenters"
                        [(ngModel)]="searchObject.repairCenterCode"
                        [showClear]="true"
                        (keyup.enter)="search()"
                        placeholder="&nbsp;"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".taskStatus" | translate }} </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="statuses"
                        [(ngModel)]="searchObject.taskStatus"
                        [showClear]="true"
                        (keyup.enter)="search()"
                        placeholder="&nbsp;"
                      ></p-dropdown>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".taskTypeCode" | translate }} </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="taskTypes"
                        [(ngModel)]="searchObject.taskTypeCode"
                        placeholder="&nbsp;"
                        (keyup.enter)="search()"
                        [showClear]="true"
                      ></p-dropdown>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".groupCode" | translate }} </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="taskGroups"
                        [(ngModel)]="searchObject.groupCode"
                        placeholder="&nbsp;"
                        (keyup.enter)="search()"
                        [showClear]="true"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>

                <div class="advanced-criteria" [ngClass]="{ 'display--none': !showAdvancedCriteria }">
                  <div class="row">
                    <div class="display--flex-row flex--1">
                      <div class="form-group">
                        <label class="form-label"> {{ componentData.componentId + ".taskChapter" | translate }} </label>

                        <div class="form-control">
                          <input type="text" class="aw-input" [(ngModel)]="searchObject.taskChapter" />
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="form-label"> {{ componentData.componentId + ".taskSection" | translate }} </label>

                        <div class="form-control">
                          <input type="text" class="aw-input" [(ngModel)]="searchObject.taskSection" />
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="form-label"> {{ componentData.componentId + ".taskSubject" | translate }} </label>

                        <div class="form-control">
                          <input type="text" class="aw-input" [(ngModel)]="searchObject.taskSubject" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label"> {{ componentData.componentId + ".taskTask" | translate }} </label>

                      <div class="form-control">
                        <input type="text" class="aw-input" [(ngModel)]="searchObject.taskTask" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label"> {{ componentData.componentId + ".taskSubTask" | translate }} </label>

                      <div class="form-control">
                        <input type="text" class="aw-input" [(ngModel)]="searchObject.taskSubTask" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group">
                      <label class="form-label">
                        {{ componentData.componentId + ".taskDesignation" | translate }}
                      </label>

                      <div class="form-control">
                        <input type="text" class="aw-input" [(ngModel)]="searchObject.taskDesignation" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label">
                        {{ componentData.componentId + ".taskDescription" | translate }}
                      </label>

                      <div class="form-control">
                        <input type="text" class="aw-input" [(ngModel)]="searchObject.taskDescription" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label">
                        {{ componentData.componentId + ".taskApplicabilityCode" | translate }}
                      </label>

                      <div class="form-control">
                        <p-dropdown
                          class="aw-dropdown fixed-width"
                          [options]="applicabilities"
                          [(ngModel)]="searchObject.taskApplicabilityCode"
                          placeholder="&nbsp;"
                          (keyup.enter)="search()"
                          [showClear]="true"
                        ></p-dropdown>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row search-criteria-footer">
                  <button mat-button (click)="showAdvancedCriteria = !showAdvancedCriteria">
                    <ng-container *ngIf="showAdvancedCriteria">
                      <mat-icon>remove</mat-icon>
                      {{ "global.collapseCriteria" | translate }}
                    </ng-container>
                    <ng-container *ngIf="!showAdvancedCriteria">
                      <mat-icon>add</mat-icon>
                      {{ "global.expandCriteria" | translate }}
                    </ng-container>
                  </button>

                  <div class="search-actions">
                    <button
                      type="button"
                      mat-raised-button
                      class="btn-with-spinner"
                      (click)="search()"
                      color="primary"
                      appKeyPress
                      [keyCode]="'Enter'"
                      (keyPress)="search()"
                    >
                      <span *ngIf="isLoading" class="lds-hourglass"></span>
                      {{ "global.toSearch" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div #resultsContainerAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ "global.results" | translate }} ({{ taskTableDataSource ? taskTableDataSource.dataCount : 0 }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <a-table [dataSource]="taskTableDataSource">
                <ng-template tableActionsDef>
                  <button
                    *ngIf="
                      taskTableDataSource && taskTableDataSource.dataCount > 0 && !taskTableDataSource.hasDataSelection
                    "
                    type="button"
                    mat-raised-button
                    (click)="exportTable()"
                  >
                    {{ "global.export" | translate }}
                  </button>

                  <button
                    *ngIf="hasManageAccessRight && taskTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    color="warn"
                    (click)="deleteTasks()"
                  >
                    {{ "global.delete" | translate }}
                  </button>

                  <button
                    *ngIf="taskTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    (click)="openSelectedTasks()"
                  >
                    {{ "global.open" | translate }}
                  </button>
                </ng-template>
                <ng-template columnDef="taskCode" let-rowData="rowData">
                  <a (click)="openTaskLink(rowData)"> {{ rowData.taskCode }} </a>
                </ng-template>
              </a-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
