:host {
  .hums-min-height {
    min-height: 13.5rem;
  }

  .replenishments-validation-min-height {
    min-height: 18.5rem;
  }

  .vertical {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .hover-div {
    margin-right: 5px;
  }
}
