<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="column">
      <div class="form-group">
        <label class="form-label">{{ getComponentName() + ".configurationCode" | translate }}</label>
        <div class="form-control">
          <input type="text" class="aw-input" [(ngModel)]="bireConfigurationDTO.configurationCode" [disabled]="true" />
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">{{ getComponentName() + ".configurationName" | translate }}</label>
        <div class="form-control">
          <input
            type="text"
            class="aw-input"
            maxlength="100"
            [(ngModel)]="bireConfigurationDTO.configurationName"
            [disabled]="isReadOpenMode"
          />
        </div>
      </div>
      <div class="form-group required">
        <label class="form-label">{{ getComponentName() + ".vintageConfigDate" | translate }}</label>
        <div class="form-control">
          <p-calendar
            showButtonBar="true"
            [monthNavigator]="true"
            [yearNavigator]="true"
            [yearRange]="sessionService.calendarYearRange"
            class="aw-calendar"
            [dateFormat]="sessionService.dateFormatPrimeNG"
            [locale]="sessionService.calendarFormat"
            [(ngModel)]="bireConfigurationDTO.vintageConfigDate"
            appendTo="body"
            [disabled]="isReadOpenMode"
          ></p-calendar>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button
      type="button"
      *ngIf="!isReadOpenMode"
      mat-raised-button
      color="primary"
      (click)="validate()"
      [disabled]="!bireConfigurationDTO.vintageConfigDate"
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
