<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".titleRemoval" | translate }}: {{ reportHeading }}</div>
  </a-header>

  <a-content>
    <div class="form-group">
      <textarea class="aw-textarea" [rows]="20" [cols]="100" pInputTextarea [(ngModel)]="reportContent"></textarea>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">
      <span>{{ "global.close" | translate }}</span>
    </button>
  </a-footer>
</a-modal>
