<a-modal class="aw-modal dynamic-attributes-history" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="search-dialog-container">
      <div class="section search-critetia-section">
        <div class="section-content">
          <div class="column">
            <div class="row">
              <div class="form-group">
                <label class="form-label">{{ getComponentName() + ".attribute" | translate }}</label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="attributes"
                    (onChange)="handleAttributeSelected($event.value)"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    appendTo="body"
                  ></p-dropdown>
                </div>
              </div>
              <div class="form-group"></div>
              <div class="form-group"></div>
              <div class="form-group"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <p-table
          [resizableColumns]="true"
          #ptable
          class="aw-table2"
          [columns]="tableCols"
          [value]="formattedTableRows"
          [(selection)]="selectedRows"
          dataKey="attributeId"
          [scrollable]="true"
        >
          <ng-template pTemplate="caption">
            <div class="aw-table-header">
              <div class="aw-table-actions">
                <button
                  type="button"
                  mat-raised-button
                  color="warn"
                  [disabled]="selectedRows.length === 0"
                  pTooltip="{{ 'global.delete' | translate }}"
                  tooltipPosition="top"
                  (click)="deleteSelectedHistory()"
                  *ngIf="!isReadOpenMode && selectedRows.length > 0 && showDelete"
                >
                  {{ "global.delete" | translate }}
                </button>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngIf="getComponentName().selectionMode === Multiple" class="aw-table-checkbox-wrapper" />
              <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
            </colgroup>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngIf="getComponentName().selectionMode === Multiple" class="aw-table-checkbox-wrapper">
                <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
              </th>

              <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                {{ getComponentName() + "." + col.field | translate }}
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
              <td *ngIf="getComponentName().selectionMode === Multiple" class="aw-table-checkbox-wrapper">
                <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
              </td>

              <td *ngFor="let col of columns" [ngSwitch]="col.filterMode" [ngStyle]="{ 'text-align': col.alignment }">
                <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">
      <span>{{ "global.close" | translate }}</span>
    </button>
  </a-footer>
</a-modal>
