<div *ngIf="showReport" class="content">
  <div class="grid-cell-header">
    <div class="grid-cell-title-container loading-indicator">
      <div class="grid-cell-title">
        <div *ngIf="isLoading" class="lds-hourglass"></div>
      </div>
    </div>
  </div>
  <a-table [dataSource]="reportTableDataSource">
    <ng-template columnDef="action" let-rowData="rowData">
      <button type="button" mat-raised-button (click)="generateReport(rowData['id'])">
        {{ getComponentName() + ".generate" | translate }}
      </button>
    </ng-template>
    <ng-template columnDef="fileName" let-rowData="rowData">
      <span pTooltip="{{ rowData['fileDesc'] }}" tooltipPosition="bottom">{{ rowData.fileName }}</span>
    </ng-template>
  </a-table>
</div>
