@import "constants";

:host {
  .marginRight {
    margin-right: 8px;
  }
  .delay-category {
    max-width: 8rem;
  }

  .documentation-actions {
    justify-content: flex-end;

    .aw-btn {
      margin-left: $margin-value;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
  .no-padding {
    padding: 0 !important;
  }
}
