@import "constants";
@import "mixins";

$table-header-height: 24px;

:host {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .message {
    color: #01579b;
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }

  .materials {
    width: 100%;
  }

  .warehouse {
    width: 100%;
  }

  .snBatch {
    width: 100%;
  }

  .ok {
    background-color: $green-light1 !important;
  }

  .warning {
    background-color: $orange !important;
  }

  .nok {
    background-color: $red-light1 !important;
  }

  .select-box .arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 0.7em solid #01579b;
    right: -0.45em;
  }

  .breadcrumbs {
    padding: 0px !important;
  }

  .breadcrumbs-container {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    padding: 8px 8px 0px 8px !important;
  }

  .breadcrumbs-navigation {
    overflow: hidden;
    display: flex;
  }

  .breadcrumbs-navigation li {
    float: left;
    margin: 0 10px 0 0px;
  }

  .breadcrumbs-navigation .current {
    float: left;
    margin: 0 25px 0 15px;
  }

  .breadcrumbs-navigation .breadcrumbs-labels {
    background-color: #01579b;
    padding: 0.7em 1em;
    float: left;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    color: #fff;
    font-size: 20px;
    padding-bottom: 6px;
    padding-top: 7px;

    .title {
      font-weight: bold;
      font-size: 20px;
    }

    .subtitle {
      font-weight: initial;
      font-style: italic;
      font-size: 15px;
    }
  }

  .breadcrumbs-navigation .current .breadcrumbs-labels {
    background: $accent-color;
    .title {
      font-weight: bold;
      font-size: 20px;
    }

    .subtitle {
      font-weight: initial;
      font-style: italic;
      font-size: 15px;
    }
  }
  // arrow
  .breadcrumbs-navigation .breadcrumbs-labels::before {
    content: "";
    position: absolute;
    top: 49%;
    margin-top: -1.5em;
    border-width: 1.5em 0 1.6em 1em;
    border-style: solid;
    border-color: #ddd #ddd #ddd #ddd;
    left: -1em;
  }

  .breadcrumbs-navigation .current .breadcrumbs-labels::before {
    border-color: $accent-color $accent-color $accent-color $accent-color;
  }

  //arrow
  .breadcrumbs-navigation .breadcrumbs-labels::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #01579b;
    right: -1em;
  }

  .breadcrumbs-navigation .current .breadcrumbs-labels::after {
    border-left-color: $accent-color;
  }

  .breadcrumbs-navigation .current .breadcrumbs-labels {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 6px;
    padding-top: 7px;
  }

  .breadcrumbs-navigation .current::after,
  .breadcrumbs-navigation .current::before {
    content: normal;
  }

  .grid-cell-stock-select {
    .table {
      @include flex-column();

      position: relative;
      width: 100%;

      .material {
        .material-pn {
          width: 34%;
          text-align: center;
        }

        .interchangeability {
          width: 33%;
          text-align: center;
        }

        .material-quantity {
          width: 33%;
          text-align: center;
        }
      }

      .warehouse {
        .warehouse-name {
          width: 37%;
          text-align: center;
        }

        .warehouse-site {
          width: 38%;
          text-align: center;
        }

        .warehouse-quantity {
          width: 25%;
          text-align: center;

          &.value {
            font-weight: bold;
            margin-top: 4px;
            width: 100%;
          }
        }
      }

      .snBatch {
        .snBatch-sn {
          width: 100%;
          text-align: center;
        }

        .snBatch-batch {
          width: 100%;
          text-align: center;
        }

        .snBatch-potential {
          width: 100%;
          text-align: center;
        }

        .snBatch-date {
          width: 100%;
          text-align: center;
        }

        .snBatch-qty {
          width: 10%;
          text-align: center;
        }
      }

      .table-header {
        background-color: $primary-background-color;
        position: sticky;
        top: $topbar-height;
        z-index: 1;

        .table-row {
          @include flex-row();

          border-bottom: $border-width $border-style $border-color;
          max-height: $table-header-height;
          min-height: $table-header-height;
        }
      }

      .table-body {
        min-height: calc(#{$margin-value} * 5);

        .table-row {
          @include flex-row();

          border-bottom: $border-width $border-style $secondary-background-color;
          cursor: pointer;
          padding: $margin-value 0;
          justify-content: center;

          &:hover {
            background-color: $secondary-background-color;
          }

          &.selected {
            background-color: #b6deff;
            border-bottom: 1px solid #b6deff;
            border-top: 1px solid #b6deff;

            &.first {
              border-top-width: $border-width;
            }
          }

          .table-cell {
            @include flex-column();

            .additional-data {
              margin-top: $margin-value;
            }

            .label {
              display: inline-block;
            }

            .value {
              font-weight: bold;
            }

            a {
              color: $accent-color;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
