<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle-container">
        <div *ngIf="isAssetViewMode && isAssetAircraft" class="page-subtitle">
          - {{ componentName + ".aircraft" | translate }} {{ asset.registration }}
        </div>
        <div *ngIf="isAssetViewMode && (isAssetEngine || isAssetEquipment)" class="page-subtitle">
          - {{ asset.equipmentDesignation }} / {{ asset.sn }}
        </div>
        <div *ngIf="isFleetViewMode" class="page-subtitle">- {{ topFamilyVariantList }}</div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button
      *ngIf="isAssetViewMode && scope._parent"
      type="button"
      mat-raised-button
      (click)="goUpInAirworthinessTable()"
    >
      {{ componentName + ".goUp" | translate }}
    </button>

    <button *ngIf="simulationCriteria !== undefined" type="button" mat-raised-button (click)="resetSimulation()">
      {{ componentName + ".resetSimulation" | translate }}
    </button>

    <button type="button" mat-raised-button (click)="simulate()">{{ componentName + ".simulate" | translate }}</button>

    <button
      id="actions"
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #actions="matMenu">
      <button *ngIf="isAssetViewMode" id="goTo" mat-menu-item [matMenuTriggerFor]="navigations">
        {{ "global.goTo" | translate }}
      </button>

      <button mat-menu-item [matMenuTriggerFor]="potentialUnitSelection">
        {{ componentName + ".potentialUnit" | translate }}({{ potentialUnitSelected }})
      </button>

      <button mat-menu-item (click)="reload()">{{ "global.refresh" | translate }}</button>

      <button id="favorites" mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>

    <mat-menu #navigations="matMenu">
      <button *ngIf="!isCreateOpenMode" type="button" mat-menu-item (click)="navigationLinkList[0].command()">
        {{ navigationLinkList[0].label | translate }}
      </button>
      <button *ngIf="!isCreateOpenMode" type="button" mat-menu-item (click)="navigationLinkList[1].command()">
        {{ navigationLinkList[1].label | translate }}
      </button>
      <button *ngIf="!isCreateOpenMode" type="button" mat-menu-item (click)="navigationLinkList[2].command()">
        {{ navigationLinkList[2].label | translate }}
      </button>
    </mat-menu>
    <mat-menu #potentialUnitSelection="matMenu">
      <button *ngIf="!isCreateOpenMode" type="button" mat-menu-item (click)="potentialUnitList[0].command()">
        {{ potentialUnitList[0].label | translate }}
      </button>
      <button *ngIf="!isCreateOpenMode" type="button" mat-menu-item (click)="potentialUnitList[1].command()">
        {{ potentialUnitList[1].label | translate }}
      </button>
      <button *ngIf="!isCreateOpenMode" type="button" mat-menu-item (click)="potentialUnitList[2].command()">
        {{ potentialUnitList[2].label | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div id="airworthiness-control-form" class="page-wrapper">
  <div class="page-container">
    <div class="page-content">
      <div *ngIf="simulationCriteria !== undefined" class="grid-cell--12">
        <div class="grid-cell grid-cell--container grid-cell-state-simulation">
          <div class="grid-cell-header">
            <div class="grid-cell-title-container">
              <h3 class="grid-cell-title">
                {{ componentName + ".ageingSimulation" | translate }}:
                <span
                  *ngIf="simulationCriteria.inHours && simulationCriteria.inHours <= 1"
                  class="simulation-criterion"
                >
                  {{ componentName + ".simulateInHour" | translate: { value: simulationCriteria.inHours.toString() } }}
                </span>
                <span *ngIf="simulationCriteria.inHours && simulationCriteria.inHours > 1" class="simulation-criterion">
                  {{ componentName + ".simulateInHours" | translate: { value: simulationCriteria.inHours.toString() } }}
                </span>
                <span
                  *ngIf="simulationCriteria.inCycles && simulationCriteria.inCycles <= 1"
                  class="simulation-criterion"
                >
                  {{
                    componentName + ".simulateInCycle" | translate: { value: simulationCriteria.inCycles.toString() }
                  }}
                </span>
                <span
                  *ngIf="simulationCriteria.inCycles && simulationCriteria.inCycles > 1"
                  class="simulation-criterion"
                >
                  {{
                    componentName + ".simulateInCycles" | translate: { value: simulationCriteria.inCycles.toString() }
                  }}
                </span>
                <span *ngIf="simulationCriteria.atDate" class="simulation-criterion">
                  {{
                    componentName + ".simulateAtDate"
                      | translate: { value: dateService.dateToString(simulationCriteria.atDate) }
                  }}
                </span>
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div *ngIf="isFleetViewMode" class="grid-cell--6">
          <div
            class="grid-cell grid-cell--container grid-cell-scope"
            [ngClass]="{
              'in-simulation': simulationCriteria !== undefined
            }"
          >
            <aw-airworthiness-table-fleet-view-scope
              [topAssetTypeList]="topAssetTypeList"
              [topFamilyVariantList]="topFamilyVariantList"
              [topWarehouse]="topWarehouse"
            ></aw-airworthiness-table-fleet-view-scope>
          </div>
        </div>
        <div *ngIf="isFleetViewMode" class="grid-cell--6 grid-cell--no-padding">
          <div class="grid-row">
            <div class="grid-cell--12">
              <div
                class="grid-cell grid-cell--container grid-cell-summary"
                [ngClass]="{
                  'in-simulation': simulationCriteria !== undefined
                }"
              >
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container loading-indicator">
                    <div class="grid-cell-title">
                      {{
                        componentName + (isAssetViewMode ? ".subAssemblySummary" : ".airworthinessSummary") | translate
                      }}
                      <div *ngIf="globalAlertListLoading" class="lds-hourglass"></div>
                    </div>
                  </div>
                </div>

                <div class="grid-cell-content">
                  <div class="row flex-row--justify-center">
                    <div *ngIf="!globalAlertListLoading && chartVisible" class="chart-container">
                      <div class="chart-wrapper">
                        <p-chart
                          [type]="chartType"
                          [data]="chartData"
                          [options]="chartOptions"
                          width="100%"
                          height="100%"
                        ></p-chart>
                      </div>

                      <div class="chart-legend">
                        <div class="chart-legend-label">
                          <div class="chart-legend-label-color airworthy"></div>
                          {{ chartData.labels[0] }} <span class="chart-value">{{ airworthyEquipmentNb }} </span>
                        </div>

                        <div class="chart-legend-label">
                          <div class="chart-legend-label-color airworthy-with-alerts"></div>
                          {{ chartData.labels[1] }}
                          <span class="chart-value">{{ airworthyWithAlertEquipmentNb }} </span>
                        </div>

                        <div class="chart-legend-label">
                          <div class="chart-legend-label-color not-airworthy"></div>
                          {{ chartData.labels[2] }} <span class="chart-value">{{ notAirworthyEquipmentNb }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isAssetViewMode" class="grid-row">
        <div class="grid-cell--12">
          <div
            class="grid-cell grid-cell--container grid-cell-scope"
            [ngClass]="{
              'in-simulation': simulationCriteria !== undefined
            }"
          >
            <aw-airworthiness-table-asset-view-scope
              [airworthinessTableColCsnLabel]="airworthinessTableColCsnLabel"
              [airworthinessTableColTsnLabel]="airworthinessTableColTsnLabel"
              [asset]="asset"
              [assetAirworthiness]="assetAirworthiness"
              [globalAlertListLoading]="globalAlertListLoading"
              [isAssetAircraft]="isAssetAircraft"
              [isAssetEngine]="isAssetEngine"
              [isAssetEquipment]="isAssetEquipment"
              (onNavigate)="openTopAsset()"
            ></aw-airworthiness-table-asset-view-scope>
          </div>
        </div>
      </div>

      <div *ngIf="isAssetViewMode" class="grid-row">
        <div class="grid-cell--9 grid-cell--no-padding">
          <div class="grid-row">
            <div class="grid-cell--6">
              <div
                class="grid-cell grid-cell--container grid-cell-remaining-values"
                [ngClass]="{
                  'in-simulation': simulationCriteria !== undefined
                }"
              >
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container">
                    <div class="grid-cell-title">
                      <span *ngIf="isAssetAircraft">
                        {{ componentName + ".aircraftRemainingValues" | translate }}
                      </span>
                      <span *ngIf="isAssetEngine">
                        {{ componentName + ".engineRemainingValues" | translate }}
                      </span>
                      <span *ngIf="isAssetEquipment">
                        {{ componentName + ".equipmentRemainingValues" | translate }}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="grid-cell-content">
                  <aw-airworthiness-table-remaining-values
                    #topAssetAirworthinessTableRemainingValuesComponent
                    [equipmentCodeList]="topEquipmentCodeList"
                    [fullTable]="false"
                    [minimumRemainingEquivalentMap]="minimumRemainingEquivalentMap"
                    [potentialUnitSelected]="potentialUnitSelected"
                    [row]="assetAirworthiness"
                    [simulationCriteria]="simulationCriteria"
                  ></aw-airworthiness-table-remaining-values>
                </div>
              </div>
            </div>

            <div class="grid-cell--6">
              <div
                class="grid-cell grid-cell--container grid-cell-summary"
                [ngClass]="{
                  'in-simulation': simulationCriteria !== undefined
                }"
              >
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container loading-indicator">
                    <div class="grid-cell-title">
                      {{
                        componentName + (isAssetViewMode ? ".subAssemblySummary" : ".airworthinessSummary") | translate
                      }}
                      <div *ngIf="globalAlertListLoading" class="lds-hourglass"></div>
                    </div>
                  </div>
                </div>

                <div class="grid-cell-content">
                  <div class="row flex-row--justify-center">
                    <div *ngIf="!globalAlertListLoading && chartVisible" class="chart-container">
                      <div class="chart-wrapper">
                        <p-chart
                          [type]="chartType"
                          [data]="chartData"
                          [options]="chartOptions"
                          width="100%"
                          height="100%"
                        ></p-chart>
                      </div>

                      <div class="chart-legend">
                        <div class="chart-legend-label">
                          <div class="chart-legend-label-color airworthy"></div>
                          {{ chartData.labels[0] }} <span class="chart-value">{{ airworthyEquipmentNb }} </span>
                        </div>

                        <div class="chart-legend-label">
                          <div class="chart-legend-label-color airworthy-with-alerts"></div>
                          {{ chartData.labels[1] }}
                          <span class="chart-value">{{ airworthyWithAlertEquipmentNb }} </span>
                        </div>

                        <div class="chart-legend-label">
                          <div class="chart-legend-label-color not-airworthy"></div>
                          {{ chartData.labels[2] }} <span class="chart-value">{{ notAirworthyEquipmentNb }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-cell--3">
          <div
            class="grid-cell grid-cell--container grid-cell-summary"
            [ngClass]="{
              'in-simulation': simulationCriteria !== undefined
            }"
          >
            <div class="grid-cell-header">
              <div class="grid-cell-title-container loading-indicator">
                <div class="grid-cell-title">
                  {{ componentName + ".configurationControl" | translate }}
                  <div
                    *ngIf="configurationControlTableLoading || airworthinessTableLoading || globalAlertListLoading"
                    class="lds-hourglass"
                  ></div>
                </div>
              </div>
            </div>

            <div class="grid-cell-content grid-cell-content-with-section">
              <div class="column">
                <div class="section">
                  <div class="section-content">
                    <div class="row flex-row--justify-end">
                      <button
                        type="button"
                        mat-raised-button
                        [ngClass]="{
                          'visibility--hidden':
                            configurationControlTableLoading || airworthinessTableLoading || globalAlertListLoading
                        }"
                        (click)="openControlConfiguration()"
                      >
                        {{ componentName + ".open" | translate }}
                      </button>
                    </div>
                  </div>
                </div>

                <div class="section">
                  <div class="section-content">
                    <div class="row">
                      <div
                        class="table-summary-wrapper"
                        [ngClass]="{
                          'visibility--hidden':
                            configurationControlTableLoading || airworthinessTableLoading || globalAlertListLoading
                        }"
                      >
                        <p-table
                          [resizableColumns]="true"
                          class="aw-table-control-summary aw-table-control-summary-single-row"
                          [value]="configurationControlTable"
                        >
                          <ng-template pTemplate="colgroup">
                            <colgroup>
                              <col [ngStyle]="{ width: '33%' }" />
                              <col [ngStyle]="{ width: '33%' }" />
                              <col [ngStyle]="{ width: '33%' }" />
                            </colgroup>
                          </ng-template>

                          <ng-template pTemplate="header" let-columns>
                            <tr>
                              <th [ngStyle]="{ 'text-align': 'center' }">
                                {{ componentName + ".ok" | translate }}
                              </th>
                              <th [ngStyle]="{ 'text-align': 'center' }">
                                {{ componentName + ".warning" | translate }}
                              </th>
                              <th [ngStyle]="{ 'text-align': 'center' }">
                                {{ componentName + ".nok" | translate }}
                              </th>
                            </tr>
                          </ng-template>

                          <ng-template pTemplate="body" let-columns="columns" let-rowData>
                            <tr>
                              <td [ngStyle]="{ 'text-align': 'center' }">
                                <span
                                  class="control-result"
                                  [ngClass]="{
                                    ok: rowData['nok'] == 0 && rowData['warning'] == 0 && rowData['ok'] >= 0
                                  }"
                                >
                                  {{ rowData["ok"] }}
                                </span>
                              </td>
                              <td [ngStyle]="{ 'text-align': 'center' }">
                                <span
                                  class="control-result"
                                  [ngClass]="{ warning: rowData['nok'] == 0 && rowData['warning'] > 0 }"
                                >
                                  {{ rowData["warning"] }}
                                </span>
                              </td>
                              <td [ngStyle]="{ 'text-align': 'center' }">
                                <span class="control-result" [ngClass]="{ nok: rowData['nok'] > 0 }">
                                  {{ rowData["nok"] }}
                                </span>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div
            class="grid-cell grid-cell--container grid-cell-detail"
            [ngClass]="{ 'in-simulation': simulationCriteria !== undefined }"
          >
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 *ngIf="!airworthinessTableOnlyAlertsVisible" class="grid-cell-title">
                  {{ componentName + (isAssetViewMode ? ".subAssemblyDetail" : ".airworthinessDetail") | translate }}
                  ({{ airworthinessTable ? airworthinessTable.length : 0 }})
                </h3>
                <h3 *ngIf="airworthinessTableOnlyAlertsVisible" class="grid-cell-title">
                  {{ componentName + (isAssetViewMode ? ".subAssemblyDetail" : ".airworthinessDetail") | translate }}
                  ({{ airworthinessTableDisplayedRowNb }} / {{ airworthinessTable ? airworthinessTable.length : 0 }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <p-table
                  [resizableColumns]="true"
                  #ptableAirworthiness
                  class="aw-table2"
                  [columns]="airworthinessTableCols"
                  [value]="airworthinessTable"
                  [(selection)]="airworthinessTableSelection"
                  dataKey="_id"
                  [scrollable]="true"
                  (sortFunction)="customSort($event)"
                  [customSort]="true"
                >
                  <ng-template pTemplate="emptymessage">
                    <span *ngIf="!airworthinessTableLoading"> &nbsp;</span>

                    <div *ngIf="airworthinessTableLoading" class="aw-table-loading-indicator">
                      <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                      <div class="lds-hourglass"></div>
                    </div>
                  </ng-template>

                  <ng-template pTemplate="caption">
                    <div
                      class="aw-table-header"
                      [ngClass]="{ 'rows-selected': airworthinessTableSelection.length > 0 }"
                    >
                      <div class="aw-table-global-filter">
                        <label class="aw-table-global-filter-label">
                          <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                        </label>

                        <input
                          #ptableAirworthinessGlobalFilter
                          class="aw-table-global-filter-input"
                          type="text"
                          placeholder="{{ 'table.globalFilterText' | translate }}"
                          (input)="ptableAirworthiness.filterGlobal($event.target.value, 'contains')"
                        />
                      </div>

                      <div class="aw-table-actions">
                        <p-splitButton
                          *ngIf="!airworthinessTableLoading && airworthinessTableSelection.length === 1"
                          class="aw-split-btn aw-table-action"
                          label="{{ componentName + '.navigate' | translate }}"
                          [model]="navigationLinkListForTableRow"
                        ></p-splitButton>

                        <p-selectButton
                          *ngIf="!airworthinessTableLoading"
                          class="aw-table-action select-button-margin"
                          [(ngModel)]="airworthinessTableVisibilitySelected"
                          [options]="airworthinessTableVisibilityList"
                          (onChange)="onChangeAirworthinessTableVisibility()"
                        ></p-selectButton>

                        <button
                          *ngIf="!airworthinessTableLoading && airworthinessTableSelection.length === 0"
                          type="button"
                          mat-raised-button
                          (click)="exportAirwothinessTable()"
                        >
                          {{ "global.export" | translate }}
                        </button>
                      </div>
                    </div>
                  </ng-template>

                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                      <col class="aw-table-checkbox-wrapper" />
                      <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                      <col class="row-expand-wrapper" />
                      <col class="row-action-wrapper" />
                    </colgroup>
                  </ng-template>

                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th class="aw-table-checkbox-wrapper">
                        <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                      </th>

                      <th
                        pResizableColumn
                        *ngFor="let col of columns"
                        [pSortableColumn]="col.field"
                        [pSortableColumnDisabled]="col.field !== 'potential'"
                        [ngStyle]="{ 'text-align': col.alignment }"
                      >
                        <span>
                          {{ componentName + "." + col.field | translate }}
                        </span>
                        <p-sortIcon *ngIf="col.field === 'potential'" [field]="col.field"></p-sortIcon>
                      </th>

                      <th class="row-expand-wrapper"></th>
                      <th class="row-action-wrapper"></th>
                    </tr>
                  </ng-template>

                  <ng-template
                    pTemplate="body"
                    let-rowData
                    let-expanded="expanded"
                    let-columns="columns"
                    let-rowIndex="rowIndex"
                  >
                    <tr
                      *ngIf="
                        airworthinessTableOnlyAlertsVisible
                          ? rowData['alert'] !== undefined &&
                            rowData['alert'] !== null &&
                            (rowData['alert'] === controlConfigConstants.ICON_RED ||
                              rowData['alert'] === controlConfigConstants.ICON_YELLOW)
                          : true
                      "
                      [pSelectableRow]="rowData"
                      [pSelectableRowIndex]="rowIndex"
                    >
                      <td class="aw-table-checkbox-wrapper">
                        <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                      </td>

                      <td
                        *ngFor="let col of columns"
                        [ngSwitch]="col.field"
                        [ngStyle]="{ 'text-align': col.alignment }"
                      >
                        <div *ngSwitchCase="'alert'">
                          <span pTooltip="{{ rowData['_alertTooltip'] }}" tooltipPosition="top">
                            <div
                              *ngIf="rowData['_alertLoading']"
                              class="lds-hourglass display--flex-row"
                              [ngClass]="{
                                'flex-row--justify-center': col.alignment === 'center',
                                'flex-row--justify-left': col.alignment === 'left',
                                'flex-row--justify-right': col.alignment === 'right'
                              }"
                            ></div>

                            <span
                              *ngIf="
                                !rowData['_alertLoading'] &&
                                rowData[col.field] !== undefined &&
                                rowData[col.field] !== null &&
                                rowData[col.field] === controlConfigConstants.ICON_GREEN
                              "
                              class="alert alert--ok"
                            >
                              {{ componentName + ".alertOk" | translate }}
                            </span>

                            <span
                              *ngIf="
                                !rowData['_alertLoading'] &&
                                rowData[col.field] !== undefined &&
                                rowData[col.field] !== null &&
                                rowData[col.field] === controlConfigConstants.ICON_RED
                              "
                              class="alert alert--nok"
                            >
                              {{ componentName + ".alertNok" | translate }}
                            </span>

                            <span
                              *ngIf="
                                !rowData['_alertLoading'] &&
                                rowData[col.field] !== undefined &&
                                rowData[col.field] !== null &&
                                rowData[col.field] === controlConfigConstants.ICON_YELLOW
                              "
                              class="alert alert--warning"
                            >
                              {{ componentName + ".alertWarning" | translate }}
                            </span>
                          </span>
                        </div>

                        <div *ngSwitchCase="'asset'" class="table-cell">
                          <span
                            *ngSwitchCase="'asset'"
                            pTooltip="{{ rowData['_obj'].counterAlertTooltip }}"
                            tooltipPosition="top"
                          >
                            <i
                              *ngIf="
                                rowData['_obj'].counterAlertStatus !== undefined &&
                                rowData['_obj'].counterAlertStatus !== null &&
                                rowData['_obj'].counterAlertStatus.length > 0 &&
                                (rowData['_obj'].counterAlertStatus === controlConfigConstants.ICON_RED ||
                                  rowData['_obj'].counterAlertStatus === controlConfigConstants.ICON_YELLOW)
                              "
                              class="fa fa-fw fa-exclamation-triangle"
                              aria-hidden="true"
                            ></i>
                            <a (click)="openSubAsset(rowData)">{{ rowData["_obj"].assetRepresentation }}</a>
                          </span>
                          <span class="designation">{{ rowData["designation"] }}</span>
                        </div>

                        <div *ngSwitchCase="'maintenancePlan'" class="table-cell">
                          <span pTooltip="{{ rowData['_obj'].maintenanceProgramTooltip }}" tooltipPosition="top">
                            <i
                              *ngIf="
                                rowData['_obj'].maintenanceProgramStatus !== undefined &&
                                rowData['_obj'].maintenanceProgramStatus !== null &&
                                rowData['_obj'].maintenanceProgramStatus.length > 0 &&
                                (rowData['_obj'].maintenanceProgramStatus ===
                                  controlConfigConstants.CUSTOMIZATION_STATUS_WARNING_NO_ALTERNATIVE ||
                                  rowData['_obj'].maintenanceProgramStatus ===
                                    controlConfigConstants.CUSTOMIZATION_STATUS_OK_CUSTOMIZED)
                              "
                              class="fa fa-fw fa-exclamation-triangle"
                              aria-hidden="true"
                            ></i>
                            <a (click)="openAssetMaintenancePlan(rowData['_obj'].bidoEquipment.equipmentCode)">
                              {{ rowData["mp"] }}
                            </a>
                          </span>
                        </div>

                        <div *ngSwitchCase="'potential'" class="table-cell">
                          <span pTooltip="{{ rowData['_obj'].remainingEquivalentTooltip }}" tooltipPosition="top">
                            <div
                              *ngIf="rowData['_potentialLoading']"
                              class="lds-hourglass display--flex-row"
                              [ngClass]="{
                                'flex-row--justify-center': col.alignment === 'center',
                                'flex-row--justify-left': col.alignment === 'left',
                                'flex-row--justify-right': col.alignment === 'right'
                              }"
                            ></div>

                            <i
                              *ngIf="
                                !rowData['_potentialLoading'] &&
                                rowData['_obj'].remainingEquivalentIcon !== undefined &&
                                rowData['_obj'].remainingEquivalentIcon !== null &&
                                rowData['_obj'].remainingEquivalentIcon.length > 0 &&
                                (rowData['_obj'].remainingEquivalentIcon === controlConfigConstants.ICON_RED ||
                                  rowData['_obj'].remainingEquivalentIcon === controlConfigConstants.ICON_YELLOW)
                              "
                              class="fa fa-fw fa-exclamation-triangle"
                              aria-hidden="true"
                            ></i>
                            <span style="font-weight: bold" *ngIf="!rowData['_potentialLoading']">{{
                              rowData[col.field]
                            }}</span>
                          </span>
                          <i
                            ><span>{{ rowData["_obj"].remaining }}</span></i
                          >
                        </div>

                        <div *ngSwitchCase="'measures'" class="table-cell">
                          <span pTooltip="{{ rowData['_obj'].counterTsnTooltip }}" tooltipPosition="top">
                            <i
                              *ngIf="rowData['_obj'].counterTsnIcon === controlConfigConstants.ICON_YELLOW"
                              class="fa fa-fw fa-exclamation-triangle"
                              aria-hidden="true"
                            ></i>
                            {{ airworthinessTableColTsnLabel + ": " + rowData["tsn"] }}
                          </span>
                          <span pTooltip="{{ rowData['_obj'].counterCsnTooltip }}" tooltipPosition="top">
                            <i
                              *ngIf="rowData['_obj'].counterCsnIcon === controlConfigConstants.ICON_YELLOW"
                              class="fa fa-fw fa-exclamation-triangle"
                              aria-hidden="true"
                            ></i>
                            {{ airworthinessTableColCsnLabel + ": " + rowData["csn"] }}
                          </span>
                        </div>

                        <div *ngSwitchCase="'appliedConfiguration'" class="table-cell">
                          <div
                            *ngIf="
                              subAssetConfigurationControlMap.get(
                                computeControlKey(rowData.sn, rowData.pnCode)
                              ) as controls
                            "
                          >
                            <div class="control-result">
                              <span class="label">OK: </span>
                              <span
                                class="value"
                                let
                                [ngClass]="{
                                  ok:
                                    controls && controls['nok'] == 0 && controls['warning'] == 0 && controls['ok'] >= 0
                                }"
                              >
                                {{ controls && controls["ok"] }}
                              </span>
                            </div>
                            <div class="control-result">
                              <span class="label">WARNING: </span>
                              <span
                                class="value"
                                [ngClass]="{
                                  warning: controls && controls['nok'] == 0 && controls['warning'] > 0
                                }"
                              >
                                {{ controls && controls["warning"] }}
                              </span>
                            </div>
                            <div class="control-result">
                              <span class="label">NOK: </span>
                              <span
                                class="value"
                                [ngClass]="{
                                  nok: controls && controls['nok'] > 0
                                }"
                              >
                                {{ controls && controls["nok"] }}
                              </span>
                            </div>
                          </div>
                        </div>

                        <div *ngSwitchCase="'illustration'" class="table-cell illustration">
                          <a
                            *ngIf="rowData.illustrationDocument"
                            (click)="showIllustration(rowData.illustrationDocument)"
                          >
                            <img [src]="sanitizeAndGetBase64Prefix(rowData.illustrationDocument)" />
                          </a>
                        </div>

                        <div *ngSwitchDefault>
                          <span> {{ rowData[col.field] }} </span>
                        </div>
                      </td>

                      <td class="row-expand-wrapper" [pRowToggler]="rowData">
                        <i
                          class="fa fa-fw aw-icon aw-icon-with-border"
                          [ngClass]="expanded ? 'fa-minus' : 'fa-plus'"
                          aria-hidden="true"
                          pTooltip="{{ 'global.showTableRowDetails' | translate }}"
                          tooltipPosition="top"
                          (click)="toggleAirworthinessTableRowDetailsVisibility(rowData)"
                        ></i>
                      </td>

                      <td class="row-action-wrapper">
                        <i
                          *ngIf="rowData['hasChildren']"
                          class="fa fa-fw fa-chevron-right aw-icon aw-icon-with-border"
                          aria-hidden="true"
                          pTooltip="{{ componentName + '.goDown' | translate }}"
                          tooltipPosition="top"
                          (click)="goDownInAirworthinessTable(rowData)"
                        ></i>
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                    <tr class="row-expanded">
                      <td [attr.colspan]="columns.length + 2">
                        <aw-airworthiness-table-remaining-values
                          [equipmentCodeList]="topEquipmentCodeList"
                          [fullTable]="true"
                          [minimumRemainingEquivalentMap]="minimumRemainingEquivalentMap"
                          [potentialUnitSelected]="potentialUnitSelected"
                          [row]="rowData"
                          [simulationCriteria]="simulationCriteria"
                        ></aw-airworthiness-table-remaining-values>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <aw-dialog-control-simulation
      *ngIf="simulationDialogVisible"
      [(display)]="simulationDialogVisible"
      (onValidated)="onSimulate($event)"
    ></aw-dialog-control-simulation>

    <aw-dialog-airworthiness-table-full-screen
      *ngIf="airworthinessTableFullScreenDialogVisible"
      [(display)]="airworthinessTableFullScreenDialogVisible"
      [(airworthinessTableOnlyAlertsVisible)]="airworthinessTableOnlyAlertsVisible"
      [(airworthinessTableVisibilitySelected)]="airworthinessTableVisibilitySelected"
      [(potentialUnitSelected)]="potentialUnitSelected"
      [airworthinessTableDisplayedRowNb]="airworthinessTableDisplayedRowNb"
      [airworthinessTableVisibilityList]="airworthinessTableVisibilityList"
      [csnLabel]="airworthinessTableColCsnLabel"
      [isAssetViewMode]="isAssetViewMode"
      [navigationLinkList]="navigationLinkListForTableRow"
      [potentialUnitList]="potentialUnitList"
      [table]="airworthinessTable"
      [tsnLabel]="airworthinessTableColTsnLabel"
    ></aw-dialog-airworthiness-table-full-screen>

    <a-modal class="aw-modal" [(visible)]="currentIllustration">
      <a-header>
        <div class="close-wrapper">
          <i class="aw-icon aw-icon-with-border material-icons" (click)="hideIllustration()">close</i>
        </div>
      </a-header>

      <a-content>
        <img *ngIf="currentIllustration" [src]="currentIllustration" />
      </a-content>
    </a-modal>
  </div>
</div>
