<div #page *ngIf="loadedWorkflow">
  <div class="page-header">
    <div class="page-info">
      <div>
        <h2 class="page-title">
          {{ "transaction." + componentData.componentId | translate }}
        </h2>

        <div class="page-subtitle">
          <div class="page-subtitle" *ngIf="!isCreateOpenMode && componentData && componentData.objectId">
            - {{ subTitle }}
          </div>
        </div>
      </div>

      <div class="object-status" *ngIf="bireSbDisplayed.statusState" (click)="showStatus()">
        {{ bireSbDisplayed.statusState | formatSelectOption: workflowStatus }}
      </div>
    </div>

    <div class="page-actions">
      <button mat-raised-button id="edit" *ngIf="isReadOpenMode && hasUpdateAccessRight" (click)="edit()">
        {{ "global.edit" | translate }}
      </button>

      <button
        mat-raised-button
        color="warn"
        id="cancel"
        *ngIf="!isReadOpenMode && !isCreateOpenMode"
        (click)="cancel()"
      >
        {{ "global.cancel" | translate }}
      </button>

      <button
        mat-raised-button
        class="btn-with-spinner"
        color="primary"
        id="save"
        *ngIf="!isReadOpenMode"
        (click)="saveSbAdData()"
      >
        <span class="lds-hourglass" *ngIf="showSaveSpinner"></span>
        {{ "global.save" | translate }}
      </button>

      <button
        id="actions"
        mat-icon-button
        class="mat-elevation-z1"
        matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
        matTooltipPosition="above"
        aria-label="Show all actions"
        [matMenuTriggerFor]="actions"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #actions="matMenu">
        <button
          mat-menu-item
          id="upgrade"
          *ngIf="!isReadOpenMode && bireSbDisplayed.sbRevisionNumber != null && showUpgrade()"
          (click)="upgradeSb()"
        >
          {{ "global.upgrade" | translate }}
        </button>

        <button id="updates" mat-menu-item (click)="openStatusUpdatesPopup()">{{ "updates" | translate }}</button>

        <button mat-menu-item id="refresh" *ngIf="isReadOpenMode && !isCreateOpenMode" (click)="refresh()">
          {{ "global.refresh" | translate }}
        </button>

        <button id="favorites" mat-menu-item (click)="updateFavoriteState()">
          {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="page-wrapper">
    <div class="page-container search-page-container">
      <div class="page-content">
        <mat-tab-group animationDuration="0ms" dynamicHeight>
          <mat-tab id="homeTab">
            <ng-template mat-tab-label>
              {{ "home" | translate }}
            </ng-template>
            <div class="grid-row">
              <div id="mainDataPanel" class="grid-cell--equally">
                <div class="grid-cell grid-cell--container">
                  <div class="grid-cell-header">
                    <div class="grid-cell-title-container">
                      <h3 class="grid-cell-title">{{ "page.mainData" | translate }}</h3>
                    </div>
                  </div>

                  <div class="grid-cell-content">
                    <div class="grid-row grid-cell--12">
                      <div id="sbNumber" class="form-group flex--1" [ngClass]="{ required: !isReadOpenMode }">
                        <label class="form-label"> {{ componentData.componentId + ".sbNumber" | translate }} </label>

                        <div class="form-control">
                          <input
                            type="text"
                            class="aw-input"
                            [(ngModel)]="bireSbDisplayed.sbNumber"
                            [disabled]="!isCreateOpenMode || isReadOpenMode"
                            maxlength="50"
                          />
                        </div>
                      </div>

                      <div id="sbRevisionNumber" class="form-group flex--1" [ngClass]="{ required: !isReadOpenMode }">
                        <label class="form-label">
                          {{ componentData.componentId + ".sbRevisionNumber" | translate }}
                        </label>

                        <div class="form-control">
                          <input
                            #sbRevisionNumber="ngModel"
                            type="text"
                            class="aw-input"
                            [(ngModel)]="bireSbDisplayed.sbRevisionNumber"
                            [disabled]="!isCreateOpenMode || isReadOpenMode"
                            maxlength="10"
                            [pKeyFilter]="inputValidationService.validatorOfPositiveInteger()"
                            [pValidateOnly]="true"
                          />
                          <p-message
                            *ngIf="sbRevisionNumber.invalid && (sbRevisionNumber.dirty || sbRevisionNumber.touched)"
                            severity="error"
                            [text]="inputValidationService.formatOfPositiveInteger()"
                          ></p-message>
                        </div>
                      </div>
                    </div>

                    <div class="grid-row grid-cell--12">
                      <div id="sbCompliance" class="form-group flex--1">
                        <label class="form-label">{{ componentData.componentId + ".sbCompliance" | translate }}</label>

                        <div class="form-control">
                          <p-dropdown
                            class="aw-dropdown fixed-width"
                            [options]="propertyCompliance"
                            [(ngModel)]="bireSbDisplayed.sbCompliance"
                            [showClear]="true"
                            placeholder="&nbsp;"
                            [disabled]="isReadOpenMode"
                            appendTo="body"
                          ></p-dropdown>
                        </div>
                      </div>

                      <div id="sbType" *ngIf="!isAD" class="form-group flex--1">
                        <label class="form-label">{{ componentData.componentId + ".sbType" | translate }}</label>

                        <div class="form-control">
                          <p-dropdown
                            class="aw-dropdown fixed-width"
                            [options]="propertyType"
                            [(ngModel)]="bireSbDisplayed.sbType"
                            [showClear]="true"
                            placeholder="&nbsp;"
                            [disabled]="isReadOpenMode"
                            appendTo="body"
                          ></p-dropdown>
                        </div>
                      </div>

                      <div id="sbSubType" *ngIf="showSubType()" class="form-group flex--1">
                        <label class="form-label">{{ componentData.componentId + ".sbSubType" | translate }}</label>

                        <div class="form-control">
                          <p-dropdown
                            class="aw-dropdown fixed-width"
                            [options]="propertySubType"
                            [(ngModel)]="bireSbDisplayed.sbSubType"
                            [showClear]="true"
                            placeholder="&nbsp;"
                            [disabled]="isReadOpenMode"
                            appendTo="body"
                          ></p-dropdown>
                        </div>
                      </div>
                    </div>

                    <div class="grid-row grid-cell--12">
                      <div id="sbTitle" class="form-group flex--2">
                        <label class="form-label">{{ componentData.componentId + ".sbTitle" | translate }}</label>

                        <div class="form-control">
                          <textarea
                            class="aw-textarea"
                            [rows]="3"
                            [(ngModel)]="bireSbDisplayed.sbTitle"
                            pInputTextarea
                            [disabled]="isReadOpenMode"
                            maxlength="300"
                          ></textarea>
                        </div>
                      </div>
                    </div>

                    <div class="grid-row grid-cell--12">
                      <div id="sbPublicationDate" class="form-group flex--1">
                        <label class="form-label">{{
                          componentData.componentId + ".sbPublicationDate" | translate
                        }}</label>

                        <div class="form-control">
                          <p-calendar
                            showButtonBar="true"
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            [yearRange]="sessionService.calendarYearRange"
                            class="aw-calendar"
                            [dateFormat]="sessionService.dateFormatPrimeNG"
                            [locale]="sessionService.calendarFormat"
                            [(ngModel)]="bireSbDisplayed.sbPublicationDate"
                            [disabled]="isReadOpenMode"
                            appendTo="body"
                          ></p-calendar>
                        </div>
                      </div>

                      <div id="sbClass" class="form-group flex--1">
                        <label class="form-label">{{ componentData.componentId + ".sbClass" | translate }}</label>

                        <div class="form-control">
                          <p-dropdown
                            class="aw-dropdown fixed-width"
                            [options]="propertyClass"
                            [(ngModel)]="bireSbDisplayed.sbClass"
                            [showClear]="true"
                            placeholder="&nbsp;"
                            [disabled]="isReadOpenMode"
                            appendTo="body"
                          ></p-dropdown>
                        </div>
                      </div>

                      <div id="sbEffectiveDate" class="form-group flex--1">
                        <label class="form-label">{{
                          componentData.componentId + ".sbEffectiveDate" | translate
                        }}</label>

                        <div class="form-control">
                          <p-calendar
                            showButtonBar="true"
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            [yearRange]="sessionService.calendarYearRange"
                            class="aw-calendar"
                            [dateFormat]="sessionService.dateFormatPrimeNG"
                            [locale]="sessionService.calendarFormat"
                            [(ngModel)]="bireSbDisplayed.sbEffectiveDate"
                            [disabled]="isReadOpenMode"
                            appendTo="body"
                          ></p-calendar>
                        </div>
                      </div>
                    </div>

                    <div class="grid-row grid-cell--12">
                      <div id="sbDocumentUrl" class="form-group flex--1">
                        <label class="form-label">{{ componentData.componentId + ".sbDocumentUrl" | translate }}</label>

                        <div class="form-control form-control-with-btn" [ngClass]="{ disabled: isReadOpenMode }">
                          <input
                            type="text"
                            class="aw-input"
                            [(ngModel)]="bireSbDisplayed.sbDocumentUrl"
                            [disabled]="isReadOpenMode"
                          />
                          <i
                            *ngIf="bireSbDisplayed.sbDocumentUrl && !isCreateOpenMode"
                            class="fa fa-fw fa-external-link aw-icon aw-icon-with-border"
                            aria-hidden="true"
                            pTooltip="{{ 'global.open' | translate }}"
                            tooltipPosition="top"
                            (click)="openUrl()"
                          ></i>
                        </div>
                      </div>

                      <div id="sbComplianceInformation" class="form-group flex--1">
                        <label class="form-label">{{
                          componentData.componentId + ".sbComplianceInformation" | translate
                        }}</label>

                        <div class="form-control">
                          <textarea
                            class="aw-textarea"
                            [rows]="3"
                            [(ngModel)]="bireSbDisplayed.sbComplianceInformation"
                            pInputTextarea
                            [disabled]="isReadOpenMode"
                            maxlength="300"
                          ></textarea>
                        </div>
                      </div>

                      <div id="planCode" class="form-group" *ngIf="showGuideline()">
                        <label class="form-label">{{ componentData.componentId + ".planCode" | translate }}</label>

                        <div
                          class="form-control form-control-with-modal"
                          [ngClass]="{ disabled: isReadOpenMode && !isCreateOpenMode }"
                        >
                          <div class="form-control-data" (click)="!isReadOpenMode && showMaintenanceProgram($event)">
                            {{ bireMaintenancePlanDTO.planCode }}
                          </div>

                          <div *ngIf="bireMaintenancePlanDTO.planCode && !isReadOpenMode" class="btn-clear-wrapper ">
                            <i
                              class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                              aria-hidden="true"
                              (click)="bireMaintenancePlanDTO.planCode = undefined"
                            ></i>
                          </div>
                          <div class="btn-search-wrapper" *ngIf="!isReadOpenMode">
                            <i
                              class="fa fa-fw fa-search aw-icon btn-search"
                              aria-hidden="true"
                              (click)="showMaintenanceProgram($event)"
                            ></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="evolutionsPanel" class="grid-cell--equally">
                <div class="grid-cell grid-cell--container">
                  <div class="grid-cell-header">
                    <div class="grid-cell-title-container">
                      <h3 id="bireEvolutionSbsDisplayedTitle" class="grid-cell-title">
                        {{ componentData.componentId + ".evolutions" | translate }} ({{
                          bireEvolutionSbsDisplayed ? bireEvolutionSbsDisplayed.length : 0
                        }})
                      </h3>
                    </div>
                  </div>

                  <div class="grid-cell-content">
                    <p-table
                      id="bireEvolutionSbsDisplayed"
                      [resizableColumns]="true"
                      #ptableEvolution
                      class="aw-table2"
                      [columns]="evolutionsTableCols"
                      [value]="bireEvolutionSbsDisplayed"
                      [(selection)]="selectedEvolutions"
                      [scrollable]="true"
                    >
                      <ng-template pTemplate="emptymessage">
                        <span *ngIf="!isLoadingEvolutionTable"> &nbsp;</span>

                        <div *ngIf="isLoadingEvolutionTable" class="aw-table-loading-indicator">
                          <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                          <div class="lds-hourglass"></div>
                        </div>
                      </ng-template>

                      <ng-template pTemplate="caption">
                        <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedEvolutions.length > 0 }">
                          <div class="aw-table-global-filter">
                            <label class="aw-table-global-filter-label">
                              <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                            </label>

                            <input
                              #ptableEvolutionGlobalFilter
                              class="aw-table-global-filter-input"
                              type="text"
                              placeholder="{{ 'table.globalFilterText' | translate }}"
                              (input)="ptableEvolution.filterGlobal($event.target.value, 'contains')"
                            />
                          </div>

                          <div class="aw-table-actions">
                            <button
                              id="displayStatusBireEvolutionSbsDisplayed"
                              *ngIf="selectedEvolutions.length === 1"
                              type="button"
                              mat-raised-button
                              (click)="displayStatusForEvolution()"
                            >
                              {{ componentData.componentId + ".displayStatus" | translate }}
                            </button>
                          </div>
                        </div>
                      </ng-template>

                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col class="aw-table-checkbox-wrapper" />
                          <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                        </colgroup>
                      </ng-template>

                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th class="aw-table-checkbox-wrapper">
                            <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                          </th>

                          <th
                            pResizableColumn
                            *ngFor="let col of columns"
                            [ngStyle]="{ 'text-align': col.alignment, width: col.width }"
                          >
                            {{ componentData.componentId + "." + col.field | translate }}
                          </th>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                          <td class="aw-table-checkbox-wrapper">
                            <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                          </td>

                          <td
                            *ngFor="let col of columns"
                            [ngSwitch]="col.field"
                            [ngStyle]="{ 'text-align': col.alignment, width: col.width }"
                          >
                            <a *ngSwitchCase="'evolutionNumber'" (click)="openEvolution(rowData)">
                              {{ rowData[col.field] }}</a
                            >
                            <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab id="applicabilitiesTab">
            <ng-template mat-tab-label>
              {{ "SbadFormComponent.applicabilities" | translate }}
            </ng-template>
            <div class="grid-row">
              <div id="concernedFamiliesPanel" class="grid-cell--equally">
                <div class="grid-cell grid-cell--container">
                  <div class="grid-cell-header">
                    <div class="grid-cell-title-container">
                      <h3 id="bireSbVariantsDisplayedTitle" class="grid-cell-title">
                        {{ componentData.componentId + ".concernedFamilies" | translate }} ({{
                          bireSbVariantsDisplayed ? bireSbVariantsDisplayed.length : 0
                        }})
                      </h3>
                    </div>
                  </div>

                  <div class="grid-cell-content">
                    <p-table
                      id="bireSbVariantsDisplayed"
                      [resizableColumns]="true"
                      #ptableApplicabilities
                      class="aw-table2"
                      [columns]="applicabilitiesTableCols"
                      [value]="bireSbVariantsDisplayed"
                      [(selection)]="selectedApplicabilities"
                      [scrollable]="true"
                    >
                      <ng-template pTemplate="emptymessage">
                        <span *ngIf="!isLoadingApplicabilityTable"> &nbsp;</span>

                        <div *ngIf="isLoadingApplicabilityTable" class="aw-table-loading-indicator">
                          <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                          <div class="lds-hourglass"></div>
                        </div>
                      </ng-template>

                      <ng-template pTemplate="caption">
                        <div
                          class="aw-table-header"
                          [ngClass]="{ 'rows-selected': selectedApplicabilities.length > 0 }"
                        >
                          <div class="aw-table-global-filter">
                            <label class="aw-table-global-filter-label">
                              <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                            </label>

                            <input
                              #ptableApplicabilitiesGlobalFilter
                              class="aw-table-global-filter-input"
                              type="text"
                              placeholder="{{ 'table.globalFilterText' | translate }}"
                              (input)="ptableApplicabilities.filterGlobal($event.target.value, 'contains')"
                            />
                          </div>

                          <div class="aw-table-actions">
                            <button
                              id="deleteBireSbVariantsDisplayed"
                              *ngIf="!isReadOpenMode && selectedApplicabilities.length > 0"
                              type="button"
                              mat-raised-button
                              (click)="deleteSelectedSbVariants()"
                            >
                              {{ "global.delete" | translate }}
                            </button>

                            <button
                              id="editBireSbVariantsDisplayed"
                              *ngIf="!isReadOpenMode && selectedApplicabilities.length === 1"
                              type="button"
                              mat-raised-button
                              (click)="editApplicabilities()"
                            >
                              {{ "global.edit" | translate }}
                            </button>

                            <button
                              id="openBireSbVariantsDisplayed"
                              *ngIf="!isReadOpenMode && selectedApplicabilities.length === 1"
                              type="button"
                              mat-raised-button
                              (click)="openApplicabilities()"
                            >
                              {{ "global.open" | translate }}
                            </button>

                            <button
                              id="addBireSbVariantsDisplayed"
                              *ngIf="!isReadOpenMode && selectedApplicabilities.length === 0"
                              type="button"
                              mat-raised-button
                              (click)="createApplicabilities()"
                            >
                              {{ "global.add" | translate }}
                            </button>
                          </div>
                        </div>
                      </ng-template>

                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col class="aw-table-checkbox-wrapper" />
                          <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                        </colgroup>
                      </ng-template>

                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th class="aw-table-checkbox-wrapper">
                            <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                          </th>

                          <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                            {{ componentData.componentId + "." + col.field | translate }}
                          </th>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                          <td class="aw-table-checkbox-wrapper">
                            <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                          </td>

                          <td
                            *ngFor="let col of columns"
                            [ngSwitch]="col.field"
                            [ngStyle]="{ 'text-align': col.alignment }"
                          >
                            <i
                              *ngSwitchCase="'statusInfo'"
                              class="fa fa-fw fa-info-circle aw-icon"
                              aria-hidden="true"
                              (click)="openStatus(rowData)"
                            ></i>
                            <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>

              <div id="concernedAssetsPanel" class="grid-cell--equally">
                <div class="grid-cell grid-cell--container">
                  <div class="grid-cell-header">
                    <div class="grid-cell-title-container">
                      <h3 id="bireConcernedAssetDisplayedTitle" class="grid-cell-title">
                        {{ componentData.componentId + ".concernedAssets" | translate }} ({{
                          bireConcernedAssetDisplayed ? bireConcernedAssetDisplayed.length : 0
                        }})
                      </h3>
                    </div>
                  </div>

                  <div class="grid-cell-content">
                    <div style="width: 70%">
                      <p-table
                        id="bireConcernedAssetDisplayed"
                        [resizableColumns]="true"
                        #ptableAssets
                        class="aw-table2"
                        [columns]="assetsTableCols"
                        [value]="bireConcernedAssetDisplayed"
                        [(selection)]="selectedAssets"
                        dataKey="assetPn"
                        [scrollable]="true"
                      >
                        <ng-template pTemplate="emptymessage">
                          <span *ngIf="!isLoadingAssetTable"> &nbsp;</span>

                          <div *ngIf="isLoadingAssetTable" class="aw-table-loading-indicator">
                            <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                            <div class="lds-hourglass"></div>
                          </div>
                        </ng-template>

                        <ng-template pTemplate="caption">
                          <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedAssets.length > 0 }">
                            <div class="aw-table-global-filter">
                              <label class="aw-table-global-filter-label">
                                <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                              </label>

                              <input
                                #ptableAssetsGlobalFilter
                                class="aw-table-global-filter-input"
                                type="text"
                                placeholder="{{ 'table.globalFilterText' | translate }}"
                                (input)="ptableAssets.filterGlobal($event.target.value, 'contains')"
                              />
                            </div>

                            <div class="aw-table-actions">
                              <button
                                id="deleteBireConcernedAssetDisplayed"
                                *ngIf="!isReadOpenMode && selectedAssets.length > 0"
                                type="button"
                                mat-raised-button
                                (click)="deleteSelectedConcernedAssets()"
                              >
                                {{ "global.delete" | translate }}
                              </button>

                              <button
                                id="editBireConcernedAssetDisplayed"
                                *ngIf="!isReadOpenMode && selectedAssets.length === 1"
                                type="button"
                                mat-raised-button
                                (click)="editAsset()"
                              >
                                {{ "global.edit" | translate }}
                              </button>

                              <button
                                id="openBireConcernedAssetDisplayed"
                                *ngIf="!isReadOpenMode && selectedAssets.length === 1"
                                type="button"
                                mat-raised-button
                                (click)="openAsset()"
                              >
                                {{ "global.open" | translate }}
                              </button>

                              <button
                                id="addBireConcernedAssetDisplayed"
                                *ngIf="!isReadOpenMode && selectedAssets.length === 0"
                                type="button"
                                mat-raised-button
                                (click)="createAsset()"
                              >
                                {{ "global.add" | translate }}
                              </button>
                            </div>
                          </div>
                        </ng-template>

                        <ng-template pTemplate="colgroup" let-columns>
                          <colgroup>
                            <col class="aw-table-checkbox-wrapper" />
                            <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                          </colgroup>
                        </ng-template>

                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th class="aw-table-checkbox-wrapper">
                              <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                            </th>

                            <th
                              pResizableColumn
                              *ngFor="let col of columns"
                              [ngStyle]="{ 'text-align': col.alignment }"
                            >
                              {{ componentData.componentId + "." + col.field | translate }}
                            </th>
                          </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                            <td class="aw-table-checkbox-wrapper">
                              <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                            </td>

                            <td *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                              {{ rowData[col.field] }}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>

                    <div id="sbAssets" class="form-group" style="width: 30%">
                      <label class="form-label" style="white-space: pre-wrap">
                        {{ componentData.componentId + ".sbadAssetsDialogLine1" | translate }}
                        {{ componentData.componentId + ".sbadAssetsDialogLine2" | translate }}
                        {{ componentData.componentId + ".sbadAssetsDialogLine3" | translate }}
                      </label>

                      <div class="form-control">
                        <textarea
                          class="aw-textarea resize-disabled"
                          [rows]="3"
                          [(ngModel)]="bireSbDisplayed.sbAssets"
                          pInputTextarea
                          [disabled]="true"
                          maxlength="4000"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="limitsAndPeriodicities" class="grid-row">
              <div id="limitsAndPeriodicitiesPanel" class="grid-cell--12">
                <div class="grid-cell grid-cell--container">
                  <div class="grid-cell-header">
                    <div class="grid-cell-title-container">
                      <h3 id="limitsAndApplicabilitiesDisplayedTitle" class="grid-cell-title">
                        {{ componentData.componentId + ".limitsAndPeriodicities" | translate }} ({{
                          limitsAndApplicabilitiesDisplayed ? limitsAndApplicabilitiesDisplayed.length : 0
                        }})
                      </h3>
                    </div>
                  </div>

                  <div class="grid-cell-content">
                    <p-table
                      id="limitsAndApplicabilitiesDisplayed"
                      [resizableColumns]="true"
                      #ptableLimitAndPeriodicity
                      class="aw-table2"
                      [columns]="limitsPeriodicitiesTableCols"
                      [value]="limitsAndApplicabilitiesDisplayed"
                      [(selection)]="selectedLimitsAndPeriodicities"
                      dataKey="counterCode"
                      [scrollable]="true"
                    >
                      <ng-template pTemplate="emptymessage">
                        <span *ngIf="!isLoadingLimitsTable"> &nbsp;</span>

                        <div *ngIf="isLoadingLimitsTable" class="aw-table-loading-indicator">
                          <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                          <div class="lds-hourglass"></div>
                        </div>
                      </ng-template>

                      <ng-template pTemplate="caption">
                        <div
                          class="aw-table-header"
                          [ngClass]="{ 'rows-selected': selectedLimitsAndPeriodicities.length > 0 }"
                        >
                          <div class="aw-table-global-filter">
                            <label class="aw-table-global-filter-label">
                              <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                            </label>

                            <input
                              #ptableLimitAndPeriodicityGlobalFilter
                              class="aw-table-global-filter-input"
                              type="text"
                              placeholder="{{ 'table.globalFilterText' | translate }}"
                              (input)="
                                ptableLimitAndPeriodicityGlobalFilter.filterGlobal($event.target.value, 'contains')
                              "
                            />
                          </div>

                          <div class="aw-table-actions">
                            <button
                              id="deleteLimitsAndApplicabilitiesDisplayed"
                              *ngIf="!isReadOpenMode && selectedLimitsAndPeriodicities.length > 0"
                              type="button"
                              mat-raised-button
                              (click)="deleteSelectedConcernedLimitAndPeriodicity()"
                            >
                              {{ "global.delete" | translate }}
                            </button>

                            <button
                              id="generateCommentLimitsAndApplicabilitiesDisplayed"
                              *ngIf="!isReadOpenMode && selectedLimitsAndPeriodicities.length === 1"
                              type="button"
                              mat-raised-button
                              (click)="generateTaskComment()"
                            >
                              {{ componentData.componentId + ".generateComment" | translate }}
                            </button>

                            <button
                              id="editLimitsAndApplicabilitiesDisplayed"
                              *ngIf="!isReadOpenMode && selectedLimitsAndPeriodicities.length === 1"
                              type="button"
                              mat-raised-button
                              (click)="editLimitAndPeriodicity()"
                            >
                              {{ "global.edit" | translate }}
                            </button>

                            <button
                              id="openLimitsAndApplicabilitiesDisplayed"
                              *ngIf="!isReadOpenMode && selectedLimitsAndPeriodicities.length === 1"
                              type="button"
                              mat-raised-button
                              (click)="openLimitAndPeriodicity()"
                            >
                              {{ "global.open" | translate }}
                            </button>

                            <button
                              id="addLimitsAndApplicabilitiesDisplayed"
                              *ngIf="!isReadOpenMode && selectedLimitsAndPeriodicities.length === 0"
                              type="button"
                              mat-raised-button
                              (click)="createLimitAndPeriodicity()"
                            >
                              {{ "global.add" | translate }}
                            </button>
                          </div>
                        </div>
                      </ng-template>

                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col class="aw-table-checkbox-wrapper" />
                          <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                        </colgroup>
                      </ng-template>

                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th class="aw-table-checkbox-wrapper">
                            <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                          </th>

                          <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                            {{ componentData.componentId + "." + col.field | translate }}
                          </th>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                          <td class="aw-table-checkbox-wrapper">
                            <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                          </td>

                          <td *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                            {{ rowData[col.field] }}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab id="documentsTab">
            <ng-template mat-tab-label>
              <ng-container *ngIf="dynamicAttributesForSb && dynamicAttributesForSb.length > 0">
                {{ "attributes" | translate }} &amp;
              </ng-container>
              {{ "documents" | translate }}
            </ng-template>

            <div id="attributes" *ngIf="dynamicAttributesForSb && dynamicAttributesForSb.length > 0" class="grid-row">
              <div id="attributesPanel" class="grid-cell--12">
                <div class="grid-cell grid-cell--container">
                  <div class="grid-cell-content grid-cell-content-with-section">
                    <aw-dynamic-attributes
                      [workflowControls]="userWorkflow ? userWorkflow.listControlByIdentifier : []"
                      id="dynamicAttributes"
                      [attributes]="dynamicAttributesForSb"
                      [workflowControls]="userWorkflow ? userWorkflow.listControlByIdentifier : []"
                      [isReadOpenMode]="isReadOpenMode"
                    ></aw-dynamic-attributes>
                  </div>
                </div>
              </div>
            </div>

            <div id="documents" class="grid-row">
              <div id="documentsPanel" class="grid-cell--12">
                <div class="grid-cell grid-cell--container">
                  <div class="grid-cell-header">
                    <div class="grid-cell-title-container">
                      <h3 id="bireDocumentDisplayedTitle" class="grid-cell-title">
                        {{ "global.documents" | translate }} ({{
                          bireDocumentDisplayed ? bireDocumentDisplayed.length : 0
                        }})
                      </h3>
                    </div>
                  </div>

                  <div class="grid-cell-content">
                    <p-table
                      id="bireDocumentDisplayed"
                      [resizableColumns]="true"
                      #ptableDocuments
                      class="aw-table2"
                      [columns]="documentsTableCols"
                      [value]="bireDocumentDisplayed"
                      [(selection)]="selectedDocuments"
                      dataKey="docName"
                      [scrollable]="true"
                    >
                      <ng-template pTemplate="emptymessage">
                        <span *ngIf="!isLoadingDocumentTable"> &nbsp;</span>

                        <div *ngIf="isLoadingDocumentTable" class="aw-table-loading-indicator">
                          <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                          <div class="lds-hourglass"></div>
                        </div>
                      </ng-template>

                      <ng-template pTemplate="caption">
                        <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedDocuments.length > 0 }">
                          <div class="aw-table-global-filter">
                            <label class="aw-table-global-filter-label">
                              <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                            </label>

                            <input
                              #ptableDocumentsGlobalFilter
                              class="aw-table-global-filter-input"
                              type="text"
                              placeholder="{{ 'table.globalFilterText' | translate }}"
                              (input)="ptableDocuments.filterGlobal($event.target.value, 'contains')"
                            />
                          </div>

                          <div class="aw-table-actions">
                            <button
                              id="downloadBireDocumentDisplayed"
                              *ngIf="selectedDocuments.length > 0"
                              type="button"
                              mat-raised-button
                              (click)="downloadFiles()"
                            >
                              {{ "global.download" | translate }}
                            </button>

                            <button
                              id="deleteBireDocumentDisplayed"
                              *ngIf="!isReadOpenMode && selectedDocuments.length > 0"
                              type="button"
                              color="warn"
                              mat-raised-button
                              (click)="deleteSelectedDocuments()"
                            >
                              {{ "global.delete" | translate }}
                            </button>

                            <button
                              id="editBireDocumentDisplayed"
                              *ngIf="!isReadOpenMode && selectedDocuments.length === 1"
                              type="button"
                              mat-raised-button
                              (click)="editDocument()"
                            >
                              {{ "global.edit" | translate }}
                            </button>

                            <button
                              id="openBireDocumentDisplayed"
                              *ngIf="!isReadOpenMode && selectedDocuments.length === 1"
                              type="button"
                              mat-raised-button
                              (click)="openDocument()"
                            >
                              {{ "global.open" | translate }}
                            </button>

                            <button
                              id="addBireDocumentDisplayed"
                              *ngIf="!isReadOpenMode && selectedDocuments.length == 0"
                              type="button"
                              mat-raised-button
                              (click)="addDocuments()"
                            >
                              {{ "global.add" | translate }}
                            </button>
                          </div>
                        </div>
                      </ng-template>

                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col class="aw-table-checkbox-wrapper" />
                          <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                        </colgroup>
                      </ng-template>

                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th class="aw-table-checkbox-wrapper">
                            <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                          </th>

                          <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                            {{ componentData.componentId + "." + col.field | translate }}
                          </th>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                          <td class="aw-table-checkbox-wrapper">
                            <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                          </td>

                          <td *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                            <span> {{ rowData[col.field] }} </span>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab id="contextTab" *ngIf="showContext()">
            <ng-template mat-tab-label>
              {{ componentData.componentId + ".context" | translate }}
            </ng-template>
            <div class="grid-row">
              <div id="contextPanel" class="grid-cell--equally">
                <div class="grid-cell grid-cell--container">
                  <div class="grid-cell-header">
                    <div class="grid-cell-title-container">
                      <h3 class="grid-cell-title">{{ componentData.componentId + ".context" | translate }}</h3>
                    </div>
                  </div>

                  <div class="grid-cell-content">
                    <div class="grid-row grid-cell--12">
                      <div id="sbContext" class="form-group">
                        <label class="form-label">{{ componentData.componentId + ".context" | translate }}</label>

                        <div class="form-control">
                          <textarea
                            class="aw-textarea"
                            [rows]="10"
                            pInputTextarea
                            [(ngModel)]="bireSbDisplayed.sbContext"
                            [disabled]="isReadOpenMode"
                            maxlength="2000"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab id="guidelineTab" *ngIf="showGuideline()">
            <ng-template mat-tab-label>
              {{ componentData.componentId + ".guideline" | translate }}
            </ng-template>
            <div class="grid-row">
              <div id="guidelinePanel" class="grid-cell--equally">
                <div class="grid-cell grid-cell--container">
                  <div class="grid-cell-header">
                    <div class="grid-cell-title-container">
                      <h3 class="grid-cell-title">{{ componentData.componentId + ".guideline" | translate }}</h3>
                    </div>
                  </div>

                  <div class="grid-cell-content">
                    <div class="grid-row grid-cell--12">
                      <div id="sbComments" class="form-group">
                        <label class="form-label">{{ componentData.componentId + ".guideline" | translate }}</label>

                        <div class="form-control">
                          <textarea
                            class="aw-textarea"
                            [rows]="10"
                            pInputTextarea
                            [(ngModel)]="bireSbDisplayed.sbComments"
                            [disabled]="isReadOpenMode"
                            maxlength="2000"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<p-overlayPanel #op1 [showCloseIcon]="false" [dismissable]="true" appendTo="body">
  <ul class="export-methods">
    <li class="export-method-wrapper">
      <i class="fa fa-file-excel-o" aria-hidden="true"></i> <span class="export-method">Excel</span>
    </li>

    <li class="export-method-wrapper">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <span class="export-method">PDF</span>
    </li>
  </ul>
</p-overlayPanel>

<aw-sb-ad-assets-popup-form
  *ngIf="showAssetDialog"
  [(display)]="showAssetDialog"
  [component-data]="dataAssets"
  [sbAssets]="bireSbDisplayed.sbAssets"
  (onCreate)="addNewConcernedAsset($event)"
  (onUpdate)="updateConcernedAsset($event)"
  [isNewAsset]="isNewAsset"
></aw-sb-ad-assets-popup-form>

<aw-sb-ad-applicabilities-popup
  *ngIf="showApplicabilitiesDialog"
  [(display)]="showApplicabilitiesDialog"
  [component-data]="dataApplicabilities"
  (onCreate)="addNewSbVariant($event)"
  (onUpdate)="updateSbVariant($event)"
  [isNewVariant]="isNewApplicabilities"
></aw-sb-ad-applicabilities-popup>

<aw-dialog-search-maintenance-program-popup
  *ngIf="showMaintenanceProgramDialog"
  [(display)]="showMaintenanceProgramDialog"
  (onSelected)="setSelectedMaintenanceProgram($event)"
></aw-dialog-search-maintenance-program-popup>

<aw-dialog-status
  *ngIf="displayStatusPopup"
  [item]="currentEvolution"
  [isObjectTypeOfBireEvolutionDTO]="true"
  [itemId]="currentEvolutionId"
  [(display)]="displayStatusPopup"
></aw-dialog-status>

<aw-status-update-history
  *ngIf="showStatusUpdatesPopup"
  [isObjectTypeOfBireSbDTO]="true"
  [object]="bireSb"
  [data]="tableStatusUpdatesData"
  [deleteApi]="deleteApi"
  [(display)]="showStatusUpdatesPopup"
  [keyMap]="updatesKeyMap"
  [isStatusEditable]="!isReadOpenMode"
  (onUpdated)="updateObjectStatusFromStatusUpdatesHistory($event)"
></aw-status-update-history>

<aw-sb-ad-import-popup
  *ngIf="showDocumentDialog"
  [document]="currentDocument"
  [(display)]="showDocumentDialog"
  [isReadOnlyForm]="isReadOnlyDocumentDialog"
  (onValidated)="updateDocument($event)"
></aw-sb-ad-import-popup>

<aw-sb-ad-limits-periodicities-popup-form
  *ngIf="showLimitAndPeriodicityDialog"
  [(display)]="showLimitAndPeriodicityDialog"
  [component-data]="dataLimitAndPeriodicity"
  (onCreate)="addNewConcernedLimitAndPeriodicity($event)"
  (onUpdate)="updateLimitAndPeriodicity($event)"
  [isNewLimitAndPeriodicity]="isNewLimitAndPeriodicity"
  [sbCounterLimitRefDateMap]="getLimitRefernceDateEndpointRef()"
></aw-sb-ad-limits-periodicities-popup-form>

<aw-dialog-generate-comment
  *ngIf="showGenerateCommentPopup"
  [(display)]="showGenerateCommentPopup"
  [componentData]="comment"
  (onValidate)="saveComments($event)"
></aw-dialog-generate-comment>
