<div class="row">
  <div class="form-group flex--auto">
    <label class="form-label"> &nbsp; </label>

    <div class="form-control aw-selectbutton-wrapper">
      <p-selectButton
        [(ngModel)]="searchCriteria.controlList"
        [options]="searchControlList"
        multiple="multiple"
      ></p-selectButton>
    </div>
  </div>

  <div class="form-group flex--auto">
    <label class="form-label"> &nbsp; </label>

    <div class="form-control aw-selectbutton-wrapper">
      <p-selectButton
        [(ngModel)]="searchCriteria.taskList"
        [options]="searchTaskList"
        multiple="multiple"
      ></p-selectButton>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <label class="form-label"> {{ getComponentName() + ".taskGroup" | translate }} </label>

    <div class="form-control">
      <p-dropdown
        class="aw-dropdown fixed-width"
        [options]="searchTaskGroupList"
        [(ngModel)]="searchCriteria.taskGroup"
        [showClear]="true"
        placeholder="&nbsp;"
      ></p-dropdown>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label"> {{ getComponentName() + ".asset" | translate }} </label>

    <div class="form-control">
      <p-dropdown
        class="aw-dropdown fixed-width"
        [options]="searchAssetList"
        [(ngModel)]="searchCriteria.asset"
        [showClear]="true"
        placeholder="&nbsp;"
      ></p-dropdown>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label"> {{ getComponentName() + ".workPackage" | translate }} </label>

    <div class="form-control">
      <p-dropdown
        class="aw-dropdown fixed-width"
        [options]="searchWorkPackageList"
        [(ngModel)]="searchCriteria.workPackage"
        [showClear]="true"
        placeholder="&nbsp;"
      ></p-dropdown>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label"> {{ getComponentName() + ".counterUnit" | translate }} </label>

    <div class="form-control">
      <p-dropdown
        class="aw-dropdown fixed-width"
        [options]="searchCounterList"
        [(ngModel)]="searchCriteria.counterUnit"
        [showClear]="true"
        placeholder="&nbsp;"
      ></p-dropdown>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <label class="form-label"> {{ getComponentName() + ".hours" | translate }} &le; </label>
    <div class="form-control">
      <input type="number" class="aw-input" [(ngModel)]="searchCriteria.hours" />
    </div>
  </div>

  <div class="form-group">
    <label class="form-label"> {{ getComponentName() + ".cycles" | translate }} &le; </label>
    <div class="form-control">
      <input type="number" class="aw-input" [(ngModel)]="searchCriteria.cycles" />
    </div>
  </div>

  <div class="form-group">
    <label class="form-label"> {{ getComponentName() + ".date" | translate }} &le; </label>
    <div class="form-control">
      <p-calendar
        showButtonBar="true"
        [monthNavigator]="true"
        [yearNavigator]="true"
        [yearRange]="sessionService.calendarYearRange"
        class="aw-calendar"
        [dateFormat]="sessionService.dateFormatPrimeNG"
        [locale]="sessionService.calendarFormat"
        [(ngModel)]="searchCriteria.date"
      ></p-calendar>
    </div>
  </div>

  <div class="form-group" [ngClass]="{ 'visibility--hidden': !searchCriteria.counterUnit }">
    <label class="form-label"> {{ getComponentName() + ".counterValue" | translate }} &le; </label>
    <div class="form-control">
      <input type="number" class="aw-input" [(ngModel)]="searchCriteria.counterValue" />
    </div>
  </div>
</div>

<div class="row action-list">
  <button type="button" mat-raised-button (click)="reset()">
    {{ getComponentName() + ".reset" | translate }}
  </button>

  <button type="button" mat-raised-button (click)="filter()">
    {{ getComponentName() + ".filter" | translate }}
  </button>
</div>
