<a-modal class="aw-modal" [(visible)]="display" [width]="60">
  <a-header>
    <div class="modal-title">
      {{ getComponentName() + ".damageList" | translate }} ({{ damageListDataSource.dataCount }})
    </div>
  </a-header>

  <a-content>
    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <div class="form-control">
        <a-table [dataSource]="damageListDataSource"> </a-table>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="isReadOpenMode" type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.close" | translate }}</span>
    </button>

    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button
      *ngIf="!isReadOpenMode"
      type="button"
      mat-raised-button
      color="primary"
      [disabled]="!damageListDataSource.hasDataSelection"
      (click)="onValidate()"
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
