<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="column">
      <div class="row">
        <div class="form-group">
          <label class="form-label">
            {{ "plannedDate" | translate }}
          </label>

          <div class="form-control">
            <p-calendar
              showButtonBar="true"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [yearRange]="sessionService.calendarYearRange"
              class="aw-calendar"
              appendTo="body"
              [dateFormat]="sessionService.dateFormatPrimeNG"
              [locale]="sessionService.calendarFormat"
              [showTime]="true"
              [(ngModel)]="plannedDate"
            ></p-calendar>
          </div>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">
      {{ "cancel" | translate }}
    </button>

    <button type="button" color="primary" mat-raised-button [disabled]="!plannedDate" (click)="validate()">
      {{ "validate" | translate }}
    </button>
  </a-footer>
</a-modal>
