<a-modal class="aw-modal" [(visible)]="display" [width]="80">
  <a-header>
    <div class="modal-title">
      {{ componentData.componentId + ".title" | translate }} ({{ tableDataSource.dataCount }})
    </div>
  </a-header>

  <a-content>
    <div class="section">
      <div class="section-content">
        <a-table [dataSource]="tableDataSource">
          <ng-template columnDef="affected" let-rowData="rowData">
            <i class="fa fa-fw fa-check" aria-hidden="true" *ngIf="rowData.affected"></i>
          </ng-template>
        </a-table>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">
      {{ "cancel" | translate }}
    </button>

    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="associate()"
      [disabled]="tableDataSource.dataSelectionCount === 0"
    >
      {{ "validate" | translate }}
    </button>
  </a-footer>
</a-modal>
