<div class="page-content">
  <div class="grid-row">
    <div class="grid-cell grid-cell--container">
      <div class="grid-cell-content">
        <div class="column">
          <div class="row">
            <div class="form-group flex--auto">
              <label class="form-label"> &nbsp; </label>

              <div class="form-control aw-selectbutton-wrapper">
                <p-selectButton
                  [options]="serializeList"
                  [multiple]="true"
                  [(ngModel)]="selectedSerialize"
                  (onChange)="onChangeSerializeFilter()"
                ></p-selectButton>
              </div>
            </div>

            <div class="form-group flex--auto">
              <label class="form-label"> &nbsp; </label>

              <div class="form-control aw-selectbutton-wrapper">
                <p-selectButton
                  [options]="workscopeList"
                  [multiple]="true"
                  [(ngModel)]="selectedWorkscope"
                  (onChange)="onChangeWorkscopeFilter()"
                ></p-selectButton>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group flex--auto">
              <label class="form-label"> {{ getComponentName() + ".family" | translate }} </label>

              <div class="form-control">
                <p-autoComplete
                  class="aw-dropdown fixed-width"
                  [(ngModel)]="searchCriteria.family"
                  [suggestions]="listInterface.familyList"
                  [immutable]="true"
                  [dropdown]="true"
                  [forceSelection]="true"
                  (completeMethod)="searchFamilyList($event)"
                  (onSelect)="loadItemList()"
                  (onClear)="resetItemList(true)"
                ></p-autoComplete>
              </div>
            </div>

            <div class="form-group flex--auto">
              <label class="form-label"> {{ getComponentName() + ".item" | translate }} </label>

              <div class="form-control">
                <p-autoComplete
                  class="aw-dropdown fixed-width"
                  [(ngModel)]="selectedItem"
                  [suggestions]="listInterface.itemList"
                  field="label"
                  [immutable]="true"
                  [dropdown]="true"
                  (completeMethod)="searchItemList($event)"
                  (onClear)="resetItemList(false)"
                ></p-autoComplete>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label class="form-label"> {{ getComponentName() + ".pn" | translate }} </label>

              <div class="form-control">
                <p-autoComplete
                  class="aw-dropdown fixed-width"
                  [(ngModel)]="searchCriteria.pn"
                  [suggestions]="listInterface.pnList"
                  [immutable]="true"
                  [dropdown]="true"
                  (completeMethod)="searchPNList($event)"
                ></p-autoComplete>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label"> {{ getComponentName() + ".sn" | translate }} </label>

              <div class="form-control">
                <input type="text" class="aw-input" [(ngModel)]="searchCriteria.sn" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label class="form-label"> {{ getComponentName() + ".designation" | translate }} </label>

              <div class="form-control">
                <input type="text" class="aw-input" [(ngModel)]="searchCriteria.designation" />
              </div>
            </div>

            <div class="form-group">
              <label class="form-label"> {{ getComponentName() + ".functionCode" | translate }} </label>

              <div class="form-control">
                <p-autoComplete
                  class="aw-dropdown fixed-width"
                  [(ngModel)]="searchCriteria.functionCode"
                  [suggestions]="listInterface.functionCodeList"
                  [immutable]="true"
                  [dropdown]="true"
                  (completeMethod)="searchFunctionCodeList($event)"
                ></p-autoComplete>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label class="form-label"> {{ getComponentName() + ".impacts" | translate }} </label>

              <div class="form-control">
                <p-autoComplete
                  class="aw-dropdown fixed-width"
                  [(ngModel)]="searchCriteria.impact"
                  [suggestions]="listInterface.impactList"
                  [immutable]="true"
                  [dropdown]="true"
                  (completeMethod)="searchImpactList($event)"
                ></p-autoComplete>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label"> {{ getComponentName() + ".wo" | translate }} </label>

              <div class="form-control">
                <p-autoComplete
                  class="aw-dropdown fixed-width"
                  [(ngModel)]="searchCriteria.woCode"
                  [suggestions]="listInterface.woList"
                  [immutable]="true"
                  [dropdown]="true"
                  (completeMethod)="searchWoList($event)"
                ></p-autoComplete>
              </div>
            </div>
          </div>

          <div class="row action-list">
            <button type="button" mat-raised-button (click)="reset()">
              {{ "global.reset" | translate }}
            </button>

            <button type="button" mat-raised-button (click)="filter()">
              {{ "global.filter" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
