@import "constants";
@import "mixins";

:host {
  .chart-container {
    @include flex-row();

    @media screen and (max-width: 1280px) {
      flex-direction: column;
    }

    .chart-legend {
      @include flex-column();

      justify-content: center;
      margin-left: $margin-value;

      .chart-legend-label {
        @include flex-row();

        align-items: center;

        .chart-legend-label-color {
          height: 0.75rem;
          margin-right: $margin-value;
          width: 2rem;

          &.completed {
            background-color: $green-light1;
          }

          &.not-completed {
            background-color: $orange;
          }

          //   &.not-completed {
          //     background-color: $red-light1;
          //   }
        }
      }

      .chart-value {
        font-weight: 700;
        margin-left: $margin-value;
      }
    }

    .chart-wrapper {
      position: relative;
      height: 8rem;
      width: 10rem;
    }

    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .message {
    color: #01579b;
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }

  .control-class {
    text-align: center;
    padding: 0.2em;
  }

  .ok {
    background-color: $green-light1 !important;
  }

  .warning {
    background-color: $orange !important;
  }

  .nok {
    background-color: $red-light1 !important;
  }

  #breadcrumbs-status {
    overflow: hidden;
    display: flex;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .breadcrumbs {
    display: flex;
    flex-grow: 1;
  }

  .bread-crumb-custom-cell {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    padding-bottom: 0 !important;
  }

  #breadcrumbs-status li {
    float: left;
    margin: 0 1em 0 1em;
  }

  #breadcrumbs-status .current {
    float: left;
    margin: 0 1em 0 1em;
  }

  #breadcrumbs-status .statusLabel {
    background: #ffffff;
    padding: 0.3em 1em;
    float: left;
    text-decoration: none;
    color: $primary-text-color;
    position: relative;
    white-space: nowrap;
    min-height: 3em;
  }

  #breadcrumbs-status .current .statusLabel {
    background: $accent-color;
  }

  #breadcrumbs-status .statusLabel::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #ffffff #ffffff #ffffff transparent;
    left: -1em;
  }

  #breadcrumbs-status .current .statusLabel::before {
    border-color: $accent-color $accent-color $accent-color transparent;
  }

  #breadcrumbs-status .statusLabel::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #ffffff;
    right: -1em;
  }

  #breadcrumbs-status .current .statusLabel::after {
    border-left-color: $accent-color;
  }

  #breadcrumbs-status .current .statusLabel {
    color: white;
    font-weight: bold;
  }

  #breadcrumbs-status .current::after,
  #breadcrumbs-status .current::before {
    content: normal;
  }

  .illustration {
    text-align: center;
  }

  .img-class {
    max-height: 7rem;
    cursor: pointer;
  }

  .margin-class {
    margin-top: 1em;
  }

  .breadcrumb-cursor {
    cursor: pointer;
  }

  .disable-pointer {
    cursor: none;
    pointer-events: none;
  }

  .padding-class {
    padding-left: 0.5em;
  }

  .custom-height {
    height: 15em !important;
  }

  .custom-chart-height {
    height: 9.6em !important;
  }

  .div-padding {
    padding-top: 1em !important;
  }

  .custom-breadcrumb-padding {
    padding: 0 !important;
  }

  .sibling-list {
    float: right;
  }

  .subtitle {
    max-width: 10em;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }

  .custom-font-style {
    font-weight: bold;
  }

  .inventory-title {
    padding-left: 0.5em;
    font-style: italic;
    font-size: large;
  }
}
