@import "constants";
@import "mixins";

:host {
  .table-filters {
    @include flex-row();

    align-items: center;
    margin-right: $margin-value;

    & > .aw-icon {
      font-size: 1.125rem;
      line-height: 2rem;
      width: 2rem;
    }
  }
  .procurement-alert {
    font-weight: 600;
    align-content: center;
    display: inline-block;
    width: 50%;
  }

  .progress {
    color: #000;
  }

  .ok {
    background-color: $green-light1 !important;
  }

  .warning {
    background-color: $orange !important;
  }

  .nok {
    background-color: $red-light1 !important;
  }

  .procurement--nok {
    background-color: $red-light1;
  }

  .procurement--ok {
    background-color: $green-light1;
  }

  .procurement--warning {
    background-color: $orange;
  }

  .served--nok {
    color: $red-light1 !important;
  }

  .served--ok {
    color: $green-light1 !important;
  }

  .served--warning {
    color: $orange !important;
  }

  .base-label {
    font-weight: bold;
    display: inline-block;
    align-content: center;
    width: 50%;
  }

  .availability {
    padding: 4px;
    color: #000;
    border-radius: 4px;
  }

  .filter-block {
    margin-left: 16px;
    display: inline-block;
    min-width: 200px;
  }
}
