<div class="page-header-container">
  <div class="page-context">
    <div class="page-title-container">
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-secondary-actions">
        <i
          class="fa fa-fw aw-icon aw-icon-with-border"
          [ngClass]="{ 'fa-star': isFavoriteEntry, 'fa-star-o': !isFavoriteEntry }"
          aria-hidden="true"
          (click)="updateFavoriteState()"
          pTooltip="{{ 'page.' + (isFavoriteEntry ? 'removeFromFavorites' : 'addToFavorites') | translate }}"
          tooltipPosition="bottom"
        ></i>
      </div>
    </div>

    <div class="page-subtitle-container">
      <div class="page-subtitle">
        {{ "page.searchPage" | translate }}
      </div>
    </div>
  </div>

  <div class="page-primary-actions">
    <button type="button" mat-raised-button (click)="openNewSalesDocument()" *ngIf="hasUpdateAccessRight">
      {{ "global.create" | translate }}
    </button>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ "global.search" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <div class="row search-criteria-header">
                  <aw-manage-search-criteria
                    [componentId]="SEARCH_CRITERIA_ID"
                    (onSelected)="loadSearchCriteria($event)"
                    (onSavedAsked)="saveSearchCriteriaAsked()"
                    [objectFromPage]="criteriaToSave"
                    [canChange]="!hasBeenCalculated"
                  ></aw-manage-search-criteria>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label">
                      {{ componentData.componentId + ".srCode" | translate }}
                    </label>
                    <div class="form-control">
                      <input type="text" class="aw-input" maxlength="20" [(ngModel)]="bidtSalesDTO.srCode" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">
                      {{ componentData.componentId + ".srStatus" | translate }}
                    </label>
                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="salesDocumentStatus"
                        [showClear]="true"
                        [(ngModel)]="bidtSalesDTO.srStatus"
                        placeholder="&nbsp;"
                      ></p-dropdown>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">
                      {{ componentData.componentId + ".srName" | translate }}
                    </label>
                    <div class="form-control">
                      <input type="text" class="aw-input" maxlength="20" [(ngModel)]="bidtSalesDTO.srName" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">{{
                      componentData.componentId + ".bidoCustomerCustomerCode" | translate
                    }}</label>
                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [showClear]="true"
                        placeholder="&nbsp;"
                        [options]="salesDocumentCustomers"
                        [(ngModel)]="searchObject.searchSupplier"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label">{{ componentData.componentId + ".material" | translate }}</label>

                    <div class="form-control form-control-with-modal" [ngClass]="{ disabled: isReadOpenMode }">
                      <div class="form-control-data" (click)="searchMaterialCode()">
                        {{ searchObject.pn }}
                      </div>

                      <div *ngIf="searchObject.pn" class="btn-clear-wrapper">
                        <i
                          class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                          aria-hidden="true"
                          (click)="searchObject.pn = undefined"
                        ></i>
                      </div>
                      <div class="btn-search-wrapper">
                        <i
                          class="fa fa-fw fa-search aw-icon btn-search"
                          aria-hidden="true"
                          (click)="searchMaterialCode()"
                        ></i>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">
                      {{ componentData.componentId + ".srDescription" | translate }}
                    </label>
                    <div class="form-control">
                      <input type="text" class="aw-input" maxlength="20" [(ngModel)]="bidtSalesDTO.srDescription" />
                    </div>
                  </div>

                  <div class="form-group flex--2"></div>
                </div>

                <div class="advanced-criteria" [ngClass]="{ 'display--none': !showAdvancedCriteria }">
                  <div class="row">
                    <div class="form-group">
                      <label class="form-label">
                        {{ componentData.componentId + ".creationDate" | translate }}
                      </label>
                      <div class="form-control">
                        <p-calendar
                          showButtonBar="true"
                          [monthNavigator]="true"
                          [yearNavigator]="true"
                          [yearRange]="sessionService.calendarYearRange"
                          class="aw-calendar"
                          [locale]="sessionService.calendarFormat"
                          [dateFormat]="sessionService.dateFormatPrimeNG"
                          [(ngModel)]="bidtSalesDTO.srCreationDate"
                        ></p-calendar>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label">
                        {{ componentData.componentId + ".deliveryDate" | translate }}
                      </label>
                      <div class="form-control">
                        <p-calendar
                          showButtonBar="true"
                          [monthNavigator]="true"
                          [yearNavigator]="true"
                          [yearRange]="sessionService.calendarYearRange"
                          class="aw-calendar"
                          [locale]="sessionService.calendarFormat"
                          [dateFormat]="sessionService.dateFormatPrimeNG"
                          [(ngModel)]="bidtSalesDTO.srDeliveryDate"
                        ></p-calendar>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label">{{ componentData.componentId + ".sNo" | translate }}</label>
                      <div class="form-control">
                        <input type="text" class="aw-input" maxlength="20" [(ngModel)]="searchObject.sn" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label">{{ componentData.componentId + ".batchNo" | translate }}</label>
                      <div class="form-control">
                        <input type="text" class="aw-input" maxlength="20" [(ngModel)]="searchObject.batchNumber" />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row search-criteria-footer">
                  <button mat-button (click)="showAdvancedCriteria = !showAdvancedCriteria">
                    <ng-container *ngIf="showAdvancedCriteria">
                      <mat-icon>remove</mat-icon>
                      {{ "global.collapseCriteria" | translate }}
                    </ng-container>
                    <ng-container *ngIf="!showAdvancedCriteria">
                      <mat-icon>add</mat-icon>
                      {{ "global.expandCriteria" | translate }}
                    </ng-container>
                  </button>

                  <div class="search-actions">
                    <button
                      type="button"
                      mat-raised-button
                      (click)="search()"
                      appKeyPress
                      color="primary"
                      [keyCode]="'Enter'"
                      (keyPress)="search()"
                    >
                      {{ "global.toSearch" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div #resultsContainerAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ "global.results" | translate }}
                  ({{ results ? results.length : 0 }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <p-table
                [resizableColumns]="true"
                #ptableResults
                class="aw-table2"
                [columns]="resultTableCols"
                [value]="results"
                [(selection)]="selectedResults"
                dataKey="srCode"
                [scrollable]="true"
              >
                <ng-template pTemplate="emptymessage">
                  <span *ngIf="!isLoading"> &nbsp;</span>

                  <div *ngIf="isLoading" class="aw-table-loading-indicator">
                    <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                    <div class="lds-hourglass"></div>
                  </div>
                </ng-template>

                <ng-template pTemplate="caption">
                  <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedResults.length > 0 }">
                    <div class="aw-table-global-filter">
                      <label class="aw-table-global-filter-label">
                        <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                      </label>

                      <input
                        #ptableResultsGlobalFilter
                        class="aw-table-global-filter-input"
                        type="text"
                        placeholder="{{ 'table.globalFilterText' | translate }}"
                        (input)="ptableResults.filterGlobal($event.target.value, 'contains')"
                      />
                    </div>

                    <div class="aw-table-actions">
                      <button
                        *ngIf="results && results.length > 0 && selectedResults.length === 0"
                        type="button"
                        mat-raised-button
                        (click)="exportTable()"
                      >
                        {{ "global.export" | translate }}
                      </button>

                      <button
                        *ngIf="hasManageAccessRight && selectedResults.length > 0"
                        type="button"
                        mat-raised-button
                        color="warn"
                        (click)="deleteResults()"
                      >
                        {{ "global.delete" | translate }}
                      </button>

                      <button
                        *ngIf="selectedResults.length > 0"
                        type="button"
                        mat-raised-button
                        (click)="openSelectedResults()"
                      >
                        {{ "global.open" | translate }}
                      </button>
                    </div>
                  </div>
                </ng-template>

                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="aw-table-checkbox-wrapper" />
                    <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                  </colgroup>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="aw-table-checkbox-wrapper">
                      <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                    </th>

                    <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                      {{ componentData.componentId + "." + col.field | translate }}
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                    <td class="aw-table-checkbox-wrapper">
                      <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                    </td>

                    <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
                      <a *ngSwitchCase="'srCode'" (click)="openSalesDocument(rowData, componentOpenMode.Read)">
                        {{ rowData[col.field] }}</a
                      >

                      <span *ngSwitchCase="'creationDate'">
                        {{ dateService.timestampToString(rowData.srCreationDate) }}
                      </span>

                      <span *ngSwitchCase="'deliveryDate'">
                        {{ dateService.timestampToString(rowData.srDeliveryDate) }}
                      </span>

                      <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<aw-dialog-search-material
  *ngIf="showQuickSearchMaterialPopup"
  [(display)]="showQuickSearchMaterialPopup"
  [material-code]="searchObject.productCode"
  (onSelected)="setSelectedMaterial($event)"
></aw-dialog-search-material>
