<div #page>
  <div class="grid-cell-header">
    <div class="grid-cell-title-container">
      <div id="crewMemberTableTitle" class="grid-cell-title">
        <span>{{ getComponentName() + ".crew" | translate }}</span>
      </div>
    </div>
  </div>

  <div class="grid-cell-content grid-cell-content-with-section">
    <div class="section">
      <div class="section-content">
        <div class="row">
          <div id="pilot" class="form-group">
            <label class="form-label">
              {{ getComponentName() + ".pilot" | translate }}
            </label>

            <div class="form-control">
              <p-dropdown
                class="aw-dropdown fixed-width"
                [options]="pilotList"
                [(ngModel)]="pilot"
                [disabled]="isReadOpenMode || !sessionService.hrModuleActivated"
                [showClear]="true"
                placeholder="&nbsp;"
              ></p-dropdown>
            </div>
          </div>

          <div id="copilot" class="form-group">
            <label class="form-label">
              {{ getComponentName() + ".copilot" | translate }}
            </label>

            <div class="form-control">
              <p-dropdown
                class="aw-dropdown fixed-width"
                [options]="copilotList"
                [(ngModel)]="copilot"
                [disabled]="isReadOpenMode || !sessionService.hrModuleActivated"
                [showClear]="true"
                placeholder="&nbsp;"
              ></p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="section-content">
        <p-table
          id="crewMemberTable"
          [resizableColumns]="true"
          #ptableCrew
          class="aw-table2"
          [value]="crewMemberTable"
          [(selection)]="crewMemberTableSelection"
          selectionMode="single"
          [scrollable]="true"
          (onRowSelect)="onSelectcrewMemberTableRow($event.index)"
          (onRowUnselect)="onUnselectcrewMemberTableRow()"
        >
          <ng-template pTemplate="emptymessage">
            <span *ngIf="!crewMemberTableLoading"> &nbsp;</span>

            <div *ngIf="crewMemberTableLoading" class="aw-table-loading-indicator">
              <div class="loading-message">{{ "table.loadingData" | translate }}</div>
              <div class="lds-hourglass"></div>
            </div>
          </ng-template>

          <ng-template pTemplate="caption">
            <div class="aw-table-header">
              <div class="aw-table-actions">
                <button
                  id="deleteCrewMemberTable"
                  *ngIf="
                    !isReadOpenMode &&
                    sessionService.hrModuleActivated &&
                    crewMemberTableSelection !== undefined &&
                    crewMemberTableSelection !== null
                  "
                  type="button"
                  mat-raised-button
                  color="warn"
                  (click)="deleteCrewMember()"
                >
                  {{ "global.delete" | translate }}
                </button>

                <button
                  id="addCrewMemberTable"
                  *ngIf="
                    !isReadOpenMode &&
                    sessionService.hrModuleActivated &&
                    (crewMemberTableSelection === undefined || crewMemberTableSelection === null)
                  "
                  type="button"
                  mat-raised-button
                  (click)="addCrewMember()"
                >
                  {{ "global.add" | translate }}
                </button>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col [ngStyle]="{ 'text-align': 'left' }" />
            </colgroup>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th [ngStyle]="{ 'text-align': 'left' }">
                {{ getComponentName() + ".crew" | translate }}
                ({{ crewMemberTable ? crewMemberTable.length : 0 }})
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
              <td [ngStyle]="{ 'text-align': 'left' }">
                {{ rowData["name"] }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<aw-dialog-crew-member
  *ngIf="dialogCrewMemberVisible"
  [(display)]="dialogCrewMemberVisible"
  [crewMemberList]="remainingCrewMemberList"
  (onValidate)="onAddedCrewMember($event)"
></aw-dialog-crew-member>
