@import "constants";
@import "mixins";

.material-availability.section {
  flex-grow: 1;
  text-align: center;
}

.material-availability.row {
  flex-wrap: nowrap !important;
}

.material-availability .row {
  flex: 1;
  padding: 0;
}

.ready-only-field {
  padding: 8px 0;
}

.material-availability {
  input {
    text-align: center;
  }
  .ok {
    background-color: $green-light1 !important;
  }

  .warning {
    background-color: $orange !important;
  }

  .nok {
    background-color: $red-light1 !important;
  }
}
