@import "constants";
@import "mixins";

.object-details {
  border: $border-width $border-style $accent-color;
  border-radius: $border-radius;
  padding: $margin-value;
  margin-bottom: calc(#{$margin-value} * 5);

  .actions-bar {
    @include flex-row();

    justify-content: flex-end;
  }
}
