@import "constants";
@import "mixins";
@import "modifiers";

.value-red {
  background-color: $red-light1 !important;
}

.value-yellow {
  background-color: $orange !important;
}

.value-green {
  background-color: $green-light1 !important;
}

.value-green,
.value-red,
.value-yellow {
  padding: 0.5em;
}

.red {
  color: $red-light1 !important;
}

.green {
  color: $green-light1 !important;
}

.custom-div {
  width: 100%;
}

.procurement-type--in {
  color: $green-light1;
  transform: rotate(320deg);
}

.procurement-type--out {
  color: $red-light1;
  transform: rotate(45deg);
}

.procurement-type--transfer {
  color: $blue-dark1;
}

.alert-icon-yellow {
  background-color: transparent;
  color: #ff9800;
  padding: 2px;
  text-align: center;

  &:hover {
    background-color: #ff9800;
    color: #fff;
    border-radius: 5px;
  }
}
.alert-icon-red {
  background-color: transparent;
  color: red !important;
  padding: 2px;
  text-align: center;

  &:hover {
    background-color: red;
    color: #fff;
    border-radius: 5px;
  }
}

.grid-cell-chart {
  .chart-container {
    @include flex-row();

    @media screen and (max-width: 1280px) {
      flex-direction: column;
    }

    .chart-legend {
      @include flex-column();

      justify-content: center;
      margin-left: $margin-value;

      .chart-legend-label {
        @include flex-row();

        align-items: center;

        .chart-legend-label-color {
          height: 0.75rem;
          margin-right: $margin-value;
          width: 2rem;

          &.quantity {
            background-color: #0d3fc2;
          }

          &.amount {
            background-color: #d3c632;
          }

          &.not-airworthy {
            background-color: $red-light1;
          }
        }
      }

      .chart-value {
        font-weight: 700;
        margin-left: $margin-value;
      }
    }

    .chart-wrapper {
      position: relative;
      height: 18rem;
      width: 30rem;
    }
  }
}

.grid-cell-content-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  button {
    margin-left: 0.3rem;
  }
}

.anchor-custom {
  color: $accent-color;
  cursor: pointer;
}

.anchor-custom:hover {
  color: $accent-color;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $accent-color;
  transition: border-bottom-color 0.25s ease-in-out;
}

.lock-row {
  background: $red-light1 !important;
  color: $primary-background-color !important;
}

.anchor-lock-row,
.anchor-lock-row:hover {
  color: $primary-background-color;
  border-bottom-color: $primary-background-color;
}

.on-aircraft {
  border: 1px solid transparent;
  font-style: italic;
  justify-content: center;
  font-size: 1.125rem;
  background-color: gold;
  color: black;
  border-radius: 16px;
  padding: 4px 32px;
  margin-top: 8px;
  width: fit-content;
  font-weight: 600;
  display: inline-block;
  margin-left: 10px;

  &.disabled {
    cursor: auto;
  }
}

.cropped-width {
  width: 20% !important;
}
