<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div class="page-subtitle">- {{ "global.search" | translate }}</div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button type="button" mat-raised-button (click)="openNewFleet()" *ngIf="hasUpdateAccessRight">
      {{ "global.create" | translate }}
    </button>
    <button
      id="actions"
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show All Actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #actions="matMenu">
      <button id="favorites" mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ "global.search" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <div class="row search-criteria-header">
                  <aw-manage-search-criteria
                    [componentId]="FLEET_SEARCH_CRITERIA_ID"
                    (onSelected)="loadSearchCriteria($event)"
                    (onSavedAsked)="saveSearchCriteriaAsked()"
                    [objectFromPage]="criteriaToSave"
                  ></aw-manage-search-criteria>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".fleetCode" | translate }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.fleetCode" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".fleetName" | translate }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.fleetName" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".customerCode" | translate }} </label>

                    <div class="form-control form-control-with-modal" [ngClass]="{ disabled: isReadOpenMode }">
                      <div class="form-control-data" (click)="quickSearchBusinessPartner()">
                        {{ searchObject.customerCode }}
                      </div>

                      <div *ngIf="searchObject.customerCode" class="btn-clear-wrapper">
                        <i
                          class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                          aria-hidden="true"
                          (click)="searchObject.customerCode = undefined"
                        ></i>
                      </div>
                      <div class="btn-search-wrapper">
                        <i
                          class="fa fa-fw fa-search aw-icon btn-search"
                          aria-hidden="true"
                          (click)="quickSearchBusinessPartner()"
                        ></i>
                      </div>
                    </div>
                  </div>

                  <div class="form-group"></div>
                </div>

                <div class="row search-criteria-footer">
                  <div class="search-actions">
                    <button
                      type="button"
                      mat-raised-button
                      class="btn-with-spinner"
                      (click)="search()"
                      appKeyPress
                      color="primary"
                      [keyCode]="'Enter'"
                      (keyPress)="search()"
                    >
                      <span *ngIf="isLoading" class="lds-hourglass"></span>
                      {{ "global.toSearch" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <!-- fleet table -->

          <div #resultsContainerAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ "global.results" | translate }} ({{ fleetTableDataSource ? fleetTableDataSource.dataCount : 0 }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <a-table [dataSource]="fleetTableDataSource">
                <ng-template tableActionsDef>
                  <button
                    *ngIf="
                      fleetTableDataSource && fleetTableDataSource.hasData && !fleetTableDataSource.hasDataSelection
                    "
                    type="button"
                    mat-raised-button
                    (click)="exportTable()"
                  >
                    {{ "global.export" | translate }}
                  </button>

                  <button
                    *ngIf="hasManageAccessRight && fleetTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    color="warn"
                    (click)="deleteFleets()"
                  >
                    {{ "global.delete" | translate }}
                  </button>

                  <button
                    *ngIf="fleetTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    (click)="openSelectedFleets()"
                  >
                    {{ "global.open" | translate }}
                  </button>
                </ng-template>
                <ng-template columnDef="fleetCode" let-rowData="rowData">
                  <a (click)="openFleetLink(rowData)"> {{ rowData.fleetCode }} </a>
                </ng-template>
                <ng-template columnDef="isOperator" let-rowData="rowData">
                  <i
                    *ngIf="rowData.isOperator !== null && rowData.isOperator"
                    class="fa fa-fw fa-check"
                    aria-hidden="true"
                  ></i>
                </ng-template>
                <ng-template columnDef="isOwner" let-rowData="rowData">
                  <i
                    *ngIf="rowData.isOwner !== null && rowData.isOwner"
                    class="fa fa-fw fa-check"
                    aria-hidden="true"
                  ></i>
                </ng-template>
              </a-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <aw-dialog-search-customer
    *ngIf="showQuickSearchBusinessPartnerPopup"
    [(display)]="showQuickSearchBusinessPartnerPopup"
    [customer-code]="searchObject.customerCode"
    (onSelected)="setSelectedBusinessPartner($event)"
  ></aw-dialog-search-customer>
</div>
