<a-modal class="aw-modal" [(visible)]="display" [width]="90">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="search-dialog-container">
      <div class="section">
        <h4 class="section-title">{{ "global.search" | translate }}</h4>

        <div class="section-content">
          <div class="column">
            <div class="row">
              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".familyVariant" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="propertyVariant"
                    [(ngModel)]="familyVariant"
                    [showClear]="true"
                    placeholder="&nbsp;"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".sbNumber" | translate }} </label>

                <div class="form-control">
                  <input type="text" class="aw-input" [(ngModel)]="searchObject.sbNumber" />
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".statusState" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="propertyStatus"
                    [(ngModel)]="searchObject.statusState"
                    [showClear]="true"
                    placeholder="&nbsp;"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group" *ngIf="dialogType !== 'AD'">
                <label class="form-label"> {{ getComponentName() + ".sbType" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="propertyType"
                    [(ngModel)]="searchObject.sbType"
                    [showClear]="true"
                    placeholder="&nbsp;"
                  ></p-dropdown>
                </div>
              </div>
            </div>
            <div class="row search-criteria-footer">
              <div class="search-actions" style="padding-right: 10px;">
                <button type="button" mat-raised-button color="primary" (click)="search()">
                  {{ "global.toSearch" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-cell--12">
            <div class="grid-cell grid-cell--container">
              <div class="grid-cell-header">
                <div class="grid-cell-title-container">
                  <h3 class="grid-cell-title">
                    {{ "global.results" | translate }} ({{ resultsTable.list ? resultsTable.list.length : 0 }})
                  </h3>
                </div>
              </div>

              <div class="grid-cell-content">
                <p-table
                  [resizableColumns]="true"
                  #ptable
                  class="aw-table2"
                  [columns]="tableColList"
                  [value]="resultsTable.list"
                  [(selection)]="selectedRow"
                  selectionMode="single"
                  [scrollable]="true"
                  dataKey="dataKey"
                >
                  <ng-template pTemplate="emptymessage">
                    <span *ngIf="!isLoading"> &nbsp;</span>

                    <div *ngIf="isLoading" class="aw-table-loading-indicator">
                      <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                      <div class="lds-hourglass"></div>
                    </div>
                  </ng-template>

                  <ng-template pTemplate="caption">
                    <div class="aw-table-header">
                      <div class="aw-table-global-filter">
                        <label class="aw-table-global-filter-label">
                          <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                        </label>

                        <input
                          #ptableGlobalFilter
                          class="aw-table-global-filter-input"
                          type="text"
                          placeholder="{{ 'table.globalFilterText' | translate }}"
                          (input)="ptable.filterGlobal($event.target.value, 'contains')"
                        />
                      </div>
                    </div>
                  </ng-template>

                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                      <col *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment, width: col.width }" />
                      <col />
                    </colgroup>
                  </ng-template>

                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th
                        pResizableColumn
                        *ngFor="let col of columns"
                        [ngStyle]="{ 'text-align': col.alignment, width: col.width }"
                      >
                        {{ getComponentName() + "." + col.field | translate }}
                      </th>
                      <th [ngStyle]="{ width: '5%', 'text-align': 'left' }"></th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                      <td
                        *ngFor="let col of columns"
                        [ngSwitch]="col.field"
                        [ngStyle]="{ 'text-align': col.alignment, width: col.width }"
                      >
                        <span
                          *ngSwitchCase="'sbTitle'"
                          pTooltip="{{
                            !!rowData['sbTitle'] && rowData['sbTitle'].length > 35 ? rowData['sbTitle'] : ''
                          }}"
                        >
                          {{ rowData[col.field] }}</span
                        >
                        <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                      </td>

                      <td
                        class="row-expand-wrapper"
                        [pRowToggler]="rowData"
                        [ngStyle]="{ width: '5%', 'text-align': 'left' }"
                      >
                        <i
                          class="fa fa-fw aw-icon aw-icon-with-border"
                          [ngClass]="rowData.expand ? 'fa-minus' : 'fa-plus'"
                          aria-hidden="true"
                          pTooltip="{{ 'global.showTableRowDetails' | translate }}"
                          tooltipPosition="top"
                          (click)="toggleRowDetailsVisibility(rowData)"
                        ></i>
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                    <tr class="row-expanded">
                      <td [attr.colspan]="columns.length + 2">
                        <div class="column forced-backgroung">
                          <div class="row">
                            <div class="form-group">
                              <label class="form-label">
                                {{ getComponentName() + "." + "sbDocumentUrl" | translate }}
                              </label>
                              <div class="form-control">
                                <input
                                  type="text"
                                  class="aw-input"
                                  [(ngModel)]="rowData.sbDocumentUrl"
                                  [disabled]="true"
                                />
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="form-label">
                                {{ getComponentName() + "." + "sbClass" | translate }}
                              </label>
                              <div class="form-control">
                                <input type="text" class="aw-input" [(ngModel)]="rowData.sbClass" [disabled]="true" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="cancel()">
      {{ "dialog.cancel" | translate }}
    </button>

    <button type="button" mat-raised-button color="primary" (click)="validate()" [disabled]="!selectedRow">
      {{ "dialog.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
