<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">{{ getComponentName() + ".taskCode" | translate }}</label>

      <div class="form-control form-control-with-btn" [ngClass]="{ required: !isReadOpenMode }">
        <input type="text" class="aw-input" [(ngModel)]="decomposition.taskCode" disabled />
        <i
          *ngIf="newDecomposition"
          class="fa fa-fw fa-search aw-icon"
          aria-hidden="true"
          pTooltip="{{ 'global.search' | translate }}"
          tooltipPosition="top"
          (click)="openTaskTableDialog()"
        ></i>
      </div>
    </div>

    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">{{ getComponentName() + ".taskVersion" | translate }}</label>

      <div class="form-control" [ngClass]="{ required: !isReadOpenMode }">
        <input type="text" class="aw-input" [(ngModel)]="decomposition.taskVersion" disabled />
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".taskDesignation" | translate }}</label>

      <div class="form-control" [ngClass]="{ required: !isReadOpenMode }">
        <input type="text" class="aw-input" [(ngModel)]="decomposition.taskDesignation" disabled />
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".taskGroup" | translate }}</label>

      <div class="form-control" [ngClass]="{ required: !isReadOpenMode }">
        <p-dropdown
          class="aw-dropdown fixed-width"
          [options]="taskGroups"
          [(ngModel)]="decomposition.taskGroup"
          disabled
          [showClear]="true"
          placeholder="&nbsp;"
          appendTo="body"
        ></p-dropdown>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".taskType" | translate }}</label>

      <div class="form-control" [ngClass]="{ required: !isReadOpenMode }">
        <p-dropdown
          class="aw-dropdown fixed-width"
          [options]="taskTypes"
          [(ngModel)]="decomposition.taskType"
          disabled
          [showClear]="true"
          placeholder="&nbsp;"
          appendTo="body"
        ></p-dropdown>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".groupCode" | translate }}</label>

      <div class="form-control" [ngClass]="{ required: !isReadOpenMode }">
        <input type="text" class="aw-input" [(ngModel)]="decomposition.groupCode" [disabled]="isReadOnlyForm" />
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".periodicityType" | translate }}</label>

      <div class="form-control" [ngClass]="{ required: !isReadOpenMode }">
        <p-dropdown
          class="aw-dropdown fixed-width"
          [options]="periodicityTypes"
          [(ngModel)]="decomposition.periodicityType"
          [disabled]="isReadOnlyForm"
          [showClear]="true"
          placeholder="&nbsp;"
          appendTo="body"
        ></p-dropdown>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".sequenceNo" | translate }}</label>

      <div class="form-control" [ngClass]="{ required: !isReadOpenMode }">
        <input
          type="text"
          pKeyFilter="int"
          class="aw-input"
          [(ngModel)]="decomposition.sequenceNumber"
          [disabled]="isReadOnlyForm"
        />
      </div>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="isReadOnlyForm" type="button" mat-raised-button (click)="closeDialog()">
      <span>{{ "global.close" | translate }}</span>
    </button>
    <button *ngIf="!isReadOnlyForm" type="button" mat-raised-button (click)="closeDialog()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button
      *ngIf="!isReadOnlyForm"
      type="button"
      mat-raised-button
      (click)="associate()"
      color="primary"
      [disabled]="!decomposition.taskCode || !decomposition.taskVersion"
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-search-task
  *ngIf="showTaskTableDialog"
  [(display)]="showTaskTableDialog"
  (onSelected)="onSelectedTask($event)"
  [is-visit]="false"
></aw-dialog-search-task>
