@import "constants";
@import "mixins";
:host {
  .section-content {
    .search-criteria-footer {
      justify-content: flex-end;
    }
  }
  .group-control {
    display: flex;
    .form-sub-control {
      flex-direction: column;
      width: 100%;
      & > p-selectButton {
        display: flex;
        align-items: flex-end;
        height: $form-control-height;
      }
    }
  }

  .code {
    display: inline-table;
    width: 100%;
  }

  ::ng-deep .info {
    overflow: hidden;
    padding-bottom: 0.4em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .package-alert {
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 50%;
  }

  .package--nok {
    background-color: $red-light1;
  }

  .package--ok {
    background-color: $green-light1;
  }

  .package--warning {
    background-color: $orange;
  }
}
