<div class="page-header-container">
  <div class="page-context">
    <div class="page-title-container">
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-secondary-actions">
        <i
          class="fa fa-fw aw-icon aw-icon-with-border"
          [ngClass]="{ 'fa-star': isFavoriteEntry, 'fa-star-o': !isFavoriteEntry }"
          aria-hidden="true"
          (click)="updateFavoriteState()"
          pTooltip="{{ 'page.' + (isFavoriteEntry ? 'removeFromFavorites' : 'addToFavorites') | translate }}"
          tooltipPosition="bottom"
        ></i>

        <i
          class="fa fa-fw fa-info aw-icon aw-icon-with-border"
          aria-hidden="true"
          pTooltip="{{ 'page.info' | translate }}"
          tooltipPosition="bottom"
        ></i>
      </div>
    </div>

    <div class="page-subtitle-container">
      <div class="page-subtitle">{{ "page.searchPage" | translate }}</div>
    </div>
  </div>

  <div class="page-primary-actions"><!-- Remove enclosing tag if empty --></div>
</div>

<div class="page-wrapper">
  <div class="page-container">
    <div class="page-content">
      <div class="grid-row" *ngIf="!hideSearchCriteria">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ "global.search" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content grid-cell-content-with-section">
              <div class="column">
                <!-- TODO -->
                <!-- <div class="row search-criteria-header">
                  <aw-manage-search-criteria></aw-manage-search-criteria>
                </div> -->

                <div class="section">
                  <h4 class="section-title">{{ componentData.componentId + ".package" | translate }}</h4>

                  <div class="section-content">
                    <div class="row">
                      <div class="form-group">
                        <label class="form-label">{{ componentData.componentId + ".criticity" | translate }}</label>
                        <div class="form-control aw-selectbutton-wrapper">
                          <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-label">{{ componentData.componentId + ".reference" | translate }}</label>

                        <div class="form-control">
                          <input type="text" class="aw-input" />
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-label"> {{ componentData.componentId + ".type" | translate }} </label>

                        <div class="form-control">
                          <p-dropdown
                            class="aw-dropdown fixed-width"
                            placeholder="&nbsp;"
                            [showClear]="true"
                          ></p-dropdown>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-label"> {{ componentData.componentId + ".status" | translate }} </label>

                        <div class="form-control">
                          <p-dropdown
                            class="aw-dropdown fixed-width"
                            placeholder="&nbsp;"
                            [showClear]="true"
                          ></p-dropdown>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <label class="form-label">{{ componentData.componentId + ".shippedDate" | translate }}</label>

                        <div class="form-control group-control">
                          <div class="form-sub-control">
                            <p-selectButton
                              [options]="dateExpeditionList"
                              [(ngModel)]="selectedDateExpedition"
                            ></p-selectButton>
                          </div>
                          <div class="form-sub-control">
                            <p-dropdown
                              class="aw-dropdown fixed-width"
                              placeholder="&nbsp;"
                              [showClear]="true"
                            ></p-dropdown>
                          </div>
                        </div>
                      </div>
                      <div class="form-group ">
                        <label class="form-label"> {{ componentData.componentId + ".receiptDate" | translate }} </label>

                        <div class="form-control group-control">
                          <div class="form-sub-control">
                            <p-selectButton
                              [options]="dateReceptionList"
                              [(ngModel)]="selectedDateReception"
                            ></p-selectButton>
                          </div>
                          <div class="form-sub-control">
                            <p-dropdown
                              class="aw-dropdown fixed-width"
                              placeholder="&nbsp;"
                              [showClear]="true"
                            ></p-dropdown>
                          </div>
                        </div>
                      </div>
                      <div class="form-group"></div>
                      <div class="form-group"></div>
                    </div>
                  </div>
                </div>

                <!-- Post -->
                <div class="section">
                  <h4 class="section-title">{{ componentData.componentId + ".item" | translate }}</h4>

                  <div class="section-content">
                    <div class="row">
                      <div class="form-group">
                        <label class="form-label"> {{ componentData.componentId + ".partNumber" | translate }} </label>

                        <div class="form-control">
                          <input type="text" class="aw-input" />
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="form-label"> {{ componentData.componentId + ".designation" | translate }} </label>

                        <div class="form-control">
                          <input type="text" class="aw-input" />
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="form-label"> {{ componentData.componentId + ".sn" | translate }} </label>

                        <div class="form-control">
                          <input type="text" class="aw-input" />
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="form-label"> {{ componentData.componentId + ".batchNumber" | translate }} </label>

                        <div class="form-control">
                          <input type="text" class="aw-input" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Document Attachment -->
                <div class="section">
                  <h4 class="section-title">{{ componentData.componentId + ".attachedDocument" | translate }}</h4>

                  <div class="section-content">
                    <div class="row">
                      <div class="form-group">
                        <label class="form-label">
                          {{ componentData.componentId + ".documentType" | translate }}
                        </label>

                        <div class="form-control">
                          <p-dropdown
                            class="aw-dropdown fixed-width"
                            placeholder="&nbsp;"
                            [showClear]="true"
                          ></p-dropdown>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-label">
                          {{ componentData.componentId + ".documentReferences" | translate }}
                        </label>

                        <div class="form-control">
                          <input type="text" class="aw-input" />
                        </div>
                      </div>
                      <div class="form-group"></div>
                      <div class="form-group"></div>
                    </div>
                  </div>
                </div>

                <!-- ACTION -->
                <div class="section">
                  <div class="section-content">
                    <div class="row search-criteria-footer">
                      <div class="search-actions">
                        <button
                          type="button"
                          mat-raised-button
                          (click)="search()"
                          appKeyPress
                          color="primary"
                          [keyCode]="'Enter'"
                          (keyPress)="search()"
                        >
                          {{ "global.toSearch" | translate }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row" *ngIf="hideSearchCriteria">
        <div class="grid-cell--12">
          <div #resultsContainerAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ "global.results" | translate }} ({{ resultsTable ? resultsTable.length : 0 }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <p-table
                [resizableColumns]="true"
                #ptableResult
                class="aw-table2"
                [columns]="resultTableCols"
                [value]="resultsTable"
                [(selection)]="selectedResults"
                [scrollable]="true"
              >
                <ng-template pTemplate="emptymessage">
                  <span *ngIf="!isLoading"> &nbsp;</span>

                  <div *ngIf="isLoading" class="aw-table-loading-indicator">
                    <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                    <div class="lds-hourglass"></div>
                  </div>
                </ng-template>

                <ng-template pTemplate="caption">
                  <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedResults.length > 0 }">
                    <div class="aw-table-global-filter">
                      <label class="aw-table-global-filter-label">
                        <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                      </label>

                      <input
                        #ptableEquipmentGlobalFilter
                        class="aw-table-global-filter-input"
                        type="text"
                        placeholder="{{ 'table.globalFilterText' | translate }}"
                        (input)="ptableResult.filterGlobal($event.target.value, 'contains')"
                      />
                    </div>

                    <div class="aw-table-actions">
                      <div class="aw-table-icon-actions">
                        <i
                          class="fa fa-fw fa-filter aw-icon aw-icon-with-border aw-icon-with-overlay"
                          aria-hidden="true"
                          tooltipPosition="top"
                        ></i>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="aw-table-checkbox-wrapper" />
                    <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                  </colgroup>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="aw-table-checkbox-wrapper">
                      <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                    </th>

                    <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                      {{ componentData.componentId + "." + col.field | translate }}
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                    <td class="aw-table-checkbox-wrapper">
                      <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                    </td>

                    <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
                      <span *ngSwitchCase="'package'">
                        <div class="code">
                          <div class="info">
                            <span>
                              <b>
                                <a (click)="openPackageDetails(rowData)"> {{ rowData[col.field] }}</a></b
                              ></span
                            >
                          </div>
                          <div class="info">
                            <span>
                              <i> {{ rowData["description"] }} </i></span
                            >
                          </div>
                        </div>
                      </span>
                      <span *ngSwitchCase="'receiptFolder'">
                        <div class="code">
                          <div class="info">
                            <span>
                              <b>
                                <a> {{ rowData[col.field] }}</a></b
                              ></span
                            >
                          </div>
                          <div class="info">
                            <span>
                              <i> {{ rowData["receptionDescription"] }} </i></span
                            >
                          </div>
                        </div>
                      </span>
                      <span *ngSwitchCase="'situation'">
                        <span *ngIf="rowData.situation === 'Immediate'" class="package-alert package--nok">
                          {{ rowData[col.field] }}
                        </span>
                        <span *ngIf="rowData.situation === 'Urgent'" class=" package-alert package--warning">
                          {{ rowData[col.field] }}
                        </span>
                        <span *ngIf="rowData.situation === 'Routine'" class=" package-alert package--ok">
                          {{ rowData[col.field] }}
                        </span>
                      </span>
                      <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
