<div class="page-header">
  <div class="page-info">
    <div>
      <h2 class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </h2>

      <div class="page-subtitle" *ngIf="!isCreateOpenMode && componentData && componentData.objectId">
        - {{ subTitle }}
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button *ngIf="isReadOpenMode && hasUpdateAccessRight" type="button" mat-raised-button (click)="edit()">
      {{ "global.edit" | translate }}
    </button>
    <button
      *ngIf="!isReadOpenMode && !isCreateOpenMode"
      color="warn"
      type="button"
      mat-raised-button
      (click)="cancel()"
    >
      {{ "global.cancel" | translate }}
    </button>
    <button
      *ngIf="!isReadOpenMode"
      class="btn-with-spinner"
      color="primary"
      type="button"
      mat-raised-button
      (click)="saveFamilyData()"
    >
      <span class="lds-hourglass" *ngIf="showSaveSpinner"></span>
      {{ "global.save" | translate }}
    </button>
    <button
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #actions="matMenu">
      <button mat-menu-item *ngIf="isReadOpenMode && !isCreateOpenMode" type="button" (click)="refresh()">
        {{ "global.refresh" | translate }}
      </button>
      <button mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>
<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <mat-tab-group animationDuration="0ms" dynamicHeight>
        <mat-tab>
          <ng-template mat-tab-label>
            {{ "home" | translate }}
          </ng-template>
          <div class="grid-row">
            <div class="grid-cell--12">
              <div class="grid-cell grid-cell--container">
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container">
                    <h3 class="grid-cell-title">{{ "page.mainData" | translate }}</h3>
                  </div>
                </div>

                <div class="grid-cell-content">
                  <div class="grid-row">
                    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
                      <label class="form-label"> {{ componentData.componentId + ".familyCode" | translate }} </label>

                      <div class="form-control">
                        <input
                          type="text"
                          class="aw-input"
                          maxlength="50"
                          [(ngModel)]="familyDisplayed.familyCode"
                          [disabled]="!isCreateOpenMode || isReadOpenMode"
                        />
                      </div>
                    </div>
                    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
                      <label class="form-label"> {{ componentData.componentId + ".familyName" | translate }} </label>

                      <div class="form-control">
                        <input
                          type="text"
                          class="aw-input"
                          [(ngModel)]="familyDisplayed.familyName"
                          maxlength="50"
                          [disabled]="isReadOpenMode"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">
                        {{ componentData.componentId + ".structureType" | translate }}
                      </label>

                      <div class="form-control">
                        {{ familyStructureTypeDisplay }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">
                        {{ componentData.componentId + ".familyFunction" | translate }}
                      </label>

                      <div class="form-control">
                        <p-dropdown
                          appendTo="body"
                          class="aw-dropdown fixed-width"
                          [showClear]="true"
                          [options]="propertyFamilyFunction"
                          [(ngModel)]="familyDisplayed.familyFunction"
                          [ngClass]="{ inactive: isReadOpenMode }"
                          [disabled]="isReadOpenMode"
                          placeholder="&nbsp;"
                        ></p-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-row">
            <div class="grid-cell--12">
              <div #resultsContainerAnchor class="grid-cell grid-cell--container">
                <!-- Modifications table -->

                <div class="grid-cell-header">
                  <div class="grid-cell-title-container">
                    <h3 class="grid-cell-title">
                      {{ componentData.componentId + ".modification" | translate }} ({{
                        modificationsTableDataSource ? modificationsTableDataSource.dataCount : 0
                      }})
                    </h3>
                  </div>
                </div>

                <div class="grid-cell-content">
                  <a-table [dataSource]="modificationsTableDataSource">
                    <ng-template tableActionsDef>
                      <button
                        type="button"
                        mat-raised-button
                        color="warn"
                        (click)="deleteSelectedModification()"
                        *ngIf="!isReadOpenMode && modificationsTableDataSource.hasDataSelection"
                      >
                        {{ "global.delete" | translate }}
                      </button>
                      <button
                        type="button"
                        mat-raised-button
                        (click)="editModification()"
                        *ngIf="!isReadOpenMode && modificationsTableDataSource.dataSelectionCount === 1"
                      >
                        {{ "global.edit" | translate }}
                      </button>
                      <button
                        type="button"
                        mat-raised-button
                        *ngIf="modificationsTableDataSource.dataSelectionCount === 1"
                        (click)="openModification()"
                      >
                        {{ "global.open" | translate }}
                      </button>
                      <button
                        type="button"
                        *ngIf="!isReadOpenMode && !modificationsTableDataSource.hasDataSelection"
                        mat-raised-button
                        (click)="createModification()"
                      >
                        {{ "global.add" | translate }}
                      </button>
                    </ng-template>
                    <ng-template columnDef="modificationDocumentUrl" let-rowData="rowData">
                      <a (click)="redirectToURL(rowData.modificationDocumentUrl)">
                        {{ rowData.modificationDocumentUrl }}
                      </a>
                    </ng-template>
                  </a-table>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab *ngIf="isEngine()">
          <ng-template mat-tab-label>
            {{ componentData.componentId + ".rating" | translate }}
          </ng-template>
          <div class="grid-row">
            <div class="grid-cell--12">
              <div #resultsratingAnchor class="grid-cell grid-cell--container">
                <!-- Ratings table -->

                <div class="grid-cell-header">
                  <div class="grid-cell-title-container">
                    <h3 class="grid-cell-title">
                      {{ componentData.componentId + ".rating" | translate }} ({{
                        ratingsTableDataSource ? ratingsTableDataSource.dataCount : 0
                      }})
                    </h3>
                  </div>
                </div>
                <div class="grid-cell-content">
                  <a-table [dataSource]="ratingsTableDataSource">
                    <ng-template tableActionsDef>
                      <button
                        type="button"
                        *ngIf="!isReadOpenMode && ratingsTableDataSource.hasDataSelection"
                        mat-raised-button
                        color="warn"
                        (click)="deleteSelectedRating()"
                      >
                        {{ "global.delete" | translate }}
                      </button>
                      <button
                        type="button"
                        *ngIf="!isReadOpenMode && ratingsTableDataSource.dataSelectionCount === 1"
                        mat-raised-button
                        (click)="editRating()"
                      >
                        {{ "global.edit" | translate }}
                      </button>
                      <button
                        type="button"
                        mat-raised-button
                        *ngIf="ratingsTableDataSource.dataSelectionCount === 1"
                        (click)="openRating()"
                      >
                        {{ "global.open" | translate }}
                      </button>
                      <button
                        type="button"
                        *ngIf="!isReadOpenMode && !ratingsTableDataSource.hasDataSelection"
                        mat-raised-button
                        (click)="createRating()"
                      >
                        {{ "global.add" | translate }}
                      </button>
                    </ng-template>
                  </a-table>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<p-overlayPanel #op1 [showCloseIcon]="false" [dismissable]="true" appendTo="body">
  <ul class="export-methods">
    <li class="export-method-wrapper">
      <i class="fa fa-file-excel-o" aria-hidden="true"></i> <span class="export-method">Excel</span>
    </li>

    <li class="export-method-wrapper">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <span class="export-method">PDF</span>
    </li>
  </ul>
</p-overlayPanel>

<!-- POPUP ZONE -->
<aw-family-modification-popup
  *ngIf="showModificationPopup"
  [component-data]="dataModiciation"
  [(display)]="showModificationPopup"
  (onCreate)="addNewModfication($event)"
  (onUpdate)="updateModification($event)"
>
</aw-family-modification-popup>
<aw-family-rating-popup
  *ngIf="showRatingPopup"
  [component-data]="dataRating"
  [(display)]="showRatingPopup"
  (onCreate)="addNewRating($event)"
  (onUpdate)="updateRating($event)"
></aw-family-rating-popup>
