<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="form-group required">
      <label class="form-label">{{ getComponentName() + ".typeCode" | translate }}</label>
      <div class="form-control">
        <input
          type="text"
          class="aw-input"
          [(ngModel)]="eventType.typeCode"
          [disabled]="!isNewEventType"
          maxlength="50"
        />
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".typeCategory" | translate }}</label>
      <div class="form-control">
        <p-dropdown
          class="aw-dropdown fixed-width"
          [options]="typeCategories"
          [(ngModel)]="eventType.typeCategory"
          [showClear]="true"
          placeholder="&nbsp;"
          appendTo="body"
        ></p-dropdown>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".criticality" | translate }}</label>
      <div class="form-control">
        <p-checkbox class="aw-checkbox" binary="true" [(ngModel)]="eventType.criticality"></p-checkbox>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".typeDescription" | translate }}</label>
      <div class="form-control">
        <textarea
          class="aw-textarea"
          pInputTextarea
          [rows]="3"
          [(ngModel)]="eventType.typeDescription"
          maxlength="300"
        ></textarea>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="cancel()">{{ "global.cancel" | translate }}</button>
    <button type="button" mat-raised-button color="primary" (click)="associate()" [disabled]="!enableAssociateButton()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
