<div class="grid-cell-header">
  <div class="grid-cell-title-container">
    <div id="otherMeasuresTableTitle" class="grid-cell-title">
      <span>{{ getComponentName() + ".otherMeasures" | translate }} ({{ table ? table.length : 0 }})</span>
    </div>
  </div>
</div>

<div class="grid-cell-content">
  <p-table
    id="otherMeasuresTable"
    [resizableColumns]="true"
    #ptableOtherMeasure
    class="aw-table2"
    [columns]="tableColList"
    [value]="table"
    [(selection)]="tableSelection"
    selectionMode="single"
    [scrollable]="true"
    (onRowSelect)="onSelectTableRow($event.index)"
    (onRowUnselect)="onUnselectTableRow()"
  >
    <ng-template pTemplate="emptymessage">
      <span *ngIf="!tableLoading"> &nbsp;</span>

      <div *ngIf="tableLoading" class="aw-table-loading-indicator">
        <div class="loading-message">{{ "table.loadingData" | translate }}</div>
        <div class="lds-hourglass"></div>
      </div>
    </ng-template>

    <ng-template pTemplate="caption">
      <div class="aw-table-header">
        <div class="aw-table-global-filter">
          <label class="aw-table-global-filter-label">
            <i class="fa fa-fw fa-search" aria-hidden="true"></i>
          </label>

          <input
            class="aw-table-global-filter-input"
            type="text"
            placeholder="{{ 'table.globalFilterText' | translate }}"
            (input)="ptableOtherMeasure.filterGlobal($event.target.value, 'contains')"
          />
        </div>

        <div class="aw-table-actions">
          <button
            id="deleteOtherMeasures"
            *ngIf="!isReadOpenMode && tableSelection !== undefined && tableSelection !== null"
            type="button"
            mat-raised-button
            color="warn"
            (click)="deleteMeasure()"
          >
            {{ "global.delete" | translate }}
          </button>

          <button
            id="addOtherMeasures"
            *ngIf="!isReadOpenMode && (tableSelection === undefined || tableSelection === null)"
            type="button"
            mat-raised-button
            (click)="addMeasure()"
          >
            {{ "global.add" | translate }}
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
          {{ getComponentName() + "." + col.field | translate }}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
        <td *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<aw-dialog-flight-measure
  *ngIf="dialogMeasureVisible"
  [(display)]="dialogMeasureVisible"
  [measureReferenceList]="remainingMeasureReferenceList"
  (onValidate)="onAddedMeasure($event)"
></aw-dialog-flight-measure>
