<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div *ngIf="!isCreateOpenMode && componentData && componentData.objectId" class="page-subtitle">
          - {{ serializationService.deserialize(componentData.objectId)["pnCode"] }} |
          {{ serializationService.deserialize(componentData.objectId)["sn"] }}
        </div>
      </div>
    </div>
  </div>
  <div class="page-actions">
    <button
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #actions="matMenu">
      <button mat-menu-item (click)="updateFavoriteState()">
        {{ "page." + (isFavoriteEntry ? "removeFromFavorites" : "addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <mat-tab-group animationDuration="0ms" dynamicHeight>
        <mat-tab>
          <ng-template mat-tab-label>
            {{ componentData.componentId + ".historic" | translate }}
          </ng-template>
          <div class="grid-row">
            <div #historicAnchor class="grid-cell--12" (click)="setSelectedAnchor('historicAnchor')">
              <div class="grid-cell grid-cell--container" [ngClass]="{ active: isSelectedAnchor('historicAnchor') }">
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container">
                    <h3 class="grid-cell-title">
                      {{ componentData.componentId + ".historic" | translate }} ({{
                        historicTable1 ? historicTable1.length : 0
                      }})
                    </h3>
                  </div>
                </div>

                <div class="grid-cell-content">
                  <div class="table-wrapper">
                    <p-table
                      [resizableColumns]="true"
                      #ptableHistoric
                      class="aw-table2"
                      [columns]="historicTableCols1"
                      [value]="historicTable1"
                      dataKey="dataId"
                      [scrollable]="true"
                    >
                      <ng-template pTemplate="emptymessage">
                        <span *ngIf="!isLoading"> &nbsp;</span>

                        <div *ngIf="isLoading" class="aw-table-loading-indicator">
                          <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                          <div class="lds-hourglass"></div>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="caption">
                        <div class="aw-table-header">
                          <div class="aw-table-global-filter">
                            <label class="aw-table-global-filter-label">
                              <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                            </label>

                            <input
                              #ptableHistoricGlobalFilter
                              class="aw-table-global-filter-input"
                              type="text"
                              placeholder="{{ 'table.globalFilterText' | translate }}"
                              (input)="ptableHistoric.filterGlobal($event.target.value, 'contains')"
                            />
                          </div>

                          <div class="aw-table-actions"></div>
                          <!-- <div class="aw-table-icon-actions">
                          <i
                            class="fa fa-fw fa-arrows-alt aw-icon aw-icon-with-border"
                            aria-hidden="true"
                            pTooltip="{{ 'global.showTableFullScreen' | translate }}"
                            tooltipPosition="top"
                            (click)="loadHistoricDetailTableData()"
                          ></i>
                        </div> -->
                        </div>
                      </ng-template>

                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col class="aw-table-checkbox-wrapper" />
                          <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                        </colgroup>
                      </ng-template>

                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th></th>

                          <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                            {{ componentData.componentId + "." + col.field | translate }}
                          </th>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                          <td></td>

                          <td
                            *ngFor="let col of columns"
                            [ngSwitch]="col.field"
                            [ngStyle]="{ 'text-align': col.alignment }"
                          >
                            <span *ngSwitchCase="'statusDateField'">
                              {{ rowData["statusDate"] | date: "yyyy/MM/dd HH:mm":"":translateService.currentLang }}
                            </span>
                            <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ********************************************************************** -->
          <!-- Dialog: full screen Historic -->
          <!-- ********************************************************************** -->

          <!-- <a-modal class="aw-table-fullscreen" [(visible)]="displayHistoricFullScreen" [fullScreen]="true">
          <a-header>
            <div class="modal__title-container">
              <div class="modal__title">Historic ({{ historicTable2 ? historicTable2.length : 0 }})</div>
            </div>
  
            <div class="close"><i class="material-icons" (click)="closeHistoricDialog()">close</i></div>
          </a-header>
  
          <a-content>
            <p-table [resizableColumns]="true"
              #ptableHistoricFull
              class="aw-table2"
              [columns]="historicTableCols2"
              [value]="historicTable2"
              [scrollable]="true"
            >
              <ng-template pTemplate="emptymessage">
                <span *ngIf="!isLoading"> &nbsp;</span>
  
                <div *ngIf="isLoading" class="aw-table-loading-indicator">
                  <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                  <div class="lds-hourglass"></div>
                </div>
              </ng-template>
  
              <ng-template pTemplate="caption">
                <div class="aw-table-header">
                  <div class="aw-table-global-filter">
                    <label class="aw-table-global-filter-label">
                      <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                    </label>
  
                    <input
                      #ptableHistoricFullGlobalFilter
                      class="aw-table-global-filter-input"
                      type="text"
                      placeholder="{{ 'table.globalFilterText' | translate }}"
                      (input)="ptableHistoricFull.filterGlobal($event.target.value, 'contains')"
                    />
                  </div>
                </div>
              </ng-template>
  
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="aw-table-checkbox-wrapper" />
                  <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                  <col class="row-expand-wrapper" />
                </colgroup>
              </ng-template>
  
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th></th>
  
                  <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                    {{ componentData.componentId + "." + col.field | translate }}
                  </th>
  
                  <th class="row-expand-wrapper"></th>
                </tr>
              </ng-template>
  
              <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                  <td></td>
                  <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
                    <span *ngSwitchCase="'dateOfChange'">
                      <td>{{ rowData[col.field] | date: "yyyy/MM/dd HH:mm":"":translateService.currentLang }}</td>
                    </span>
                    <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </a-content>
        </a-modal> -->
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            {{ componentData.componentId + ".update" | translate }}
          </ng-template>
          <div class="grid-row">
            <div #updatesAnchor class="grid-cell--12" (click)="setSelectedAnchor('updatesAnchor')">
              <div class="grid-cell grid-cell--container" [ngClass]="{ active: isSelectedAnchor('updatesAnchor') }">
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container">
                    <h3 class="grid-cell-title">
                      {{ componentData.componentId + ".update" | translate }} ({{
                        updateTable ? updateTable.length : 0
                      }})
                    </h3>
                  </div>
                </div>

                <div class="grid-cell-content">
                  <div class="table-wrapper">
                    <p-table
                      [resizableColumns]="true"
                      #ptableUpdate
                      class="aw-table2"
                      [columns]="updateTableCols1"
                      [value]="updateTable"
                      [scrollable]="true"
                      dataKey="rowId"
                    >
                      <ng-template pTemplate="emptymessage">
                        <span *ngIf="!isLoading"> &nbsp;</span>

                        <div *ngIf="isLoading" class="aw-table-loading-indicator">
                          <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                          <div class="lds-hourglass"></div>
                        </div>
                      </ng-template>

                      <ng-template pTemplate="caption">
                        <div class="aw-table-header">
                          <div class="aw-table-global-filter">
                            <label class="aw-table-global-filter-label">
                              <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                            </label>

                            <input
                              #ptableUpdateGlobalFilter
                              class="aw-table-global-filter-input"
                              type="text"
                              placeholder="{{ 'table.globalFilterText' | translate }}"
                              (input)="ptableUpdate.filterGlobal($event.target.value, 'contains')"
                            />
                          </div>
                          <div class="aw-table-actions"></div>
                          <!-- <div class="aw-table-icon-actions">
                            <i
                              class="fa fa-fw fa-arrows-alt aw-icon aw-icon-with-border"
                              aria-hidden="true"
                              pTooltip="{{ 'global.showTableFullScreen' | translate }}"
                              tooltipPosition="top"
                              (click)="displayUpdateFullScreen = true"
                            ></i>
                          </div> -->
                        </div>
                      </ng-template>

                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col class="aw-table-checkbox-wrapper" />
                          <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                          <col class="row-expand-wrapper" />
                          <col class="row-action-wrapper" />
                        </colgroup>
                      </ng-template>

                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th></th>

                          <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                            {{ componentData.componentId + "." + col.field | translate }}
                          </th>
                          <th class="row-expand-wrapper"></th>
                          <th class="row-action-wrapper"></th>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th></th>

                          <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                            {{ componentData.componentId + "." + col.field | translate }}
                          </th>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                          <td></td>

                          <td
                            *ngFor="let col of columns"
                            [ngSwitch]="col.field"
                            [ngStyle]="{ 'text-align': col.alignment }"
                          >
                            <span *ngSwitchCase="'timestamp'">
                              {{ rowData[col.field] | date: "yyyy/MM/dd HH:mm":"":translateService.currentLang }}
                            </span>
                            <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                          </td>
                          <td class="row-expand-wrapper" [pRowToggler]="rowData">
                            <i
                              class="fa fa-fw aw-icon aw-icon-with-border"
                              [ngClass]="rowData._expand ? 'fa-minus' : 'fa-plus'"
                              aria-hidden="true"
                              pTooltip="{{ 'global.showTableRowDetails' | translate }}"
                              tooltipPosition="top"
                              (click)="toggleDefectsExpand(rowData)"
                            ></i>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                        <tr class="row-expanded" *ngIf="rowData._expand">
                          <td [attr.colspan]="columns.length + 2">
                            <aw-asset-log-table-remaining-values
                              [row]="rowData"
                              [remainingTable]="remainingTable"
                              [secondTable]="secondTable"
                              [secondTableCols]="secondTableCols"
                              [remainingTableCols]="remainingTableCols"
                            ></aw-asset-log-table-remaining-values>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ********************************************************************** -->
          <!-- Dialog: full screen Updates-->
          <!-- ********************************************************************** -->
          <!-- 
          <a-modal class="aw-table-fullscreen" [(visible)]="displayUpdateFullScreen" [fullScreen]="true">
            <a-header>
              <div class="modal__title-container">
                <div class="modal__title">Update ({{ updateTable ? updateTable.length : 0 }})</div>
              </div>
    
              <div class="close"><i class="material-icons" (click)="closeUpdateDialog()">close</i></div>
            </a-header>
    
            <a-content>
              <p-table [resizableColumns]="true"
                #ptableUpdateFull
                class="aw-table2"
                [columns]="updateTableCols2"
                [value]="updateTable"
                [scrollable]="true"
              >
                <ng-template pTemplate="emptymessage">
                  <span *ngIf="!isLoading"> &nbsp;</span>
    
                  <div *ngIf="isLoading" class="aw-table-loading-indicator">
                    <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                    <div class="lds-hourglass"></div>
                  </div>
                </ng-template>
    
                <ng-template pTemplate="caption">
                  <div class="aw-table-header">
                    <div class="aw-table-global-filter">
                      <label class="aw-table-global-filter-label">
                        <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                      </label>
    
                      <input
                        #ptableUpdateFullGlobalFilter
                        class="aw-table-global-filter-input"
                        type="text"
                        placeholder="{{ 'table.globalFilterText' | translate }}"
                        (input)="ptableUpdateFull.filterGlobal($event.target.value, 'contains')"
                      />
                    </div>
                  </div>
                </ng-template>
    
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="aw-table-checkbox-wrapper" />
                    <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                    <col class="row-expand-wrapper" />
                  </colgroup>
                </ng-template>
    
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th></th>
    
                    <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                      {{ componentData.componentId + "." + col.field | translate }}
                    </th>
    
                    <th class="row-expand-wrapper"></th>
                  </tr>
                </ng-template>
    
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                    <td></td>
    
                    <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
                      <div *ngSwitchCase="'timestamp'">
                        <span> {{ rowData[col.field] | date: "yyyy/MM/dd HH:mm":"":translateService.currentLang }} </span>
                      </div>
                      <div *ngSwitchDefault>{{ rowData[col.field] }}</div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </a-content>
          </a-modal> -->
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            {{ componentData.componentId + ".reports" | translate }}
          </ng-template>
          <div class="grid-row">
            <div #reportAnchor class="grid-cell--12" (click)="setSelectedAnchor('reportAnchor')">
              <div class="grid-cell grid-cell--container" [ngClass]="{ active: isSelectedAnchor('reportAnchor') }">
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container">
                    <h3 class="grid-cell-title">
                      {{ componentData.componentId + ".reports" | translate }} ({{
                        reportTable ? reportTable.length : 0
                      }})
                    </h3>
                  </div>
                </div>

                <div class="grid-cell-content grid-cell-content-with-section">
                  <p-table
                    [resizableColumns]="true"
                    #ptableReport
                    class="aw-table2"
                    [columns]="reportTableCols"
                    [value]="reportTable"
                    [(selection)]="selectedReports"
                    [scrollable]="true"
                  >
                    <ng-template pTemplate="emptymessage">
                      <span *ngIf="!isLoading"> &nbsp;</span>

                      <div *ngIf="isLoading" class="aw-table-loading-indicator">
                        <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                        <div class="lds-hourglass"></div>
                      </div>
                    </ng-template>

                    <ng-template pTemplate="caption">
                      <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedReports.length > 0 }">
                        <div class="aw-table-global-filter">
                          <label class="aw-table-global-filter-label">
                            <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                          </label>

                          <input
                            #ptableReportGlobalFilter
                            class="aw-table-global-filter-input"
                            type="text"
                            placeholder="{{ 'table.globalFilterText' | translate }}"
                            (input)="ptableReport.filterGlobal($event.target.value, 'contains')"
                          />
                        </div>

                        <div class="aw-table-actions">
                          <button
                            *ngIf="selectedReports.length > 0"
                            type="button"
                            mat-raised-button
                            color="warn"
                            (click)="deleteReports()"
                          >
                            {{ "global.delete" | translate }}
                          </button>
                        </div>
                      </div>
                    </ng-template>

                    <ng-template pTemplate="colgroup" let-columns>
                      <colgroup>
                        <col class="aw-table-checkbox-wrapper" />
                        <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                      </colgroup>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th class="aw-table-checkbox-wrapper">
                          <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                        </th>

                        <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                          {{ componentData.componentId + "." + col.field | translate }}
                        </th>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                        <td class="aw-table-checkbox-wrapper">
                          <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                        </td>

                        <td
                          *ngFor="let col of columns"
                          [ngSwitch]="col.field"
                          [ngStyle]="{ 'text-align': col.alignment }"
                        >
                          <div *ngSwitchCase="'reportName'">
                            <span
                              (click)="openReportDetail(rowData)"
                              style="cursor: pointer; text-decoration: underline; color: blue"
                            >
                              {{ rowData[col.field] }}
                            </span>
                          </div>
                          <div *ngSwitchCase="'statusDate'">
                            <span>
                              {{ rowData[col.field] | date: "yyyy/MM/dd HH:mm":"":translateService.currentLang }}
                            </span>
                          </div>
                          <div *ngSwitchDefault>{{ rowData[col.field] }}</div>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
