@import "constants";
@import "mixins";
@import "modifiers";

:host {
  .critical-value-dark {
    background-color: $critical-value-dark !important;
  }

  .critical-value-light {
    background-color: $critical-value-light !important;
  }

  .calendar-yellow {
    background-color: $calendar-yellow !important;
  }

  .bad-value-dark {
    background-color: $bad-value-dark !important;
  }
}
