@import "constants";

:host {
  .alert {
    display: inline-block;
    max-width: 7rem;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    text-align: center;
    width: 5rem;

    &.alert--ok {
      background-color: $green-light1;
    }

    &.alert--warning {
      background-color: $orange;
    }

    &.alert--nok {
      background-color: $red-light1;
    }

    &.alert--none {
      background-color: $grey1;
    }
  }

  .code {
    display: inline-table;
    width: 100%;
  }

  ::ng-deep .name {
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 20em;
  }

  ::ng-deep .info {
    overflow: hidden;
    padding-bottom: 0.4em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .label-class {
    padding-right: 0.5em;
    display: inline-block;
    width: 5.5em;
  }

  .situation-label-class {
    padding-right: 0.5em;
    display: inline-block;
    width: 5.5em;
  }

  .float-custom {
    float: right;
  }

  .custom-width {
    max-width: fit-content;
  }

  .procurement-alert {
    font-weight: 600;
    text-align: center;
    display: inline-block;
    padding: 4px;
  }

  .procurement--nok {
    background-color: $red-light1;
  }

  .procurement--ok {
    background-color: $green-light1;
  }

  .procurement--warning {
    background-color: $orange;
  }
}
