@import "constants";
@import "mixins";
@import "modifiers";

:host {
  .list-with-details {
    .details,
    .list {
      max-height: 50rem;
    }

    .details {
      flex-grow: 1;

      .item-structure-node-action-list {
        justify-content: flex-end;

        & > button {
          margin-right: $margin-value;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }

      .item-structure-node-image {
        & > img {
          max-width: 100%;
          min-width: 100%;
        }
      }
    }

    .list {
      min-width: 25rem;
    }
  }

  ::ng-deep .chapter {
    display: inline-block;
    color: #01579b;
    font-weight: 600;
  }

  ::ng-deep .info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .illustration {
    text-align: center;
  }

  .img-class {
    max-height: 6rem;
    cursor: pointer;
  }

  .loader {
    position: absolute;
    right: 2em;
    z-index: 1000;
    top: 1.5em;
  }

  .padding-class {
    padding-left: 0.5em;
  }

  .custom-span {
    color: #01579b;
  }

  .custom-field-padding {
    padding-top: 0.6em !important;
  }

  .text-align-center {
    text-align: center;
  }

  .alert {
    display: inline-block;
    max-width: 7rem;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    text-align: center;
    width: 5rem;
    margin-left: 0.6em;

    &.alert--ok {
      background-color: $green-light1;
    }

    &.alert--warning {
      background-color: $orange;
    }

    &.alert--nok {
      background-color: $red-light1;
    }
  }

  .custom-span {
    color: #01579b;
  }

  .code {
    display: inline-table;
  }

  .top {
    margin-bottom: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  ::ng-deep .name {
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 12em;
  }

  ::ng-deep .custom-checkbox {
    margin-top: 0 !important;
    cursor: pointer;
  }

  .cursor-class {
    cursor: pointer !important;
  }

  .action-buttons {
    display: flex;
    float: right;
  }

  .custom-row {
    display: flex;
    padding-bottom: 1em;
  }

  .expanded-img-class {
    max-width: 100em;
    max-height: 50em;
  }

  .custom-padding {
    margin-right: 1em !important;
  }

  .progress-bar-width {
    margin-left: auto;
    margin-right: auto;
  }

  .show-more-margin {
    margin-left: 1em !important;
  }

  // Breadcrumb
  #breadcrumbs-status {
    overflow: hidden;
    display: flex;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .breadcrumbs {
    display: flex;
    flex-grow: 1;
  }

  .bread-crumb-custom-cell {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    padding-bottom: 0 !important;
  }

  #breadcrumbs-status li {
    float: left;
    margin: 0 1em 0 1em;
  }

  #breadcrumbs-status .current {
    float: left;
    margin: 0 1em 0 1em;
  }

  #breadcrumbs-status .statusLabel {
    background: #ffffff;
    padding: 0.3em 1em;
    float: left;
    text-decoration: none;
    color: $primary-text-color;
    position: relative;
    white-space: nowrap;
    min-height: 3em;
  }

  #breadcrumbs-status .current .statusLabel {
    background: $accent-color;
  }

  #breadcrumbs-status .statusLabel::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #ffffff #ffffff #ffffff transparent;
    left: -1em;
  }

  #breadcrumbs-status .current .statusLabel::before {
    border-color: $accent-color $accent-color $accent-color transparent;
  }

  #breadcrumbs-status .statusLabel::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #ffffff;
    right: -1em;
  }

  #breadcrumbs-status .current .statusLabel::after {
    border-left-color: $accent-color;
  }

  #breadcrumbs-status .current .statusLabel {
    color: white;
    font-weight: bold;
  }

  #breadcrumbs-status .current::after,
  #breadcrumbs-status .current::before {
    content: normal;
  }

  ::ng-deep .added .ui-state-active {
    border-color: $green-light1 !important;
    background: $green-light1 !important;
  }

  ::ng-deep .removed .ui-chkbox-box:not(.ui-state-disabled) {
    border-color: $red-light1 !important;
  }

  ::ng-deep .custom-filter-class {
    flex-grow: 0 !important;
    padding-right: 2% !important;
  }

  .custom-font {
    font-weight: bold;
  }

  .version-draft {
    color: $primary-text-color !important;
    background: $orange !important;
  }

  .version-approved {
    color: $primary-text-color !important;
    background: $green-light1 !important;
  }

  .version {
    margin: auto;
    width: 65%;
    font-size: x-small;
  }

  .version-content {
    padding: 0.2em 0 0.2em 0;
  }

  .btn-custom {
    margin-left: auto;
    margin-right: 0;
  }

  .btn-custom button,
  .btn-custom a {
    color: $primary-background-color !important;
  }

  .btn-custom .btn-upgrade {
    background-color: $orange !important;
  }

  .btn-custom .btn-approve {
    background-color: $green-light1 !important;
  }
}
