<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div class="page-subtitle">- {{ bsdeProjectDTO.projectNumber }}</div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="manageConfiguration()">
      {{ getComponentName() + ".manageConfiguration" | translate }}
    </button>

    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="manageRemovalCauses()">
      {{ getComponentName() + ".manageRemovalCauses" | translate }}
    </button>

    <p-splitButton
      *ngIf="!isReadOpenMode"
      class="aw-split-btn custom-padding"
      label="{{ getComponentName() + '.loadWorkscope' | translate }}"
      [model]="loadWorkscopeList"
    ></p-splitButton>

    <button *ngIf="isReadOpenMode" type="button" mat-raised-button (click)="edit()">
      {{ "global.edit" | translate }}
    </button>

    <button
      *ngIf="!isReadOpenMode"
      class="btn-with-spinner"
      color="primary"
      type="button"
      mat-raised-button
      (click)="save()"
    >
      <span class="lds-hourglass" *ngIf="showSaveSpinner"></span>
      {{ "global.save" | translate }}
    </button>
    <button
      id="actions"
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #actions="matMenu">
      <!-- ENABLE THE BUTTON WHEN SERVICE READY -->
      <!-- <button id="favorites" mat-menu-item (click)="saveAndExport()">
        {{ getComponentName() + ".exportInventory" | translate }}
      </button> -->
      <button mat-menu-item (click)="refresh()">{{ "global.refresh" | translate }}</button>
      <button id="favorites" mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--8">
          <div class="grid-cell grid-cell--container grid-cell-scope">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container  loading-indicator">
                <h3 class="grid-cell-title">
                  {{ getComponentName() + ".componentCockpit" | translate }}
                  <div *ngIf="panelLoading" class="lds-hourglass"></div>
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <div class="row">
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".familyVariant" | translate }}</label>
                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        placeholder="&nbsp;"
                        [showClear]="true"
                        [disabled]="true"
                        [options]="familyVariants"
                        [(ngModel)]="bidoEquipmentDTO.familyVariantCode"
                      >
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".pn" | translate }}</label>
                    <div class="form-control">
                      <div class="form-control-generic">
                        <span class="custom-span cursor-class" (click)="openPartNumberLink()">
                          {{ bsdeProjectDTO.projectPn }}</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".sn" | translate }}</label>
                    <div class="form-control">
                      <div class="form-control-generic">
                        <span class="custom-span cursor-class" (click)="openSNLink()">
                          {{ bsdeProjectDTO.projectSn }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".designation" | translate }}</label>
                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [disabled]="true"
                        [(ngModel)]="bidoEquipmentDTO.equipmentDesignation"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".mroCenter" | translate }}</label>
                    <div class="form-control">
                      <input type="text" class="aw-input" [disabled]="true" [(ngModel)]="mroCenter" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".customer" | translate }}</label>
                    <div class="form-control">
                      <input type="text" class="aw-input" [disabled]="true" [(ngModel)]="bsdeProjectDTO.customerCode" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".startDate" | translate }}</label>
                    <div class="form-control">
                      <p-calendar
                        showButtonBar="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [yearRange]="sessionService.calendarYearRange"
                        class="aw-calendar"
                        [dateFormat]="sessionService.dateFormatPrimeNG"
                        [locale]="sessionService.calendarFormat"
                        [(ngModel)]="bsdeProjectDTO.projectStartDate"
                        [disabled]="true"
                      ></p-calendar>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".endDate" | translate }}</label>
                    <div class="form-control">
                      <p-calendar
                        showButtonBar="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [yearRange]="sessionService.calendarYearRange"
                        class="aw-calendar"
                        [dateFormat]="sessionService.dateFormatPrimeNG"
                        [locale]="sessionService.calendarFormat"
                        [(ngModel)]="bsdeProjectDTO.projectEndDate"
                        [disabled]="true"
                      ></p-calendar>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-cell--4">
          <div class="grid-cell grid-cell--container grid-cell-scope">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container  loading-indicator">
                <h3 class="grid-cell-title">
                  {{ getComponentName() + ".workscopeInformation" | translate }}
                  <div *ngIf="panelLoading" class="lds-hourglass"></div>
                </h3>
                <div class="btn-custom">
                  <button
                    *ngIf="isApprove && !isReadOpenMode && !isCreateOpenMode"
                    type="button"
                    class="btn-upgrade"
                    mat-raised-button
                    (click)="upgrade()"
                  >
                    {{ getComponentName() + ".upgrade" | translate }}
                  </button>

                  <button
                    *ngIf="!isApprove && !isReadOpenMode && !isCreateOpenMode"
                    type="button"
                    class="btn-approve"
                    mat-raised-button
                    (click)="approve()"
                  >
                    {{ getComponentName() + ".btnApprove" | translate }}
                  </button>
                </div>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <div class="row">
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".version" | translate }}</label>
                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [disabled]="true"
                        [(ngModel)]="workscopeInformationObject.versionNumber"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".status" | translate }}</label>
                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [disabled]="true"
                        [(ngModel)]="workscopeInformationObject.status"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".lastUpdate" | translate }}</label>
                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [disabled]="true"
                        [(ngModel)]="workscopeInformationObject.lastUpdate"
                        title="{{ workscopeInformationObject.lastUpdate }}"
                      />
                      <span *ngIf="!!workscopeInformationObject.lastUpdateDate">
                        ({{ workscopeInformationObject.lastUpdateDate | date: "yyyy/MM/dd" }})
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".approvedItems" | translate }}</label>
                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [disabled]="true"
                        [(ngModel)]="workscopeInformationObject.approveItem"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".draftItems" | translate }}</label>
                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [disabled]="true"
                        [(ngModel)]="workscopeInformationObject.draftItem"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".removedItems" | translate }}</label>
                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [disabled]="true"
                        [(ngModel)]="workscopeInformationObject.removeItem"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TREE TABLE ITEM STRUCTURE-->
      <div class="grid-row">
        <div [ngClass]="{ 'grid-cell--12': showChanges }">
          <div
            [ngClass]="{
              'grid-cell grid-cell--container grid-cell-scope  grid-cell-item-structure current-changes': showChanges
            }"
          >
            <div class="grid-cell-content">
              <div class="grid-row">
                <div [ngClass]="{ 'grid-cell--6': isLineSelected, 'grid-cell--12': !isLineSelected }">
                  <div class="grid-cell grid-cell--container grid-cell-scope  grid-cell-item-structure">
                    <div class="grid-cell-header">
                      <div class="grid-cell-title-container  loading-indicator">
                        <h3 class="grid-cell-title">
                          {{ getComponentName() + ".workscopeDetail" | translate }}
                        </h3>
                      </div>
                    </div>

                    <div class="grid-cell-content">
                      <p-treeTable
                        #ptreetableStructure
                        class="aw-tree-table2"
                        [columns]="workscopeTableCols"
                        [value]="workscopeStructure"
                        selectionMode="single"
                        [(selection)]="selectedWorkscope"
                        [scrollable]="true"
                        [resizableColumns]="true"
                        (onNodeSelect)="onRowSelected($event.node)"
                        (onNodeUnselect)="onRowUnSelected($event.node)"
                        (onNodeExpand)="onNodeExpand($event.node)"
                        dataKey="item"
                      >
                        <ng-template pTemplate="emptymessage">
                          <span *ngIf="!tableLoading"> &nbsp;</span>

                          <div *ngIf="tableLoading" class="aw-table-loading-indicator">
                            <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                            <div class="lds-hourglass"></div>
                          </div>
                        </ng-template>

                        <ng-template pTemplate="caption">
                          <div class="aw-table-header">
                            <div class="aw-table-global-filter custom-filter-class">
                              <label class="aw-table-global-filter-label">
                                <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                              </label>

                              <input
                                #ptreetableStructureGlobalFilter
                                class="aw-table-global-filter-input"
                                type="text"
                                placeholder="{{ 'table.globalFilterText' | translate }}"
                                [(ngModel)]="searchGlobalFilter"
                                (ngModelChange)="filterTextWithCriteria()"
                              />
                            </div>
                            <div>
                              <p-selectButton
                                *ngIf="!isReadOpenMode"
                                [(ngModel)]="selectedChangeFilter"
                                [options]="changeFilterList"
                                (onChange)="changeFilter()"
                              ></p-selectButton>
                            </div>
                            <div class="aw-table-actions">
                              <button
                                type="button"
                                *ngIf="
                                  !isReadOpenMode &&
                                  !!workscopeTreeData &&
                                  workscopeTreeData.length > 0 &&
                                  showFilterButtons &&
                                  workscopeInformationObject.status === draft
                                "
                                mat-raised-button
                                (click)="addRemoveAllToWorkscope(true)"
                              >
                                {{ getComponentName() + ".addAllToWorkscope" | translate }}
                              </button>

                              <button
                                type="button"
                                *ngIf="
                                  !isReadOpenMode &&
                                  !!workscopeTreeData &&
                                  workscopeTreeData.length > 0 &&
                                  showFilterButtons &&
                                  workscopeInformationObject.status === draft
                                "
                                mat-raised-button
                                (click)="addRemoveAllToWorkscope(false)"
                              >
                                {{ getComponentName() + ".removeAllFromWorkscope" | translate }}
                              </button>
                            </div>
                            <div class="aw-table-icon-actions">
                              <i
                                *ngIf="!!workscopeTreeData && workscopeTreeData.length > 0"
                                class="fa fa-fw fa-filter aw-icon aw-icon-with-border aw-icon-with-overlay"
                                aria-hidden="true"
                                [ngClass]="{ active: filtersVisible }"
                                (click)="opFilters.toggle($event); openFilters()"
                              ></i>
                            </div>
                          </div>
                        </ng-template>

                        <ng-template pTemplate="colgroup" let-columns>
                          <colgroup>
                            <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                          </colgroup>
                        </ng-template>

                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th
                              ttResizableColumn
                              *ngFor="let col of columns"
                              [ngStyle]="{ 'text-align': col.alignment }"
                            >
                              <span *ngIf="col.field !== 'action'">
                                {{ getComponentName() + "." + col.field | translate }}
                              </span>
                            </th>
                          </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                          <tr [ttSelectableRow]="rowNode">
                            <td
                              style="overflow: hidden; text-overflow: ellipsis;"
                              *ngFor="let col of columns; let i = index"
                              [ngSwitch]="col.field"
                              [ngStyle]="{ 'text-align': col.alignment }"
                            >
                              <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>

                              <span *ngSwitchCase="'item'">
                                <div class="code">
                                  <div class="chapter">
                                    {{ rowData.item }}
                                  </div>
                                  <div class="name" title="{{ rowData.name }}">{{ rowData.name }}</div>
                                </div>
                              </span>

                              <span *ngSwitchCase="'itemFamily'">
                                <div>
                                  <span class="custom-font">{{ rowData["itemFamilyCode"] }}</span>
                                </div>
                                <div class="name" *ngIf="rowData['serializedPart']">
                                  {{ getComponentName() + ".serialized" | translate }}
                                </div>
                                <div class="name" *ngIf="!rowData['serializedPart']">
                                  {{ getComponentName() + ".notSerialized" | translate }}
                                </div>
                              </span>

                              <span *ngSwitchCase="'impacts'">
                                <div>
                                  <span class="custom-font">{{ rowData.cause }}</span>
                                </div>
                                <div>
                                  {{ rowData.impact }}
                                </div>
                                <div>
                                  {{ rowData.removalCause }}
                                </div>
                              </span>
                              <span *ngSwitchCase="'relatedVersion'">
                                <div
                                  *ngIf="rowData.isWorkscope"
                                  class="version"
                                  [ngClass]="{
                                    'version-draft': rowData.isWorkscope && rowData.workscopeVersionStatus === 0,
                                    'version-approved': rowData.isWorkscope && rowData.workscopeVersionStatus === 1
                                  }"
                                >
                                  <div class="version-content">
                                    <span>{{ rowData.workscopeVersionNumber }}</span>
                                  </div>
                                  <div class="version-content">
                                    <span *ngIf="rowData.workscopeVersionStatus === 0">
                                      {{ getComponentName() + ".draft" | translate }}
                                    </span>
                                    <span *ngIf="rowData.workscopeVersionStatus === 1">
                                      {{ getComponentName() + ".approve" | translate }}
                                    </span>
                                  </div>
                                </div>
                              </span>
                              <span *ngSwitchCase="'quantity'">
                                <div>
                                  {{ getComponentName() + ".expected" | translate }}:
                                  <b class="padding-class chapter">{{ getExpectedQuantity(rowData) }}</b>
                                </div>
                                <div>
                                  {{ getComponentName() + ".real" | translate }}:
                                  <b class="padding-class chapter">{{ getRealQuantity(rowData) }}</b>
                                </div>
                              </span>
                              <span *ngSwitchCase="'inventories'">
                                <div *ngIf="rowData.inventoriesList && rowData.inventoriesList.length > 0">
                                  <span *ngIf="rowData['serializedPart']">
                                    <span *ngIf="!!getRealQuantity(rowData) && getRealQuantity(rowData) === '1'">
                                      <div>
                                        {{ getComponentName() + ".pn" | translate }}:
                                        <b class="padding-class chapter">{{ rowData.inventoriesList[0].pn }}</b>
                                      </div>
                                      <div>
                                        {{ getComponentName() + ".sn" | translate }}:
                                        <b class="padding-class chapter">{{ rowData.inventoriesList[0].sn }}</b>
                                      </div>
                                    </span>
                                    <span
                                      *ngIf="
                                        !!getRealQuantity(rowData) &&
                                        getRealQuantity(rowData) !== '1' &&
                                        getRealQuantity(rowData) !== '0'
                                      "
                                    >
                                      {{ rowData.inventoriesList.length }}
                                      {{ getComponentName() + ".inventories" | translate }}
                                    </span>
                                  </span>
                                  <span *ngIf="!rowData['serializedPart']">
                                    <span *ngIf="rowData.inventoriesList.length === 1">
                                      <div>
                                        {{ getComponentName() + ".pn" | translate }}:
                                        <b class="padding-class chapter">{{ rowData.inventoriesList[0].pn }}</b>
                                      </div>
                                      <div *ngIf="!!rowData.inventoriesList[0].trackingNumber">
                                        {{ getComponentName() + ".tn" | translate }}:
                                        <b class="padding-class chapter">{{
                                          rowData.inventoriesList[0].trackingNumber
                                        }}</b>
                                      </div>
                                    </span>
                                    <span *ngIf="rowData.inventoriesList.length > 1"
                                      >{{ rowData.inventoriesList.length }}
                                      {{ getComponentName() + ".inventories" | translate }}</span
                                    >
                                  </span>
                                </div>
                              </span>
                              <span *ngSwitchCase="'workOrder'">
                                <div *ngIf="rowData.inventoriesList && rowData.inventoriesList.length > 0">
                                  <div *ngIf="!!rowData.inventoriesList[0].workScopingOrder">
                                    <b class="chapter">{{ rowData.inventoriesList[0].workScopingOrder }}</b>
                                    <p-progressBar [value]="rowData.inventoriesList[0].currentOpeProgress">
                                    </p-progressBar>
                                  </div>
                                </div>
                              </span>
                              <span *ngSwitchCase="'workscope'">
                                <p-checkbox
                                  class="aw-checkbox custom-checkbox"
                                  [styleClass]="getColorStyle(rowData)"
                                  binary="true"
                                  [disabled]="isReadOpenMode || workscopeInformationObject.status === approved"
                                  [(ngModel)]="rowData.isWorkscope"
                                  (onChange)="inventoryModified(rowData, rowNode)"
                                ></p-checkbox>
                              </span>

                              <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                            </td>
                          </tr>
                        </ng-template>
                      </p-treeTable>
                    </div>
                  </div>
                </div>
                <div *ngIf="isLineSelected" class="grid-cell--6">
                  <div class="grid-cell grid-cell--container grid-cell-scope  grid-cell-item-structure">
                    <div class="grid-cell-header">
                      <div class="grid-cell-title-container  loading-indicator">
                        <h3 class="grid-cell-title">
                          {{ getComponentName() + ".inventories" | translate }} of {{ selectedWorkscope.item }}
                        </h3>
                      </div>
                    </div>
                    <div class="grid-cell-content grid-cell-content-with-section">
                      <div class="section">
                        <div class="section-content">
                          <div class="grid-cell--12">
                            <div class="grid-row">
                              <p-table
                                [resizableColumns]="true"
                                #ptableFilterElement
                                class="aw-table2"
                                [columns]="technicalQuotationCols"
                                [value]="selectedWorkscope.inventoriesList"
                                [scrollable]="true"
                                dataKey="rowIndex"
                                [(selection)]="selectedInventories"
                              >
                                <ng-template pTemplate="emptymessage">
                                  <span *ngIf="!isfilterTable"> &nbsp;</span>

                                  <div *ngIf="isfilterTable" class="aw-table-loading-indicator">
                                    <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                                    <div class="lds-hourglass"></div>
                                  </div>
                                </ng-template>
                                <ng-template pTemplate="caption">
                                  <div class="aw-table-header">
                                    <div class="aw-table-actions">
                                      <button
                                        *ngIf="
                                          !isReadOpenMode &&
                                          !!selectedWorkscope &&
                                          selectedInventories &&
                                          selectedInventories.length === 0
                                        "
                                        type="button"
                                        mat-raised-button
                                        (click)="addInventory()"
                                      >
                                        {{ getComponentName() + ".addInventory" | translate }}
                                      </button>

                                      <button
                                        *ngIf="
                                          !isReadOpenMode &&
                                          !!selectedWorkscope &&
                                          selectedInventories &&
                                          selectedInventories.length > 0
                                        "
                                        type="button"
                                        mat-raised-button
                                        (click)="editInventory()"
                                      >
                                        {{ getComponentName() + ".editInventory" | translate }}
                                      </button>
                                    </div>
                                  </div>
                                </ng-template>

                                <ng-template pTemplate="colgroup" let-columns>
                                  <colgroup>
                                    <col class="aw-table-checkbox-wrapper" />
                                    <col
                                      *ngFor="let col of columns"
                                      [ngStyle]="{ width: col.width, display: col.display }"
                                    />
                                  </colgroup>
                                </ng-template>

                                <ng-template pTemplate="header" let-columns>
                                  <tr>
                                    <th class="aw-table-checkbox-wrapper">
                                      <p-tableHeaderCheckbox
                                        class="aw-table-checkbox"
                                        [disabled]="isReadOpenMode"
                                      ></p-tableHeaderCheckbox>
                                    </th>

                                    <th
                                      pResizableColumn
                                      *ngFor="let col of columns"
                                      [ngStyle]="{ 'text-align': col.alignment, display: col.display }"
                                    >
                                      {{ getComponentName() + "." + col.field | translate }}
                                    </th>
                                  </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                                  <tr>
                                    <td class="aw-table-checkbox-wrapper">
                                      <p-tableCheckbox
                                        class="aw-table-checkbox"
                                        [disabled]="isReadOpenMode"
                                        [value]="rowData"
                                      ></p-tableCheckbox>
                                    </td>

                                    <td
                                      *ngFor="let col of columns"
                                      [ngSwitch]="col.field"
                                      [ngStyle]="{ 'text-align': col.alignment, display: col.display }"
                                    >
                                      <span *ngSwitchCase="'equipment'">
                                        <div class="code">
                                          <div (click)="openPartNumberLink(rowData['pn'])" *ngIf="!!rowData['pn']">
                                            {{ getComponentName() + ".pn" | translate }}:
                                            <span class="custom-span custom-font-style cursor-class padding-class">{{
                                              rowData["pn"]
                                            }}</span>
                                          </div>
                                        </div>
                                        <div class="designation">
                                          <div class="name" *ngIf="selectedWorkscope.serializedPart">
                                            <span>{{ getComponentName() + ".sn" | translate }}:</span>
                                            <span class="custom-span custom-font-style padding-class">{{
                                              rowData["sn"]
                                            }}</span>
                                          </div>
                                          <div *ngIf="!selectedWorkscope.serializedPart">
                                            <span>{{ getComponentName() + ".tn" | translate }}:</span>
                                            <span class="custom-span custom-font-style padding-class">{{
                                              rowData["tn"]
                                            }}</span>
                                          </div>
                                        </div>
                                      </span>

                                      <span *ngSwitchCase="'sentenceValue'" class="custom-font-style">
                                        <div *ngIf="!!rowData['sentenceValue']">
                                          S : {{ getSentenceValue(rowData["sentenceValue"]) }}
                                        </div>
                                        <div *ngIf="!!rowData['decisionValue']">
                                          D : {{ getDecisionValue(rowData["decisionValue"]) }}
                                        </div>
                                      </span>

                                      <span *ngSwitchCase="'targetPn'">
                                        <span
                                          class="custom-span custom-font-style cursor-class"
                                          (click)="openPartNumberLink(rowData['targetPn'])"
                                          >{{ rowData["targetPn"] }}</span
                                        >
                                      </span>

                                      <!-- CONTROL -->
                                      <span *ngSwitchCase="'sentenceValue'" class="custom-font-style">
                                        <div *ngIf="!!rowData['sentenceValue']">
                                          S : {{ getSentenceValue(rowData["sentenceValue"], true) }}
                                        </div>
                                        <div *ngIf="!!rowData['decisionValue']">
                                          D : {{ getDecisionValue(rowData["decisionValue"], true) }}
                                        </div>
                                      </span>

                                      <span *ngSwitchCase="'control'">
                                        <div [style.textAlign]="col.alignment">
                                          <span
                                            *ngIf="
                                              rowData['targetResultMatchingIcon'] === controlConfigConstants.ICON_RED
                                            "
                                            class="alert alert--nok"
                                            title="{{ rowData['targetResultMatchingAlt'] }}"
                                          >
                                            {{ getComponentName() + ".alertNok" | translate }}
                                          </span>
                                          <span
                                            *ngIf="
                                              rowData['targetResultMatchingIcon'] === controlConfigConstants.ICON_GREEN
                                            "
                                            class="alert alert--ok"
                                            title="{{ rowData['targetResultMatchingAlt'] }}"
                                          >
                                            {{ getComponentName() + ".alertOk" | translate }}
                                          </span>
                                        </div>
                                      </span>

                                      <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                                    </td>
                                  </tr>
                                </ng-template>
                              </p-table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Filter -->
    <p-overlayPanel
      #opFilters
      [appendTo]="'body'"
      class="aw-overlay"
      (onShow)="filtersVisible = true; showFilterOverlay = true"
      (onHide)="filtersVisible = false; showFilterOverlay = false"
    >
      <aw-workscope-table-filters
        *ngIf="showFilterOverlay && !!workscopeTreeData && workscopeTreeData.length > 0"
        [workscopeTreeData]="workscopeTreeData"
        [(searchCriteria)]="searchCriteria"
        [familyCodeMap]="familyCodeMap"
        (onFilter)="opFilters.hide(); filtersVisible = false; filterWithCriteria()"
        (onReset)="resetTableFilters()"
      ></aw-workscope-table-filters>
    </p-overlayPanel>
  </div>

  <aw-load-workscope-popup
    *ngIf="showLoadWorkscopePopup"
    [(display)]="showLoadWorkscopePopup"
    (onEquipmentLoad)="loadEquipment()"
  ></aw-load-workscope-popup>

  <aw-workscope-import-popup
    *ngIf="showWorkscopeImportPopup"
    [(display)]="showWorkscopeImportPopup"
    (refresh)="refreshOnImport($event)"
  ></aw-workscope-import-popup>
</div>
