<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ "updates" | translate }} ({{ tableRows ? tableRows.length : 0 }})</div>
  </a-header>

  <a-content>
    <div class="search-dialog-container">
      <div class="section search-critetia-section">
        <h4 class="section-title">{{ componentId + ".status" | translate }}</h4>

        <div class="section-content">
          <div class="column">
            <div class="row">
              <div class="form-group">
                <label class="form-label"> {{ componentId + ".statusState" | translate }} </label>
                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [showClear]="true"
                    [disabled]="!isStatusEditable"
                    [options]="statusList"
                    [(ngModel)]="object.statusState"
                    placeholder="&nbsp;"
                    appendTo="body"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label">{{ componentId + ".statusUser" | translate }}</label>
                <div class="form-control">
                  <input
                    type="text"
                    name="statusUser"
                    class="aw-input"
                    [(ngModel)]="object.statusUser"
                    [disabled]="true"
                  />
                </div>
              </div>

              <div class="form-group">
                <label class="form-label">{{ componentId + ".statusDate" | translate }}</label>
                <div class="form-control">
                  <input
                    type="datetime"
                    name="statusDate"
                    class="aw-input"
                    [disabled]="true"
                    value="{{ dateService.dateWitCustomFormatToString(object.statusDate, DATE_WITH_HOUR) }}"
                  />
                </div>
              </div>
            </div>

            <div *ngIf="isStatusEditable" class="row search-criteria-footer">
              <div class="search-actions">
                <button type="button" mat-raised-button (click)="updateObjectStatus()">
                  <span>{{ "global.update" | translate }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="section-content">
          <p-table
            [resizableColumns]="true"
            #table
            class="aw-table2"
            [columns]="tableData.tableCols"
            [value]="tableRows"
            [(selection)]="selectedRows"
            [scrollable]="true"
          >
            <ng-template pTemplate="emptymessage">
              <span *ngIf="!isLoading"> &nbsp;</span>

              <div *ngIf="isLoading" class="aw-table-loading-indicator">
                <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                <div class="lds-hourglass"></div>
              </div>
            </ng-template>

            <ng-template pTemplate="caption">
              <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedRows.length > 0 }">
                <div class="aw-table-global-filter">
                  <label class="aw-table-global-filter-label">
                    <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                  </label>

                  <input
                    #tableGlobalFilter
                    class="aw-table-global-filter-input"
                    type="text"
                    placeholder="{{ 'table.globalFilterText' | translate }}"
                    (input)="table.filterGlobal($event.target.value, 'contains')"
                  />
                </div>

                <div *ngIf="selectedRows.length > 0" class="aw-table-actions">
                  <button
                    *ngIf="isStatusEditable"
                    type="button"
                    mat-raised-button
                    [ngClass]="{ inactive: selectedRows.length === 0 }"
                    (click)="deleteSelectedObjects()"
                    [disabled]="selectedRows.length === 0"
                    pTooltip="{{ 'global.delete' | translate }}"
                    tooltipPosition="top"
                  >
                    {{ "global.delete" | translate }}
                  </button>
                </div>
              </div>
            </ng-template>

            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngIf="isStatusEditable" class="aw-table-checkbox-wrapper" />
                <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
              </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngIf="isStatusEditable" class="aw-table-checkbox-wrapper">
                  <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                </th>

                <th
                  pResizableColumn
                  *ngFor="let col of columns"
                  [pSortableColumn]="col.field"
                  [ngStyle]="{ 'text-align': col.alignment }"
                >
                  {{ tableData.componentId + "." + col.field | translate }}
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                <td *ngIf="isStatusEditable" class="aw-table-checkbox-wrapper">
                  <p-tableCheckbox class="aw-checkbox" [value]="rowData"></p-tableCheckbox>
                </td>

                <td *ngFor="let col of columns" [ngSwitch]="col.filterMode" [ngStyle]="{ 'text-align': col.alignment }">
                  <span *ngSwitchCase="tableColumnFilterMode.Tricheckbox">
                    <span *ngIf="rowData[col.field]"> <i class="fa fa-check" aria-hidden="true"></i> </span>
                  </span>

                  <span *ngSwitchDefault>
                    <span *ngIf="!col.isDate && !col.isDateWithHour">
                      {{
                        columnsWithKey.includes(col.field) && keyValueMap[rowData[col.field]]
                          ? keyValueMap[rowData[col.field]]
                          : rowData[col.field]
                      }}
                    </span>
                    <span *ngIf="col.isDate && col.field === 'timestamp'">
                      {{ dateService.dateWitCustomFormatToString(rowData[col.field], DATE_WITH_HOUR) }}
                    </span>
                    <span *ngIf="col.isDate && col.field !== 'timestamp'">
                      {{ dateService.dateToString(rowData[col.field]) }}
                    </span>
                    <span *ngIf="col.isDateWithHour">
                      {{ dateService.dateWitCustomFormatToString(rowData[col.field], DATE_WITH_HOUR) }}
                    </span>
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">
      {{ "global.close" | translate }}
    </button>
  </a-footer>
</a-modal>
