@import "constants";
@import "mixins";

::ng-deep {
  .aw-table2.table-target-pn .ui-table-scrollable-body {
    max-height: 14rem !important;
  }

  .aw-table2.table-evolution .ui-table-scrollable-body {
    max-height: 14rem !important;
  }
}

:host {
  .configuration-generation {
    .action-list-wrapper {
      @include flex-column();

      align-items: center;
      margin-top: calc(#{$margin-value} * 5);
      width: 12.5%;

      .action-list {
        & > button {
          margin: $margin-value auto 0 auto;

          &:first-of-type {
            margin-top: 0;
          }
        }
      }
    }

    .table-target-pn {
      margin-top: 20px;
    }

    .table-evolution {
      margin-bottom: 20px;
    }
  }

  .parts-progression {
    .grid-cell-content {
      max-width: 100%;
      overflow-x: auto;
    }
  }
}

::ng-deep body .pn-link-schema .ui-tree {
  border: none;
}

::ng-deep body .pn-link-schema .ui-tree.ui-tree-horizontal .ui-treenode .ui-treenode-content {
  cursor: default;
  padding: calc(#{$margin-value} / 2) calc(#{$margin-value} / 2) calc(#{$margin-value} / 2) 18px;
  position: relative;
}

::ng-deep
  body
  .pn-link-schema
  .ui-tree.ui-tree-horizontal
  .ui-treenode
  .ui-treenode-content.ui-treenode-selectable:not(.ui-state-highlight):hover {
  background-color: $primary-background-color;
  cursor: default;
}

::ng-deep body .pn-link-schema .ui-tree.ui-tree-horizontal .ui-treenode .ui-treenode-content .ui-tree-toggler {
  left: 0;
  max-height: 1.125rem;
  min-height: 1.125rem;
  position: absolute;
  top: calc((50% - 1.125rem / 2) + 1px);
}

::ng-deep .pn-link-schema .pn-node {
  @include flex-column();

  max-width: 10rem;
  min-width: 10rem;
}

::ng-deep .pn-link-schema .pn-node > * {
  border: $border-width $border-style $primary-background-color;
  padding: 1px 0;
}

::ng-deep .pn-link-schema .pn-node > *:last-child {
  margin-bottom: 0;
}

::ng-deep .pn-link-schema .pn-node > .evolution,
::ng-deep .pn-link-schema .pn-node > .pn {
  cursor: pointer;

  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

::ng-deep .pn-link-schema .pn-node > .evolution:hover,
::ng-deep .pn-link-schema .pn-node > .pn:hover {
  background-color: $primary-background-color;
  border-color: $accent-color;
}

::ng-deep .pn-link-schema .pn-node > .evolution {
  margin-top: $margin-value;
}

::ng-deep .pn-link-schema .pn-node > .evolution.selected {
  background-color: lighten($accent-color, 15%);
  color: $primary-text-color;
}

::ng-deep .pn-link-schema .pn-node > .evolution.selected:hover {
  background-color: $primary-background-color;
  border-color: lighten($accent-color, 15%);
}

::ng-deep .pn-link-schema .pn-node > .pn {
  font-weight: 600;
}

::ng-deep .pn-link-schema .pn-node > .pn.selected {
  background-color: lighten($accent-color, 35%);
  color: $primary-text-color;
}

::ng-deep .pn-link-schema .pn-node > .pn.selected:hover {
  background-color: $primary-background-color;
  border-color: lighten($accent-color, 35%);
}
