<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div *ngIf="!isCreateOpenMode && componentData && componentData.objectId" class="page-subtitle">
          <span class="page-subtitle">
            - {{ serializationService.deserialize(componentData.objectId)["fleetCode"] }}
          </span>

          <span class="page-subtitle" *ngIf="serializationService.deserialize(componentData.objectId)['fleetName']">
            - {{ serializationService.deserialize(componentData.objectId)["fleetName"] }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button
      id="actions"
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #actions="matMenu">
      <button type="button" mat-menu-item (click)="onReload()">
        {{ "global.refresh" | translate }}
      </button>

      <button id="favorites" mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container" style="max-width: 100%">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--6">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ componentData.componentId + ".date" | translate }}</h3>
              </div>
            </div>
            <div class="grid-cell-content">
              <div class="form-group" style="max-width: 25%">
                <label class="form-label"> {{ componentData.componentId + ".date" | translate }} </label>

                <div class="form-control">
                  <p-calendar
                    showButtonBar="true"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [yearRange]="sessionService.calendarYearRange"
                    class="aw-calendar"
                    [dateFormat]="sessionService.dateFormatPrimeNG"
                    [(ngModel)]="date"
                  ></p-calendar>
                </div>
              </div>

              <div class="form-group" style="max-width: 75%">
                <label class="form-label"> {{ componentData.componentId + ".timeZone" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [(ngModel)]="timeZoneSelected"
                    [showClear]="true"
                    [options]="timeZoneList"
                    placeholder="&nbsp;"
                    (onChange)="loadSchedulingAtTimeZone()"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-cell--6">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ componentData.componentId + ".fleet" | translate }}</h3>
              </div>
            </div>
            <div class="grid-cell-content">
              <div class="form-group">
                <label class="form-label"> {{ componentData.componentId + ".code" | translate }} </label>

                <div class="form-control">
                  <input type="text" class="aw-input" disabled [(ngModel)]="fleetCode" />
                </div>
              </div>
              <div class="form-group">
                <label class="form-label"> {{ componentData.componentId + ".name" | translate }} </label>

                <div class="form-control">
                  <input type="text" class="aw-input" disabled [(ngModel)]="fleetName" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ componentData.componentId + ".schedule" | translate }}</h3>
              </div>
            </div>
            <div class="grid-cell-content">
              <div class="form-group">{{ date }} {{ timeZoneSelected }}</div>
              <button *ngIf="addFlightButtonVisible" type="button" mat-raised-button (click)="addFlight()">
                {{ getComponentName() + ".addFlight" | translate }}
              </button>

              <button *ngIf="updateFlightButtonVisible" type="button" mat-raised-button (click)="openFlight()">
                {{ "openFlight" | translate }}
              </button>

              <button *ngIf="removeFlightButtonVisible" type="button" mat-raised-button (click)="removeFlight()">
                {{ getComponentName() + ".removeFlight" | translate }}
              </button>

              <div class="slider-row">
                <div class="time-resolution">
                  <p-slider
                    [max]="component.TIME_RESOLUTION_MAX_ZOOM"
                    [min]="component.TIME_RESOLUTION_MIN_ZOOM"
                    [(ngModel)]="schedulerZoomLevel"
                    (onChange)="onChangeTimeResolution($event)"
                  ></p-slider>
                </div>
              </div>
              <div class="row">
                <div class="scheduler-wrap show">
                  <bry-scheduler
                    [barMargin]="barMargin"
                    [columns]="schedulerConfig['columns']"
                    [startDate]="schedulerConfig['startDate']"
                    [endDate]="schedulerConfig['endDate']"
                    [timeRanges]="schedulerConfig['timeRanges']"
                    [timeRangesFeature]="schedulerConfig['timeRangesFeature']"
                    [treeFeature]="schedulerConfig['treeFeature']"
                    [viewPreset]="schedulerConfig['viewPreset']"
                    [resources]="resourcesMissionName"
                    [filterBarFeature]="true"
                    [events]="events"
                    [eventTooltipFeature]="schedulerConfig['eventTooltip']"
                    [contextMenuFeature]="schedulerConfig['contextMenu']"
                    [readOnly]="schedulerConfig['readOnly']"
                    [zoomKeepsOriginalTimespan]="schedulerConfig['zoomKeepsOriginalTimespan']"
                    [zoomOnMouseWheel]="schedulerConfig['zoomOnMouseWheel']"
                    [zoomOnTimeAxisDoubleClick]="schedulerConfig['zoomOnTimeAxisDoubleClick']"
                  >
                  </bry-scheduler>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
