
@import "constants";

:host {
  .pointer {
      cursor: pointer !important;
  }

  ::ng-deep .mission-event-select{
    &.cell-green {
      background-color: $green-light1 !important;
    }
    &.cell-yellow {
      background-color: $yellow1 !important;
    }
    &.cell-red {
      background-color: $red-light1 !important;
    }
    &.cell-blue {
      background-color: $blue-light1 !important;
    }

    &.white-cell-selected {
      background-color: #176aad !important;
    }

    &.blue-cell-selected {
      background-color: #01579b !important;
    }
  }

  ::ng-deep button.aw-btn{
    margin-left: 8px;
  }

  ::ng-deep div.slider-row{
    display: flex;
    justify-content: flex-end;
  }

  ::ng-deep .time-resolution {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 calc(2 * #{$margin-value});
    margin-bottom: 1em;
    p-slider {
      width: 10rem;
    }
  }

  .scheduler-wrap {
    height: 75vh;
    visibility: hidden;

    &.show {
      visibility: visible;
    }
  }

  ::ng-deep a {
    color: $accent-color;

    &.mission-name-select {
      border-bottom-color: transparent;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      color: #01579b;
      cursor: pointer;
      transition: border-bottom-color 0.25s ease-in-out
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
