<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div class="page-subtitle">- {{ "page.searchPage" | translate }}</div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button
      type="button"
      mat-raised-button
      (click)="openNewMaintenanceProgram()"
      *ngIf="hasUpdateRights && hasUpdateAccessRight"
    >
      {{ "global.create" | translate }}
    </button>
    <button
      id="actions"
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #actions="matMenu">
      <button id="favorites" mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ "global.search" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <div class="row search-criteria-header">
                  <i
                    class="fa fa-fw fa-undo aw-icon aw-icon-with-border search-criteria-action"
                    aria-hidden="true"
                    pTooltip="{{ 'global.reset' | translate }}"
                    tooltipPosition="top"
                    (click)="resetSearchCriteria()"
                  ></i>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".familyVariant" | translate }} </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="familyVariants"
                        [(ngModel)]="selectedFamilyVariant"
                        [showClear]="true"
                        (keyup.enter)="search()"
                        placeholder="&nbsp;"
                      ></p-dropdown>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".code" | translate }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.bireMaintenancePlanDTO.planCode" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".name" | translate }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.bireMaintenancePlanDTO.planName" />
                    </div>
                  </div>

                  <div class="form-group"></div>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".revisionDate" | translate }} </label>

                    <div class="form-control">
                      <p-calendar
                        showButtonBar="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [yearRange]="sessionService.calendarYearRange"
                        class="aw-calendar"
                        [dateFormat]="sessionService.dateFormatPrimeNG"
                        [locale]="sessionService.calendarFormat"
                        [(ngModel)]="searchObject.bireMaintenancePlanDTO.planRevisionDate"
                      ></p-calendar>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".approvalDate" | translate }} </label>

                    <div class="form-control">
                      <p-calendar
                        showButtonBar="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [yearRange]="sessionService.calendarYearRange"
                        class="aw-calendar"
                        [dateFormat]="sessionService.dateFormatPrimeNG"
                        [locale]="sessionService.calendarFormat"
                        [(ngModel)]="searchObject.bireMaintenancePlanDTO.planApprovalDate"
                      ></p-calendar>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".validityEndDate" | translate }} </label>

                    <div class="form-control">
                      <p-calendar
                        showButtonBar="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [yearRange]="sessionService.calendarYearRange"
                        class="aw-calendar"
                        [dateFormat]="sessionService.dateFormatPrimeNG"
                        [locale]="sessionService.calendarFormat"
                        [(ngModel)]="searchObject.bireMaintenancePlanDTO.planValidityEndDate"
                      ></p-calendar>
                    </div>
                  </div>

                  <div class="form-group"></div>
                </div>

                <div class="advanced-criteria" [ngClass]="{ 'display--none': !showAdvancedCriteria }">
                  <div class="row">
                    <div class="form-group">
                      <label class="form-label">
                        {{ componentData.componentId + ".revisionNumber" | translate }}
                      </label>

                      <div class="form-control">
                        <input
                          type="text"
                          class="aw-input"
                          [(ngModel)]="searchObject.bireMaintenancePlanDTO.planRevisionNumber"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">
                        {{ componentData.componentId + ".approvalNumber" | translate }}
                      </label>

                      <div class="form-control">
                        <input
                          type="text"
                          class="aw-input"
                          [(ngModel)]="searchObject.bireMaintenancePlanDTO.planApprovalNumber"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label"> {{ componentData.componentId + ".description" | translate }} </label>

                      <div class="form-control">
                        <textarea
                          class="aw-textarea"
                          [rows]="3"
                          pInputTextarea
                          [(ngModel)]="searchObject.bireMaintenancePlanDTO.planDescription"
                        ></textarea>
                      </div>
                    </div>

                    <div class="form-group"></div>
                  </div>
                </div>

                <div class="row search-criteria-footer">
                  <button mat-button (click)="showAdvancedCriteria = !showAdvancedCriteria">
                    <ng-container *ngIf="showAdvancedCriteria">
                      <mat-icon>remove</mat-icon>
                      {{ "global.collapseCriteria" | translate }}
                    </ng-container>
                    <ng-container *ngIf="!showAdvancedCriteria">
                      <mat-icon>add</mat-icon>
                      {{ "global.expandCriteria" | translate }}
                    </ng-container>
                  </button>

                  <div class="search-actions">
                    <button
                      type="button"
                      mat-raised-button
                      class="btn-with-spinner"
                      (click)="search()"
                      color="primary"
                      appKeyPress
                      [keyCode]="'Enter'"
                      (keyPress)="search()"
                    >
                      <span *ngIf="isLoading" class="lds-hourglass"></span>
                      {{ "global.toSearch" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <!-- Maintenance programs table -->

          <div #resultsContainerAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ "global.results" | translate }} ({{
                    maintenanceProgramTableDataSource ? maintenanceProgramTableDataSource.dataCount : 0
                  }})
                </h3>
              </div>
            </div>

            <a-table
              [dataSource]="maintenanceProgramTableDataSource"
              (onRowSelect)="validateMaintenanceProgramOptions()"
              (onRowUnselect)="validateMaintenanceProgramOptions()"
              (onHeaderCheckboxToggle)="validateMaintenanceProgramOptions()"
            >
              <ng-template tableActionsDef>
                <button
                  *ngIf="enableComapreRMP"
                  class="btn-with-spinner"
                  type="button"
                  mat-raised-button
                  (click)="compareRmp()"
                  [disabled]="isReportLoading"
                >
                  <span *ngIf="isReportLoading" class="lds-hourglass"></span>
                  {{ componentData.componentId + ".compareRMPS" | translate }}
                </button>

                <button
                  *ngIf="enableComapreAMP"
                  class="btn-with-spinner"
                  type="button"
                  mat-raised-button
                  (click)="compareAmp()"
                >
                  <span *ngIf="isReportLoading" class="lds-hourglass"></span>
                  {{ componentData.componentId + ".compareAMPS" | translate }}
                </button>

                <button
                  *ngIf="enableComapreAMPagainstRMP"
                  type="button"
                  class="btn-with-spinner"
                  mat-raised-button
                  (click)="compareRmpWithAmp()"
                >
                  <span *ngIf="isReportLoading" class="lds-hourglass"></span>
                  {{ componentData.componentId + ".compareRMPWithAMP" | translate }}
                </button>

                <button
                  *ngIf="
                    maintenanceProgramTableDataSource &&
                    maintenanceProgramTableDataSource.hasData &&
                    !maintenanceProgramTableDataSource.hasDataSelection
                  "
                  type="button"
                  mat-raised-button
                  (click)="exportTable()"
                >
                  {{ "global.export" | translate }}
                </button>

                <button
                  *ngIf="
                    hasManageAccessRight &&
                    !isDeleteButtonDisabled &&
                    hasDisplayRights &&
                    maintenanceProgramTableDataSource.hasDataSelection
                  "
                  type="button"
                  mat-raised-button
                  color="warn"
                  (click)="deleteMaintenancePrograms()"
                >
                  {{ "global.delete" | translate }}
                </button>
                <button
                  *ngIf="maintenanceProgramTableDataSource.dataSelectionCount === 1 && sessionService.isSpecificMHIAEL"
                  type="button"
                  mat-raised-button
                  (click)="changeRecord()"
                >
                  {{ componentData.componentId + ".changeRecord" | translate }}
                </button>
                <button
                  *ngIf="maintenanceProgramTableDataSource.dataSelectionCount === 1"
                  type="button"
                  mat-raised-button
                  (click)="openSelectedUpdatesList()"
                >
                  {{ componentData.componentId + ".updatesList" | translate }}
                </button>

                <button
                  *ngIf="hasDisplayRights && maintenanceProgramTableDataSource.hasDataSelection"
                  type="button"
                  mat-raised-button
                  (click)="openSelectedMaintenancePrograms()"
                >
                  {{ "global.open" | translate }}
                </button>
              </ng-template>
              <ng-template columnDef="code" let-rowData="rowData">
                <a (click)="openMaintenanceProgramLink(rowData)">{{ rowData.code }}</a>
              </ng-template>
              <ng-template columnDef="ampStatus" let-rowData="rowData">
                <span
                  *ngIf="rowData.type === MAINTENANCE_PLAN.PLAN_TYPE_RMP && rowData.ampStatus === 'green'"
                  class="alert alert--ok"
                >
                  {{ "global.alertOk" | translate }}
                </span>

                <span
                  *ngIf="rowData.type === MAINTENANCE_PLAN.PLAN_TYPE_RMP && rowData.ampStatus === 'red'"
                  class="alert alert--nok"
                >
                  {{ "global.alertNok" | translate }}
                </span>

                <span
                  *ngIf="rowData.type === MAINTENANCE_PLAN.PLAN_TYPE_RMP && rowData.ampStatus === 'yellow'"
                  class="alert alert--warning"
                >
                  {{ "global.alertWarning" | translate }}
                </span>
              </ng-template>
            </a-table>
          </div>
        </div>
      </div>
    </div>

    <aw-dialog-compare-maintenance-programs
      *ngIf="showCompareReportPopup"
      [reportContent]="reportText"
      [(display)]="showCompareReportPopup"
    ></aw-dialog-compare-maintenance-programs>
  </div>
</div>
