<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="header">
      <i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i>
      <span>{{ getComponentName() + ".interdependenceIssues" | translate }}</span>
    </div>
  </a-header>

  <a-content>
    <ul>
      <li *ngFor="let interdependenceData of interdependenceDataList">{{ interdependenceData }}</li>
    </ul>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="reject()">{{ "global.cancel" | translate }}</button>

    <button type="button" mat-raised-button (click)="accept()">{{ "global.ok" | translate }}</button>
  </a-footer>
</a-modal>
