<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div *ngIf="warningMessageList && warningMessageList.length > 0" class="warning-messages">
      <div class="warning-messages__header">
        <i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i>
        <span>{{ getComponentName() + ".interdependenceIssues" | translate }}</span>
      </div>

      <ul>
        <li *ngFor="let warningMessage of warningMessageList">{{ warningMessage }}</li>
      </ul>
    </div>

    <div class="row" *ngIf="displayName">
      <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
        <label class="form-label">{{ "global.name" | translate }}</label>

        <div class="form-control">
          <input name="name" type="text" class="aw-input" [(ngModel)]="workPackage.projectName" />
        </div>
      </div>
    </div>

    <div class="row" *ngIf="displayStatus">
      <div class="form-group">
        <label class="form-label">{{ "global.status" | translate }}</label>

        <div class="form-control">
          <p-dropdown
            name="status"
            class="aw-dropdown fixed-width"
            [options]="statusList"
            [(ngModel)]="workPackage.statusState"
            [showClear]="true"
            placeholder="&nbsp;"
            appendTo="body"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="displayMroCenter">
      <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
        <label class="form-label">{{ "global.mroCenter" | translate }}</label>

        <div class="form-control">
          <p-dropdown
            name="mroCenter"
            class="aw-dropdown fixed-width"
            [options]="mroCenterList"
            [(ngModel)]="workPackage.bireRepairCenterCode"
            [showClear]="true"
            placeholder="&nbsp;"
            appendTo="body"
            (onChange)="getWorkShops()"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="displayWorkCenter">
      <div class="form-group">
        <label class="form-label">{{ "global.workCenter" | translate }}</label>

        <div class="form-control" *ngIf="workShopList.length > 0">
          <p-dropdown
            name="mroCenter"
            class="aw-dropdown fixed-width"
            [options]="workShopList"
            [(ngModel)]="selectedWorkCenter"
            [showClear]="true"
            placeholder="&nbsp;"
            appendTo="body"
          ></p-dropdown>
        </div>

        <div class="form-control" *ngIf="workShopList.length === 0">
          <p-dropdown
            name="mroCenter"
            class="aw-dropdown fixed-width"
            [options]="workShopList"
            [(ngModel)]="selectedWorkCenter"
            [showClear]="true"
            [disabled]="true"
            placeholder="&nbsp;"
            appendTo="body"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="displayAssignedTo">
      <div class="form-group">
        <label class="form-label">{{ "global.assignedTo" | translate }}</label>

        <div class="form-control">
          <p-dropdown
            name="assignedTo"
            class="aw-dropdown fixed-width"
            [options]="userList"
            [showClear]="true"
            [(ngModel)]="workPackage.receivingAssignedTo"
            placeholder="&nbsp;"
            appendTo="body"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
        <label class="form-label">{{ "global.type" | translate }}</label>

        <div class="form-control">
          <p-dropdown
            name="type"
            class="aw-dropdown fixed-width"
            [options]="typeList"
            [showClear]="true"
            [(ngModel)]="workPackage.projectType"
            placeholder="&nbsp;"
            appendTo="body"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="displayOperation">
      <div class="form-group">
        <label class="form-label">{{ "global.operation" | translate }}</label>

        <div class="form-control">
          <p-dropdown
            name="operation"
            class="aw-dropdown fixed-width"
            [options]="operationList"
            [showClear]="true"
            [(ngModel)]="workPackage.bidoOperationCode"
            placeholder="&nbsp;"
            appendTo="body"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="displayStartDate || displayDueDate">
      <div *ngIf="displayStartDate" class="form-group" [ngClass]="{ required: !isReadOpenMode }">
        <label class="form-label">{{ "global.startDate" | translate }}</label>

        <div class="form-control">
          <p-calendar
            showButtonBar="true"
            [monthNavigator]="true"
            [yearNavigator]="true"
            [yearRange]="sessionService.calendarYearRange"
            name="startDate"
            class="aw-calendar"
            [(ngModel)]="workPackage.projectStartDate"
            [dateFormat]="sessionService.dateFormatPrimeNG"
            [locale]="sessionService.calendarFormat"
            [showTime]="true"
            appendTo="body"
          ></p-calendar>
        </div>
      </div>

      <div *ngIf="displayDueDate" class="form-group">
        <label class="form-label">{{ "global.dueDate" | translate }}</label>

        <div class="form-control">
          <p-calendar
            showButtonBar="true"
            [monthNavigator]="true"
            [yearNavigator]="true"
            [yearRange]="sessionService.calendarYearRange"
            name="dueDate"
            class="aw-calendar"
            [(ngModel)]="workPackage.projectDueDate"
            [dateFormat]="sessionService.dateFormatPrimeNG"
            [locale]="sessionService.calendarFormat"
            [showTime]="true"
            appendTo="body"
          ></p-calendar>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="displayDescription">
      <div class="form-group">
        <label class="form-label">{{ "global.description" | translate }}</label>

        <div class="form-control">
          <textarea
            class="aw-textarea"
            [rows]="3"
            pInputTextarea
            [(ngModel)]="workPackage.projectDescription"
          ></textarea>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">{{ "global.cancel" | translate }}</button>

    <button type="button" mat-raised-button color="primary" [disabled]="!isValid()" (click)="validate()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
