<div class="page-header">
  <div class="page-info">
    <div>
      <h2 class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </h2>

      <div class="page-subtitle">
        <div *ngIf="!isCreateOpenMode && componentData && componentData.objectId" class="page-subtitle">
          - {{ subTitle }}
        </div>
      </div>
    </div>
    <div class="object-status" *ngIf="statusDTO.statusState" (click)="showStatus()">
      {{ statusDTO.statusState | formatSelectOption: statusList }}
    </div>
  </div>

  <div class="page-actions">
    <button *ngIf="isReadOpenMode && hasUpdateAccessRight" type="button" mat-raised-button (click)="edit()">
      {{ "global.edit" | translate }}
    </button>
    <button
      *ngIf="!isReadOpenMode && !isCreateOpenMode"
      type="button"
      color="warn"
      mat-raised-button
      (click)="cancel()"
    >
      {{ "global.cancel" | translate }}
    </button>
    <button
      *ngIf="!isReadOpenMode"
      class="btn-with-spinner"
      color="primary"
      type="button"
      mat-raised-button
      (click)="save()"
    >
      <span class="lds-hourglass" *ngIf="showSaveSpinner"></span>
      {{ "global.save" | translate }}
    </button>
    <button
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #actions="matMenu">
      <button mat-menu-item id="status" (click)="openStatusUpdatesPopup()">{{ "updates" | translate }}</button>
      <button mat-menu-item *ngIf="isReadOpenMode && !isCreateOpenMode" type="button" (click)="refresh()">
        {{ "global.refresh" | translate }}
      </button>
      <button mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <mat-tab-group animationDuration="0ms" dynamicHeight>
        <mat-tab>
          <ng-template mat-tab-label>
            {{ "home" | translate }}
          </ng-template>
          <div class="grid-row">
            <div [ngClass]="isHardpointOrLoadFamily ? 'grid-cell--6' : 'grid-cell--12'">
              <div class="grid-cell grid-cell--container">
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container">
                    <h3 class="grid-cell-title">{{ "page.mainData" | translate }}</h3>
                  </div>
                </div>

                <div class="grid-cell-content">
                  <div class="column">
                    <ng-template [ngIf]="!isHardpointOrLoadFamily" [ngIfElse]="hardpointOrLoadFamilyInformations">
                      <div class="row">
                        <ng-container *ngTemplateOutlet="flCode"></ng-container>
                        <ng-container *ngTemplateOutlet="flDescription"></ng-container>
                        <ng-container *ngTemplateOutlet="flFunction"></ng-container>
                        <div class="form-group">
                          <div *ngIf="showConfigurationSheet()">
                            <label class="form-label">{{
                              componentData.componentId + ".isInConfigurationSheet" | translate
                            }}</label>

                            <div class="form-control">
                              <p-checkbox
                                class="aw-checkbox"
                                binary="true"
                                [(ngModel)]="selectedFunctionalLocationComponent.flIsInConfSheet"
                                [disabled]="isReadOpenMode"
                              ></p-checkbox>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group general-field">
                          <label class="form-label">{{
                            componentData.componentId + ".flNominalQuantity" | translate
                          }}</label>

                          <div class="form-control">
                            <input
                              #flNominalQuantity="ngModel"
                              type="number"
                              [pKeyFilter]="inputValidationService.validatorOfInteger()"
                              [pValidateOnly]="true"
                              name="flNominalQuantity"
                              [(ngModel)]="selectedFunctionalLocationComponent.flNominalQuantity"
                              class="aw-input"
                              [max]="2147483648"
                              [min]="-2147483648"
                              [disabled]="isReadOpenMode"
                              (keypress)="maxLengthCheck($event, selectedFunctionalLocationComponent.flNominalQuantity)"
                              [disabled]="isReadOpenMode || !isCreateOpenMode"
                              required
                            />
                            <p-message
                              *ngIf="
                                flNominalQuantity.invalid && (flNominalQuantity.dirty || flNominalQuantity.touched)
                              "
                              severity="error"
                              [text]="inputValidationService.formatOfInteger()"
                            ></p-message>
                          </div>
                        </div>
                        <div class="form-group general-field">
                          <label class="form-label">{{
                            componentData.componentId + ".flRequiredQuantity" | translate
                          }}</label>

                          <div class="form-control">
                            <input
                              #flRequiredQuantity="ngModel"
                              type="number"
                              [pKeyFilter]="inputValidationService.validatorOfInteger()"
                              [pValidateOnly]="true"
                              name="flRequiredQuantity"
                              [(ngModel)]="selectedFunctionalLocationComponent.flRequiredQuantity"
                              class="aw-input"
                              [max]="2147483648"
                              [min]="-2147483648"
                              [disabled]="isReadOpenMode"
                              (keypress)="
                                maxLengthCheckRequired($event, selectedFunctionalLocationComponent.flRequiredQuantity)
                              "
                              [disabled]="isReadOpenMode || !isCreateOpenMode"
                              required
                            />
                            <p-message
                              *ngIf="
                                flRequiredQuantity.invalid && (flRequiredQuantity.dirty || flRequiredQuantity.touched)
                              "
                              severity="error"
                              [text]="inputValidationService.formatOfInteger()"
                            ></p-message>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="form-label">{{ componentData.componentId + ".flIsMel" | translate }}</label>

                          <div class="form-control">
                            <p-checkbox
                              class="aw-checkbox"
                              binary="true"
                              [(ngModel)]="selectedFunctionalLocationComponent.flIsMel"
                              value="val1"
                              (onChange)="onHandleFlIsMel($event)"
                              [disabled]="isReadOpenMode"
                            ></p-checkbox>
                          </div>
                        </div>

                        <ng-container *ngTemplateOutlet="flOrderNumber"></ng-container>
                      </div>
                    </ng-template>
                  </div>
                  <ng-template #hardpointOrLoadFamilyInformations>
                    <div class="column">
                      <div class="row">
                        <ng-container *ngTemplateOutlet="flCode"></ng-container>
                        <ng-container *ngTemplateOutlet="flDescription"></ng-container>
                      </div>
                      <div class="row">
                        <ng-container *ngTemplateOutlet="flFunction"></ng-container>
                        <ng-container *ngTemplateOutlet="flOrderNumber"></ng-container>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
            <div *ngIf="isHardpointOrLoadFamily" class="grid-cell--6">
              <div class="grid-cell grid-cell--container">
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container loading-indicator">
                    <h3 class="grid-cell-title">
                      {{ componentData.componentId + ".illustration" | translate }}
                      <div *ngIf="bireStructurePanelLoading" class="lds-hourglass"></div>
                    </h3>
                  </div>
                </div>

                <!-- Waiting for MCD changes -->
                <div class="grid-cell-content">
                  <div>
                    <div class="row">
                      <div class="form-group">
                        <label class="form-label">{{ componentData.componentId + ".positionX" | translate }}</label>
                        <div class="form-control">
                          <input
                            type="text"
                            class="aw-input"
                            [disabled]="isReadOpenMode"
                            maxlength="50"
                            [(ngModel)]="selectedFunctionalLocationComponent.flPositionX"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <label class="form-label">{{ componentData.componentId + ".positionY" | translate }}</label>
                        <div class="form-control">
                          <input
                            type="text"
                            class="aw-input"
                            [disabled]="isReadOpenMode"
                            maxlength="50"
                            [(ngModel)]="selectedFunctionalLocationComponent.flPositionY"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="form-group">
                      <label class="form-label">{{ componentData.componentId + ".image" | translate }}</label>

                      <div class="form-control">
                        <input type="text" class="aw-input" [disabled]="true" />
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>

          <div class="grid-row">
            <div class="grid-cell--5">
              <div class="grid-cell grid-cell--container">
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container loading-indicator">
                    <h3 class="grid-cell-title">
                      {{ componentData.componentId + ".items" | translate }} ({{
                        familyVariantTableDataSource ? familyVariantTableDataSource.dataCount : 0
                      }})
                    </h3>
                    <div *ngIf="familyVariantPanelLoading" class="lds-hourglass"></div>
                  </div>
                </div>

                <div class="grid-cell-content">
                  <a-table [dataSource]="familyVariantTableDataSource">
                    <ng-template tableActionsDef>
                      <button
                        *ngIf="
                          !isReadOpenMode &&
                          familyVariantTableDataSource.hasDataSelection &&
                          selectedFunctionalLocationComponent.flFunction !==
                            aWPropertiesConstants.ITEM_FAMILY_CODE_HARDPOINT_KEY
                        "
                        type="button"
                        mat-raised-button
                        color="warn"
                        (click)="deleteSelectedFamilyVariant()"
                      >
                        {{ "global.delete" | translate }}
                      </button>

                      <button
                        *ngIf="
                          !isReadOpenMode &&
                          familyVariantTableDataSource.dataSelectionCount === 1 &&
                          selectedFunctionalLocationComponent.flFunction !==
                            aWPropertiesConstants.ITEM_FAMILY_CODE_HARDPOINT_KEY
                        "
                        type="button"
                        mat-raised-button
                        (click)="editFamilyVariant()"
                      >
                        {{ "global.edit" | translate }}
                      </button>

                      <button
                        *ngIf="familyVariantTableDataSource.dataSelectionCount === 1"
                        type="button"
                        mat-raised-button
                        (click)="openFamilyVariant()"
                      >
                        {{ "global.open" | translate }}
                      </button>

                      <button
                        type="button"
                        *ngIf="!isReadOpenMode && !familyVariantTableDataSource.hasDataSelection"
                        mat-raised-button
                        (click)="createFamilyVariant()"
                      >
                        {{ "global.add" | translate }}
                      </button>
                    </ng-template>
                    <ng-template columnDef="item" let-rowData="rowData">
                      <a (click)="openItemForm(rowData)">{{ rowData.item }}</a>
                    </ng-template>
                  </a-table>
                </div>
              </div>
            </div>

            <div class="grid-cell--7">
              <div class="grid-cell grid-cell--container">
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container loading-indicator">
                    <h3 class="grid-cell-title">
                      {{ componentData.componentId + ".structure" | translate }} ({{
                        bireStructureDisplayed ? bireStructureDisplayed.length : 0
                      }})
                      <div *ngIf="bireStructurePanelLoading" class="lds-hourglass"></div>
                    </h3>
                  </div>
                </div>

                <div class="grid-cell-content">
                  <p-treeTable
                    #ptreetableStructure
                    class="aw-tree-table2"
                    [columns]="!isHardpointOrLoadFamily ? structureTableCols : structureTableColsHardpoint"
                    [value]="bireStructureDisplayed"
                    [(selection)]="selectedStructure"
                    selectionMode="checkBox"
                    [scrollable]="true"
                    (onNodeSelect)="onRowSelected($event.node)"
                    (onNodeUnselect)="onRowUnSelected($event.node)"
                    [resizableColumns]="true"
                  >
                    <ng-template pTemplate="emptymessage">
                      <span *ngIf="!isLoadingStructureTable"> &nbsp;</span>

                      <div *ngIf="isLoadingStructureTable" class="aw-table-loading-indicator">
                        <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                        <div class="lds-hourglass"></div>
                      </div>
                    </ng-template>

                    <ng-template pTemplate="caption">
                      <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedStructure.length > 0 }">
                        <div class="aw-table-global-filter">
                          <label class="aw-table-global-filter-label">
                            <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                          </label>

                          <input
                            #ptreetableStructureGlobalFilter
                            class="aw-table-global-filter-input"
                            type="text"
                            placeholder="{{ 'table.globalFilterText' | translate }}"
                            (input)="ptreetableStructure.filterGlobal($event.target.value, 'contains')"
                          />
                        </div>

                        <div class="aw-table-actions">
                          <button
                            *ngIf="!isReadOpenMode && selectedStructure.length > 0"
                            type="button"
                            mat-raised-button
                            color="warn"
                            (click)="detachSelectedStructure()"
                          >
                            {{ "global.detach" | translate }}
                          </button>

                          <button
                            *ngIf="!isReadOpenMode && selectedStructure.length === 1 && !!selectedStructure[0].parent"
                            type="button"
                            mat-raised-button
                            (click)="editStructure()"
                          >
                            {{ "global.edit" | translate }}
                          </button>

                          <button
                            *ngIf="!isReadOpenMode && selectedStructure.length === 1"
                            type="button"
                            mat-raised-button
                            (click)="openStructure()"
                          >
                            {{ "global.open" | translate }}
                          </button>

                          <button
                            *ngIf="!isReadOpenMode && this.bireStructureDisplayed.length > 0"
                            type="button"
                            mat-raised-button
                            (click)="createStructure()"
                          >
                            {{ "global.add" | translate }}
                          </button>
                        </div>
                      </div>
                    </ng-template>

                    <ng-template pTemplate="colgroup" let-columns>
                      <colgroup>
                        <col class="aw-table-checkbox-wrapper" />
                        <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                      </colgroup>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th class="aw-table-checkbox-wrapper">
                          <p-treeTableHeaderCheckbox class="aw-table-checkbox"></p-treeTableHeaderCheckbox>
                        </th>

                        <th ttResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                          {{ componentData.componentId + "." + col.field | translate }}
                        </th>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                      <tr>
                        <td class="aw-table-checkbox-wrapper">
                          <p-treeTableCheckbox class="aw-table-checkbox" [value]="rowNode"></p-treeTableCheckbox>
                        </td>

                        <td *ngFor="let col of columns; let i = index" [ngSwitch]="col.field">
                          <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>

                          <span *ngSwitchCase="'flIsMel'">
                            <span *ngIf="rowData[col.field]"> <i class="fa fa-check" aria-hidden="true"></i> </span>
                          </span>

                          <span *ngSwitchCase="'flCode'" pTooltip="{{ rowData[col.field] }}" tooltipPosition="top">
                            {{ rowData[col.field] }}
                          </span>

                          <span *ngSwitchCase="'flFunction'">
                            <span> {{ getFlFunctionLabel(rowData) }} </span>
                          </span>

                          <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                        </td>
                      </tr>
                    </ng-template>
                  </p-treeTable>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab *ngIf="engineType">
          <ng-template mat-tab-label>
            {{ componentData.componentId + ".models" | translate }}
          </ng-template>
          <div class="grid-row">
            <div class="grid-cell--12">
              <div class="grid-cell grid-cell--container">
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container loading-indicator">
                    <h3 class="grid-cell-title">
                      {{ componentData.componentId + ".models" | translate }} ({{ modelTable ? modelTable.length : 0 }})
                    </h3>
                    <div *ngIf="modelPanelLoading" class="lds-hourglass"></div>
                  </div>
                </div>

                <div class="grid-cell-content">
                  <a-table [dataSource]="modelTableDataSource">
                    <ng-template tableActionsDef>
                      <button
                        *ngIf="!isReadOpenMode && modelTableDataSource.hasDataSelection"
                        type="button"
                        mat-raised-button
                        color="warn"
                        (click)="deleteSelectedModel()"
                      >
                        {{ "global.delete" | translate }}
                      </button>

                      <button
                        *ngIf="!isReadOpenMode && modelTableDataSource.dataSelectionCount === 1"
                        type="button"
                        mat-raised-button
                        (click)="openModel()"
                      >
                        {{ "global.open" | translate }}
                      </button>

                      <button
                        *ngIf="!isReadOpenMode && !modelTableDataSource.hasDataSelection"
                        type="button"
                        mat-raised-button
                        (click)="createModel()"
                      >
                        {{ "global.add" | translate }}
                      </button>
                    </ng-template>
                    <ng-template columnDef="modelCode" let-rowData="rowData">
                      {{ rowData.bireModelDTO.modelCode }}
                    </ng-template>
                    <ng-template columnDef="modelName" let-rowData="rowData">
                      {{ rowData.bireModelDTO.modelName }}
                    </ng-template>
                    <ng-template columnDef="ratingCode" let-rowData="rowData">
                      {{ rowData.bireModelDTO.ratingCode }}
                    </ng-template>
                  </a-table>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            {{ componentData.componentId + ".documentation" | translate }}
          </ng-template>
          <div class="grid-row">
            <div class="grid-cell--12">
              <div class="grid-cell grid-cell--container">
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container">
                    <h3 class="grid-cell-title">{{ componentData.componentId + ".documentation" | translate }}</h3>
                  </div>
                </div>

                <div class="grid-cell-content">
                  <div class="column">
                    <div class="row documentation-actions">
                      <p-fileUpload
                        *ngIf="!isReadOpenMode && !documentExists"
                        #fileUploader
                        class="aw-fileupload marginRight"
                        name="document[]"
                        customUpload="true"
                        mode="basic"
                        auto="true"
                        chooseLabel="{{ 'global.upload' | translate }}"
                        (uploadHandler)="uploadDocument($event, fileUploader)"
                      ></p-fileUpload>

                      <button
                        *ngIf="!isReadOpenMode && documentExists"
                        type="button"
                        mat-raised-button
                        color="warn"
                        (click)="deleteDocuments()"
                      >
                        {{ "global.delete" | translate }}
                      </button>

                      <button *ngIf="documentExists" type="button" mat-raised-button (click)="downloadFiles()">
                        {{ "global.download" | translate }}
                      </button>
                    </div>

                    <div class="row">
                      <div *ngIf="flIsMelChecked" class="form-group delay-category">
                        <label class="form-label">{{ componentData.componentId + ".delayCategory" | translate }}</label>

                        <div class="form-control">
                          <p-dropdown
                            class="aw-dropdown fixed-width"
                            [options]="delayCategories"
                            [(ngModel)]="selectedFunctionalLocationComponent.flDelayCategory"
                            [showClear]="true"
                            placeholder="&nbsp;"
                            [disabled]="isReadOpenMode"
                          ></p-dropdown>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group">
                        <label class="form-label">{{ componentData.componentId + ".name" | translate }}</label>

                        <div class="form-control">
                          <input type="text" class="aw-input" [disabled]="true" [(ngModel)]="docName" />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group">
                        <label class="form-label">{{ componentData.componentId + ".description" | translate }}</label>

                        <div class="form-control">
                          <textarea
                            class="aw-textarea"
                            maxlength="300"
                            [rows]="3"
                            pInputTextarea
                            [(ngModel)]="document.docDescription"
                            [disabled]="isReadOpenMode"
                          ></textarea>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div *ngIf="flIsMelChecked" class="form-group">
                        <label class="form-label">{{
                          componentData.componentId + ".revisionNumber" | translate
                        }}</label>

                        <div class="form-control">
                          <input
                            type="text"
                            class="aw-input"
                            maxlength="10"
                            [disabled]="isReadOpenMode"
                            [(ngModel)]="document.docVersion"
                          />
                        </div>
                      </div>

                      <div *ngIf="flIsMelChecked" class="form-group">
                        <label class="form-label">{{ componentData.componentId + ".revisionDate" | translate }}</label>

                        <div class="form-control">
                          <p-calendar
                            showButtonBar="true"
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            [yearRange]="sessionService.calendarYearRange"
                            class="aw-calendar"
                            [dateFormat]="sessionService.dateFormatPrimeNG"
                            [disabled]="isReadOpenMode"
                            [locale]="sessionService.calendarFormat"
                            [(ngModel)]="document.docPublicationDate"
                          >
                          </p-calendar>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div *ngIf="flIsMelChecked" class="form-group">
                        <label class="form-label">{{
                          componentData.componentId + ".remarksAndExceptions" | translate
                        }}</label>

                        <div class="form-control">
                          <textarea
                            class="aw-textarea"
                            [rows]="3"
                            maxlength="4000"
                            pInputTextarea
                            [(ngModel)]="selectedFunctionalLocationComponent.flComments"
                            [disabled]="isReadOpenMode"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <aw-dialog-status
    *ngIf="displayStatusPopup"
    [item]="currentAsset"
    [itemId]="currentAssetId"
    [(display)]="displayStatusPopup"
  ></aw-dialog-status>

  <aw-dialog-status
    *ngIf="showStatusUpdatesPopup"
    [isStatusEditable]="false"
    [item]="statusDTO"
    [itemId]="statusTitle"
    [(display)]="showStatusUpdatesPopup"
  ></aw-dialog-status>

  <aw-family-variant-popup-form
    *ngIf="showOpenFamilyVariantPopup"
    [(display)]="showOpenFamilyVariantPopup"
    [component-data]="dataFamilyVariant"
    [isReadOnlyForm]="isReadOnlyFamilyVariantDialog"
    (onAdded)="onSaveFamilyVariant($event)"
    (onUpdate)="updateConcernedFunctionalLocation($event)"
    [isNewFunctionalLocation]="isNewFunctionalLocation"
  ></aw-family-variant-popup-form>
  <aw-dialog-search-item
    *ngIf="showFamilyVariantPopup"
    [(display)]="showFamilyVariantPopup"
    [searchObject]="{}"
    [autoFilterForFlFunction]="currentFamilyVariant.flFunction"
    (onValidated)="onValidate($event)"
  >
  </aw-dialog-search-item>

  <aw-model-popup-form
    *ngIf="showModelDialog"
    [(display)]="showModelDialog"
    [isReadOnlyForm]="isReadOnlyModelDialog"
    [model]="currentModel"
    (onValidated)="onAddModel($event)"
  ></aw-model-popup-form>

  <aw-dialog-search-functional-location
    [title]="getComponentName() + '.popupFunctionalLocationTitle' | translate"
    [includeUndefinedFunction]="false"
    [familyVariant]="familyVariant"
    [(display)]="showFlCodeTableDialog"
    [authorizedFunctionsId]="propertyValueId"
    (onSelected)="addOrUpdateStructure($event)"
  ></aw-dialog-search-functional-location>
</div>

<ng-template #flCode>
  <div class="form-group" [ngClass]="{ required: isCreateOpenMode }">
    <label class="form-label">{{ componentData.componentId + ".flCode" | translate }}</label>

    <div class="form-control">
      <input
        type="text"
        class="aw-input"
        [disabled]="!isCreateOpenMode"
        maxlength="50"
        [(ngModel)]="selectedFunctionalLocationComponent.flCode"
      />
    </div>
  </div>
</ng-template>
<ng-template #flDescription>
  <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
    <label class="form-label">{{ componentData.componentId + ".flDescription" | translate }}</label>

    <div class="form-control">
      <textarea
        class="aw-textarea"
        [rows]="3"
        pInputTextarea
        [disabled]="isReadOpenMode"
        [(ngModel)]="selectedFunctionalLocationComponent.flDescription"
        maxlength="300"
      ></textarea>
    </div>
  </div>
</ng-template>
<ng-template #flFunction>
  <div class="form-group">
    <label class="form-label">{{ componentData.componentId + ".flFunction" | translate }}</label>

    <div class="form-control">
      <p-dropdown
        class="aw-dropdown fixed-width"
        [options]="flFunctions"
        [(ngModel)]="selectedFunctionalLocationComponent.flFunction"
        [showClear]="true"
        placeholder="&nbsp;"
        [disabled]="isReadOpenMode"
        (onChange)="onFlFunctionsSelected($event)"
      ></p-dropdown>
    </div>
  </div>
</ng-template>
<ng-template #flOrderNumber>
  <div class="form-group">
    <div
      *ngIf="
        selectedFunctionalLocationComponent.flFunction === aWPropertiesConstants.ITEM_FAMILY_CODE_HARDPOINT_KEY ||
        isDisplayableOrderNumber()
      "
    >
      <label class="form-label">{{ componentData.componentId + ".flOrderNumber" | translate }}</label>

      <div class="form-control">
        <input
          type="text"
          class="aw-input"
          [disabled]="isReadOpenMode"
          maxlength="50"
          [(ngModel)]="selectedFunctionalLocationComponent.flOrderNumber"
        />
      </div>
    </div>
  </div>
</ng-template>
