<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div class="page-subtitle">- {{ "page.searchPage" | translate }}</div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button
      id="actions"
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #actions="matMenu">
      <button id="favorites" mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ "global.search" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <div class="row search-criteria-header">
                  <i
                    class="fa fa-fw fa-floppy-o aw-icon aw-icon-with-border search-criteria-action"
                    aria-hidden="true"
                    pTooltip="{{ 'global.save' | translate }}"
                    tooltipPosition="top"
                  ></i>
                  <i
                    class="fa fa-fw fa-undo aw-icon aw-icon-with-border search-criteria-action"
                    aria-hidden="true"
                    pTooltip="{{ 'global.reset' | translate }}"
                    tooltipPosition="top"
                    (click)="resetSearchCriteria()"
                  ></i>
                </div>

                <div class="row">
                  <div class="form-group required">
                    <label class="form-label">{{ componentData.componentId + ".date" | translate }}</label>

                    <div class="form-control">
                      <p-calendar
                        showButtonBar="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [yearRange]="sessionService.calendarYearRange"
                        class="aw-calendar"
                        [dateFormat]="sessionService.dateFormatPrimeNG"
                        [locale]="sessionService.calendarFormat"
                        [(ngModel)]="searchObject.alertDate"
                        [disabled]="isReadOpenMode"
                      ></p-calendar>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">{{ componentData.componentId + ".alertThreshold" | translate }}</label>

                    <div class="form-control">
                      <div class="aw-input-group">
                        <input
                          #alertThreshold="ngModel"
                          type="text"
                          class="aw-input"
                          [(ngModel)]="searchObject.alertThreshold"
                          [pKeyFilter]="inputValidationService.validatorOfPositiveInteger()"
                          [pValidateOnly]="true"
                          maxlength="10"
                        />
                        <p-message
                          *ngIf="alertThreshold.invalid && (alertThreshold.dirty || alertThreshold.touched)"
                          severity="error"
                          [text]="inputValidationService.formatOfPositiveInteger()"
                        ></p-message>
                      </div>
                    </div>
                  </div>
                  <div class="form-group"></div>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label">
                      {{ componentData.componentId + ".superiorLastName" | translate }}
                    </label>

                    <div class="form-control form-control-with-modal" [ngClass]="{ disabled: isReadOpenMode }">
                      <div class="form-control-data" (click)="quickSearchSuperior()">
                        {{ searchObject.superiorLastName }}
                      </div>

                      <div *ngIf="searchObject.superiorLastName" class="btn-clear-wrapper">
                        <i
                          class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                          aria-hidden="true"
                          (click)="
                            searchObject.superiorLastName = undefined;
                            searchObject.superiorFirstName = undefined;
                            searchObject.superiorId = undefined;
                            searchObject.superiorNumber = undefined
                          "
                        ></i>
                      </div>
                      <div class="btn-search-wrapper">
                        <i
                          class="fa fa-fw fa-search aw-icon btn-search"
                          aria-hidden="true"
                          (click)="quickSearchSuperior()"
                        ></i>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">
                      {{ componentData.componentId + ".superiorFirstName" | translate }}
                    </label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        maxlength="10"
                        [(ngModel)]="searchObject.superiorFirstName"
                        disabled
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".superiorId" | translate }} </label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        maxlength="10"
                        [(ngModel)]="searchObject.superiorNumber"
                        disabled
                      />
                    </div>
                  </div>
                </div>

                <div class="row search-criteria-footer">
                  <div class="search-actions">
                    <button
                      type="button"
                      mat-raised-button
                      (click)="calculate()"
                      [disabled]="alertThreshold.invalid && (alertThreshold.dirty || alertThreshold.touched)"
                    >
                      {{ componentData.componentId + ".toCalculate" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<aw-dialog-search-employee
  *ngIf="showSuperiorPopup"
  [(display)]="!!showSuperiorPopup"
  [employee-name]="searchObject.superiorLastName"
  (onSelected)="setSelectedSuperior($event)"
></aw-dialog-search-employee>
