<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".applicabilitiesPopupTitle" | translate }}</div>
  </a-header>

  <a-content>
    <div class="column">
      <div class="row">
        <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
          <label class="form-label">{{ getComponentName() + ".familyCode" | translate }}</label>

          <div class="form-control form-control-with-modal" [ngClass]="{ disabled: isReadOpenMode }">
            <div class="form-control-data" (click)="showFamilyCode()">{{ cmVariantObject.familyCode }}</div>

            <div *ngIf="cmVariantObject.familyCode" class="btn-clear-wrapper">
              <i
                class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                aria-hidden="true"
                (click)="cmVariantObject.familyCode = undefined"
              ></i>
            </div>
            <div class="btn-search-wrapper">
              <i class="fa fa-fw fa-search aw-icon btn-search" aria-hidden="true" (click)="showFamilyCode()"></i>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="cmVariantObject.structureType" class="row">
        <div class="form-group">
          <label class="form-label">{{ getComponentName() + ".structureType" | translate }}</label>

          <div class="form-control">
            <input type="text" class="aw-input" [(ngModel)]="cmVariantObject.structureType" [disabled]="true" />
          </div>
        </div>
      </div>

      <div *ngIf="cmVariantObject.variantCode" class="row">
        <div class="form-group">
          <label class="form-label">{{ getComponentName() + ".variantCode" | translate }}</label>

          <div class="form-control">
            <input type="text" class="aw-input" [(ngModel)]="cmVariantObject.variantCode" [disabled]="true" />
          </div>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="isReadOpenMode" type="button" mat-raised-button (click)="closeDialog()">
      {{ "global.close" | translate }}
    </button>

    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="closeDialog()">
      {{ "global.cancel" | translate }}
    </button>

    <button
      *ngIf="!isReadOpenMode"
      type="button"
      mat-raised-button
      color="primary"
      (click)="onValidate()"
      [disabled]="cmVariantObject.familyCode === undefined || cmVariantObject.familyCode === null"
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-table
  *ngIf="showFamilyCodeDialog"
  [keyMap]="tableKeyMap"
  [(display)]="showFamilyCodeDialog"
  [data]="dialogTableDataFamilyCode"
  (onSelected)="setSelectedFamilyCode($event)"
></aw-dialog-table>
