<a-modal class="aw-modal" [(visible)]="display" [width]="70">
  <a-header>
    <div class="modal-title">{{ (isTypeVisit ? "taskPopin.visitTitle" : "taskPopin.title") | translate }}</div>
  </a-header>

  <a-content>
    <div class="search-dialog-container">
      <div class="section search-criteria-section">
        <h4 class="section-title">{{ "global.search" | translate }}</h4>

        <div class="section-content">
          <div class="column">
            <div class="row">
              <div class="form-group">
                <label class="form-label">
                  {{ (isTypeVisit ? "taskPopin.visitCode" : "taskPopin.taskCode") | translate }}
                </label>

                <div class="form-control">
                  <input class="aw-input" type="text" [(ngModel)]="searchObject.taskCode" />
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ "taskPopin.taskVersion" | translate }} </label>

                <div class="form-control">
                  <input class="aw-input" type="text" [(ngModel)]="searchObject.taskVersion" />
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ "taskPopin.taskDesignation" | translate }} </label>

                <div class="form-control">
                  <input class="aw-input" type="text" [(ngModel)]="searchObject.taskDesignation" />
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ "taskPopin.taskApplicabilityDate" | translate }} </label>

                <div class="form-control">
                  <p-calendar
                    showButtonBar="true"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [yearRange]="sessionService.calendarYearRange"
                    class="aw-calendar"
                    [dateFormat]="sessionService.dateFormatPrimeNG"
                    [locale]="sessionService.calendarFormat"
                    [(ngModel)]="searchObject.taskApplicabilityDate"
                    appendTo="body"
                  ></p-calendar>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group" *ngIf="!isTypeVisit">
                <label class="form-label"> {{ "taskPopin.taskGroup" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [(ngModel)]="searchObject.groupCode"
                    [options]="taskGroupList"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    appendTo="body"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group" *ngIf="!isTypeVisit">
                <label class="form-label"> {{ "taskPopin.taskTypeCode" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [(ngModel)]="searchObject.taskTypeCode"
                    [options]="taskTypeList"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    appendTo="body"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ "taskPopin.taskStatus" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [(ngModel)]="searchObject.taskStatus"
                    [options]="taskStatusList"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    appendTo="body"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group"></div>
            </div>

            <div class="row search-criteria-footer">
              <div class="search-actions">
                <button type="button" color="primary" mat-raised-button (click)="searchTasks()">
                  <span>{{ "global.toSearch" | translate }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section results-section">
        <h4 class="section-title">
          {{ "global.results" | translate }} ({{ resultsTable.list ? resultsTable.list.length : 0 }})
        </h4>

        <div class="section-content">
          <p-table
            [resizableColumns]="true"
            #ptable
            class="aw-table2"
            [columns]="resultsTableCols"
            [value]="resultsTable.list"
            [(selection)]="selectedObjects"
            [selectionMode]="selectionMode"
            [scrollable]="true"
          >
            <ng-template pTemplate="emptymessage">
              <span *ngIf="!resultsTableLoading"> &nbsp;</span>

              <div *ngIf="resultsTableLoading" class="aw-table-loading-indicator">
                <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                <div class="lds-hourglass"></div>
              </div>
            </ng-template>

            <ng-template pTemplate="caption">
              <div class="aw-table-header">
                <div class="aw-table-global-filter">
                  <label class="aw-table-global-filter-label">
                    <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                  </label>

                  <input
                    #ptableGlobalFilter
                    class="aw-table-global-filter-input"
                    type="text"
                    placeholder="{{ 'table.globalFilterText' | translate }}"
                    (input)="ptable.filterGlobal($event.target.value, 'contains')"
                  />
                </div>
              </div>
            </ng-template>

            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngIf="selectionMultiple" class="aw-table-checkbox-wrapper" />
                <col *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment, width: col.width }" />
              </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngIf="selectionMultiple" class="aw-table-checkbox-wrapper">
                  <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                </th>
                <th
                  pResizableColumn
                  *ngFor="let col of columns"
                  [ngStyle]="{ 'text-align': col.alignment, width: col.width }"
                >
                  {{ "taskPopin." + col.field | translate }}
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                <td *ngIf="selectionMultiple" class="aw-table-checkbox-wrapper">
                  <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment, width: col.width }">
                  <span [title]="rowData[col.field]">{{ rowData[col.field] }}</span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button type="button" mat-raised-button color="primary" (click)="onValidate()" [disabled]="disableValidate()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
