<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="row">
      <div class="form-group required">
        <label class="form-label">
          {{ getComponentName() + ".crewMember" | translate }}
        </label>

        <div class="form-control">
          <p-dropdown
            class="aw-dropdown fixed-width"
            [options]="crewMemberList"
            [(ngModel)]="crewMember"
            [showClear]="true"
            placeholder="&nbsp;"
            appendTo="body"
          ></p-dropdown>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">
      {{ "global.cancel" | translate }}
    </button>

    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="validate()"
      [disabled]="crewMember === undefined || crewMember === null"
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
