<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".selectActionPlan" | translate }}</div>
  </a-header>

  <a-content>
    <div class="row">
      <div class="form-group required">
        <label class="form-label">{{ getComponentName() + ".actionPlan" | translate }}</label>

        <div class="form-control">
          <p-dropdown
            class="aw-dropdown fixed-width"
            [options]="actionPlanList"
            [(ngModel)]="selectedAction"
            [showClear]="true"
            placeholder="&nbsp;"
            appendTo="body"
          ></p-dropdown>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button type="button" color="primary" mat-raised-button (click)="validate()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
