<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="form-group">
      <div class="form-control">
        <textarea
          class="aw-textarea"
          [rows]="10"
          [cols]="30"
          [disabled]="true"
          pInputTextarea
          [(ngModel)]="importReportMessage"
        ></textarea>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="close()">{{ "global.close" | translate }}</button>
  </a-footer>
</a-modal>
