<a-modal class="aw-modal" [(visible)]="display" [width]="55">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="section">
      <h4 class="section-title">
        {{ getComponentName() + ".item" | translate }}
      </h4>
      <div class="row">
        <div class="form-group">
          <div class="form-control aw-selectbutton-wrapper">
            <p-selectButton
              [(ngModel)]="selectedChoiceItem"
              [options]="choiceListItem"
              (onChange)="resetChoiceItem()"
            ></p-selectButton>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="selectedChoiceItem === component.EXISTING_ITEM">
        <div class="form-group required flex--3" [ngClass]="isDraftStatus ? 'flex--4' : 'flex--3'">
          <label class="form-label">{{ getComponentName() + ".item" | translate }}</label>

          <div class="form-control">
            <p-dropdown
              class="aw-dropdown fixed-width"
              placeholder="&nbsp;"
              [showClear]="true"
              [(ngModel)]="item"
              [options]="itemsList"
              appendTo="body"
              (onChange)="onChangeItem(item)"
            ></p-dropdown>
          </div>
        </div>
        <div class="form-group flex--1" *ngIf="item">
          <label class="form-label">{{
            getComponentName() + (isDraftStatus ? ".quantity" : ".missingQuantity") | translate
          }}</label>

          <div class="form-control">
            {{ getMissingQuantity() }}
            <ng-container *ngIf="pnChoose && pnChoose.pnCode && pnChoose.quantityUnit">
              {{ pnChoose.quantityUnit }}
            </ng-container>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="selectedChoiceItem === component.NEW_ITEM">
        <div class="form-group">
          <div class="form-control aw-selectbutton-wrapper">
            <p-selectButton
              [(ngModel)]="selectedChoiceItemPackage"
              [options]="choiceListItemPackage"
              (onChange)="resetChoiceItemPackage()"
            ></p-selectButton>
          </div>
        </div>
      </div>

      <div
        class="row"
        *ngIf="
          selectedChoiceItemPackage === component.CURRENT_PACKAGE &&
          createWithPackage &&
          selectedChoiceItem === component.NEW_ITEM
        "
      >
        <div class="form-group required">
          <label class="form-label">{{ getComponentName() + ".packageNumber" | translate }}</label>

          <div class="form-control">
            <p-dropdown
              class="aw-dropdown fixed-width"
              placeholder="&nbsp;"
              [showClear]="true"
              [(ngModel)]="packageDto"
              [options]="packageList"
              appendTo="body"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div
        class="row"
        *ngIf="
          selectedChoiceItemPackage === component.NEW_PACKAGE &&
          createWithPackage &&
          selectedChoiceItem === component.NEW_ITEM
        "
      >
        <div class="form-group">
          <div class="form-control aw-selectbutton-wrapper">
            <p-selectButton
              [(ngModel)]="selectedChoicePackage"
              [options]="choiceListPackage"
              (onChange)="resetChoicePackage()"
            ></p-selectButton>
          </div>
        </div>

        <div class="form-group required" *ngIf="!isPackageCodeGenerated">
          <label class="form-label">{{ getComponentName() + ".packageNumber" | translate }}</label>

          <div class="form-control">
            <input type="text" class="aw-input" [(ngModel)]="packageDto.externalPackageCode" />
          </div>
        </div>
      </div>

      <div
        class="row"
        *ngIf="
          selectedChoiceItemPackage === component.NEW_PACKAGE &&
          createWithPackage &&
          selectedChoiceItem === component.NEW_ITEM
        "
      >
        <div class="form-group required">
          <label class="form-label">{{ getComponentName() + ".packageType" | translate }}</label>

          <div class="form-control">
            <p-dropdown
              class="aw-dropdown fixed-width"
              [showClear]="true"
              placeholder="&nbsp;"
              [(ngModel)]="this.packageDto.packageType"
              [options]="packagesTypesList"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="selectedChoiceItem === component.NEW_ITEM">
        <div class="form-group required">
          <label class="form-label">{{ getComponentName() + ".article" | translate }}</label>

          <div class="form-control form-control-with-modal">
            <div class="form-control-data" (click)="openSearchPnDialog()">
              {{ article }}
            </div>

            <div *ngIf="article" class="btn-clear-wrapper">
              <i
                class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                aria-hidden="true"
                (click)="article = undefined"
              ></i>
            </div>
            <div>
              <i class="fa fa-fw fa-search aw-icon btn-search" aria-hidden="true" (click)="openSearchPnDialog()"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="article-designation" *ngIf="pnChoose">
        {{ pnChoose.articleDesignation }}
      </div>
      <div class="row" *ngIf="selectedChoiceItem === component.NEW_ITEM">
        <div class="form-group required">
          <label class="form-label">{{ getComponentName() + ".quantity" | translate }}</label>

          <div class="form-control">
            <input
              type="number"
              name="docName"
              class="aw-input"
              min="0"
              oninput="validity.valid||(value='');"
              [(ngModel)]="quantityItem"
              (blur)="updateRemainingQuantity()"
            />
          </div>
        </div>
        <div
          class="form-group"
          [ngClass]="{
            'visibility--hidden': !(pnChoose && pnChoose.quantityUnit)
          }"
        >
          <label class="form-label">{{ "unit" | translate }}</label>

          <div class="form-control">
            <div class="form-control-generic" *ngIf="pnChoose && pnChoose.pnCode && pnChoose.quantityUnit">
              {{ pnChoose.quantityUnit }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h4 class="section-title">
        {{ getComponentName() + ".asset" | translate }}
      </h4>
      <div class="section-content">
        <div class="row">
          <div class="form-group flex--3">
            <div class="form-control aw-selectbutton-wrapper" *ngIf="!isTracabilityBySN">
              <p-selectButton
                [(ngModel)]="selectedChoicePackagingNumber"
                [options]="choiceListPackagingNumber"
                (onChange)="resetChoicePackagingnumber()"
              ></p-selectButton>
            </div>
          </div>
          <div
            class="form-group flex--1"
            *ngIf="(item || (pnChoose && stockMvtTable && stockMvtTable.length > 0)) && !isDraftStatus"
          >
            <label class="form-label">{{ getComponentName() + ".quantityToReceipt" | translate }}</label>

            <div class="form-control required">
              <input
                type="number"
                name="docName"
                class="aw-input"
                [(ngModel)]="quantity"
                min="0"
                oninput="validity.valid||(value='');"
                (blur)="updateRemainingQuantity()"
              />
            </div>
          </div>
        </div>

        <div
          class="row"
          style="justify-content: space-between; align-items: center; margin-bottom: 8px;"
          *ngIf="item || (pnChoose && stockMvtTable && stockMvtTable.length > 0)"
        >
          <div>
            {{ getComponentName() + ".missingQuantity" | translate }}: <span class="bold">{{ remainingQuantity }}</span>
            <ng-container *ngIf="pnChoose && pnChoose.pnCode && pnChoose.quantityUnit">
              {{ pnChoose.quantityUnit }}
            </ng-container>
          </div>
        </div>

        <p-table
          #ptableStockMvt
          class="aw-table2"
          [resizableColumns]="true"
          [scrollable]="true"
          [value]="stockMvtTable"
          [customSort]="false"
        >
          <ng-template pTemplate="colgroup">
            <colgroup>
              <col style="width: 20%;" *ngIf="!isGeneratedPackagingNumber" />
              <col style="width: 20%;" *ngIf="isTracabilityBySN || isTracabilityByBatchAndSn" />
              <col style="width: 20%;" *ngIf="isTracabilityByBatch" />
              <col style="width: 20%;" *ngIf="!isTracabilityByPackagingBatch" />
              <col style="width: 20%;" *ngIf="isTracabilityByBatch" />
              <col style="width: 20%;" *ngIf="!(isTracabilityBySN || isTracabilityByBatchAndSn)" />
              <col style="width: 64px;" />
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="text-align: left;" *ngIf="!isGeneratedPackagingNumber">
                {{ getComponentName() + ".packagingNumber" | translate }}
              </th>
              <th style="text-align: left;" *ngIf="isTracabilityBySN || isTracabilityByBatchAndSn">
                {{ getComponentName() + ".sn" | translate }}
              </th>
              <th style="text-align: left;" *ngIf="isTracabilityByBatch">
                {{ getComponentName() + ".manufacturingBatch" | translate }}
              </th>
              <th style="text-align: left;" *ngIf="!isTracabilityByPackagingBatch">
                {{ getComponentName() + ".manufacuringDate" | translate }}
              </th>
              <th style="text-align: left;" *ngIf="isTracabilityByBatch || isTracabilityByPackagingBatch">
                {{ getComponentName() + ".expirationDate" | translate }}
              </th>
              <th style="text-align: left;" *ngIf="!(isTracabilityBySN || isTracabilityByBatchAndSn)">
                {{ getComponentName() + ".quantity" | translate }}
                <ng-container *ngIf="pnChoose && pnChoose.pnCode && pnChoose.quantityUnit">
                  ({{ pnChoose.quantityUnit }})
                </ng-container>
              </th>
              <th style="text-align: center;"></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
              <td style="text-align: left;" *ngIf="!isGeneratedPackagingNumber">
                <div style="display: flex; align-items: baseline">
                  <div class="form-control required">
                    <input
                      class="aw-input"
                      type="text"
                      [(ngModel)]="rowData.stockMvtBatchNumber"
                      [disabled]="!rowData.isEditable"
                      [required]="!isGeneratedPackagingNumber"
                    />
                  </div>

                  <button
                    mat-icon-button
                    color="accent"
                    (click)="fillByBatch(rowData, rowData.stockMvtBatchNumber, false)"
                    *ngIf="rowData.isEditable"
                  >
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
              </td>

              <td style="text-align: left;" *ngIf="isTracabilityBySN || isTracabilityByBatchAndSn">
                <div style="display: flex; align-items: baseline" *ngIf="isAssetUnknow || !rowData.isEditable">
                  <div class="form-control required">
                    <input
                      type="text"
                      class="aw-input"
                      [(ngModel)]="rowData.stockMvtSn"
                      [disabled]="!rowData.isEditable"
                    />
                  </div>

                  <button mat-icon-button color="accent" (click)="fillBySn(rowData)" *ngIf="rowData.isEditable">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>

                <div class="form-control form-control-with-modal" *ngIf="!isAssetUnknow && rowData.isEditable">
                  <div class="form-control-data" (click)="openAssetDialog()">
                    {{ selectedAssetName }}
                  </div>

                  <div *ngIf="selectedAssetName" class="btn-clear-wrapper">
                    <i
                      class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                      aria-hidden="true"
                      (click)="selectedAssetName = undefined"
                    ></i>
                  </div>
                  <div class="btn-search-wrapper">
                    <i class="fa fa-fw fa-search aw-icon btn-search" aria-hidden="true" (click)="openAssetDialog()"></i>
                  </div>
                </div>
              </td>

              <td style="text-align: left;" *ngIf="isTracabilityByBatch">
                <div style="display: flex; align-items: baseline">
                  <div class="form-control required">
                    <input
                      class="aw-input"
                      type="text"
                      [(ngModel)]="rowData.manufacturingBatch"
                      [disabled]="!rowData.isEditable"
                      [required]="isTracabilityByBatch"
                    />
                  </div>

                  <button
                    mat-icon-button
                    color="accent"
                    (click)="fillByBatch(rowData, rowData.manufacturingBatch, true)"
                    *ngIf="rowData.isEditable"
                  >
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
              </td>

              <td style="text-align: left;" *ngIf="!isTracabilityByPackagingBatch">
                <div class="form-control required">
                  <p-calendar
                    showButtonBar="true"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [yearRange]="sessionService.calendarYearRange"
                    class="aw-calendar"
                    appendTo="body"
                    [dateFormat]="sessionService.dateFormatPrimeNG"
                    [locale]="sessionService.calendarFormat"
                    [(ngModel)]="rowData.manufacturingDate"
                    [disabled]="!rowData.isEditable"
                  ></p-calendar>
                </div>
              </td>

              <td style="text-align: left;" *ngIf="isTracabilityByBatch || isTracabilityByPackagingBatch">
                <div class="form-control required">
                  <p-calendar
                    showButtonBar="true"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [yearRange]="sessionService.calendarYearRange"
                    class="aw-calendar"
                    appendTo="body"
                    [dateFormat]="sessionService.dateFormatPrimeNG"
                    [locale]="sessionService.calendarFormat"
                    [(ngModel)]="rowData.expirationDate"
                    [disabled]="!rowData.isEditable"
                  ></p-calendar>
                </div>
              </td>

              <td *ngIf="!(isTracabilityBySN || isTracabilityByBatchAndSn)">
                <div class="form-control required">
                  <input
                    class="aw-input"
                    type="number"
                    [(ngModel)]="rowData.stockMvtQuantity"
                    [disabled]="!rowData.isEditable"
                    [required]="true"
                    [min]="0"
                    [max]="remainingQuantity"
                    oninput="validity.valid||(value='');"
                  />
                </div>
              </td>

              <td>
                <button
                  mat-icon-button
                  class="mat-elevation-z1"
                  color="warn"
                  (click)="deleteStockItem(rowData)"
                  *ngIf="!rowData.isEditable"
                >
                  <mat-icon>remove</mat-icon>
                </button>

                <button
                  mat-icon-button
                  class="mat-elevation-z1"
                  (click)="updateStockMvtTable(rowData)"
                  *ngIf="rowData.isEditable"
                >
                  <mat-icon>done</mat-icon>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="section-content" *ngIf="!isNotReceiptDone">
        <div class="row">
          <div class="form-group">
            <label class="form-label warning">{{ getComponentName() + ".warnigDeliver" | translate }}</label>
          </div>
        </div>
      </div>
      <div class="section-content" *ngIf="!isNotQuantityOver">
        <div class="row">
          <div class="form-group">
            <label class="form-label warning">{{ getComponentName() + ".warnigQuanttity" | translate }}</label>
          </div>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">{{ "global.cancel" | translate }}</button>
    <button
      type="button"
      color="primary"
      mat-raised-button
      [disabled]="disableButton && isNotReceiptDone"
      (click)="validateAssetListForPackage()"
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-search-pn
  *ngIf="searchPnDialogVisible"
  [(display)]="searchPnDialogVisible"
  [withAllTypes]="true"
  [showPartTypeSelection]="true"
  (onSelected)="checkPn($event)"
></aw-dialog-search-pn>
<aw-dialog-search-equipment
  *ngIf="assetDialogVisible"
  [(display)]="assetDialogVisible"
  [selectionMultiple]="false"
  [searchAllEquipment]="true"
  [pnChoose]="article"
  (onSelected)="onSelectAsset($event)"
></aw-dialog-search-equipment>
