:host {
  #modification-form-component {
    .main-data .form-group {
      width: 15rem;
    }
    .attributes-tab {
      display: flex;
      flex-direction: column;
    }

    .general-tab {
      display: flex;
      flex-direction: column;

      .general-fields {
        display: flex;
        flex-direction: row;
        width: 100%;

        .general-field {
          width: 15rem;
        }
        .text-area {
          width: 20rem;
        }
      }

      .general-tables {
        display: flex;
        flex-direction: column;
        padding-top: 24px;

        .row {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          &:first-of-type {
            margin-bottom: 24px;
          }

          .table-wrapper {
            width: 50%;

            &:first-of-type {
              padding-right: 24px;
            }

            &:nth-of-type(2) {
              padding-left: 24px;
            }
          }
        }
      }
    }
  }
}
