@import "constants";

:host {
  .overlay {
    padding: 40px;
  }

  .current-status {
    border: 1px solid transparent;
    border-radius: 16px;
    font-style: italic;
    font-weight: 600;
    justify-content: center;
    padding: 8px 32px;
    display: inline-block;
  }

  mat-button-toggle-group,
  .current-status {
    margin: 24px 0 48px 0;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 24px;
  }
}
