<div class="overlay">
  <h3>{{ "currentStatus" | translate }}</h3>

  <div class="current-status mat-elevation-z2" matTooltip="{{ tooltip }}" matTooltipPosition="below">
    {{ currentStatus.label }}
  </div>

  <h3>{{ "newStatus" | translate }}</h3>

  <mat-button-toggle-group [(ngModel)]="newStatus" *ngIf="nextStatuses.length <= 8">
    <mat-button-toggle *ngFor="let status of nextStatuses" [value]="status.value">{{ status.label }}</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field *ngIf="nextStatuses.length > 8">
    <mat-select [(value)]="newStatus">
      <mat-option *ngFor="let status of nextStatuses" [value]="status.value">
        {{ status.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" [disabled]="!newStatus" (click)="validate()">
      {{ "validate" | translate }}
    </button>
  </div>
</div>
