@import "constants";

::ng-deep body#aw-app .aw-table2.with-column-group th.column-group-separator {
  border-right-width: 0.3em !important;
  border-right-style: solid !important;
  border-right-color: black !important;
}
