:host {
  .scan {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 4rem;

    i {
      cursor: pointer;
      font-size: 12rem;
    }
  }
}
