
::ng-deep .defaultUpload{
  .ui-fileupload-choose  {
     .pi-plus:before{
      content: "\e934";
    }
  }
  
}

::ng-deep .defaultUpload{
  .ui-button {
     color:#007ad9;
     background:none;
     border:none;
     font-size: 19px;
  }
  .ui-fileupload-choose:not(.ui-state-disabled):hover{
    color:#007ad9;
    background:none;
    border:none;
    font-size: 19px;
  }
  
}

:host {
  .form-group-type {
    flex: initial !important;
  }
  .form-group-category {
    max-width: 18rem;
  }
}