<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".itemVersionManagement" | translate }}</div>
  </a-header>

  <a-content>
    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">{{ getComponentName() + ".versionNumber" | translate }}</label>
      <div class="form-control">
        <input
          type="text"
          class="aw-input"
          maxlength="50"
          [(ngModel)]="getPartNumberStructureOutputDTO.versionNumber"
          [disabled]="isReadOpenMode"
        />
      </div>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="isReadOpenMode" type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.close" | translate }}</span>
    </button>

    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button
      *ngIf="!isReadOpenMode"
      type="button"
      mat-raised-button
      color="primary"
      [disabled]="!getPartNumberStructureOutputDTO.versionNumber"
      (click)="onValidate()"
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
