:host {
  .form-group {
    margin-right: 30px;
    width: 30%;
    margin-top: 0px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .search-criteria-primary {
    .aw-button-level3 {
      font-size: 0.9rem;
      max-height: 30px;
      min-height: 30px;
      min-width: 50px;
    }
  }
  .dialog-panel-result {
    margin-top: 25px;
  }

  .panel-result-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }

  .search-action-right {
    text-align: right;
  }
}
