<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="column">
      <div class="row">
        <div class="form-group required">
          <label class="form-label">
            {{ getComponentName() + ".comment" | translate }}
          </label>

          <div class="form-control required">
            <textarea
              class="aw-textarea"
              [rows]="3"
              pInputTextarea
              autoResize="autoResize"
              [(ngModel)]="comment"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group required">
          <label class="form-label">
            {{ getComponentName() + ".date" | translate }}
          </label>

          <div class="form-control required">
            <p-calendar
              showButtonBar="true"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [yearRange]="sessionService.calendarYearRange"
              class="aw-calendar"
              [dateFormat]="sessionService.dateFormatPrimeNG"
              [locale]="sessionService.calendarFormat"
              [(ngModel)]="date"
              appendTo="body"
              [showTime]="true"
              [readonlyInput]="true"
            ></p-calendar>
          </div>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">{{ "global.cancel" | translate }}</button>

    <button type="button" mat-raised-button color="primary" (click)="validate()" [disabled]="!isValid()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
