@import "constants";
@import "mixins";
:host {
  .search-criteria-footer-end {
    justify-content: flex-end;
  }
  .group-control {
    display: flex;
    .form-sub-control {
      flex-direction: column;
      width: 100%;
      & > p-selectButton {
        display: flex;
        align-items: flex-end;
        height: $form-control-height;
      }
    }
  }
  .grid-cell--3-max {
    max-width: 25%;
  }
  .grid-cell--9-max {
    max-width: 30%;
  }

  .code {
    display: inline-table;
    width: 100%;
  }

  ::ng-deep .info {
    overflow: hidden;
    padding-bottom: 0.4em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .procurement-alert {
    font-weight: 600;
    text-align: center;
    display: inline-block;
    padding: 4px;
  }

  .procurement--nok {
    background-color: $red-light1;
  }

  .procurement--ok {
    background-color: $green-light1;
  }

  .procurement--warning {
    background-color: $orange;
  }

  .custom-padding {
    padding-top: 5px;
  }
}
