$green: rgb(80, 190, 135);
$yellow: rgb(241, 168, 39);
$red: rgb(169, 3, 41);
$topbar-height: 85px;
:host {
  .table-wrapper {
    width: 100%;
  }
  .table-border-left {
    border-left: solid 1px black !important;
  }
  ::ng-deep .text-wrap {
    white-space: normal !important;
  }
  .search-criteria-primary {
    justify-content: flex-start;
  }
  .users-fields-fields {
    width: 100%;
  }
  .column {
    flex: 33%;
  }
  .circle-icon {
    background: #ffffff;
    padding: 2px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
  }
  .compliance-icon {
    font-size: 2.125rem;
  }
  .red {
    color: $red;
  }
  .green {
    color: $green;
  }
  .yellow {
    color: $yellow;
  }
}
