@import "constants";

:host {
  .modal {
    position: fixed;

    &.full-screen {
      bottom: 0;
      left: 0;
      right: 0;
      top: $topbar-height;
    }

    .modal__content {
      overflow-x: hidden;
      overflow-y: overlay;
      padding: 0 calc(#{$margin-value} * 3);
    }
  }
}
