<div class="page-header-container">
  <div class="page-context">
    <div class="page-title-container">
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-secondary-actions">
        <i
          class="fa fa-fw aw-icon aw-icon-with-border"
          [ngClass]="{ 'fa-star': isFavoriteEntry, 'fa-star-o': !isFavoriteEntry }"
          aria-hidden="true"
          (click)="updateFavoriteState()"
          pTooltip="{{ 'page.' + (isFavoriteEntry ? 'removeFromFavorites' : 'addToFavorites') | translate }}"
          tooltipPosition="bottom"
        ></i>
      </div>
    </div>

    <div class="page-subtitle-container">
      <div class="page-subtitle">
        {{ "page.searchPage" | translate }}
      </div>
    </div>
  </div>

  <div class="page-primary-actions">
    <button
      type="button"
      mat-raised-button
      (click)="openCreateMission()"
      *ngIf="hasUpdateAccessRight && hasCreateButton"
    >
      {{ "global.create" | translate }}
    </button>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ "global.search" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <div class="row search-criteria-header">
                  <i
                    class="fa fa-fw fa-undo aw-icon aw-icon-with-border search-criteria-action"
                    aria-hidden="true"
                    pTooltip="{{ 'global.reset' | translate }}"
                    tooltipPosition="top"
                    (click)="resetSearchCriteria()"
                  ></i>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label">
                      {{
                        componentData.componentId + "." + componentData.componentId + "Field" + ".missionCode"
                          | translate
                      }}
                    </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchFields.missionCode" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">
                      {{
                        componentData.componentId + "." + componentData.componentId + "Field" + ".missionType"
                          | translate
                      }}
                    </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="missionTypeList"
                        [(ngModel)]="searchFields.missionType"
                        [showClear]="true"
                        placeholder="&nbsp;"
                      ></p-dropdown>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">
                      {{
                        componentData.componentId + "." + componentData.componentId + "Field" + ".missionNumber"
                          | translate
                      }}
                    </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchFields.missionNumber" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div id="operatorCode" class="form-group">
                    <label class="form-label">
                      {{ getComponentName() + ".customerOperatorCode" | translate }}
                    </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="flightCustomerList"
                        [(ngModel)]="searchFields.customerOperatorCode"
                        [disabled]="isReadOpenMode"
                        [showClear]="true"
                        placeholder="&nbsp;"
                      ></p-dropdown>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">{{ componentData.componentId + ".missionDateFrom" | translate }}</label>

                    <div class="form-control">
                      <p-calendar
                        showButtonBar="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [yearRange]="sessionService.calendarYearRange"
                        class="aw-calendar"
                        [dateFormat]="sessionService.dateFormatPrimeNG"
                        [locale]="sessionService.calendarFormat"
                        [(ngModel)]="searchFields.startDate"
                      ></p-calendar>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">{{ componentData.componentId + ".missionDateTo" | translate }}</label>

                    <div class="form-control">
                      <p-calendar
                        showButtonBar="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [yearRange]="sessionService.calendarYearRange"
                        class="aw-calendar"
                        [dateFormat]="sessionService.dateFormatPrimeNG"
                        [locale]="sessionService.calendarFormat"
                        [(ngModel)]="searchFields.endDate"
                      ></p-calendar>
                    </div>
                  </div>
                </div>
                <div class="advanced-criteria" [ngClass]="{ 'display--none': !showAdvancedCriteria }">
                  <div class="row">
                    <div class="form-group">
                      <label class="form-label">
                        {{
                          componentData.componentId + "." + componentData.componentId + "Field" + ".departureLocation"
                            | translate
                        }}
                      </label>

                      <div class="form-control">
                        <p-dropdown
                          class="aw-dropdown fixed-width"
                          [options]="flightLocationList"
                          [(ngModel)]="searchFields.departureLocation"
                          [showClear]="true"
                          placeholder="&nbsp;"
                        ></p-dropdown>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label">
                        {{
                          componentData.componentId + "." + componentData.componentId + "Field" + ".arrivalLocation"
                            | translate
                        }}
                      </label>

                      <div class="form-control">
                        <p-dropdown
                          class="aw-dropdown fixed-width"
                          [options]="flightLocationList"
                          [(ngModel)]="searchFields.arrivalLocation"
                          [showClear]="true"
                          placeholder="&nbsp;"
                        ></p-dropdown>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label">
                        {{
                          componentData.componentId + "." + componentData.componentId + "Field" + ".operation"
                            | translate
                        }}
                      </label>

                      <div class="form-control">
                        <p-dropdown
                          class="aw-dropdown fixed-width"
                          [options]="operationCode"
                          [(ngModel)]="searchFields.operationCode"
                          [showClear]="true"
                          placeholder="&nbsp;"
                        ></p-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row search-criteria-footer">
                  <button mat-button (click)="showAdvancedCriteria = !showAdvancedCriteria">
                    <ng-container *ngIf="showAdvancedCriteria">
                      <mat-icon>remove</mat-icon>
                      {{ "global.collapseCriteria" | translate }}
                    </ng-container>
                    <ng-container *ngIf="!showAdvancedCriteria">
                      <mat-icon>add</mat-icon>
                      {{ "global.expandCriteria" | translate }}
                    </ng-container>
                  </button>

                  <div class="search-actions">
                    <button
                      type="button"
                      mat-raised-button
                      (click)="search()"
                      color="primary"
                      appKeyPress
                      [keyCode]="'Enter'"
                      (keyPress)="search()"
                    >
                      {{ "global.toSearch" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div #resultsContainerAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ "global.results" | translate }} ({{ resultsTable ? resultsTable.length : 0 }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <p-table
                [resizableColumns]="true"
                #ptableResults
                class="aw-table2"
                [columns]="resultsTableCols"
                [value]="resultsTable"
                [(selection)]="selectedMissions"
                [scrollable]="true"
                dataKey="missionCode"
              >
                <ng-template pTemplate="emptymessage">
                  <span *ngIf="!isLoading"> &nbsp;</span>

                  <div *ngIf="isLoading" class="aw-table-loading-indicator">
                    <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                    <div class="lds-hourglass"></div>
                  </div>
                </ng-template>

                <ng-template pTemplate="caption">
                  <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedMissions.length > 0 }">
                    <div class="aw-table-global-filter">
                      <label class="aw-table-global-filter-label">
                        <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                      </label>

                      <input
                        #ptableResultsGlobalFilter
                        class="aw-table-global-filter-input"
                        type="text"
                        placeholder="{{ 'table.globalFilterText' | translate }}"
                        (input)="ptableResults.filterGlobal($event.target.value, 'contains')"
                      />
                    </div>

                    <div class="aw-table-actions">
                      <button
                        *ngIf="resultsTable && resultsTable.length > 0 && selectedMissions.length === 0"
                        type="button"
                        mat-raised-button
                        (click)="exportTable()"
                      >
                        {{ "global.export" | translate }}
                      </button>

                      <button
                        *ngIf="hasManageAccessRight && selectedMissions.length > 0"
                        type="button"
                        mat-raised-button
                        color="warn"
                        (click)="deleteMissions()"
                      >
                        {{ "global.delete" | translate }}
                      </button>

                      <button
                        *ngIf="selectedMissions.length > 0"
                        type="button"
                        mat-raised-button
                        (click)="openSelectedMissions()"
                      >
                        {{ "global.open" | translate }}
                      </button>
                    </div>
                  </div>
                </ng-template>

                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="aw-table-checkbox-wrapper" />
                    <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                    <col class="row-expand-wrapper" />
                    <col class="row-action-wrapper" />
                  </colgroup>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="aw-table-checkbox-wrapper">
                      <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                    </th>

                    <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                      {{ componentData.componentId + "." + col.field | translate }}
                    </th>
                    <th class="row-expand-wrapper"></th>
                    <th class="row-action-wrapper"></th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                    <td class="aw-table-checkbox-wrapper">
                      <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                    </td>

                    <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
                      <span *ngSwitchCase="'isOperator'">
                        <i
                          *ngIf="rowData[col.field] !== null && rowData[col.field]"
                          class="fa fa-fw fa-check"
                          aria-hidden="true"
                        ></i>
                      </span>

                      <span *ngSwitchCase="'isOwner'">
                        <i
                          *ngIf="rowData[col.field] !== null && rowData[col.field]"
                          class="fa fa-fw fa-check"
                          aria-hidden="true"
                        ></i>
                      </span>

                      <span *ngSwitchCase="'missionCode'">
                        <a (click)="openMissionScreen(rowData)"> {{ rowData["missionCode"] }}</a>
                      </span>
                      <span *ngSwitchCase="'customerOperatorCode'">
                        {{ rowData["customerOperatorCode"] | formatSelectOption: flightCustomerList }}
                      </span>
                      <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                    </td>
                    <td class="row-expand-wrapper" [pRowToggler]="rowData">
                      <i
                        class="fa fa-fw aw-icon aw-icon-with-border"
                        [ngClass]="rowData._expand ? 'fa-minus' : 'fa-plus'"
                        aria-hidden="true"
                        pTooltip="{{ 'global.showTableRowDetails' | translate }}"
                        tooltipPosition="top"
                        (click)="toggleWorkPackageExpand(rowData)"
                      ></i>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                  <tr class="row-expanded" *ngIf="rowData._expand">
                    <td [attr.colspan]="columns.length + 2">
                      <div class="row">
                        <div class="form-group">
                          <label class="form-label"> {{ getComponentName() + ".missionDuration" | translate }} </label>

                          <div class="form-control">
                            <input
                              class="aw-input"
                              type="text"
                              [(ngModel)]="rowData.missionDuration"
                              [disabled]="true"
                            />
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="form-label">
                            {{ getComponentName() + ".cycleNumber" | translate }}
                          </label>

                          <div class="form-control">
                            <input class="aw-input" type="text" [(ngModel)]="rowData.cycleNumber" [disabled]="true" />
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="form-label">
                            {{ getComponentName() + ".periodicityType" | translate }}
                          </label>

                          <div class="form-control">
                            <input
                              class="aw-input"
                              type="text"
                              [(ngModel)]="rowData.periodicityType"
                              [disabled]="true"
                            />
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="form-label">
                            {{ getComponentName() + ".periodicityLimitDate" | translate }}
                          </label>

                          <div class="form-control">
                            <input
                              class="aw-input"
                              type="text"
                              [(ngModel)]="rowData.periodicityLimitDate"
                              [disabled]="true"
                            />
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
