<div class="page-header-container">
  <div class="page-context">
    <div class="page-title-container">
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-secondary-actions">
        <i
          class="fa fa-fw aw-icon aw-icon-with-border"
          [ngClass]="{ 'fa-star': isFavoriteEntry, 'fa-star-o': !isFavoriteEntry }"
          aria-hidden="true"
          (click)="updateFavoriteState()"
          pTooltip="{{ 'page.' + (isFavoriteEntry ? 'removeFromFavorites' : 'addToFavorites') | translate }}"
          tooltipPosition="bottom"
        ></i>

        <i
          class="fa fa-fw fa-info aw-icon aw-icon-with-border"
          aria-hidden="true"
          pTooltip="{{ 'page.info' | translate }}"
          tooltipPosition="bottom"
        ></i>
      </div>
    </div>

    <div class="page-subtitle-container">
      <div *ngIf="!isCreateOpenMode && componentData && componentData.objectId" class="page-subtitle">
        {{ serializationService.deserialize(componentData.objectId)["extensionCode"] }}
      </div>
    </div>
  </div>

  <div class="page-primary-actions">
    <button *ngIf="isReadOpenMode && !isCreateOpenMode" type="button" mat-raised-button (click)="reloadContext()">
      {{ "global.refresh" | translate }}
    </button>

    <button *ngIf="isReadOpenMode && hasUpdateAccessRight" type="button" mat-raised-button (click)="editContext()">
      {{ "global.edit" | translate }}
    </button>

    <button *ngIf="!isReadOpenMode && !isCreateOpenMode" type="button" mat-raised-button (click)="cancelContext()">
      {{ "global.cancel" | translate }}
    </button>

    <button
      *ngIf="!isReadOpenMode"
      class="btn-with-spinner"
      color="primary"
      type="button"
      mat-raised-button
      (click)="saveContext()"
    >
      <span class="lds-hourglass" *ngIf="showSaveSpinner"></span>
      {{ "global.save" | translate }}
    </button>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-content">
              <div class="grid-row">
                <div class="form-group required">
                  <label class="form-label">{{ componentData.componentId + ".extensionCode" | translate }} </label>
                  <div class="form-control">
                    <input
                      type="text"
                      class="aw-input"
                      [(ngModel)]="context.extensionCode"
                      [disabled]="isReadOpenMode || !isCreateOpenMode"
                      maxlength="50"
                    />
                  </div>
                </div>

                <div class="form-group required">
                  <label class="form-label">{{ componentData.componentId + ".extensionName" | translate }} </label>
                  <div class="form-control">
                    <input
                      type="text"
                      class="aw-input"
                      [(ngModel)]="context.extensionName"
                      [disabled]="isReadOpenMode"
                      maxlength="100"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div #mainDataAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ componentData.componentId + ".parameters" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content  grid-cell-content-with-section">
              <div class="section">
                <h4 class="section-title">
                  {{ componentData.componentId + ".parametersAssociatedToContact" | translate }}
                </h4>

                <div class="section-content">
                  <a-table [dataSource]="parametersTableDataSource">
                    <ng-template tableActionsDef>
                      <button
                        *ngIf="!isReadOpenMode && !parametersTableDataSource.hasDataSelection"
                        type="button"
                        mat-raised-button
                        (click)="addNewParameter()"
                      >
                        {{ "global.add" | translate }}
                      </button>

                      <button
                        *ngIf="!isReadOpenMode && parametersTableDataSource.dataSelectionCount === 1"
                        type="button"
                        mat-raised-button
                        (click)="editParameter()"
                      >
                        {{ "global.edit" | translate }}
                      </button>

                      <button
                        *ngIf="!isReadOpenMode && parametersTableDataSource.hasDataSelection"
                        type="button"
                        mat-raised-button
                        (click)="deleteParameters()"
                      >
                        {{ "global.delete" | translate }}
                      </button>
                    </ng-template>
                  </a-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- POPUP ZONE -->

<aw-parameters-popup
  *ngIf="showParametersPopup"
  [(display)]="showParametersPopup"
  [parameter]="currentParameter"
  [isNewParameter]="isNewParameter"
  (onCreate)="createParameter($event)"
  (onUpdate)="updateParameter($event)"
></aw-parameters-popup>
