:host {
  .gantt-block {
    .gantt-wrap {
      height: 86.2vh;
      width: 100%;
    }

    &.show {
      display: initial;
    }

    .time-resolution {
      align-items: center;
      display: flex;
      flex-direction: row;
      margin: 16px;

      p-slider {
        width: 10rem;
      }
    }

    .today-btn {
      align-items: center;
      display: flex;
      flex-direction: row;
    }
  }
}
