@import "constants";

:host {
  .row {
    margin: 0.5rem 0;
  }

  .row > span {
    min-width: 40em;
    max-width: 40em;
    width: 40rem;
  }

  .criteria-value {
    width: 6rem;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &.ok {
      background-color: $green-light1;
    }

    &.nok {
      background-color: $red-light1;
    }
  }
}
