<a-modal
  id="dialog-schedule-maintenance-table-full-screen"
  class="aw-table-fullscreen"
  [(visible)]="display"
  [fullScreen]="true"
>
  <a-header>
    <div class="modal-title">
      {{ getComponentName() + ".title" | translate }}
      <span *ngIf="maintenancePlanTableDisplayedLeafNb === maintenancePlanTableLeafNb">
        ({{ maintenancePlanTableDisplayedLeafNb }})
      </span>
      <span *ngIf="maintenancePlanTableDisplayedLeafNb !== maintenancePlanTableLeafNb">
        ({{ maintenancePlanTableDisplayedLeafNb }} / {{ maintenancePlanTableLeafNb }})
      </span>
    </div>

    <div class="close-wrapper">
      <i class="aw-icon aw-icon-with-border fa fa-fw fa-minus" (click)="closeDialog()"></i>
    </div>
  </a-header>

  <a-content>
    <div class="column">
      <p-treeTable
        #ptable
        class="aw-tree-table2"
        [value]="maintenancePlanTable"
        [columns]="maintenancePlanTableColList"
        selectionMode="checkbox"
        [(selection)]="maintenancePlanTableSelectedList"
        [scrollable]="true"
        [resizableColumns]="true"
      >
        <ng-template pTemplate="emptymessage">
          <span *ngIf="!maintenancePlanTableLoading"> &nbsp;</span>

          <div *ngIf="maintenancePlanTableLoading" class="aw-table-loading-indicator">
            <div class="loading-message">{{ "table.loadingData" | translate }}</div>
            <div class="lds-hourglass"></div>
          </div>
        </ng-template>

        <ng-template pTemplate="caption">
          <div
            class="aw-table-header"
            [ngClass]="{
              'rows-selected': maintenancePlanTableSelectedList.length > 0
            }"
          >
            <div class="aw-table-global-filter">
              <label class="aw-table-global-filter-label">
                <i class="fa fa-fw fa-search" aria-hidden="true"></i>
              </label>

              <input
                class="aw-table-global-filter-input"
                type="text"
                placeholder="{{ 'table.globalFilterText' | translate }}"
                [(ngModel)]="searchGlobalFilter"
                (keyup)="filter(searchGlobalFilter)"
              />
            </div>

            <div class="aw-table-actions">
              <button
                *ngIf="
                  scheduleMaintenanceFormService.workPackageRemoveFromButtonVisible(maintenancePlanTableSelectedList)
                "
                type="button"
                mat-raised-button
                (click)="removeFromWorkPackage()"
              >
                {{ getComponentName() + ".removeFromWP" | translate }}
              </button>

              <button
                *ngIf="scheduleMaintenanceFormService.workPackageAddToButtonVisible(maintenancePlanTableSelectedList)"
                type="button"
                mat-raised-button
                [ngClass]="{ active: workPackageListToAddVisible }"
                (click)="opWorkPackageToAdd.toggle($event)"
              >
                {{ getComponentName() + ".addToWP" | translate }} &nbsp;
                <i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i>
              </button>

              <button
                *ngIf="scheduleMaintenanceFormService.workPackageCreateButtonVisible(maintenancePlanTableSelectedList)"
                type="button"
                mat-raised-button
                (click)="createWorkPackage()"
              >
                {{ getComponentName() + ".createWP" | translate }}
              </button>

              <p-splitButton
                *ngIf="maintenancePlanTableSelectedList.length === 0"
                class="aw-split-btn aw-table-action"
                label="{{ getComponentName() + '.potentialUnit' | translate }} ({{ potentialUnitSelected }})"
                [model]="potentialUnitList"
              ></p-splitButton>

              <button
                *ngIf="!maintenancePlanTableLoading && maintenancePlanTableSelectedList.length === 0"
                type="button"
                mat-raised-button
              >
                {{ "global.export" | translate }}
              </button>
            </div>

            <div *ngIf="!maintenancePlanTableLoading" class="aw-table-icon-actions">
              <i
                class="fa fa-fw fa-filter aw-icon aw-icon-with-border"
                aria-hidden="true"
                pTooltip="{{ getComponentName() + (filtersVisible ? '.hideFilters' : '.showFilters') | translate }}"
                tooltipPosition="left"
                [ngClass]="{ active: filtersVisible }"
                (click)="opFilters.toggle($event)"
              ></i>
            </div>
          </div>

          <div
            *ngIf="
              !maintenancePlanTableLoading &&
              maintenancePlanTableSelectedList.length === 0 &&
              filterActivatedList.length > 0
            "
            class="active-filter-list"
          >
            <div class="aw-chips" *ngFor="let filter of filterActivatedList">
              <span *ngIf="filter.label" class="aw-chips-label">{{ filter.label }}</span>
              <span class="aw-chips-value">{{ filter.value }}</span>
              <i class="fa fa-fw fa-times aw-chips-icon" aria-hidden="true" (click)="filter.action()"></i>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="aw-table-checkbox-wrapper" />
            <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
          </colgroup>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="aw-table-checkbox-wrapper">
              <p-treeTableHeaderCheckbox class="aw-table-checkbox"></p-treeTableHeaderCheckbox>
            </th>

            <th ttResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
              {{ getComponentName() + "." + col.field | translate }}
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr>
            <td class="aw-table-checkbox-wrapper">
              <p-treeTableCheckbox class="aw-table-checkbox" [value]="rowNode"></p-treeTableCheckbox>
            </td>

            <td
              *ngFor="let col of columns; let i = index"
              [ngSwitch]="col.field"
              [ngStyle]="{ 'text-align': col.alignment }"
            >
              <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 1"></p-treeTableToggler>

              <span *ngSwitchCase="'alert'" pTooltip="{{ rowData['_alertTooltip'] }}" tooltipPosition="top">
                <span
                  *ngIf="
                    rowData[col.field] !== undefined &&
                    rowData[col.field] !== null &&
                    rowData[col.field] === controlConfigConstants.ICON_GREEN
                  "
                  class="alert alert--ok"
                >
                  {{ getComponentName() + ".alertOk" | translate }}
                </span>

                <span
                  *ngIf="
                    rowData[col.field] !== undefined &&
                    rowData[col.field] !== null &&
                    rowData[col.field] === controlConfigConstants.ICON_RED
                  "
                  class="alert alert--nok"
                >
                  {{ getComponentName() + ".alertNok" | translate }}
                </span>

                <span
                  *ngIf="
                    rowData[col.field] !== undefined &&
                    rowData[col.field] !== null &&
                    rowData[col.field] === controlConfigConstants.ICON_YELLOW
                  "
                  class="alert alert--warning"
                >
                  {{ getComponentName() + ".alertWarning" | translate }}
                </span>
              </span>

              <span *ngSwitchCase="'firstColumn'" pTooltip="{{ rowData['firstColumnTooltip'] }}" tooltipPosition="top">
                {{ rowData[col.field] }}
                <i
                  *ngIf="
                    rowData['counterAlert'] !== undefined &&
                    rowData['counterAlert'] !== null &&
                    rowData['counterAlert'].length > 0 &&
                    (rowData['counterAlert'] === controlConfigConstants.ICON_RED ||
                      rowData['counterAlert'] === controlConfigConstants.ICON_YELLOW)
                  "
                  class="fa fa-fw fa-exclamation-triangle"
                  aria-hidden="true"
                  pTooltip="{{ rowData['counterAlertTooltip'] }}"
                  tooltipPosition="top"
                ></i>
              </span>

              <span
                *ngSwitchCase="'nextTerm'"
                pTooltip="{{ rowData['usageCounterExplanation'] }}"
                tooltipPosition="top"
              >
                {{ rowData[col.field] }}
              </span>

              <a
                *ngSwitchCase="'nextWorkPackage'"
                pTooltip="{{ rowData['nextWorkPackageTooltip'] }}"
                tooltipPosition="top"
                (click)="openWorkPackage(rowData)"
              >
                {{ rowData[col.field] }}
              </a>

              <span
                *ngSwitchCase="'remainingEquivalent'"
                pTooltip="{{ rowData['remainingEquivalentTooltip'] }}"
                tooltipPosition="top"
              >
                {{ rowData[col.field] }}
              </span>

              <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </a-content>
</a-modal>

<p-overlayPanel #opFilters class="aw-overlay" (onShow)="filtersVisible = true" (onHide)="filtersVisible = false">
  <aw-maintenance-table-filters
    [searchAssetList]="searchAssetList"
    [searchControlList]="searchControlList"
    [searchCounterList]="searchCounterList"
    [searchTaskGroupList]="searchTaskGroupList"
    [searchTaskList]="searchTaskList"
    [searchTypeList]="searchTypeList"
    [searchWorkPackageList]="searchWorkPackageList"
    [searchCriteria]="searchCriteria"
    (onFilter)="opFilters.hide(); filtersVisible = false; filterWithCriteria()"
    (onReset)="resetTableFilters()"
  >
  </aw-maintenance-table-filters>
</p-overlayPanel>

<p-overlayPanel
  #opWorkPackageToAdd
  (onShow)="workPackageListToAddVisible = true"
  (onHide)="workPackageListToAddVisible = false"
>
  <aw-work-package-list
    [addToVisible]="true"
    [workPackageList]="workPackageList"
    [workPackageStatusList]="workPackageStatusList"
    (onAddTo)="opWorkPackageToAdd.hide(); workPackageListToAddVisible = false; addToWorkPackage($event)"
  ></aw-work-package-list>
</p-overlayPanel>
