<div class="grid-cell-header">
  <div class="grid-cell-title-container">
    <div class="grid-cell-title">
      <span>{{ getComponentName() + ".fuelLoadDesired" | translate }}</span>
    </div>
  </div>
</div>

<div class="grid-cell-content grid-cell-content-with-section">
  <div class="section" *ngIf="showFuelTotal">
    <div class="section-content">
      <div class="row">
        <div id="realisedFuelUsed" class="form-group">
          <label class="form-label">
            {{ getComponentName() + ".fuelUsed" | translate }}
            <span *ngIf="defaultVolumeUnit">({{ defaultVolumeUnit }})</span>
          </label>

          <div class="form-control">
            <input type="number" class="aw-input" [(ngModel)]="realisedFuelUsed" [disabled]="isReadOpenMode" />
          </div>
        </div>

        <div id="fuelLoadFactual2" class="form-group">
          <label class="form-label">
            {{ getComponentName() + ".fuelLoadFactual" | translate }}
            <span *ngIf="defaultVolumeUnit">({{ defaultVolumeUnit | translate }})</span>
          </label>

          <div class="form-control">
            <input type="number" class="aw-input" [(ngModel)]="fuelLoadFactual" [disabled]="true" />
          </div>
        </div>

        <div id="fuelLoadDesiredTotal2" class="form-group">
          <label class="form-label">
            {{ getComponentName() + ".fuelLoadDesiredTotal" | translate }}
            <span *ngIf="defaultVolumeUnit">({{ defaultVolumeUnit | translate }})</span>
          </label>

          <div class="form-control">
            <input type="number" class="aw-input" [(ngModel)]="fuelLoadDesiredTotal" [disabled]="true" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-content">
      <div class="row">
        <div class="chart-inputs">
          <div id="fuel{{ fuelData.type }}" *ngFor="let fuelData of fuelDataList" class="form-group">
            <label class="form-label">
              {{ fuelData.label }}
            </label>

            <div class="form-control">
              <input
                type="number"
                class="aw-input"
                [(ngModel)]="fuelData.value"
                [disabled]="isReadOpenMode"
                (keyup)="fuelData.valueChanged.next(fuelData.value)"
              />
            </div>
          </div>
        </div>

        <div id="chart" class="chart-wrapper">
          <p-chart [type]="chartType" [data]="chartData" [options]="chartOptions" width="100%" height="100%"></p-chart>
        </div>
      </div>
    </div>
  </div>
</div>
