<div class="grid-row">
  <!-- COMPONENT COCKPIT PANEL -->
  <div class="grid-cell--12">
    <div class="grid-cell grid-cell--container grid-cell-scope">
      <div class="grid-cell-content">
        <div class="table-filters-overlay">
          <div class="column">
            <div class="filters">
              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".familyVariant" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="familyVariantList"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    [(ngModel)]="searchCriteria.familyVariantCriteria"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".item" | translate }} </label>
                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="itemList"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    [(ngModel)]="searchCriteria.itemCriteria"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".pn" | translate }} </label>

                <div class="form-control aw-selectbutton-wrapper">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="pnList"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    [(ngModel)]="searchCriteria.pnCriteria"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="filters">
              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".customer" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="customerList"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    [(ngModel)]="searchCriteria.customerList"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".mroCenter" | translate }} </label>
                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="mroCenterList"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    [(ngModel)]="searchCriteria.mroCenterList"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".matching" | translate }} </label>

                <div class="form-control aw-selectbutton-wrapper">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="matchingList"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    [(ngModel)]="searchCriteria.matchingList"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="filters">
              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".sentence" | translate }} </label>
                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="sentenceList"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    [(ngModel)]="searchCriteria.sentenceList"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".decision" | translate }} </label>
                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="decisionList"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    [(ngModel)]="searchCriteria.decisionList"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".type" | translate }} </label>
                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="typeList"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    [(ngModel)]="searchCriteria.typeList"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row action-buttons">
        <button type="button" mat-raised-button class="custom-padding" (click)="reset()">
          {{ getComponentName() + ".reset" | translate }}
        </button>
        <button type="button" mat-raised-button (click)="filter()">
          {{ getComponentName() + ".filter" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
