<a-modal class="aw-modal" [(visible)]="display" [width]="75">
  <a-header>
    <div class="modal-title">
      {{ getComponentName() + ".contractItems" | translate }}
    </div>
  </a-header>
  <a-content>
    <div class="column">
      <div class="row">
        <div class="form-group flex--2" [ngClass]="{ required: !isReadOpenMode }">
          <label class="form-label">
            {{ getComponentName() + ".pciCode" | translate }}
          </label>
          <div class="form-control">
            <input type="number" class="aw-input" [(ngModel)]="item.pciCode" [disabled]="isReadOnlyForm" />
          </div>
        </div>
        <div class="form-group flex--4" [ngClass]="{ required: !isReadOpenMode }">
          <label class="form-label">
            {{ getComponentName() + ".pciLabel" | translate }}
          </label>
          <div class="form-control">
            <input type="text" class="aw-input" [(ngModel)]="item.pciLabel" [disabled]="isReadOnlyForm" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group required">
          <label class="form-label">
            {{ getComponentName() + ".pciType" | translate }}
          </label>
          <div class="form-control">
            <p-dropdown
              class="aw-dropdown fixed-width"
              placeholder="&nbsp;"
              [showClear]="true"
              [options]="itemTypeListDisplay"
              [(ngModel)]="item.pciType"
              appendTo="body"
            ></p-dropdown>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">
            {{ getComponentName() + ".statusState" | translate }}
          </label>
          <div class="form-control">
            <p-dropdown
              class="aw-dropdown fixed-width"
              placeholder="&nbsp;"
              [showClear]="true"
              [disabled]="isReadOnlyForm"
              [options]="itemStatusListDisplay"
              [(ngModel)]="item.statusState"
            ></p-dropdown>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">
            {{ getComponentName() + ".pcCommitmentAuthorization" | translate }}
          </label>
          <div class="form-control">
            <input
              type="text"
              class="aw-input"
              [(ngModel)]="item.pciCommitmentAuthorization"
              [disabled]="isReadOnlyForm"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="form-label">
            {{ getComponentName() + ".pciFlagPackage" | translate }}
          </label>
          <div class="form-control">
            <p-checkbox
              binary="true"
              class="aw-checkbox"
              [(ngModel)]="item.pciFlagPackage"
              [disabled]="isReadOpenMode"
            ></p-checkbox>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">
            {{ getComponentName() + ".pciPackagePrice" | translate }}
          </label>
          <div class="form-control">
            <input type="number" class="aw-input" [(ngModel)]="item.pciPackagePrice" [disabled]="isReadOpenMode" />
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">
            {{ getComponentName() + ".pcLegalCommitment" | translate }}
          </label>
          <div class="form-control">
            <input type="text" class="aw-input" [(ngModel)]="item.pciLegalCommitment" [disabled]="isReadOnlyForm" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="form-label">
            {{ getComponentName() + ".pciStartDate" | translate }}
          </label>
          <div class="form-control">
            <p-calendar
              showButtonBar="true"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [yearRange]="sessionService.calendarYearRange"
              class="aw-calendar"
              appendTo="body"
              [dateFormat]="sessionService.dateFormatPrimeNG"
              [locale]="sessionService.calendarFormat"
              [(ngModel)]="item.pciStartDate"
              [disabled]="isReadOnlyForm"
              required
            ></p-calendar>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">
            {{ getComponentName() + ".pciEndDate" | translate }}
          </label>
          <div class="form-control">
            <p-calendar
              showButtonBar="true"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [yearRange]="sessionService.calendarYearRange"
              class="aw-calendar"
              appendTo="body"
              [dateFormat]="sessionService.dateFormatPrimeNG"
              [locale]="sessionService.calendarFormat"
              [(ngModel)]="item.pciEndDate"
              [disabled]="isReadOnlyForm"
              required
            ></p-calendar>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">
            {{ getComponentName() + ".pciCommitedAmount" | translate }}
          </label>
          <div class="form-control">
            <input type="number" class="aw-input" [(ngModel)]="item.pciCommittedAmount" [disabled]="isReadOpenMode" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="form-label">
            {{ getComponentName() + ".pciFlagPartialReceipt" | translate }}
          </label>
          <div class="form-control">
            <p-checkbox
              binary="true"
              class="aw-checkbox"
              [(ngModel)]="item.pciFlagPartialReceipt"
              [disabled]="isReadOpenMode"
            ></p-checkbox>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">
            {{ getComponentName() + ".pciPriceRevision" | translate }}
          </label>
          <div class="form-control">
            <p-checkbox
              binary="true"
              class="aw-checkbox"
              [(ngModel)]="item.pciPriceRevision"
              [disabled]="isReadOpenMode"
            ></p-checkbox>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label">
            {{ getComponentName() + ".pciPenalties" | translate }}
          </label>
          <div class="form-control">
            <p-checkbox
              binary="true"
              class="aw-checkbox"
              [(ngModel)]="item.pciPenalties"
              [disabled]="isReadOpenMode"
            ></p-checkbox>
          </div>
        </div>
      </div>
    </div>
  </a-content>
  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">{{ "global.cancel" | translate }}</button>
    <button type="button" color="primary" mat-raised-button (click)="validate()" [disabled]="!isValid()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
