<div class="lds-hourglass loader" *ngIf="treePanelLoading"></div>
<p-treeTable
  #ptreetableStructure
  class="aw-tree-table2"
  [columns]="structureTableCols"
  [value]="itemStructureDisplayed"
  [(selection)]="itemStructureNodeSelected"
  selectionMode="checkBox"
  [scrollable]="true"
  [resizableColumns]="true"
>
  <ng-template pTemplate="emptymessage">
    <span *ngIf="!isLoadingStructureTable"> &nbsp;</span>

    <div *ngIf="isLoadingStructureTable" class="aw-table-loading-indicator">
      <div class="loading-message">{{ "table.loadingData" | translate }}</div>
      <div class="lds-hourglass"></div>
    </div>
  </ng-template>

  <ng-template pTemplate="caption">
    <div class="aw-table-header" [ngClass]="{ 'rows-selected': itemStructureNodeSelected.length > 0 }">
      <div class="aw-table-global-filter">
        <label class="aw-table-global-filter-label">
          <i class="fa fa-fw fa-search" aria-hidden="true"></i>
        </label>

        <input
          #ptreetableStructureGlobalFilter
          class="aw-table-global-filter-input"
          type="text"
          placeholder="{{ 'table.globalFilterText' | translate }}"
          (input)="ptreetableStructure.filterGlobal($event.target.value, 'contains')"
        />
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="caption">
    <div class="aw-table-header" [ngClass]="{ 'rows-selected': itemStructureNodeSelected.length > 0 }">
      <div class="aw-table-global-filter">
        <label class="aw-table-global-filter-label">
          <i class="fa fa-fw fa-search" aria-hidden="true"></i>
        </label>

        <input
          #ptreetableStructureGlobalFilter
          class="aw-table-global-filter-input"
          type="text"
          placeholder="{{ 'table.globalFilterText' | translate }}"
          [(ngModel)]="searchGlobalFilter"
          (ngModelChange)="filterTextWithCriteria()"
        />
      </div>

      <div class="aw-table-icon-actions">
        <i
          class="fa fa-fw fa-filter aw-icon aw-icon-with-border aw-icon-with-overlay"
          aria-hidden="true"
          [ngClass]="{ active: filtersVisible }"
          (click)="opFilters.toggle($event)"
        ></i>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col class="aw-table-checkbox-wrapper" />
      <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th class="aw-table-checkbox-wrapper">
        <p-treeTableHeaderCheckbox class="aw-table-checkbox"></p-treeTableHeaderCheckbox>
      </th>

      <th ttResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
        <span *ngIf="col.field !== 'action'">
          {{ getComponentName() + "." + col.field | translate }}
        </span>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
    <tr>
      <td class="aw-table-checkbox-wrapper">
        <p-treeTableCheckbox class="aw-table-checkbox" [value]="rowNode"></p-treeTableCheckbox>
      </td>

      <td *ngFor="let col of columns; let i = index" [ngSwitch]="col.field">
        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>

        <!-- ITEM -->
        <span *ngSwitchCase="'item'">
          <div class="item-class">
            <div (click)="openItemUC(rowData)">
              <a
                >{{ rowData.chapter }}-{{ rowData.section }}-{{ rowData.subject }}-{{ rowData.sheet }}-{{
                  rowData.marks
                }}</a
              >
            </div>
            <div class="name" title="{{ rowData.name }}">
              {{ rowData.name }}
            </div>
          </div>
        </span>

        <!-- Function Data -->
        <span *ngSwitchCase="'functionData'">
          <div>
            {{ getComponentName() + ".functionCode" | translate }}:
            <b class="padding-class">{{ rowData.functionCode }}</b>
          </div>
          <div>
            {{ getComponentName() + ".itemNumber" | translate }}:
            <b class="padding-class">{{ rowData.itemNumber }}</b>
          </div>
        </span>

        <!-- ITEM FAMILY -->
        <span *ngSwitchCase="'itemFamilyCode'">
          <div>
            <b>{{ rowData["itemFamilyCode"] }}</b>
          </div>
          <div *ngIf="rowData['serializedPart']">
            {{ getComponentName() + ".serialized" | translate }}
          </div>
          <div *ngIf="!rowData['serializedPart']">
            {{ getComponentName() + ".notSerialized" | translate }}
          </div>
        </span>

        <!-- Quantity -->
        <span *ngSwitchCase="'quantity'">
          <div>
            {{ getComponentName() + ".expected" | translate }}:
            <b class="padding-class">{{ getExpectedQuantity(rowData) }}</b>
          </div>
          <div>
            {{ getComponentName() + ".real" | translate }}:
            <b class="padding-class">{{ getRealQuantity(rowData) }}</b>
          </div>
        </span>

        <!-- PROGRESS -->
        <span *ngSwitchCase="'progress'">
          <div class="table-cell progress">
            <span>
              <p-progressBar [value]="calculateItemProgress(rowData)"></p-progressBar>
            </span>
          </div>
        </span>

        <!-- ILLUSTRATION TEST -->
        <span *ngSwitchCase="'illustration'">
          <div class="illustration">
            <img
              class="img-class"
              *ngIf="!!rowData.bireDocumentDTO && !!rowData.bireDocumentDTO.docFile"
              [src]="rowData.additionalData"
              (click)="openImage(rowData.additionalData)"
            />
          </div>
        </span>

        <!-- CONFIGURATION -->
        <span *ngSwitchCase="'configuration'">
          <div [style.textAlign]="col.alignment">
            <span
              *ngIf="rowData['icon'] === controlConfigConstants.ICON_RED"
              class="alert alert--nok"
              pTooltip="{{ rowData['errorMessage'] }}"
            >
              {{ getComponentName() + ".alertNok" | translate }}
            </span>
            <span *ngIf="rowData['icon'] === controlConfigConstants.ICON_GREEN" class="alert alert--ok">
              {{ getComponentName() + ".alertOk" | translate }}
            </span>
          </div>
        </span>

        <!-- ACTION -->
        <span *ngSwitchCase="'action'">
          <div class="action-button">
            <button type="button" mat-raised-button (click)="openSubAssembly(rowNode)">
              <span>{{ "global.open" | translate }}</span>
            </button>
          </div>
        </span>

        <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
      </td>
    </tr>
  </ng-template>
</p-treeTable>

<!-- Filter -->
<p-overlayPanel
  #opFilters
  [appendTo]="'body'"
  class="aw-overlay"
  (onShow)="filtersVisible = true"
  (onHide)="filtersVisible = false"
>
  <aw-sub-assembly-table-filters
    [progressList]="progressList"
    [configurationList]="configurationList"
    [itemFamilyList]="itemFamiliesList"
    [(searchCriteria)]="searchCriteria"
    (onFilter)="opFilters.hide(); filtersVisible = false; filterWithCriteria()"
    (onReset)="resetTableFilters()"
  ></aw-sub-assembly-table-filters>
</p-overlayPanel>
