<!-- FILTER -->
<div class="row panel-height-top">
  <p-overlayPanel #opFilters appendTo="body">
    <div class="row">
      <div class="form-group">
        <label class="form-label"> &nbsp;</label>

        <div class="form-control aw-selectbutton-wrapper">
          <p-selectButton
            [(ngModel)]="selectedStatus"
            [options]="statusList"
            (onChange)="onChangeStatus()"
          ></p-selectButton>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="form-label">{{ getComponentName() + ".partNumber" | translate }}</label>

        <div class="form-control">
          <p-dropdown
            class="aw-dropdown fixed-width"
            placeholder="&nbsp;"
            [showClear]="true"
            [(ngModel)]="selectedWarehouse"
            [options]="warehouseList"
          ></p-dropdown>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">{{ getComponentName() + ".emplacement" | translate }}</label>

        <div class="form-control">
          <p-dropdown
            class="aw-dropdown fixed-width"
            placeholder="&nbsp;"
            [showClear]="true"
            [(ngModel)]="selectedWarehouse"
            [options]="warehouseList"
          ></p-dropdown>
        </div>
      </div>
    </div>
  </p-overlayPanel>

  <div class="custom-button">
    <button type="button" mat-raised-button class="float-right">
      {{ getComponentName() + ".createLitigation" | translate }}
    </button>
    <button type="button" mat-raised-button class="float-right">
      {{ getComponentName() + ".putOnHold" | translate }}
    </button>
  </div>
  <div class="float-right">
    <i
      class="fa fa-fw fa-filter aw-icon aw-icon-with-overlay fa-2x"
      aria-hidden="true"
      pTooltip="{{ getComponentName() + (filtersVisible ? '.hideFilters' : '.showFilters') | translate }}"
      tooltipPosition="top"
      [ngClass]="{ active: filtersVisible }"
      (click)="opFilters.toggle($event)"
    ></i>
  </div>
</div>

<div class="row" *ngIf="!!selectedStock">
  <div class="grid-cell-12 panel-height">
    <div class="grid-cell--4 stock-list">
      <div #resultsContainerAnchor class=" grid-cell--container">
        <div class="grid-cell-content">
          <div class="grid-cell-content">
            <p-table
              [resizableColumns]="true"
              #ptableResult
              class="aw-table2"
              [columns]="resultTableCols"
              selectionMode="single"
              [(selection)]="selectedStock"
              [value]="stockMovementList"
              (onRowUnselect)="onAssetRowUnselect()"
              (onRowSelect)="onAssetRowSelect($event.index)"
              [scrollable]="true"
            >
              <ng-template pTemplate="caption">
                <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedAssetRow }">
                  <div class="aw-table-global-filter">
                    <label class="aw-table-global-filter-label">
                      <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                    </label>

                    <input
                      #tableGlobalFilter
                      class="aw-table-global-filter-input"
                      type="text"
                      placeholder="{{ 'table.globalFilterText' | translate }}"
                      (input)="table.filterGlobal($event.target.value, 'contains')"
                    />
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="aw-table-checkbox-wrapper" />
                  <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                </colgroup>
              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                    {{ getComponentName() + "." + col.field | translate }}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                  <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
                    <span *ngSwitchCase="'sequence'">
                      <div class="code">
                        {{ rowData["index"] }}
                      </div>
                    </span>
                    <span *ngSwitchCase="'movementType'">
                      <div class="code">
                        <a> {{ rowData["mvtStockCode"] }}</a>
                      </div>
                    </span>
                    <span *ngSwitchCase="'article'">
                      <div class="code">
                        <a> {{ rowData["pnCode"] }}</a>
                      </div>
                    </span>
                    <span *ngSwitchCase="'sn'">
                      <div class="code">
                        {{ rowData["sn"] }}
                      </div>
                    </span>
                    <span *ngSwitchCase="'empl'">
                      <div class="code">
                        {{ rowData["sbNumber"] }}
                      </div>
                    </span>
                    <span *ngSwitchCase="'status'">
                      <div class="code">
                        {{ rowData["smoStatus"] }}
                      </div>
                    </span>
                    <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-cell--8 custom-grid">
      <div class="grid-cell--12">
        <div class="grid-cell-content  grid-cell-content-with-section">
          <div class="section">
            <h4 class="section-title">
              <span class="section-title-content">{{ getComponentName() + ".material" | translate }}</span
              ><span class="hr-line"></span>
            </h4>
            <div class="section-content">
              <div class="row">
                <div class="form-group">
                  <label class="form-label">{{ getComponentName() + ".article" | translate }}</label>

                  <div class="form-control">
                    <input class="aw-input" type="text" disabled [(ngModel)]="selectedStock.pnCode" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">{{ getComponentName() + ".snLot" | translate }}</label>

                  <div class="form-control">
                    <input class="aw-input" type="text" disabled [(ngModel)]="selectedStock.sn" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">{{ getComponentName() + ".qty" | translate }}</label>

                  <div class="form-control">
                    <input class="aw-input" type="text" disabled [(ngModel)]="selectedStock.qty" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="form-label">{{ getComponentName() + ".designation" | translate }}</label>

                  <div class="form-control">
                    <input class="aw-input" type="text" disabled [(ngModel)]="selectedStock.articleDesignation" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">{{ getComponentName() + ".status" | translate }}</label>

                  <div class="form-control">
                    <input class="aw-input" type="text" disabled [(ngModel)]="selectedStock.smoStatus" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">{{ getComponentName() + ".materialType" | translate }}</label>

                  <div class="form-control">
                    <input class="aw-input" type="text" disabled [(ngModel)]="selectedStock.pnType" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-cell--12">
        <div class="grid-cell-content  grid-cell-content-with-section">
          <div class="section">
            <h4 class="section-title">
              <span class="section-title-content">{{ getComponentName() + ".informationLogistics" | translate }}</span
              ><span class="hr-line"></span>
            </h4>
            <div class="section-content">
              <div class="row">
                <div class="form-group">
                  <label class="form-label">{{ getComponentName() + ".stock" | translate }}</label>

                  <div class="form-control">
                    <input class="aw-input" type="text" disabled [(ngModel)]="selectedStock.whCategory" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">{{ getComponentName() + ".emp" | translate }}</label>

                  <div class="form-control">
                    <input class="aw-input" type="text" disabled [(ngModel)]="selectedStock.sbNumber" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">{{ getComponentName() + ".additionalRemarks" | translate }}</label>

                  <div class="form-control">
                    <input class="aw-input" type="text" disabled [(ngModel)]="selectedStock.additionalRemarks" />
                  </div>
                </div>
                <div class="form-group"></div>
                <div class="form-group">
                  <label class="form-label">{{ getComponentName() + ".container" | translate }}</label>

                  <div class="form-control">
                    <i class="fa fa-fw fa-th  custom-icon"></i>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="form-label">{{ getComponentName() + ".volume" | translate }}</label>

                  <div class="form-control">
                    <input class="aw-input" type="text" disabled [(ngModel)]="selectedStock.volume" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">{{ getComponentName() + ".height" | translate }}</label>

                  <div class="form-control">
                    <input class="aw-input" type="text" disabled [(ngModel)]="selectedStock.height" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">{{ getComponentName() + ".width" | translate }}</label>

                  <div class="form-control">
                    <input class="aw-input" type="text" disabled [(ngModel)]="selectedStock.width" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">{{ getComponentName() + ".diameter" | translate }}</label>

                  <div class="form-control">
                    <input class="aw-input" type="text" disabled [(ngModel)]="selectedStock.diameter" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">{{ getComponentName() + ".weight" | translate }}</label>

                  <div class="form-control">
                    <input class="aw-input" type="text" disabled [(ngModel)]="selectedStock.weight" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-cell--12">
        <div class="grid-cell-content  grid-cell-content-with-section">
          <div class="section">
            <h4 class="section-title">
              <span class="section-title-content">{{ getComponentName() + ".progression" | translate }}</span
              ><span class="hr-line"></span>
            </h4>
            <div class="section-content">
              <div class="row custom-row">
                <div class="form-group">
                  <div class="form-control custom-control custom-control-cb custom-control-cbf">
                    <p-checkbox binary="true" class="aw-checkbox" [(ngModel)]="progressionPlanned"></p-checkbox>
                  </div>
                  <label class="form-label custom-control-label">{{
                    getComponentName() + ".planned" | translate
                  }}</label>
                </div>
                <div class="form-group">
                  <div class="form-control custom-control custom-control-cb">
                    <p-checkbox binary="true" class="aw-checkbox" [(ngModel)]="progressionRequest"></p-checkbox>
                  </div>
                  <label class="form-label custom-control-label">{{
                    getComponentName() + ".request" | translate
                  }}</label>
                </div>
                <div class="form-group">
                  <div class="form-control custom-control custom-control-cb">
                    <p-checkbox binary="true" class="aw-checkbox" [(ngModel)]="progressionChecked"></p-checkbox>
                  </div>
                  <label class="form-label custom-control-label">{{
                    getComponentName() + ".checked" | translate
                  }}</label>
                </div>
                <div class="form-group">
                  <div class="form-control custom-control custom-control-cb custom-control-cbl">
                    <p-checkbox
                      binary="true"
                      class="aw-checkbox"
                      [(ngModel)]="progressionReleased"
                      (onChange)="calculateProgression()"
                    ></p-checkbox>
                  </div>
                  <label class="form-label custom-control-label">{{
                    getComponentName() + ".released" | translate
                  }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <aw-dialog-select-container
    *ngIf="showContainerDialog"
    [(display)]="showContainerDialog"
    (onAdded)="containerAddedEvent($event)"
  ></aw-dialog-select-container>
</div>
