@import "constants";

:host {
  ::ng-deep .ui-card {
    border-radius: 1em;
    cursor: pointer;
    margin-bottom: 1em;
  }
  ::ng-deep .ui-card :focus {
    background: #dde8f1;
    border: 3px solid #01579b;
    margin-top: -4px;
    border-radius: 10px 0 0 10px;
    border-right-color: transparent;
    margin-right: -8px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  ::ng-deep .ui-card-body {
    padding: 0;
  }

  .padding-class {
    padding-left: 2em;
  }

  .custom-form-group {
    margin: 1em 0 0 0 !important;
  }

  .custom-row {
    width: 100%;
  }

  .custom-control {
    text-align: center;
    font-size: 3em !important;
  }

  .custom-control-label {
    text-align: center;
  }

  .custom-button {
    display: inline;
    position: absolute;
    right: 4em;
  }

  .custom-label {
    border-radius: 50%;
    border: 1px solid;
  }

  .header-label {
    padding-left: 2em;
    width: 90%;
  }

  .header-counter {
    background-color: $blue-dark1;
    width: 10%;
    text-align: center;
    color: $primary-background-color;
  }

  .header-padding {
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top-left-radius: 1em;
  }

  .float-left {
    float: left;
  }

  .float-right {
    float: right;
    padding-right: 0.5em;
    cursor: pointer;
    margin-right: 3px;
  }

  .footer-class {
    padding: 1em;
    cursor: pointer;
  }

  .panel-height-top {
    height: 3em;
  }

  .custom-icon {
    font-size: 3em;
  }

  .panel-height {
    height: 40em;
  }

  .custom-grid {
    border-left: 0.1em solid #000;
  }

  ::ng-deep .static-header {
    background: #dde8f1;
    border: 3px solid #01579b;
    margin-top: -4px;
    border-radius: 10px 0 0 10px;
    border-right-color: transparent;
    margin-right: -7px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  ::ng-deep .ui-card .static-header > span {
    padding: 15px;
    display: inline-block;
  }

  ::ng-deep .ui-card span.static-header-counter {
    padding-left: 10px;
    padding-right: 10px;
    background: #01579b;
    border: 1px solid #01579b;
    color: #fff;
    font-weight: 700;
    height: 54px;
    padding-top: 12px;
    font-size: large;
    border-top-left-radius: 0px;
  }

  ::ng-deep .ui-card .static-header-label {
    padding-right: 0;
    font-size: large;
  }

  .stock-list {
    overflow: auto;
  }

  .hr-line {
    border-top: 1px solid #01579b;
    content: " ";
    width: 100%;
    display: flex;
    align-self: center;
    margin-left: 10px;
    height: 3px;
  }

  .section-title-content {
    white-space: nowrap;
  }

  .custom-control-cb .aw-checkbox {
    height: auto !important;
    width: auto !important;
  }

  ::ng-deep .custom-control-cb .aw-checkbox .ui-chkbox .ui-chkbox-box {
    padding: 0;
    border-radius: 100% !important;
    background: #fff !important;
    border: 1px solid #01579b;
    height: 67px !important;
    width: 67px !important;
  }

  ::ng-deep .custom-control-cb .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    font-size: 50px;
    display: block;
    line-height: 67px;
  }

  ::ng-deep .custom-control-cb .aw-checkbox .ui-chkbox .ui-chkbox-box:not(.ui-state-disabled).ui-state-active {
    background: #01579a !important;
  }

  .custom-control-cb {
    position: relative;
    margin: 0 !important;
  }

  .custom-control-cb:before,
  .custom-control-cb:after {
    content: "";
    height: 1.8px;
    display: inline-block;
    width: 30%;
    background: #01579b;
    position: absolute;
    top: 56%;
    transform: translateY(-56%);
  }

  .custom-control-cbf:before,
  .custom-control-cbl:after {
    display: none;
  }

  .custom-control-cb:after {
    right: 0;
  }

  .custom-control-cb:before {
    left: 0;
  }

  .stock-list .aw-table2 tr {
    height: 50px;
  }

  ::ng-deep .stock-list .ui-table .ui-table-thead > tr > th,
  td {
    width: 20%;
  }

  ::ng-deep .stock-list .ui-table-scrollable-body {
    max-height: 35em !important;
  }
}
