@import "constants";
@import "mixins";

:host {
  #login-component {
    background-attachment: fixed;
    background-image: url("../../assets/img/login-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;

    .login-container {
      @include flex-column();

      align-items: center;
      background-color: $primary-background-color;
      border-radius: $border-radius;
      padding: 32px;
      position: absolute;
      right: 100px;
      bottom: 20%;

      & > header {
        @include flex-column();

        align-items: center;
        color: $primary-background-color;
        justify-content: center;

        width: 100%;

        img.logo-aw {
          width: 350px;
        }

        img.logo-client {
          margin-top: 16px;
          width: 16rem;
        }
      }

      & > main {
        @include flex-column();

        align-items: center;
        color: $primary-text-color;
        flex-grow: 1;
        justify-content: space-between;
        width: 100%;

        .connection-data {
          margin: 64px 0;
          width: 100%;
        }
      }
    }

    .release-version {
      bottom: $margin-value;
      color: $primary-background-color;
      position: fixed;
      right: $margin-value;
    }
  }
}
