<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div class="page-subtitle">- {{ "page.searchPage" | translate }}</div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button type="button" mat-raised-button (click)="openNewPN()" *ngIf="hasUpdateAccessRight">
      {{ "global.create" | translate }}
    </button>
    <button
      id="actions"
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #actions="matMenu">
      <button id="favorites" mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ "global.search" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <div class="row search-criteria-header">
                  <i
                    class="fa fa-fw fa-undo aw-icon aw-icon-with-border search-criteria-action"
                    aria-hidden="true"
                    pTooltip="{{ 'global.reset' | translate }}"
                    tooltipPosition="top"
                    (click)="resetSearchCriteria()"
                  ></i>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".familyVariant" | translate }} </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="propertyVariant"
                        [(ngModel)]="familyVariant"
                        [showClear]="true"
                        (keyup.enter)="search()"
                        placeholder="&nbsp;"
                      ></p-dropdown>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".pnCode" | translate }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.pnCode" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".designation" | translate }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.articleDesignation" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".type" | translate }} </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="pnTypes"
                        [(ngModel)]="searchObject.pnType"
                        [showClear]="false"
                        (keyup.enter)="search()"
                        placeholder="&nbsp;"
                      ></p-dropdown>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".statusState" | translate }} </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="propertyStatus"
                        [(ngModel)]="searchObject.statusState"
                        [showClear]="true"
                        (keyup.enter)="search()"
                        placeholder="&nbsp;"
                      ></p-dropdown>
                    </div>
                  </div>

                  <div class="form-group"></div>
                </div>

                <div class="advanced-criteria" [ngClass]="{ 'display--none': !showAdvancedCriteria }">
                  <div class="row">
                    <div class="form-group">
                      <label class="form-label">
                        {{ componentData.componentId + ".itemFamilyCode" | translate }}
                      </label>

                      <div class="form-control">
                        <p-dropdown
                          class="aw-dropdown fixed-width"
                          [showClear]="true"
                          placeholder="&nbsp;"
                          [(ngModel)]="itemFamilyCode"
                          [options]="itemFamilyCodeList"
                          (keyup.enter)="search()"
                        ></p-dropdown>
                      </div>
                    </div>
                    <div class="display--flex-row flex--2">
                      <div class="form-group">
                        <label class="form-label"> {{ componentData.componentId + ".chapter" | translate }} </label>

                        <div class="form-control">
                          <input class="aw-input" type="text" maxlength="2" [(ngModel)]="chapter" />
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="form-label"> {{ componentData.componentId + ".section" | translate }} </label>

                        <div class="form-control">
                          <input class="aw-input" type="text" maxlength="2" [(ngModel)]="section" />
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="form-label"> {{ componentData.componentId + ".subject" | translate }} </label>

                        <div class="form-control">
                          <input class="aw-input" type="text" maxlength="2" [(ngModel)]="subject" />
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="form-label"> {{ componentData.componentId + ".sheet" | translate }} </label>

                        <div class="form-control">
                          <input class="aw-input" type="text" maxlength="5" [(ngModel)]="sheet" />
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="form-label"> {{ componentData.componentId + ".marks" | translate }} </label>

                        <div class="form-control">
                          <input class="aw-input" type="text" maxlength="5" [(ngModel)]="mark" />
                        </div>
                      </div>
                    </div>
                    <div class="display--flex-row flex--2">
                      <div class="display--flex-row flex--2" *ngIf="sessionService.isSpecificMHIAEL">
                        <div class="form-group"></div>
                        <div class="form-group">
                          <label class="form-label">
                            {{ componentData.componentId + ".serializedPart" | translate }}
                          </label>

                          <div class="form-control">
                            <p-checkbox binary="true" class="aw-checkbox" [(ngModel)]="isSerialized"></p-checkbox>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label"> {{ componentData.componentId + ".followed" | translate }} </label>

                          <div class="form-control">
                            <p-checkbox binary="true" class="aw-checkbox" [(ngModel)]="followed"></p-checkbox>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label"> {{ componentData.componentId + ".testable" | translate }} </label>

                          <div class="form-control">
                            <p-checkbox binary="true" class="aw-checkbox" [(ngModel)]="testable"></p-checkbox>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label"> {{ componentData.componentId + ".slave" | translate }} </label>

                          <div class="form-control">
                            <p-checkbox binary="true" class="aw-checkbox" [(ngModel)]="slave"></p-checkbox>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label"> {{ componentData.componentId + ".minor" | translate }} </label>

                          <div class="form-control">
                            <p-checkbox binary="true" class="aw-checkbox" [(ngModel)]="minor"></p-checkbox>
                          </div>
                        </div>
                        <div class="form-group"></div>
                      </div>
                    </div>
                  </div>

                  <div class="row"></div>
                </div>

                <div class="row search-criteria-footer">
                  <button mat-button (click)="showAdvancedCriteria = !showAdvancedCriteria">
                    <ng-container *ngIf="showAdvancedCriteria">
                      <mat-icon>remove</mat-icon>
                      {{ "global.collapseCriteria" | translate }}
                    </ng-container>
                    <ng-container *ngIf="!showAdvancedCriteria">
                      <mat-icon>add</mat-icon>
                      {{ "global.expandCriteria" | translate }}
                    </ng-container>
                  </button>

                  <div class="search-actions">
                    <button
                      type="button"
                      mat-raised-button
                      class="btn-with-spinner"
                      (click)="search()"
                      color="primary"
                      appKeyPress
                      [keyCode]="'Enter'"
                      (keyPress)="search()"
                    >
                      <span *ngIf="isLoading" class="lds-hourglass"></span>
                      {{ "global.toSearch" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div #resultsContainerAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ "global.results" | translate }} ({{
                    partNumberTableDataSource ? partNumberTableDataSource.dataCount : 0
                  }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <a-table [dataSource]="partNumberTableDataSource">
                <ng-template tableActionsDef>
                  <button
                    *ngIf="
                      partNumberTableDataSource &&
                      partNumberTableDataSource.hasData &&
                      !partNumberTableDataSource.hasDataSelection
                    "
                    type="button"
                    mat-raised-button
                    (click)="exportTable()"
                  >
                    {{ "global.export" | translate }}
                  </button>

                  <button
                    *ngIf="hasManageAccessRight && partNumberTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    (click)="deleteSelectedPN()"
                  >
                    {{ "global.delete" | translate }}
                  </button>

                  <button
                    *ngIf="partNumberTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    (click)="openSelectedPN()"
                  >
                    {{ "global.open" | translate }}
                  </button>
                </ng-template>

                <ng-template columnDef="pnCode" let-rowData="rowData">
                  <a (click)="openPartNumberScreen(rowData['pnCode'])"> {{ rowData["pnCode"] }}</a>
                </ng-template>

                <ng-template columnDef="statusState" let-rowData="rowData">
                  {{ statusDictionary[rowData.statusState] }}
                </ng-template>
              </a-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
