:host {
  // Center content
  .grid-row {
    .grid-cell--12 {
      .grid-cell {
        .grid-cell-content {
          align-items: center;
          justify-content: center;
          .orgChart {
            .node-header {
              background-color: #006ea9;
              color: #ffffff;
              margin: -8px -14px 0;
              padding: 0.5em 0.7em;
            }

            ul {
              list-style: none;
              margin-left: 0;
              padding-left: 0;

              li {
                list-style-type: none;
                margin: 0;
                padding: 0;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}
::ng-deep .ui-tree {
  border: 0px !important;
}
