<div class="page-header">
  <div class="page-info">
    <div>
      <h2 class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </h2>
    </div>
  </div>

  <div class="page-actions">
    <button
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #actions="matMenu">
      <button mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-content">
              <div class="column">
                <div class="row">
                  <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
                    <label class="form-label"> {{ componentData.componentId + ".company" | translate }} </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="companyList"
                        [(ngModel)]="selectedCompany"
                        (onChange)="loadEnterpriseMapData()"
                      ></p-dropdown>
                    </div>
                  </div>
                  <div class="form-group "></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div #resultsContainerAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-content">
              <p-tree class="orgChart" [value]="treeNode" layout="horizontal">
                <ng-template let-node pTemplate="blueBox">
                  <div class="node-header">{{ componentData.componentId + "." + node.label | translate }}</div>
                  <ul>
                    <li *ngFor="let w of node.data">{{ w }}</li>
                  </ul>
                </ng-template>
                <ng-template let-node pTemplate="default"> {{ node.label }} </ng-template>
              </p-tree>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
