<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ "site" | translate }}</div>
  </a-header>

  <a-content>
    <div class="column">
      <div class="row">
        <div class="form-group required">
          <label class="form-label">{{ getComponentName() + ".inCompany" | translate }}</label>

          <div class="form-control">
            <p-dropdown
              class="aw-dropdown fixed-width"
              appendTo="body"
              placeholder="&nbsp;"
              [options]="companies"
              [showClear]="true"
              [(ngModel)]="site.bidtCompanyId"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group required">
          <label class="form-label">{{ getComponentName() + ".code" | translate }}</label>

          <div class="form-control">
            <input class="aw-input" type="text" maxlength="50" [(ngModel)]="site.siteCode" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="form-label">{{ getComponentName() + ".name" | translate }}</label>

          <div class="form-control">
            <input class="aw-input" type="text" maxlength="100" [(ngModel)]="site.siteName" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="form-label">{{ getComponentName() + ".description" | translate }}</label>

          <div class="form-control">
            <textarea
              class="aw-textarea"
              pInputTextarea
              maxlength="300"
              [rows]="3"
              [(ngModel)]="site.siteDescription"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">
      {{ "cancel" | translate }}
    </button>

    <button [disabled]="!site.bidtCompanyId || !site.siteCode" type="button" mat-raised-button (click)="save()">
      {{ "save" | translate }}
    </button>
  </a-footer>
</a-modal>
