///////////////////////////////////////////////////////////////////////////////
// Button //
///////////////////////////////////////////////////////////////////////////////

button {
  span.lds-hourglass {
    margin-right: 0.4rem;
  }
}

.aw-btn {
  @include flex-row();
  @include button-color(#fff, $accent-color);
  @include text-overflow-hidden();

  align-items: center;
  border-radius: $border-radius;
  border-style: $border-style;
  border-width: $border-width;
  cursor: pointer;
  font-size: $font-size;
  font-weight: $font-weight;
  height: calc(#{$margin-value} * 4);
  line-height: $line-height;
  outline: none;
  padding: 0 $margin-value;
  vertical-align: middle;

  transition: background-color 0.2s, color 0.2s;

  & > i ~ span {
    font-size: $font-size;
    margin-left: $margin-value;
  }

  & > span ~ i {
    font-size: 0.625rem;
    margin-left: calc(#{$margin-value} / 2);
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &.aw-btn-warn:not(:disabled):hover {
    background-color: $red-dark1 !important;
    border-color: $red-dark1 !important;
    color: $primary-background-color !important;
  }

  span.lds-hourglass {
    margin-right: 0.4rem;
  }
}

.aw-btn-with-overlay.active {
  border-radius: 0;
}

///////////////////////////////////////////////////////////////////////////////
// Icon //
///////////////////////////////////////////////////////////////////////////////

.aw-icon {
  cursor: pointer;
  display: inline-block;
}

.aw-icon-with-border {
  border-radius: 50%;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

  &:hover,
  &.active {
    background-color: $accent-color !important;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    color: $primary-background-color !important;
  }
}

.aw-icon-with-overlay {
  transition: background-color 0.3s, border-radius 0.3s, box-shadow 0.3s, color 0.3s;

  &.active {
    border-radius: 0;
  }
}

// .aw-select-btn {
//   display: block;
//   height: calc(#{$margin-value} * 4);

//   .ui-selectbutton {
//     .ui-button {
//       align-items: center;
//       background-color: $primary-background-color;
//       border: 0;
//       border-bottom-width: $border-width;
//       border-color: $accent-color;
//       border-style: $border-style;
//       border-top-width: $border-width;
//       color: $accent-color;
//       display: inline-flex;
//       height: calc(#{$margin-value} * 4);
//       line-height: $line-height;
//       padding: 0 calc(#{$margin-value} * 2);
//       text-transform: uppercase;
//       vertical-align: middle;

//       transition: background-color 0.2s, color 0.2s;

//       &:first-of-type {
//         border-bottom-left-radius: $border-radius;
//         border-left-width: $border-width;
//         border-top-left-radius: $border-radius;
//       }

//       &:last-of-type {
//         border-bottom-right-radius: $border-radius;
//         border-right-width: $border-width;
//         border-top-right-radius: $border-radius;
//       }

//       &:focus,
//       &:hover {
//         &:not(.ui-state-disabled) {
//           background-color: $accent-color;
//           color: $primary-background-color;
//         }
//       }

//       &.ui-state-active {
//         background-color: $accent-color;
//         border-color: $accent-color;
//         color: $primary-background-color;

//         &:focus,
//         &:hover {
//           &:not(.ui-state-disabled) {
//             background-color: darken($accent-color, 10%);
//             border-color: darken($accent-color, 10%);
//           }
//         }
//       }

//       .ui-button-text {
//         padding: 0;
//       }
//     }
//   }
// }

///////////////////////////////////////////////////////////////////////////////
// Split Button //
///////////////////////////////////////////////////////////////////////////////

.aw-split-btn {
  .ui-splitbutton {
    @include flex-row();

    &:not(.ui-state-disabled) button:last-of-type:focus,
    &:not(.ui-state-disabled) button:last-of-type:hover {
      background-color: $accent-color;
      border-color: $accent-color;
      color: $primary-background-color;
    }

    &:not(.ui-state-disabled) button:focus {
      box-shadow: none;
    }

    button {
      background-color: $primary-background-color;
      border-color: $accent-color;
      border-radius: $border-radius;
      border-style: $border-style;
      border-width: $border-width;
      color: $accent-color;
      height: calc(#{$margin-value} * 4);

      transition: background-color 0.2s, color 0.2s;

      &:first-of-type {
        @include text-overflow-hidden();

        border-bottom-right-radius: 0;
        border-right: 0;
        border-top-right-radius: 0;
        cursor: default;
        padding-right: 0;
      }

      &:last-of-type {
        border-bottom-left-radius: 0;
        border-left: 0;
        border-top-left-radius: 0;
        cursor: pointer;
        padding-left: 0;
      }

      .ui-button-text {
        @include flex-row();

        align-items: center;
        font-size: $font-size;
        font-weight: $font-weight;
        line-height: $line-height;
        padding: 0 $margin-value;
        vertical-align: middle;
      }
    }

    .ui-menu {
      border: $border-width $border-style $border-color;
      border-radius: 0;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

      .ui-menu-list {
        .ui-menuitem {
          color: $secondary-text-color;
          padding: 0;
          text-align: left;

          &:hover {
            background-color: $secondary-background-color;
          }

          &.ui-state-highlight {
            background-color: $accent-color;
            color: $primary-background-color;
          }

          .ui-menuitem-link {
            padding: $margin-value;
          }
        }
      }
    }
  }
}
