///////////////////////////////////////////////////////////////////////////////
// Utils //
///////////////////////////////////////////////////////////////////////////////

@mixin button-color($background-color, $color, $border-color: null) {
  background-color: $background-color;
  border-color: $color;
  color: $color;

  &:not(:disabled):hover,
  &:not(:disabled).active {
    background-color: $color;
    border-color: if($border-color == null, $color, $border-color);
    color: $background-color;
  }
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin input() {
  background-color: transparent;
  border-bottom-color: $border-color;
  border-left-color: transparent;
  border-radius: 0;
  border-right-color: transparent;
  border-style: $border-style;
  border-top-color: transparent;
  border-width: $border-width;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: $line-height;
  outline: none;
  padding: 2px 0 4px 0;

  transition: border-bottom-color 0.25s ease-in-out;
}

@mixin input-disabled() {
  border-bottom-color: $border-color--disabled;
  opacity: 1;
}

@mixin input-focus() {
  border-bottom-color: $border-color--focus;
}

@mixin input-hover() {
  border-bottom-color: $border-color--hover;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin search-criteria-container {
  .advanced-criteria {
    background-color: $secondary-background-color;
  }

  .search-criteria-footer {
    align-items: baseline;
    margin-top: calc(#{$margin-value} * 2);

    .advanced-criteria-toggler {
      cursor: pointer;

      &:hover {
        .advanced-criteria-toggler-less,
        .advanced-criteria-toggler-more {
          text-decoration: underline;
        }
      }

      .advanced-criteria-toggler-less,
      .advanced-criteria-toggler-more {
        display: inline-block;
        margin-left: calc(#{$margin-value} / 2);
      }
    }

    .search-actions {
      @include flex-row();

      flex-grow: 1;
      justify-content: flex-end;

      .aw-btn {
        margin-left: $margin-value;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
}

@mixin section-container {
  margin-top: calc(#{$margin-value} * 4);

  &:first-of-type {
    margin-top: 0;
  }

  .section-title {
    @include flex-row();

    color: $accent-color;
    line-height: 1.75rem;
    margin-left: calc(#{$margin-value} * 2);

    &.required {
      @include grid-form-control-required();
      &::after {
        position: relative !important;
      }

      &.alert {
        color: $red-dark1;
      }
    }

    .aw-icon {
      line-height: 1.75rem;
      text-align: center;
      width: 1.75rem;

      &:first-of-type {
        margin-left: calc(#{$margin-value} * 2);
      }

      &:hover {
        background-color: $accent-color;
        color: #fff;
      }
    }
  }

  .section-content {
    @include flex-column();
  }

  .section-actions {
    @include flex-row();

    justify-content: flex-end;

    & > button {
      margin-left: $margin-value;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

@mixin text-overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

///////////////////////////////////////////////////////////////////////////////
// Grid form controls //
///////////////////////////////////////////////////////////////////////////////

@mixin grid-form-control {
  font-size: 1rem;
  font-family: "LatoLatinWebMedium";

  & > input + p-message > .ui-message {
    width: 100%;
  }

  &.form-control-with-actions {
    @include flex-row();

    align-items: baseline;
    position: relative;

    &:focus,
    &:hover {
      & > .form-control-actions {
        background: linear-gradient(to left, rgb(255, 255, 255) 60%, transparent);
      }
    }

    & > *:first-child {
      width: calc(100% - 1.75rem);
    }

    & > .form-control-actions {
      @include flex-row();

      align-items: center;
      bottom: 0;
      color: $secondary-text-color;
      position: absolute;
      right: 0;
      top: 0;

      .aw-icon {
        transition: color 0.3s;

        &:hover {
          color: $primary-text-color;
        }
      }
    }
  }

  &.form-control-with-btn,
  &.form-control-with-modal {
    @include flex-row();

    border-bottom-color: $border-color;
    border-left-color: transparent;
    border-radius: 0;
    border-right-color: transparent;
    border-style: $border-style;
    border-top-color: transparent;
    border-width: $border-width;

    transition: border-bottom-color 0.25s ease-in-out;

    &.disabled {
      border-bottom-color: transparent;
      cursor: default;
    }
  }

  &.form-control-with-btn {
    align-items: baseline;

    & > *:first-child {
      width: calc(100% - 1.75rem);

      &.aw-calendar .ui-inputtext,
      &.aw-dropdown .ui-dropdown,
      &.aw-input,
      &.aw-textarea {
        border-bottom-width: 0;
      }
    }

    & > .aw-calendar {
      // FIXME: fix an UI issue on PrimeNG calendar component; to remove when issue will be fixed upstream
      overflow: initial;
    }

    & > .aw-icon {
      font-size: 0.875rem;
      width: 1.75rem;

      &:focus,
      &:hover {
        color: $accent-color;
      }
    }
  }

  &.form-control-with-modal {
    cursor: pointer;
    max-height: 30px;
    min-height: 30px;

    &.disabled {
      border-bottom-color: transparent;
      cursor: default;

      .aw-icon:not(.read-only-link) {
        display: block; // none
      }
    }

    .form-control-data {
      color: inherit;
      flex-grow: 1;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: $line-height;
      padding: 2px 0 4px 0;
    }

    .btn-nimp,
    .btn-external-link-wrapper,
    .btn-clear-wrapper,
    .btn-file-upload-wrapper,
    .btn-search-wrapper {
      @include flex-row();

      align-items: center;
    }

    .btn-file-upload-wrapper {
      .aw-fileupload {
        border: 0;
        height: 1.1rem;
        padding: 0;

        &:focus,
        &:hover {
          background-color: transparent;
          color: $secondary-text-color;
        }

        .ui-button {
          color: $secondary-text-color;
          height: 1.1rem;
          padding: 0;
          width: 1.1rem;

          &:focus,
          &:hover {
            color: $accent-color;
          }

          .ui-button-icon-left {
            display: contents;
            height: 1.1rem;
            position: initial;
            width: 1.1rem;

            &::before {
              content: "\e934";
            }
          }
        }
      }
    }

    .aw-icon {
      color: $secondary-text-color;
      font-size: 0.875rem;

      &:focus,
      &:hover {
        color: $accent-color;
      }

      &.btn-clear {
        font-size: 1rem;
      }

      &.btn-search {
        width: 1.75rem;
      }
    }
  }

  &.form-control-with-radiobutton {
    @include flex-row();

    & > .aw-radiobutton {
      margin-right: calc(2 * #{$margin-value});
    }
  }
}

@mixin grid-form-control-generic {
  @include flex-row();

  align-items: center;
  font-size: inherit;
  font-weight: inherit;
  height: 30px;
  line-height: $line-height;

  & > a {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  & > .alert {
    font-weight: 600;
    text-align: center;
    width: 5rem;

    &.alert--nok {
      background-color: $red-light1;
    }

    &.alert--ok {
      background-color: $green-light1;
    }

    &.alert--warning {
      background-color: $orange;
    }
  }
}

@mixin grid-form-control-required {
  &::after {
    color: $red-dark1;
    content: "*";
    font-size: 1.5rem;
    margin-left: 2px;
    margin-top: -4px;
    position: absolute;
  }
}

@mixin grid-calendar {
  &.ui-inputwrapper-focus {
    .ui-calendar .ui-inputtext {
      @include input-focus();
    }
  }

  .ui-calendar {
    width: 100%;

    .ui-inputtext {
      @include input();

      width: 100%;

      &:disabled {
        @include input-disabled();
      }

      &:not(:disabled):hover {
        @include input-hover();
      }
    }
  }
}

@mixin grid-form-label {
  position: relative;
}

@mixin grid-checkbox {
  display: inline-block;
  height: $checkbox-height;
  width: $checkbox-height;

  .ui-chkbox {
    height: inherit;
    width: inherit;

    .ui-chkbox-box {
      background: inherit;
      border-color: $border-color;
      border-radius: $border-radius;
      box-shadow: none;
      color: $border-color--focus;
      height: inherit;
      width: inherit;

      transition: border-color 0.25s ease-in-out;

      &.ui-state-disabled {
        border-color: $border-color;
        color: $primary-text-color;
        opacity: 1;
      }

      &:not(.ui-state-disabled):hover {
        border-color: $border-color--hover;
      }

      &:not(.ui-state-disabled).ui-state-active {
        background: $border-color--focus;
        border-color: $border-color--focus;
        color: $primary-background-color;

        &:hover {
          background: $border-color--focus;
        }
      }
    }
  }
}

@mixin grid-dropdown {
  .ui-dropdown {
    @include input();

    &.ui-state-disabled {
      @include input-disabled();

      .ui-dropdown-label {
        max-width: 100%;
      }

      .ui-dropdown-trigger {
        display: none;
      }
    }

    &:not(.ui-state-disabled):hover {
      @include input-hover();
    }

    &:not(.ui-state-disabled).ui-state-focus {
      @include input-focus();

      .ui-dropdown-trigger {
        color: $accent-color;
      }
    }

    .ui-dropdown-clear-icon,
    .ui-dropdown-trigger {
      color: $secondary-text-color;

      &:focus,
      &:hover {
        color: $accent-color;
      }
    }

    .ui-dropdown-clear-icon {
      right: 1.75rem;
    }

    .ui-dropdown-trigger {
      background: inherit;
      width: 1.75rem;
    }

    .ui-dropdown-label {
      @include text-overflow-hidden();

      background: inherit;
      color: $primary-text-color;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      max-width: calc(100% - 2 * 1.75rem);
      padding: 0;
    }
  }

  &.fixed-width .ui-dropdown {
    width: 100% !important;
  }
}

@mixin grid-fileupload {
  @extend .aw-btn;

  padding: 0;

  .ui-fileupload-choose {
    @include flex-row();

    align-items: center;
    background-color: transparent;
    border: 0;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    height: inherit;
    line-height: inherit;
    padding: 0 $margin-value;

    .ui-button-icon-left {
      display: none;
    }

    .ui-button-text {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      padding: 0;
    }
  }
}

@mixin grid-input() {
  @include input();

  width: 100%;

  &:disabled {
    @include input-disabled();
  }

  &:not(:disabled):focus {
    @include input-focus();
  }

  &:not(:disabled):hover {
    @include input-hover();
  }
}

@mixin grid-textarea {
  @include grid-input();

  display: block;
  min-height: $form-control-height;
  resize: vertical;
}

@mixin grid-radiobutton {
  display: inline-block;
  height: $radiobutton-height;
  width: $radiobutton-height;

  .ui-radiobutton {
    height: inherit;
    width: inherit;

    .ui-radiobutton-box {
      background: inherit;
      border-color: $border-color;
      color: $border-color--focus;
      height: inherit;
      width: inherit;

      transition: border-color 0.25s ease-in-out;

      &.ui-state-disabled {
        border-color: $border-color;
        color: $primary-text-color;
        opacity: 1;
      }

      &:not(.ui-state-disabled):hover {
        border-color: $border-color--hover;
      }

      &:not(.ui-state-disabled).ui-state-active {
        border-color: $accent-color;

        .ui-radiobutton-icon {
          background-color: $accent-color;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////

@mixin calendar-panel {
  .ui-datepicker:not(.ui-datepicker-inline) {
    border-color: $border-color;
    border-radius: 0;
    border-style: $border-style;
    border-width: $border-width;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
}

@mixin dropdown-panel {
  .ui-dropdown-panel {
    border: $border-width $border-style $border-color;
    border-radius: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

    .ui-dropdown-items-wrapper .ui-dropdown-list {
      .ui-dropdown-item {
        color: $secondary-text-color;
        padding: $margin-value;

        &:hover {
          background-color: $secondary-background-color;
        }

        &.ui-state-highlight {
          background-color: $accent-color;
          color: $primary-background-color;
        }
      }
    }
  }
}
