@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

body .ui-widget {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}

body .ui-tooltip {
  max-width: none;
}
