$sidebar-list-element-active-border-width: 4px;
$sidebar-toggle-height: 3.5rem;

.left-sidebar,
.right-sidebar {
  bottom: 0;
  position: fixed;
  transform: translate3d(0, 0, 0);
  z-index: 10;

  transition: width 0.3s;

  &.collapsed {
    .sidebar-nav {
      display: none;
    }

    .sidebar-toggle {
      .collapse-icon {
        display: none;
      }

      .expand-icon {
        display: block;
        margin: 0;
      }
    }
  }

  &.expanded {
    .sidebar-context-title,
    .tab-subtitle,
    .tab-title {
      @include text-overflow-hidden();
    }

    .sidebar-toggle {
      .collapse-icon {
        display: block;
        margin: 0;
      }

      .expand-icon {
        display: none;
      }
    }
  }

  .sidebar-nav,
  .sidebar-nav-overlay {
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease-in-out;

    & > li {
      @include flex-row();

      align-items: center;
      cursor: pointer;
      height: 3.5rem;
      padding: 0 calc(#{$margin-value} / 2) 0 $margin-value;

      &.active {
        font-weight: 600;
      }

      &.alert {
        color: $red-dark1;
      }
    }
  }

  .sidebar-toggle {
    @include flex-row();

    align-items: center;
    cursor: pointer;
    height: $sidebar-toggle-height;
    justify-content: center;
    line-height: $line-height;

    transition: background-color 0.2s, color 0.2s, width 0.3s;
  }
}

///////////////////////////////////////////////////////////////////////////////
// Left sidebar //
///////////////////////////////////////////////////////////////////////////////

.left-sidebar {
  background-color: $accent-color;
  color: $topbar-color;
  left: 0;
  top: 0;
  width: $left-sidebar-width--collapsed;

  &.collapsed {
    .toolbar {
      @include flex-column();

      & > div {
        width: 100%;
      }
    }
  }

  &.expanded {
    width: $left-sidebar-width--expanded;

    .toolbar {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;

      & > div {
        flex-grow: 1;
      }
    }
  }

  .sidebar-nav,
  .sidebar-nav-overlay {
    & > li {
      color: $topbar-color;

      transition: background-color 0.2s, color 0.2s;

      &.active {
        background-color: $body-background-color;
        border-right-color: $body-background-color;
        color: $accent-color;
      }

      &:focus,
      &:not(.active):hover {
        background-color: darken($accent-color, 10%);
        color: $topbar-color;
      }
    }
  }

  .sidebar-nav {
    height: calc(100% - #{$sidebar-toggle-height} - #{$sidebar-toggle-height} - #{$topbar-height});
  }

  .sidebar-toggle,
  .toolbar > div {
    &:hover {
      background-color: $topbar-color;
      color: $accent-color;
    }
  }

  .sidebar-toggle {
    background-color: darken($accent-color, 10%);
    color: $topbar-color;
  }

  .toolbar {
    align-items: center;
    background-color: darken($accent-color, 10%);
    line-height: $line-height;

    transition: background-color 0.2s, color 0.2s, display 0.3s, width 0.3s;

    & > div {
      @include flex-row();

      align-items: center;
      color: $topbar-color;
      cursor: pointer;
      height: $sidebar-toggle-height;
      justify-content: center;

      transition: background-color 0.2s, color 0.2s;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// Right sidebar //
///////////////////////////////////////////////////////////////////////////////

.right-sidebar {
  background-color: $topbar-color;
  box-shadow: inset $mainbar-border-width 0 0 $mainbar-border-color;
  padding-left: $mainbar-border-width;
  right: 0;
  top: $topbar-height;
  width: $right-sidebar-width--collapsed;

  &.expanded {
    width: $right-sidebar-width--expanded;
  }

  .sidebar-nav {
    height: calc(100% - #{$sidebar-toggle-height});

    & > li {
      border-left-color: transparent;
      border-left-style: solid;
      border-left-width: $sidebar-list-element-active-border-width;
      color: $secondary-text-color;

      &.active {
        background-color: rgba(0, 0, 0, 0.06);
        border-left-color: $accent-color;
        color: $accent-color;
      }

      &:focus,
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);

        &:not(.active) {
          color: $primary-text-color;
        }
      }
    }
  }

  .sidebar-toggle {
    color: $accent-color;

    &:hover {
      background-color: $accent-color;
      color: $primary-background-color;
    }

    i {
      margin-right: $margin-value;
    }
  }
}
