$table-column-icon-width: calc(1.5rem + calc(#{$margin-value} * 2));

.aw-table2,
.aw-tree-table2 {
  .aw-table-icon-actions,
  td.row-action-wrapper,
  td.row-expand-wrapper {
    .aw-icon {
      background-color: transparent;
      color: $secondary-text-color;
      padding-left: 1px;
      text-align: center;

      &:hover {
        background-color: $accent-color;
        color: #fff;
      }
    }
  }

  .aw-table-checkbox {
    @include grid-checkbox();

    .ui-chkbox-box {
      margin: 0;
    }
  }
}

.aw-table2 .ui-table-caption,
.aw-tree-table2 .ui-treetable-caption {
  border: 0;
  padding: 0;
}

.aw-table2 .ui-table-scrollable-body,
.aw-tree-table2 .ui-treetable-scrollable-body {
  max-height: 43rem;
  min-height: 5rem;
}

.aw-tree-table2 {
  .ui-treetable-toggler:hover {
    border-bottom-color: $primary-background-color;
  }

  td.aw-table-checkbox-wrapper .aw-table-checkbox .ui-treetable-chkbox {
    margin: 0;
  }
}

///////////////////////////////////////////////////////////////////////////////
// Table header //
///////////////////////////////////////////////////////////////////////////////

.aw-table2,
.aw-tree-table2 {
  .aw-table-header {
    @include flex-row();

    align-items: center;
    background-color: $primary-background-color;
    border-left: $border-width $border-style transparent;
    border-right: $border-width $border-style transparent;
    border-top: $border-width $border-style transparent;
    padding: calc(#{$margin-value} / 4);
    width: 100%;
    max-height: 42px;
    min-height: 42px;

    transition-duration: 150ms;
    transition-property: background-color, border-left-color, border-right-color, border-top-color;

    &.rows-selected {
      .aw-table-global-filter {
        visibility: hidden;
        max-width: 0;
        min-width: 0;
        padding: 0;
      }

      .aw-table-icon-actions {
        display: none;
      }
    }

    .aw-table-actions {
      @include flex-row();

      flex-grow: 1;
      justify-content: flex-end;

      button:not(.ui-button) {
        margin-right: 8px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      &:first-child {
        margin-left: 0;
      }

      .aw-table-action,
      .aw-table-action-wrapper ~ .aw-table-action-wrapper .aw-table-action,
      .aw-table-action ~ .aw-table-action-wrapper .aw-table-action {
        margin-left: $margin-value;
      }

      .aw-table-action-wrapper {
        .aw-table-action {
          margin-left: 0;
        }
      }
    }

    .aw-table-icon-actions {
      @include flex-row();

      justify-content: flex-end;
      margin-left: calc(#{$margin-value} * 2);

      .aw-icon {
        font-size: 1.125rem;
        line-height: 2rem;
        width: 2rem;
      }
    }

    .aw-table-global-filter {
      @include flex-row();

      align-items: baseline;
      flex-grow: 1;
      padding-right: 5%;

      .aw-table-global-filter-input {
        @include input();
        @include placeholder {
          color: $secondary-text-color;
          font-weight: 400;
        }

        min-width: 12rem;
        width: 12rem;

        transition: border-bottom-color 0.25s ease-in-out, width 0.5s ease;

        &:focus {
          border-bottom-color: $accent-color;
          outline: none;
          width: 100%;
        }
      }
    }
  }

  .aw-table-header + .active-filter-list {
    @include flex-row();

    background-color: $primary-background-color;
    flex-wrap: wrap;
    padding: 0 calc(#{$margin-value} / 4) calc(#{$margin-value} / 4) calc(#{$margin-value} / 4);
    width: 100%;

    .aw-chips {
      border: $border-width $border-style $border-color;
      border-radius: $border-radius;
      cursor: default;
      font-weight: normal;
      margin-top: calc(#{$margin-value} / 2);
      margin-right: calc(#{$margin-value} / 2);
      padding: calc(#{$margin-value} / 4) calc(#{$margin-value} / 2);

      &:last-of-type {
        margin-right: 0;
      }

      .aw-chips-label + .aw-chips-value {
        margin-left: calc(#{$margin-value} / 2);
      }

      .aw-chips-icon {
        cursor: pointer;
        margin-left: $margin-value;

        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// Table body //
///////////////////////////////////////////////////////////////////////////////

.aw-table2,
.aw-tree-table2,
.aw-table-control-summary {
  // td,
  // th {
  //   background-color: $primary-background-color;
  //   border: 0;
  //   line-height: $line-height;
  //   vertical-align: middle;
  // }

  // th {
  //   color: $secondary-text-color;
  //   font-weight: 400;
  //   vertical-align: bottom;
  // }

  tr {
    &:last-of-type td {
      border-bottom-color: #f4f4f4 !important;
    }
  }

  td {
    background-color: $primary-background-color;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #f4f4f4 !important;
    border-top-color: #f4f4f4 !important;
    // color: $primary-text-color;

    a {
      border-bottom-color: transparent;
      border-bottom-width: $border-width;
      border-bottom-style: $border-style;
      color: $accent-color !important;
      cursor: pointer;

      transition: border-bottom-color 0.25s ease-in-out;

      &:hover {
        border-bottom-color: $accent-color;
      }
    }
  }

  th {
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: #f4f4f4 !important;
    border-right-color: #f4f4f4 !important;
  }
}

.aw-table2,
.aw-tree-table2 {
  tr {
    // border-bottom: $border-width $border-style #d8d8d8;
    // border-top: $border-width $border-style #d8d8d8;

    &:focus,
    td:focus,
    th:focus {
      outline: none !important;
    }

    &.ui-state-highlight {
      background-color: #dbdada !important;
    }

    // &:not(.readOnly):hover > th,
    // &.ui-state-highlight th {
    //   .ui-sortable-column-icon {
    //     color: inherit;
    //   }
    // }

    &:not(.read-only):not(.ui-state-highlight):hover > td {
      background-color: #f2f2f2;
      // border-bottom: $border-width $border-style lighten($accent-color, 55%);
      // border-top: $border-width $border-style lighten($accent-color, 55%);
    }

    &.ui-state-highlight td {
      background-color: darken(#f4f4f4, 10%) !important;
      color: #000 !important;

      // border-bottom: $border-width $border-style lighten($accent-color, 55%);
      // border-top: $border-width $border-style lighten($accent-color, 55%);
    }

    &.read-only {
      pointer-events: none;
    }

    &.overflow td {
      vertical-align: top;
      white-space: pre-line;
    }

    &:not(.overflow) td {
      @include text-overflow-hidden();
    }

    &.row-expanded {
      border-top: 0;

      &:hover > td {
        background-color: $primary-background-color;
        border-top-color: $secondary-background-color;
      }

      & > td {
        border-bottom: $border-width $border-style lighten($accent-color, 55%);
        padding-left: calc(#{$margin-value} * 5);
        padding-right: calc(#{$margin-value} * 5);
      }

      .aw-table2 {
        .ui-table-thead tr {
          border-bottom-color: $secondary-background-color;

          th {
            background-color: $secondary-background-color;
          }
        }

        .ui-table-tbody {
          tr {
            border-bottom-color: $primary-background-color;
            border-top-color: $primary-background-color;
          }
        }
      }

      .column,
      .row {
        background-color: $secondary-background-color;
      }
    }
  }

  col,
  td,
  th {
    padding: $margin-value;

    &.aw-table-checkbox-wrapper,
    &.row-action-wrapper,
    &.row-expand-wrapper {
      text-align: center;
      width: $table-column-icon-width;
    }

    &.row-action-wrapper,
    &.row-expand-wrapper {
      padding: 0;
    }

    &.aw-table-checkbox-wrapper {
      .ui-chkbox-box {
        margin: 0 !important;
      }
    }
  }

  th {
    .ui-sortable-column-icon {
      color: inherit;
      display: none;

      &.pi-sort-down,
      &.pi-sort-up {
        display: inline-block;
      }
    }
  }

  td {
    .alert {
      display: inline-block;
      max-width: 7rem;
      text-transform: uppercase;
      width: 100%;

      &.alert--nok {
        background-color: $red-light1;
      }

      &.alert--ok {
        background-color: $green-light1;
      }

      &.alert--warning {
        background-color: $orange;
      }
    }

    &.row-action-wrapper,
    &.row-expand-wrapper {
      .aw-icon {
        line-height: 1.75rem;
        width: 1.75rem;
      }
    }

    p-dropdown {
      width: 100%;
    }
  }
}

.aw-table2 .ui-table-thead,
.aw-tree-table2 .ui-treetable-thead {
  tr {
    border-bottom-color: $secondary-text-color;
    border-top-width: 0;
  }
}

.aw-table-control-summary {
  col,
  td,
  th {
    padding: 4px;
  }

  tr {
    td,
    th {
      text-align: center;
    }
  }

  &:not(.aw-table-control-summary-single-row) {
    tr {
      td,
      th {
        &:first-of-type {
          padding-right: 5%;
          text-align: right;
        }
      }
    }

    .ui-table-tbody {
      tr:first-of-type td {
        border-bottom: $border-width $border-style $accent-color;
        padding-bottom: $margin-value;
      }

      tr:nth-of-type(2) td {
        padding-top: $margin-value;
      }
    }
  }

  .ui-table-tbody {
    tr:first-of-type td {
      font-weight: 600;
    }
  }

  td > span {
    background-color: #fff;
    display: block;
    padding: calc(#{$margin-value} - 4px);

    &.control-result {
      background-color: #f0f0f0;
    }

    &.ok {
      background-color: $green-light1;
    }

    &.warning {
      background-color: $orange;
    }

    &.nok {
      background-color: $red-light1;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// Table loading indicator //
///////////////////////////////////////////////////////////////////////////////

.aw-table2,
.aw-tree-table2 {
  .aw-table-loading-indicator {
    @include flex-row();

    align-items: center;
    margin-left: calc(#{$table-column-icon-width} + #{$margin-value});
    margin-top: $margin-value;
    position: relative;
    width: 8rem;

    .loading-message {
      margin-right: calc(#{$margin-value} * 2);
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// Dialog: full screen //
///////////////////////////////////////////////////////////////////////////////

.aw-table-fullscreen {
  .modal {
    transition: left 0.3s;

    .modal__header {
      padding: $margin-value;

      a-header {
        @include flex-row();

        & > :first-child {
          flex-grow: 1;
        }

        .modal-title {
          font-size: 1.125rem;
          font-weight: 600;
        }

        .close-wrapper {
          @include flex-row();

          justify-content: flex-end;

          .aw-icon {
            color: $primary-text-color;
            font-size: 1rem;
            line-height: 1.5rem;
            opacity: 0.5;
            text-align: center;
            width: 1.5rem;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    .modal__content {
      .aw-table2 .ui-table,
      .aw-tree-table2 .ui-treetable {
        bottom: 0;
        max-width: 100%;
        position: absolute;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// Dialog: row details //
///////////////////////////////////////////////////////////////////////////////

.aw-table-row-details {
  .modal {
    .modal__content {
      a-content {
        .label-value-group {
          @include flex-row();

          margin: calc(#{$margin-value / 2}) calc(#{$margin-value * 2}) 0 calc(#{$margin-value * 2});

          &:first-of-type {
            margin-top: 0;
          }

          & > label {
            font-weight: 700;
          }

          & > span {
            flex-grow: 1;
          }
        }
      }
    }
  }
}
