///////////////////////////////////////////////////////////////////////////////
// Functionnal
///////////////////////////////////////////////////////////////////////////////

.control-result-green {
  color: $green-light1;
}

.control-result-red {
  color: $red-light1;
}

.control-result-yellow {
  color: $orange;
}

///////////////////////////////////////////////////////////////////////////////
// Technical
///////////////////////////////////////////////////////////////////////////////

.draggable {
  cursor: move;
}

.dialog-mask {
  background-color: $primary-text-color;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
}

.dropdown-mask {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

ul.list--unstyled {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

// Loading indicator
.lds-hourglass:after {
  animation: lds-hourglass 1.2s infinite;
  border: 10px $border-style $secondary-text-color;
  border-color: $secondary-text-color transparent $secondary-text-color transparent;
  border-radius: 50%;
  box-sizing: border-box;
  content: " ";
  display: block;
  height: 0;
  width: 0;
}

@keyframes lds-hourglass {
  0% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transform: rotate(0);
  }
  50% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(900deg);
  }
  100% {
    transform: rotate(1800deg);
  }
}
