<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="form-group required">
      <label class="form-label">{{ getComponentName() + ".startDate" | translate }}</label>
      <div class="form-control">
        <p-calendar
          showButtonBar="true"
          [monthNavigator]="true"
          [yearNavigator]="true"
          [yearRange]="sessionService.calendarYearRange"
          class="aw-calendar"
          appendTo="body"
          [dateFormat]="sessionService.dateFormatPrimeNG"
          [locale]="sessionService.calendarFormat"
          [(ngModel)]="publicHoliday.compHolidayStartDate"
          [maxDate]="publicHoliday.compHolidayEndDate"
        ></p-calendar>
      </div>
    </div>

    <div class="form-group required">
      <label class="form-label">{{ getComponentName() + ".endDate" | translate }}</label>
      <div class="form-control">
        <p-calendar
          showButtonBar="true"
          [monthNavigator]="true"
          [yearNavigator]="true"
          [yearRange]="sessionService.calendarYearRange"
          class="aw-calendar"
          appendTo="body"
          [dateFormat]="sessionService.dateFormatPrimeNG"
          [locale]="sessionService.calendarFormat"
          [(ngModel)]="publicHoliday.compHolidayEndDate"
          [minDate]="publicHoliday.compHolidayStartDate"
        ></p-calendar>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".name" | translate }}</label>
      <div class="form-control">
        <input
          type="text"
          name="contractName"
          class="aw-input"
          maxlength="300"
          [(ngModel)]="publicHoliday.compHolidayComment"
        />
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".status" | translate }}</label>
      <div class="form-control">
        <p-checkbox class="aw-checkbox" binary="true" [(ngModel)]="publicHoliday.compHolidayActivated"></p-checkbox>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="cancel()">{{ "global.cancel" | translate }}</button>
    <button type="button" mat-raised-button color="primary" (click)="associate()" [disabled]="!enableAssociateButton()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
