<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="grid-row">
      <div class="grid-cell-content">
        <div class="column">
          <div class="row">
            <div class="form-group" [ngClass]="{ required: isCreateOpenMode }">
              <label class="form-label">{{ getComponentName() + ".number" | translate }}</label>

              <div
                class="form-control form-control-with-modal"
                [ngClass]="{ disabled: isReadOpenMode || !isCreateOpenMode }"
              >
                <div class="form-control-data" (click)="isCreateOpenMode ? openEvolutionPopup() : ''">
                  {{ sbad.bidoEquipmentEvolutionDTO.evolutionNumber }}
                </div>

                <div *ngIf="sbad.bidoEquipmentEvolutionDTO.evolutionNumber" class="btn-clear-wrapper">
                  <i
                    class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                    aria-hidden="true"
                    (click)="sbad.bidoEquipmentEvolutionDTO.evolutionNumber = undefined"
                  ></i>
                </div>
                <div class="btn-search-wrapper">
                  <i
                    class="fa fa-fw fa-search aw-icon btn-search"
                    aria-hidden="true"
                    (click)="openEvolutionPopup()"
                  ></i>
                </div>
              </div>
            </div>
            <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
              <label class="form-label">{{ getComponentName() + ".revisionNumber" | translate }}</label>

              <div class="form-control">
                <input
                  type="text"
                  class="aw-input"
                  [(ngModel)]="sbad.bidoEquipmentEvolutionDTO.evolutionRevisionNumber"
                  [disabled]="true"
                />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">{{ getComponentName() + ".type" | translate }}</label>

              <div class="form-control">
                <input
                  type="text"
                  class="aw-input"
                  [(ngModel)]="sbad.bidoEquipmentEvolutionDTO.evolutionType"
                  [disabled]="true"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="form-label">{{ getComponentName() + ".designation" | translate }}</label>

              <div class="form-control">
                <textarea
                  class="aw-textarea"
                  pInputTextarea
                  [rows]="3"
                  [(ngModel)]="sbad.designation"
                  [disabled]="true"
                ></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
              <label class="form-label">{{ getComponentName() + ".applicationDate" | translate }}</label>

              <div class="form-control">
                <p-calendar
                  showButtonBar="true"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  [yearRange]="sessionService.calendarYearRange"
                  class="aw-calendar"
                  [dateFormat]="sessionService.dateFormatPrimeNG"
                  [locale]="sessionService.calendarFormat"
                  [(ngModel)]="sbad.bidoEquipmentEvolutionDTO.dateApplied"
                  appendTo="body"
                  [disabled]="isReadOpenMode"
                ></p-calendar>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label">{{ getComponentName() + ".removalDate" | translate }}</label>

              <div class="form-control">
                <p-calendar
                  showButtonBar="true"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  [yearRange]="sessionService.calendarYearRange"
                  class="aw-calendar"
                  [dateFormat]="sessionService.dateFormatPrimeNG"
                  [locale]="sessionService.calendarFormat"
                  [(ngModel)]="sbad.bidoEquipmentEvolutionDTO.dateRemove"
                  appendTo="body"
                  [disabled]="isReadOpenMode"
                ></p-calendar>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group ">
              <label class="form-label">{{ getComponentName() + ".isFullyApplied" | translate }}</label>
              <div class="form-control">
                <p-radioButton
                  class="aw-radiobutton"
                  [(ngModel)]="radioStatus"
                  [disabled]="isReadOpenMode && radioStatus != 'isFullyApplied'"
                  name="group1"
                  value="isFullyApplied"
                ></p-radioButton>
              </div>
            </div>
            <div class="form-group ">
              <label class="form-label">{{ getComponentName() + ".isPartiallyApplied" | translate }}</label>

              <div class="form-control">
                <p-radioButton
                  class="aw-radiobutton"
                  [(ngModel)]="radioStatus"
                  [disabled]="isReadOpenMode && radioStatus != 'isPartiallyApplied'"
                  name="group1"
                  value="isPartiallyApplied"
                ></p-radioButton>
              </div>
            </div>

            <div class="form-group ">
              <label class="form-label">{{ getComponentName() + ".isNotApplicable" | translate }}</label>

              <div class="form-control">
                <p-radioButton
                  class="aw-radiobutton"
                  [(ngModel)]="radioStatus"
                  [disabled]="isReadOpenMode && radioStatus != 'isNotApplicable'"
                  name="group1"
                  value="isNotApplicable"
                ></p-radioButton>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label class="form-label">{{ getComponentName() + ".comment" | translate }}</label>

              <div class="form-control">
                <textarea
                  class="aw-textarea"
                  pInputTextarea
                  [rows]="3"
                  [(ngModel)]="sbad.bidoEquipmentEvolutionDTO.description"
                  [disabled]="isReadOpenMode"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group ">
              <label class="form-label">{{ getComponentName() + ".event" | translate }}</label>

              <div class="form-control">
                <p-checkbox class="aw-checkbox" [(ngModel)]="sbad.event" [disabled]="isReadOpenMode" binary="true">
                </p-checkbox>
              </div>
            </div>

            <div class="form-group ">
              <label class="form-label">{{ getComponentName() + ".manufacturingModification" | translate }}</label>

              <div class="form-control">
                <p-checkbox
                  class="aw-checkbox"
                  [(ngModel)]="sbad.bidoEquipmentEvolutionDTO.manufacturingModification"
                  [disabled]="isReadOpenMode"
                  binary="true"
                ></p-checkbox>
              </div>
            </div>
            <div class="form-group "></div>
          </div>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="isReadOpenMode" type="button" mat-raised-button (click)="closeDialog()">
      <span>{{ "global.close" | translate }}</span>
    </button>

    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="closeDialog()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button
      *ngIf="!isReadOpenMode"
      type="button"
      mat-raised-button
      (click)="validate()"
      color="primary"
      [disabled]="
        !sbad.bidoEquipmentEvolutionDTO.evolutionNumber ||
        sbad.bidoEquipmentEvolutionDTO.evolutionNumber.length === 0 ||
        !sbad.bidoEquipmentEvolutionDTO.dateApplied ||
        sbad.bidoEquipmentEvolutionDTO.dateApplied.length === 0
      "
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-search-evolution
  *ngIf="showEvolutionPopup"
  [(display)]="showEvolutionPopup"
  [equipmentCode]="equipmentCode"
  [evolutionNumber]="sbad.bidoEquipmentEvolutionDTO.evolutionNumber"
  [evolutionRevisionNumber]="sbad.bidoEquipmentEvolutionDTO.evolutionRevisionNumber"
  [evolutionSource]="evolutionType"
  [familyVariantCode]="familyVariantCode"
  [pnCode]="pnCode"
  [sn]="sn"
  (onSelected)="setSelectedCode($event)"
>
</aw-dialog-search-evolution>
