:host {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    margin-top: 40px;
    padding: 0 56px;
    min-height: 40px;

    a:not(.last) {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
