<div class="container">
  <ng-container *ngFor="let breadcrumb of tabService.breadcrumbs; index as i">
    <a [ngClass]="{ last: i == tabService.breadcrumbs.length - 1 }" (click)="openPreviousTab(i)">
      {{ breadcrumb.translatedLabel ? (breadcrumb.label | translate) : breadcrumb.label }}
      <ng-container *ngIf="!breadcrumb.translatedContext && breadcrumb.context">
        - {{ breadcrumb.context }}</ng-container
      >
    </a>
    <span *ngIf="i != tabService.breadcrumbs.length - 1" style="margin: 0 2px;"> > </span>
  </ng-container>
</div>
