@import "constants";
@import "mixins";

:host {
  .table-header {
    @include flex-row();

    align-items: center;
    margin-bottom: calc(#{$margin-value} / 2);

    .filter-toggle {
      font-size: 1.125rem;
      line-height: 1.75rem;
      margin-left: $margin-value;
      width: 1.75rem;
    }

    .table-global-filter {
      @include flex-row();

      align-items: baseline;
      flex-grow: 1;

      input {
        @include input();
        @include placeholder {
          color: $secondary-text-color;
          font-weight: 400;
        }

        width: 15rem;

        transition: border-bottom-color 0.25s ease-in-out, width 0.5s ease;

        &:focus {
          border-bottom-color: $accent-color;
          outline: none;
          width: 100%;
        }
      }

      & + .table-actions {
        flex-grow: 0;
      }
    }

    .table-actions {
      flex-grow: 1;
      justify-content: flex-end;
    }
  }

  .table {
    td,
    th {
      text-align: left;
    }

    td {
      border-left-color: transparent;
      border-right-color: transparent;

      &.row-expansion-toggler {
        padding: 0;

        a {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: center;

          i {
            transition: 0.1s ease-in-out;

            &.expanded {
              transform: rotate(90deg);
            }
          }
        }
      }
    }

    th {
      border-bottom-color: transparent;
      border-top-color: transparent;

      &.checkbox-col {
        width: 2.75rem;
      }

      &.col {
        & > div {
          display: flex;
          flex-direction: row;
          white-space: nowrap;

          & > .label {
            flex-grow: 1;
          }

          .pi {
            display: none;

            &.pi-sort-down,
            &.pi-sort-up {
              display: initial;
            }
          }
        }
      }
    }

    .checkbox-col > *:not(mat-radio-group) {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .row-expansion-col {
      width: 2.75rem;
    }
  }

  .aw-table-loading-indicator {
    @include flex-row();

    align-items: flex-start;
    margin-top: $margin-value;
    min-height: 40px;
    position: relative;
    width: 8rem;

    .loading-message {
      margin-right: calc(#{$margin-value} * 2);
    }
  }
}

::ng-deep .table-header .table-actions {
  @include flex-row();

  .aw-btn {
    margin-left: $margin-value;
  }

  button {
    margin-right: $margin-value;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

::ng-deep .table {
  &.no-paginator .ui-paginator {
    display: none;
  }

  .ui-paginator {
    border-color: transparent;

    .ui-paginator-pages .ui-paginator-page.ui-state-active {
      background-color: $accent-color !important;
    }
  }

  tbody tr {
    background-color: #fff !important;

    &:last-of-type td {
      border-bottom-color: #f4f4f4 !important;
    }

    &:hover {
      background-color: darken(#fff, 5%) !important;
      color: #000 !important;
    }

    &.ui-state-highlight {
      background-color: darken(#f4f4f4, 10%) !important;
      color: #000 !important;
    }

    &:focus {
      background-color: initial;
      outline: none;
    }

    td {
      border-bottom-color: #f4f4f4 !important;
      border-top-color: #f4f4f4 !important;

      &:not(.row-expansion-toggler) a:hover {
        text-decoration: underline;
      }

      a {
        color: $accent-color !important;
        cursor: pointer;
      }
    }
  }

  thead tr {
    th {
      border-left-color: #f4f4f4 !important;
      border-right-color: #f4f4f4 !important;
    }
  }
}
