@import "constants";
@import "mixins";
:host {
  .alert {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    width: 8em;
    text-align: center;

    &.alert--ok {
      background-color: $green-light1;
    }

    &.alert--warning {
      background-color: $orange;
    }

    &.alert--nok {
      background-color: $red-light1;
    }

    &.alert--none {
      background-color: $grey1;
    }
  }

  .custom-width {
    width: 50%;
  }

  .padding-class {
    padding-left: 0.5em;
  }

  .label-class {
    padding-right: 0.5em;
    display: inline-block;
    width: 2.5em;
  }

  .span-label {
    color: #007ad9;
  }

  .custom-div {
    padding-left: 1.2em;
  }

  .custom-anchor {
    padding: 0.7em 0;
  }

  .custom-control {
    padding-top: 0.4em;
  }

  .aw-table-icon-actions {
    @include flex-row();

    justify-content: flex-end;
    margin-left: calc(#{$margin-value} * 2);

    .aw-icon {
      font-size: 1.125rem;
      line-height: 2rem;
      width: 2rem;
    }
  }
}
