<a-modal class="aw-modal" [(visible)]="display" [width]="40">
  <a-header>
    <div class="modal-title">{{ (isWorkshopCategory ? "workshop" : "warehouse") | translate }}</div>
  </a-header>

  <a-content>
    <div class="column">
      <div class="row">
        <div class="form-group required">
          <label class="form-label">{{ getComponentName() + ".inCompany" | translate }}</label>

          <div class="form-control">
            <p-dropdown
              class="aw-dropdown fixed-width"
              appendTo="body"
              placeholder="&nbsp;"
              [options]="companies"
              [showClear]="true"
              [(ngModel)]="companyId"
              (onChange)="onChangeCompany()"
            ></p-dropdown>
          </div>
        </div>

        <div class="form-group required">
          <label class="form-label">{{ getComponentName() + ".site" | translate }}</label>

          <div class="form-control">
            <p-dropdown
              class="aw-dropdown fixed-width"
              appendTo="body"
              placeholder="&nbsp;"
              [options]="sitesByCompany"
              [showClear]="true"
              [(ngModel)]="warehouse.bidtSiteId"
              (onChange)="onChangeSite()"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group required">
          <label class="form-label">{{ getComponentName() + ".code" | translate }}</label>

          <div class="form-control">
            <input class="aw-input" type="text" maxlength="50" [(ngModel)]="warehouse.whCode" />
          </div>
        </div>

        <div class="form-group">
          <label class="form-label">{{ getComponentName() + ".name" | translate }}</label>

          <div class="form-control">
            <input class="aw-input" type="text" maxlength="100" [(ngModel)]="warehouse.whName" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="form-label">{{ getComponentName() + ".type" | translate }}</label>

          <div class="form-control">
            <p-dropdown
              class="aw-dropdown fixed-width"
              appendTo="body"
              placeholder="&nbsp;"
              [options]="warehouseTypes"
              [showClear]="true"
              [(ngModel)]="warehouse.whType"
            ></p-dropdown>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label">{{ getComponentName() + ".providingWarehouse" | translate }}</label>
          <div class="form-control">
            <p-dropdown
              class="aw-dropdown fixed-width"
              appendTo="body"
              placeholder="&nbsp;"
              [options]="providingWarehouses"
              [showClear]="true"
              [(ngModel)]="warehouse.bidtWarehouseId"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="form-label">{{ getComponentName() + ".phoneNumber" | translate }}</label>

          <div class="form-control">
            <input class="aw-input" type="text" [(ngModel)]="warehouse.whPhoneNumber" />
          </div>
        </div>

        <div class="form-group">
          <label class="form-label">{{ getComponentName() + ".zipCode" | translate }}</label>

          <div class="form-control">
            <input class="aw-input" type="text" [(ngModel)]="warehouse.whZipCode" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="form-label">{{ getComponentName() + ".country" | translate }}</label>
          <div class="form-control">
            <p-dropdown
              class="aw-dropdown fixed-width"
              appendTo="body"
              placeholder="&nbsp;"
              [options]="countries"
              [showClear]="true"
              [(ngModel)]="warehouse.whCountry"
            ></p-dropdown>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label">{{ getComponentName() + ".address" | translate }}</label>

          <div class="form-control">
            <textarea
              class="aw-textarea"
              pInputTextarea
              maxlength="300"
              [rows]="3"
              [(ngModel)]="warehouse.whAdress"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">
      {{ "cancel" | translate }}
    </button>

    <button
      [disabled]="!companyId || !warehouse.bidtSiteId || !warehouse.whCode"
      type="button"
      mat-raised-button
      (click)="save()"
    >
      {{ "save" | translate }}
    </button>
  </a-footer>
</a-modal>
