<div class="grid row">
  <div id="defectsPanel" class="grid-cell--12">
    <div class="grid-cell grid-cell--container">
      <div class="grid-cell-header">
        <div class="grid-cell-title-container">
          <div id="defectsTableTitle" class="grid-cell-title">
            <span>{{ getComponentName() + ".defects" | translate }} ({{ defectTable ? defectTable.length : 0 }})</span>
          </div>
        </div>
      </div>

      <div class="grid-cell-content grid-cell-content-with-section">
        <div class="section">
          <div class="section-content">
            <p-table
              id="defectsTable"
              [resizableColumns]="true"
              #ptableDefect
              class="aw-table2"
              [columns]="defectTableColList"
              [value]="defectTable"
              selectionMode="single"
              [scrollable]="true"
              dataKey="_id"
            >
              <ng-template pTemplate="emptymessage">
                <span *ngIf="!loading"> &nbsp;</span>

                <div *ngIf="loading" class="aw-table-loading-indicator">
                  <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                  <div class="lds-hourglass"></div>
                </div>
              </ng-template>

              <ng-template pTemplate="caption">
                <div class="aw-table-header">
                  <div class="aw-table-global-filter">
                    <label class="aw-table-global-filter-label">
                      <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                    </label>

                    <input
                      class="aw-table-global-filter-input"
                      type="text"
                      placeholder="{{ 'table.globalFilterText' | translate }}"
                      (input)="ptableDefect.filterGlobal($event.target.value, 'contains')"
                    />
                  </div>

                  <div class="aw-table-actions">
                    <button id="addDefect" *ngIf="!loading" type="button" mat-raised-button (click)="addDefect()">
                      {{ getComponentName() + ".addDefect" | translate }}
                    </button>
                  </div>
                </div>
              </ng-template>

              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                  <col class="row-expand-wrapper" />
                </colgroup>
              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                    {{ getComponentName() + "." + col.field | translate }}
                  </th>
                  <th class="row-expand-wrapper"></th>
                </tr>
              </ng-template>

              <ng-template
                pTemplate="body"
                let-rowData
                let-expanded="expanded"
                let-columns="columns"
                let-rowIndex="rowIndex"
              >
                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                  <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
                    <span *ngSwitchCase="'eventCode'">
                      <a (click)="openDefectRow(rowData)">{{ rowData[col.field] }}</a>
                    </span>

                    <span *ngSwitchCase="'isCritical'">
                      <i
                        *ngIf="rowData[col.field] !== null && rowData[col.field]"
                        class="fa fa-fw fa-check"
                        aria-hidden="true"
                      ></i>
                    </span>

                    <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                  </td>

                  <td class="row-expand-wrapper" [pRowToggler]="rowData">
                    <i
                      class="fa fa-fw aw-icon aw-icon-with-border"
                      [ngClass]="expanded ? 'fa-minus' : 'fa-plus'"
                      aria-hidden="true"
                      pTooltip="{{ 'global.showTableRowDetails' | translate }}"
                      tooltipPosition="top"
                      (click)="togglePostFlightVisitTableRowDetailsVisibility(rowData)"
                    ></i>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                <tr class="row-expanded">
                  <td [attr.colspan]="columns.length + 2">
                    <div class="row">
                      <div class="form-group">
                        <label class="form-label"> {{ getComponentName() + ".linkedEventCode" | translate }} </label>

                        <div class="form-control">
                          <input class="aw-input" type="text" [(ngModel)]="rowData.linkedEventCode" [disabled]="true" />
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="form-label">
                          {{ getComponentName() + ".logNumber" | translate }}
                        </label>

                        <div class="form-control">
                          <input class="aw-input" type="text" [(ngModel)]="rowData.logNumber" [disabled]="true" />
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="form-label">
                          {{ getComponentName() + ".rootCause" | translate }}
                        </label>

                        <div class="form-control">
                          <input class="aw-input" type="text" [(ngModel)]="rowData.rootCause" [disabled]="true" />
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="form-label">
                          {{ getComponentName() + ".lastAuthor" | translate }}
                        </label>

                        <div class="form-control">
                          <input class="aw-input" type="text" [(ngModel)]="rowData.lastAuthor" [disabled]="true" />
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="postFlightVisitsPanel" class="grid-cell--12">
    <div class="grid-cell grid-cell--container">
      <div class="grid-cell-header">
        <div class="grid-cell-title-container">
          <div id="postFlightVisitTableTitle" class="grid-cell-title">
            <span
              >{{ getComponentName() + ".postFlightVisits" | translate }} ({{
                postFlightVisitTable ? postFlightVisitTable.length : 0
              }})</span
            >
          </div>
        </div>
      </div>

      <div class="grid-cell-content grid-cell-content-with-section">
        <div class="section">
          <div class="section-content">
            <p-table
              id="postFlightVisitTable"
              [resizableColumns]="true"
              #ptablePostFlightVisit
              class="aw-table2"
              [columns]="postFlightVisitTableColList"
              [value]="postFlightVisitTable"
              [(selection)]="postFlightVisitTableSelection"
              selectionMode="single"
              [scrollable]="true"
            >
              <ng-template pTemplate="emptymessage">
                <span *ngIf="!loading"> &nbsp;</span>

                <div *ngIf="loading" class="aw-table-loading-indicator">
                  <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                  <div class="lds-hourglass"></div>
                </div>
              </ng-template>

              <ng-template pTemplate="caption">
                <div class="aw-table-header">
                  <div class="aw-table-global-filter">
                    <label class="aw-table-global-filter-label">
                      <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                    </label>

                    <input
                      class="aw-table-global-filter-input"
                      type="text"
                      placeholder="{{ 'table.globalFilterText' | translate }}"
                      (input)="ptablePostFlightVisit.filterGlobal($event.target.value, 'contains')"
                    />
                  </div>

                  <div class="aw-table-actions">
                    <button
                      id="applyTaskPostFlightVisitTable"
                      *ngIf="isUpdateTaskApplicationButtonVisible()"
                      type="button"
                      mat-raised-button
                      (click)="updateTaskApplication()"
                    >
                      {{ getComponentName() + ".applyTask" | translate }}
                    </button>
                  </div>
                </div>
              </ng-template>

              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                </colgroup>
              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                    {{ getComponentName() + "." + col.field | translate }}
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                  <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
                    <span *ngSwitchCase="'isDone'">
                      <i
                        *ngIf="rowData[col.field] !== null && rowData[col.field]"
                        class="fa fa-fw fa-check"
                        aria-hidden="true"
                      ></i>
                    </span>

                    <span *ngSwitchCase="'operation'">
                      <a (click)="openOperationRow(rowData)">{{ rowData[col.field] }}</a>
                    </span>

                    <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="roleEquipmentsPanel" class="grid-cell--12">
    <div class="grid-cell grid-cell--container">
      <div class="grid-cell-header">
        <div class="grid-cell-title-container">
          <div id="roleEquipmentTableTitle" class="grid-cell-title">
            <span
              >{{ getComponentName() + ".roleEquipments" | translate }} ({{
                roleEquipmentTable ? roleEquipmentTable.length : 0
              }})</span
            >
          </div>
        </div>
      </div>

      <div class="grid-cell-content grid-cell-content-with-section">
        <div class="section">
          <div class="section-content">
            <p-table
              id="roleEquipmentTable"
              [resizableColumns]="true"
              #ptableRoleEquipment
              class="aw-table2"
              [columns]="roleEquipmentTableColList"
              [value]="roleEquipmentTable"
              [(selection)]="roleEquipmentTableSelectionList"
              selectionMode="single"
              [scrollable]="true"
            >
              <ng-template pTemplate="emptymessage">
                <span *ngIf="!loading"> &nbsp;</span>

                <div *ngIf="loading" class="aw-table-loading-indicator">
                  <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                  <div class="lds-hourglass"></div>
                </div>
              </ng-template>

              <ng-template pTemplate="caption">
                <div class="aw-table-header">
                  <div class="aw-table-global-filter">
                    <label class="aw-table-global-filter-label">
                      <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                    </label>

                    <input
                      class="aw-table-global-filter-input"
                      type="text"
                      placeholder="{{ 'table.globalFilterText' | translate }}"
                      (input)="ptableRoleEquipment.filterGlobal($event.target.value, 'contains')"
                    />
                  </div>

                  <div class="aw-table-actions">
                    <button
                      id="removeRoleEquipmentTable"
                      *ngIf="roleEquipmentTableSelectionList.length === 1"
                      type="button"
                      mat-raised-button
                      (click)="removeRoleEquipment()"
                    >
                      {{ getComponentName() + ".remove" | translate }}
                    </button>
                  </div>
                </div>
              </ng-template>

              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                </colgroup>
              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                    {{ getComponentName() + "." + col.field | translate }}
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                  <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
                    <span *ngSwitchCase="'roleEquipment'">
                      <a (click)="openAssetRow(rowData)">{{ rowData[col.field] }}</a>
                    </span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <aw-dialog-add-defect
    *ngIf="dialogAddDefectVisible"
    [(display)]="dialogAddDefectVisible"
    (onValidated)="onAddDefect($event)"
  ></aw-dialog-add-defect>

  <aw-dialog-update-task-application
    *ngIf="dialogUpdateTaskAppliactionVisible"
    [(display)]="dialogUpdateTaskAppliactionVisible"
    (onValidated)="onUpdateTaskApplication($event)"
  ></aw-dialog-update-task-application>
</div>
