<a-modal class="aw-modal" [(visible)]="display" width="50">
  <a-header>
    <div class="modal-title">
      <span>{{ getComponentName() + ".titlePopup" | translate }}</span>
      <div *ngIf="reportProcessing" class="lds-hourglass custom-float"></div>
    </div>
  </a-header>
  <a-content>
    <div class="grid-row">
      <div class="grid-cell--12">
        <div class="grid-row">
          <div class="form-group">
            <label class="form-label"> {{ getComponentName() + ".asset" | translate }} </label>
            <div class="form-control">
              <input type="text" class="aw-input" disabled [(ngModel)]="context" title="{{ context }}" />
            </div>
          </div>
          <div class="form-group">
            <label class="form-label"> {{ getComponentName() + ".counter" | translate }} </label>
            <div class="form-control">
              <input type="text" class="aw-input" disabled [(ngModel)]="measure.counterCode" />
            </div>
          </div>
        </div>

        <div class="grid-row" *ngIf="!isDeltaMeasure && measure.counterUnit === hCounterUnitCode">
          <div class="form-group">
            <label class="form-label">&nbsp;</label>
            <div class="form-control">
              <p-selectButton
                [options]="selectedFormatList"
                [(ngModel)]="selectedFormat"
                (onChange)="changeFormat()"
              ></p-selectButton>
            </div>
          </div>
        </div>

        <div class="grid-row">
          <div class="form-group required">
            <label class="form-label">{{ getComponentName() + ".readingDate" | translate }}</label>
            <div class="form-control">
              <p-calendar
                showButtonBar="true"
                [monthNavigator]="true"
                [yearNavigator]="true"
                [yearRange]="sessionService.calendarYearRange"
                showTime="true"
                class="aw-calendar"
                [dateFormat]="sessionService.dateFormatPrimeNG"
                [locale]="sessionService.calendarFormat"
                [(ngModel)]="measure.counterDate"
                appendTo="body"
              ></p-calendar>
            </div>
          </div>
          <div class="form-group required" *ngIf="isDeltaMeasure">
            <label class="form-label"> {{ getComponentName() + ".value" | translate }} </label>
            <div class="form-control class-flex">
              <div class="column">
                <input
                  #counterDeltaVal="ngModel"
                  type="text"
                  class="aw-input"
                  [(ngModel)]="counterDeltaValue"
                  [pKeyFilter]="inputValidationService.validatorOfNumber()"
                  [pValidateOnly]="true"
                />
                <p-message
                  *ngIf="counterDeltaVal.invalid && (counterDeltaVal.dirty || counterDeltaVal.touched)"
                  severity="error"
                  [text]="inputValidationService.formatOfNumber()"
                ></p-message>
              </div>
              <label class="span-padding"> {{ measure.counterUnit }} </label>
            </div>
          </div>
          <div class="form-group" *ngIf="isDeltaMeasure"></div>
          <div class="form-group required" *ngIf="!isDeltaMeasure && measure.counterUnit !== hCounterUnitCode">
            <label class="form-label">
              {{
                isRatingValue
                  ? (getComponentName() + ".counterValueRating" | translate)
                  : (getComponentName() + ".counterValue" | translate)
              }}
              ({{ measure.counterCode }})
            </label>
            <div class="form-control class-flex">
              <div class="column">
                <input
                  #counterVal="ngModel"
                  type="text"
                  class="aw-input"
                  [(ngModel)]="counterValue"
                  [pKeyFilter]="inputValidationService.validatorOfNumber()"
                  [pValidateOnly]="true"
                />
                <p-message
                  *ngIf="counterVal.invalid && (counterVal.dirty || counterVal.touched)"
                  severity="error"
                  [text]="inputValidationService.formatOfNumber()"
                ></p-message>
              </div>
              <label class="span-padding"> {{ measure.counterUnit }} </label>
            </div>
          </div>
          <div class="form-group required" *ngIf="!isDeltaMeasure && measure.counterUnit === hCounterUnitCode">
            <label class="form-label">
              {{
                isRatingValue
                  ? (getComponentName() + ".counterValueRating" | translate)
                  : (getComponentName() + ".counterValue" | translate)
              }}
              ({{ measure.counterCode }})
            </label>
            <div class="form-control class-flex">
              <div class="column" *ngIf="selectedFormat === formatHH">
                <input
                  #counterVal="ngModel"
                  type="text"
                  class="aw-input"
                  [(ngModel)]="counterValue"
                  [pKeyFilter]="inputValidationService.validatorOfNumber()"
                  [pValidateOnly]="true"
                />
                <p-message
                  *ngIf="counterVal.invalid && (counterVal.dirty || counterVal.touched)"
                  severity="error"
                  [text]="inputValidationService.formatOfNumber()"
                ></p-message>
              </div>
              <label class="span-padding" *ngIf="selectedFormat === formatHH"> {{ measure.counterUnit }} </label>

              <p-calendar
                showButtonBar="true"
                [monthNavigator]="true"
                [yearNavigator]="true"
                [yearRange]="sessionService.calendarYearRange"
                class="aw-calendar"
                *ngIf="selectedFormat === formatHHMM"
                [dateFormat]="sessionService.dateFormatPrimeNG"
                [locale]="sessionService.calendarFormat"
                [(ngModel)]="counterValueDate"
                [timeOnly]="true"
                appendTo="body"
              ></p-calendar>
              <label *ngIf="selectedFormat === formatHHMM"> {{ measure.counterUnit }} </label>
            </div>
          </div>
        </div>

        <div class="grid-row">
          <div class="form-group" *ngIf="ratingVisibility">
            <div class="grid-row">
              <div class="form-group">
                <label class="form-label">{{ getComponentName() + ".rating" | translate }}</label>
                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [disabled]="isReadOnlyForm"
                    [(ngModel)]="measure.ratingText"
                    [options]="ratingsList"
                  ></p-dropdown>
                </div>
              </div>
              <div class="form-group" *ngIf="counterOptionsVisibility && !isDeltaMeasure && ratingVisibility">
                <label class="form-label"> {{ getComponentName() + ".isRatingValue" | translate }} </label>
                <div class="form-control">
                  <p-checkbox
                    binary="true"
                    class="aw-checkbox"
                    [(ngModel)]="isRatingValue"
                    [disabled]="isReadOnlyForm"
                  ></p-checkbox>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">&nbsp;</label>
                <div class="form-control">
                  <button type="button" mat-raised-button (click)="findRating()">
                    {{ getComponentName() + ".findRating" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-row" *ngIf="counterOptionsVisibility">
          <div class="form-group">
            <label class="form-label"> {{ getComponentName() + ".propagate" | translate }} </label>
            <div class="form-control">
              <p-checkbox
                binary="true"
                class="aw-checkbox"
                [(ngModel)]="propagate"
                [disabled]="isReadOnlyForm"
              ></p-checkbox>
            </div>
          </div>
          <div class="form-group" *ngIf="propagate">
            <label class="form-label"> {{ getComponentName() + ".simulate" | translate }} </label>
            <div class="form-control">
              <p-checkbox
                binary="true"
                class="aw-checkbox"
                [(ngModel)]="measurePropagationOptionsDTO.simulation"
                [disabled]="isReadOnlyForm"
              ></p-checkbox>
            </div>
          </div>

          <div class="form-group" *ngIf="counterOptionsVisibility">
            <label class="form-label"> {{ getComponentName() + ".isDeltaMeasure" | translate }} </label>
            <div class="form-control">
              <p-checkbox
                binary="true"
                class="aw-checkbox"
                [(ngModel)]="isDeltaMeasure"
                [disabled]="isReadOnlyForm"
                (click)="onDeltaToogle()"
              ></p-checkbox>
            </div>
          </div>
        </div>
        <div class="grid-row">
          <div class="form-group ">
            <label class="form-label">{{ getComponentName() + ".comment" | translate }}</label>
            <div class="form-control text-area">
              <textarea
                class="aw-textarea"
                [rows]="3"
                pInputTextarea
                [(ngModel)]="measure.comment"
                [disabled]="isReadOnlyForm"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="grid-row" *ngIf="counterOptionsVisibility">
          <div class="grid-cell--6">
            <div class="form-group">
              <label class="form-label"> {{ getComponentName() + ".mesureInsertion" | translate }} </label>
              <div class="form-control">
                <p-checkbox
                  binary="true"
                  class="aw-checkbox"
                  [(ngModel)]="measurePropagationOptionsDTO.allowInsertionBeforeExistingValue"
                  [disabled]="isReadOnlyForm"
                ></p-checkbox>
              </div>
            </div>
          </div>
          <div class="grid-cell--6">
            <div class="form-group">
              <label class="form-label"> {{ getComponentName() + ".readingEqualsOrSmaller" | translate }} </label>
              <div class="form-control">
                <p-checkbox
                  binary="true"
                  class="aw-checkbox"
                  [(ngModel)]="measurePropagationOptionsDTO.allowMeasureReadingSmallerThanPrevious"
                  [disabled]="isReadOnlyForm"
                ></p-checkbox>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-row" *ngIf="counterOptionsVisibility">
          <div class="grid-cell--6">
            <div class="form-group">
              <label class="form-label"> {{ getComponentName() + ".readingGreater" | translate }} </label>
              <div class="form-control">
                <p-checkbox
                  binary="true"
                  class="aw-checkbox"
                  [(ngModel)]="measurePropagationOptionsDTO.allowMeasureReadingGreatherThanPreviousPlusXValue"
                  [disabled]="isReadOnlyForm"
                ></p-checkbox>
              </div>
            </div>
          </div>
          <div class="grid-cell--6">
            <div class="form-group" *ngIf="propagate">
              <label class="form-label"> {{ getComponentName() + ".associatedMissionEvent" | translate }} </label>
              <div class="form-control">
                <p-checkbox
                  binary="true"
                  class="aw-checkbox"
                  [(ngModel)]="measurePropagationOptionsDTO.createEvent"
                  [disabled]="isReadOnlyForm"
                ></p-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="onHide()">
      {{ "global.cancel" | translate }}
    </button>

    <button type="button" color="primary" mat-raised-button (click)="onValidate()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-measure-report
  *ngIf="showMeasureReportText"
  [(display)]="showMeasureReportText"
  [reportMessage]="measureReportText"
></aw-dialog-measure-report>
