:host {
  .custom-icon {
    font-size: 10em;
    cursor: pointer;
  }

  .custom-align {
    text-align: center;
  }

  .section-with-no-padding {
    padding: 0em !important;
    margin-top: 2em;
  }
  .custom-width {
    max-width: fit-content;
  }

  .error-context {
    color: red;
  }
}
