<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div *ngIf="isAssetAircraft" class="page-subtitle">
          - {{ getComponentName() + ".aircraft" | translate }} {{ asset.registration }}
        </div>
        <div *ngIf="isAssetEngine || isAssetEquipment" class="page-subtitle">
          - {{ asset.equipmentDesignation }} / {{ asset.sn }}
        </div>
      </div>
    </div>

    <div
      class="object-status"
      *ngIf="selectedStructureNode.data.status"
      pTooltip="{{ getComponentName() + '.statusHover' | translate }}"
      tooltipPosition="bottom"
    >
      {{ selectedStructureNode.data.status | translate }}
    </div>
  </div>

  <div class="page-actions">
    <button
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #actions="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="navigations">{{ "goTo" | translate }}</button>
      <button mat-menu-item (click)="onExport()">
        {{ "global.export" | translate }}
      </button>
      <button mat-menu-item (click)="onReload()">{{ "global.refresh" | translate }}</button>
      <button mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
    <mat-menu #navigations="matMenu">
      <button *ngIf="!!navigationLinkList" mat-menu-item (click)="navigationLinkList[0].command()">
        {{ navigationLinkList[0].label | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--4">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ componentData.componentId + ".date" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="form-group">
                <label class="form-label"> {{ componentData.componentId + ".date" | translate }} </label>

                <div class="form-control">
                  <p-calendar
                    showButtonBar="true"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [yearRange]="sessionService.calendarYearRange"
                    class="aw-calendar"
                    [dateFormat]="sessionService.dateFormatPrimeNG"
                    [(ngModel)]="date"
                    [maxDate]="currDate"
                    (onSelect)="loadTreeStructure()"
                    (onInput)="calendarEvent($event)"
                  ></p-calendar>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-cell--8">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ componentData.componentId + ".assetSelection" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div *ngIf="isAssetEngine || isAssetEquipment" class="form-group">
                <label class="form-label"> {{ componentData.componentId + ".pn" | translate }} </label>

                <div class="form-control">
                  <input type="text" class="aw-input" disabled [(ngModel)]="mainData.pnCode" />
                </div>
              </div>

              <div class="form-group">
                <label *ngIf="isAssetAircraft" class="form-label">
                  Asset
                </label>
                <label *ngIf="isAssetEngine || isAssetEquipment" class="form-label">
                  Asset
                </label>

                <div class="form-control">
                  <a
                    [ngClass]="{ pointer: !!assetRepresentation }"
                    style="cursor: pointer"
                    class="form-control-generic"
                    (click)="goToAsset()"
                    >{{ assetRepresentation }}</a
                  >
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ componentData.componentId + ".designation" | translate }} </label>

                <div class="form-control">
                  <input type="text" class="aw-input" disabled [(ngModel)]="mainData.designation" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container grid-cell-configuration-control">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container loading-indicator">
                <h3 *ngIf="type === 'asset'" class="grid-cell-title">
                  {{ componentData.componentId + ".assetAtDate" | translate }}
                </h3>
                <h3 *ngIf="type === 'structure'" class="grid-cell-title">
                  {{ componentData.componentId + ".structureAtDate" | translate }}
                  <ng-container *ngIf="equipmentNodeNb && flNodeNb">
                    ({{ equipmentNodeNb }} {{ componentData.componentId + ".equipments" | translate }}, {{ flNodeNb }}
                    {{ componentData.componentId + ".fls" | translate }})
                  </ng-container>
                  <ng-container *ngIf="equipmentNodeNb && !flNodeNb">
                    ({{ equipmentNodeNb }} {{ componentData.componentId + ".equipments" | translate }})
                  </ng-container>
                  <ng-container *ngIf="!equipmentNodeNb && flNodeNb">
                    ({{ flNodeNb }} {{ componentData.componentId + ".fls" | translate }})
                  </ng-container>
                </h3>
                <h3 class="grid-cell-title">
                  <div *ngIf="treeStructureLoading" class="lds-hourglass"></div>
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div *ngIf="!treeStructureLoading" class="column">
                <div class="list-with-details">
                  <div class="list">
                    <div class="list-header">
                      <div class="aw-tree-global-filter">
                        <label class="aw-tree-global-filter-label">
                          <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                        </label>

                        <input
                          class="aw-tree-global-filter-input"
                          type="text"
                          placeholder="{{ 'tree.globalFilterText' | translate }}"
                          [(ngModel)]="searchItemStructureGlobalFilter"
                          (keyup)="filterItemStructure(searchItemStructureGlobalFilter)"
                        />
                      </div>
                    </div>

                    <p-tree
                      [value]="treeStructureToDisplay"
                      selectionMode="single"
                      [(selection)]="selectedStructureNode"
                      (onNodeSelect)="selectedTreeStructureNode()"
                    >
                      <ng-template let-node pTemplate="default">
                        <div class="asset">
                          <div class="asset-type">
                            <i
                              *ngIf="node.data.bidoFl && isFlAircraft(node.data.bidoFl)"
                              class="fa fa-fw fa-plane"
                              aria-hidden="true"
                            ></i>
                            <i
                              *ngIf="node.data.bidoFl && isFlEngine(node.data.bidoFl)"
                              class="fa fa-fw fa-cog"
                              aria-hidden="true"
                            ></i>
                            <i
                              *ngIf="
                                node.data.bidoFl && !isFlAircraft(node.data.bidoFl) && !isFlEngine(node.data.bidoFl)
                              "
                              class="fa fa-fw fa-cogs"
                              aria-hidden="true"
                            ></i>
                          </div>

                          <div class="asset-data">
                            <div class="structure">
                              <i
                                *ngIf="
                                  !!node.data.bidoEquipment &&
                                  node.data.bidoEquipment.equipmentFunction ===
                                    awPropertiesConstants.FAMILY_FUNCTION_AIRCRAFT_KEY
                                "
                                class="fa fa-fw fa-plane"
                                aria-hidden="true"
                              ></i
                              ><i
                                *ngIf="
                                  !!node.data.bidoEquipment &&
                                  node.data.bidoEquipment.equipmentFunction ===
                                    awPropertiesConstants.FAMILY_FUNCTION_ENGINE_KEY
                                "
                                class="fa fa-fw fa-cog"
                                aria-hidden="true"
                              ></i
                              ><i
                                *ngIf="node.data.bidoEquipment === null || node.data.bidoEquipment === undefined"
                                class="fa fa-fw fa-cogs"
                                aria-hidden="true"
                              ></i
                              ><span *ngIf="node.data.bidoEquipment === null || node.data.bidoEquipment === undefined"
                                >&nbsp;</span
                              >{{ node.data.structure }}
                            </div>

                            <div class="asset" *ngIf="!!node.data.pn && !!node.data.sn">
                              P/N {{ node.data.pn }} | S/N {{ node.data.sn }}
                            </div>

                            <div
                              class="asset"
                              *ngIf="!!node.data.pn && (node.data.sn === null || node.data.sn === undefined)"
                            >
                              P/N {{ node.data.pn }}
                            </div>

                            <div
                              class="asset"
                              *ngIf="!!node.data.sn && (node.data.pn === null || node.data.pn === undefined)"
                            >
                              S/N {{ node.data.sn }}
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </p-tree>
                  </div>

                  <div
                    class="details"
                    [ngClass]="{ 'visibility--hidden': !treeStructureToDisplay || treeStructureToDisplay.length === 0 }"
                  >
                    <div *ngIf="selectedStructureNode" class="column">
                      <div class="section">
                        <div class="section-content">
                          <div class="row configuration-control-node-action-list">
                            <button *ngIf="showFlContent" type="button" mat-raised-button (click)="openFL()">
                              {{ getComponentName() + ".open" | translate }}
                            </button>

                            <button *ngIf="showAssetContent" type="button" mat-raised-button (click)="openAsset()">
                              {{ getComponentName() + ".open" | translate }}
                            </button>
                            <!-- <p-selectButton
                              *ngIf="showAssetContent"
                              class="aw-table-btn"
                              [(ngModel)]="selectedFilter"
                              [options]="filterList"
                              (onChange)="onChangeFilter($event)"
                            ></p-selectButton> -->
                          </div>
                        </div>
                      </div>

                      <div class="section">
                        <div class="section-content">
                          <div class="row">
                            <div *ngIf="showAssetContent" class="flex--2">
                              <div class="row">
                                <div class="form-group">
                                  <label class="form-label">
                                    {{ getComponentName() + ".family" | translate }}
                                  </label>

                                  <div class="form-control">
                                    <input
                                      type="text"
                                      class="aw-input"
                                      [(ngModel)]="selectedStructureNode.data.familyVariant"
                                      [disabled]="true"
                                    />
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="form-label">
                                    {{ getComponentName() + ".status" | translate }}
                                  </label>

                                  <div class="form-control">
                                    <input
                                      type="text"
                                      class="aw-input"
                                      [(ngModel)]="selectedStructureNode.data.status"
                                      [disabled]="true"
                                    />
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="form-group">
                                  <label class="form-label">
                                    {{ getComponentName() + ".owner" | translate }}
                                  </label>

                                  <div class="form-control">
                                    <!-- <input
                                      type="text"
                                      class="aw-input"
                                      [(ngModel)]="selectedStructureNode.data.owner"
                                      [disabled]="true"
                                    /> -->
                                    <span *ngIf="!!selectedStructureNode.data.owner" class="form-control-generic">
                                      {{ selectedStructureNode.data.owner }} ({{
                                        selectedStructureNode.data.ownerName
                                      }})
                                    </span>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="form-label">
                                    {{ getComponentName() + ".operator" | translate }}
                                  </label>

                                  <div class="form-control">
                                    <!-- <input
                                      type="text"
                                      class="aw-input"
                                      [(ngModel)]="selectedStructureNode.data.operator"
                                      [disabled]="true"
                                    /> -->
                                    <span *ngIf="selectedStructureNode.data.operator" class="form-control-generic">
                                      {{ selectedStructureNode.data.operator }} ({{
                                        selectedStructureNode.data.operatorName
                                      }})
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div *ngIf="showFlContent" class="flex--2">
                              <div class="row">
                                <div class="form-group">
                                  <label class="form-label">
                                    {{ getComponentName() + ".code" | translate }}
                                  </label>

                                  <div class="form-control">
                                    <input
                                      type="text"
                                      class="aw-input"
                                      [(ngModel)]="selectedStructureNode.data.code"
                                      [disabled]="true"
                                    />
                                  </div>
                                </div>

                                <div class="form-group"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="section">
                        <div class="section-content">
                          <div class="row configuration-control-node-action-list">
                            <p-selectButton
                              *ngIf="showAssetContent"
                              class="aw-table-btn"
                              [(ngModel)]="selectedFilter"
                              [options]="filterList"
                              (onChange)="onChangeFilter($event)"
                            ></p-selectButton>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="showAssetContent && showEvolutionsTable" class="section">
                        <h4 class="section-title">
                          {{ getComponentName() + ".evolutions" | translate }}
                          ({{ evolutionsTableDataSource.dataCount }})
                        </h4>
                        <div class="section-content">
                          <a-table [dataSource]="evolutionsTableDataSource">
                            <ng-template columnDef="evolutionNumber" let-rowData="rowData">
                              <a (click)="openViewsFromEvolutionNumber(rowData)">
                                {{ rowData.bidoEquipmentEvolutionDTO.evolutionNumber }}
                              </a>
                            </ng-template>
                            <ng-template columnDef="evolutionRevisionNumber" let-rowData="rowData">
                              {{ rowData.bidoEquipmentEvolutionDTO.evolutionRevisionNumber }}
                            </ng-template>
                            <ng-template columnDef="newApplication" let-rowData="rowData">
                              {{ rowData.bidoEquipmentEvolutionDTO.newApplication }}
                            </ng-template>
                          </a-table>
                        </div>
                      </div>

                      <div *ngIf="showAssetContent && !showEvolutionsTable" class="section">
                        <h4 class="section-title">
                          {{ getComponentName() + ".measures" | translate }}
                          ({{ measuresTableDataSource.dataCount }})
                        </h4>

                        <div class="section-content">
                          <a-table [dataSource]="measuresTableDataSource"></a-table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
