<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".assetsManagement" | translate }}</div>
  </a-header>
  <a-content>
    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".assetPn" | translate }}</label>
      <div class="form-control">
        <input type="text" class="aw-input" [(ngModel)]="newAsset.assetPn" [disabled]="isReadOpenMode" maxlength="50" />
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".assetSn" | translate }}</label>
      <div class="form-control">
        <input type="text" class="aw-input" [(ngModel)]="newAsset.assetSn" [disabled]="isReadOpenMode" maxlength="50" />
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".assetActionType" | translate }}</label>
      <div class="form-control">
        <p-dropdown
          class="aw-dropdown fixed-width"
          [showClear]="true"
          placeholder="&nbsp;"
          [options]="instruction"
          [(ngModel)]="newAsset.assetActionType"
          [disabled]="isReadOpenMode"
          appendTo="body"
        ></p-dropdown>
      </div>
    </div>
  </a-content>
  <a-footer>
    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>
    <button *ngIf="!isReadOpenMode" color="primary" type="button" mat-raised-button (click)="onSave()">
      <span>{{ "global.validate" | translate }}</span>
    </button>
    <button *ngIf="isReadOpenMode" type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.close" | translate }}</span>
    </button>
  </a-footer>
</a-modal>
