<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".statsticsMangement" | translate }}</div>
  </a-header>

  <a-content>
    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">{{ getComponentName() + ".maintenanceType" | translate }}</label>

      <div class="form-control">
        <p-dropdown
          class="aw-dropdown fixed-width"
          placeholder="&nbsp;"
          [showClear]="true"
          [options]="maintenanceTypeList"
          [(ngModel)]="bireItemMaintenanceDTO.environmentCode"
          [disabled]="isReadOpenMode || !isEditable"
          appendTo="body"
        ></p-dropdown>
      </div>
    </div>

    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">{{ getComponentName() + ".kPourcent" | translate }}</label>

      <div class="form-control">
        <p-dropdown
          class="aw-dropdown fixed-width"
          placeholder="&nbsp;"
          [showClear]="true"
          [options]="kPourcentList"
          [(ngModel)]="bireItemMaintenanceDTO.kPourcentCode"
          [disabled]="isReadOpenMode || !isEditable"
          appendTo="body"
        ></p-dropdown>
      </div>
    </div>

    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">{{ getComponentName() + ".repairCenter" | translate }}</label>

      <div class="form-control">
        <p-dropdown
          class="aw-dropdown fixed-width"
          placeholder="&nbsp;"
          [showClear]="true"
          [options]="repairCenterList"
          [(ngModel)]="bireItemMaintenanceDTO.repairCenterCode"
          [disabled]="isReadOpenMode || !isEditable"
          appendTo="body"
        ></p-dropdown>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".startDate" | translate }}</label>

      <div class="form-control">
        <p-calendar
          showButtonBar="true"
          [monthNavigator]="true"
          [yearNavigator]="true"
          [yearRange]="sessionService.calendarYearRange"
          class="aw-calendar"
          [dateFormat]="sessionService.dateFormatPrimeNG"
          [locale]="sessionService.calendarFormat"
          [(ngModel)]="bireItemMaintenanceDTO.startDate"
          [disabled]="isReadOpenMode"
          appendTo="body"
        ></p-calendar>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".endDate" | translate }}</label>

      <div class="form-control">
        <p-calendar
          showButtonBar="true"
          [monthNavigator]="true"
          [yearNavigator]="true"
          [yearRange]="sessionService.calendarYearRange"
          class="aw-calendar"
          [dateFormat]="sessionService.dateFormatPrimeNG"
          [locale]="sessionService.calendarFormat"
          [(ngModel)]="bireItemMaintenanceDTO.endDate"
          [disabled]="isReadOpenMode"
          appendTo="body"
        ></p-calendar>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".probability" | translate }}</label>

      <div class="form-control">
        <input
          type="text"
          pKeyFilter="int"
          class="aw-input"
          maxlength="50"
          [(ngModel)]="bireItemMaintenanceDTO.probability"
          [disabled]="isReadOpenMode"
        />
      </div>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="isReadOpenMode" type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.close" | translate }}</span>
    </button>

    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button
      *ngIf="!isReadOpenMode"
      type="button"
      mat-raised-button
      color="primary"
      [disabled]="
        !bireItemMaintenanceDTO.environmentCode ||
        !bireItemMaintenanceDTO.kPourcentCode ||
        !bireItemMaintenanceDTO.repairCenterCode
      "
      (click)="onValidate()"
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
