<div class="form-control form-control-with-modal" [ngClass]="{ disabled: isReadOpenMode }">
  <div class="form-control-data" (click)="searchAtaCode($event)">
    <span *ngIf="ataCode.chapter && ataCode.section && ataCode.subject && ataCode.sheet && ataCode.marks">
      {{ ataCode.chapter }} - {{ ataCode.section }} - {{ ataCode.subject }} - {{ ataCode.sheet }} - {{ ataCode.marks }}
    </span>
  </div>

  <div
    *ngIf="ataCode.chapter && ataCode.section && ataCode.subject && ataCode.sheet && ataCode.marks"
    class="btn-clear-wrapper"
  >
    <i class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear" aria-hidden="true" (click)="resetAtaCode()"></i>
  </div>
  <div class="btn-search-wrapper">
    <i class="fa fa-fw fa-search aw-icon btn-search" aria-hidden="true" (click)="searchAtaCode($event)"></i>
  </div>
</div>

<aw-dialog-search-ata-code
  *ngIf="showDialog"
  [searchObject]="searchCriteria"
  [(display)]="showDialog"
  (onValidated)="onSelectedAtaCode($event)"
></aw-dialog-search-ata-code>
