:host {
  #defect-form-component {
    .form-group {
      min-width: 15rem;
      width: 16rem;
    }

    .main-data {
      .operator-wrapper {
        display: flex;
        flex-direction: row;

        & > .aw-input {
          &:first-of-type {
            min-width: 3.5rem;
            width: 3.5rem;
          }

          &:last-of-type {
            flex-grow: 1;
            margin-left: 5px;
            width: 1rem;
          }
        }
      }
    }

    .defect-tab {
      flex-direction: column;
      width: 100%;

      .authors-data {
        flex-grow: 1;
        justify-content: flex-end;
      }

      .corrective-action-section,
      .defect-section,
      .deferral-section {
        & > div:first-of-type {
          width: 100%;
        }
      }

      .defect-section {
        .last-row {
          justify-content: space-between;

          & > div {
            width: 50%;
          }

          & > div:last-of-type {
            border: 1px solid #ddd;
            border-radius: 2px;
            padding: 20px;
          }
        }
      }

      .corrective-action-section {
        .task-row {
          align-items: flex-end;

          .wp-button-container {
            padding-left: 20px;

            & > button {
              padding: 6px 10px;
            }
          }
        }

        .description,
        .wp-button-container {
          margin-bottom: 1rem;
        }

        .description {
          display: flex;
          flex-direction: column;

          .wo-description,
          .wp-description {
            span:first-of-type {
              margin-right: 20px;
              font-style: italic;
              font-weight: 600;
            }
          }

          .wp-description {
            margin-bottom: 0.5rem;
          }
        }

        .table-wrapper {
          padding-left: 20px;
        }
      }

      .deferral-section {
        .authorized-delay-wrapper {
          display: flex;
          flex-direction: row;

          & > .aw-input {
            min-width: 3.5rem;
            width: 3.5rem;
          }

          & > .aw-dropdown {
            flex-grow: 1;
            margin-left: 5px;
            min-width: auto;
            width: auto;
          }
        }

        .delay-category > .aw-dropdown {
          max-width: 3.5rem;
          min-width: 3.5rem;
        }
      }
    }
  }

  .list {
    max-width: 40%;
    min-width: 40%;
  }
}
