<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ "global.search" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <div class="row search-criteria-header">
                  <aw-manage-search-criteria
                    [componentId]="SEARCH_CRITERIA_ID"
                    (onSelected)="loadSearchCriteria($event)"
                    (onSavedAsked)="saveSearchCriteriaAsked()"
                    [objectFromPage]="criteriaToSave"
                    [canChange]="!hasBeenCalculated"
                  ></aw-manage-search-criteria>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label">
                      {{ getComponentName() + ".function" | translate }}
                    </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="groundEquipmentTypes"
                        [(ngModel)]="searchObject.equipmentFunction"
                        [showClear]="true"
                        placeholder="&nbsp;"
                      >
                      </p-dropdown>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ getComponentName() + ".familyVariant" | translate }} </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="propertyVariant"
                        [(ngModel)]="searchObject.familyVariantCode"
                        [showClear]="true"
                        placeholder="&nbsp;"
                      >
                      </p-dropdown>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">
                      {{ getComponentName() + ".designation" | translate }}
                    </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.designation" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">
                      {{ getComponentName() + ".status" | translate }}
                    </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="operationalStatusList"
                        [showClear]="true"
                        placeholder="&nbsp;"
                        [(ngModel)]="searchObject.operationalStatusCode"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label class="form-label">
                      {{ getComponentName() + ".pnCode" | translate }}
                    </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.pnCode" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">
                      {{ getComponentName() + ".snCode" | translate }}
                    </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.snCode" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">
                      {{ getComponentName() + ".warehouseType" | translate }}
                    </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="warehouseTypes"
                        [(ngModel)]="searchObject.warehouseCode"
                        [showClear]="true"
                        placeholder="&nbsp;"
                      >
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label"> {{ getComponentName() + ".maintenanceProgram" | translate }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.mpName" />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label"> {{ getComponentName() + ".revisionNumber" | translate }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.mpRevision" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ getComponentName() + ".equipmentCode" | translate }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.assetCode" />
                    </div>
                  </div>

                  <div class="form-group"></div>
                  <div class="form-group"></div>
                </div>

                <div class="row search-criteria-footer">
                  <div class="search-actions">
                    <button
                      type="button"
                      mat-raised-button
                      (click)="search()"
                      appKeyPress
                      color="primary"
                      [keyCode]="'Enter'"
                      (keyPress)="search()"
                    >
                      {{ "global.toSearch" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div #resultsContainerAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ "global.results" | translate }} ({{ toolsList.list ? toolsList.list.length : 0 }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <p-table
                [resizableColumns]="true"
                #ptableResults
                class="aw-table2"
                [columns]="toolSearchCols"
                [value]="toolsList.list"
                [(selection)]="selectedTools"
                [scrollable]="true"
              >
                <ng-template pTemplate="emptymessage">
                  <span *ngIf="!showResultLoading"> &nbsp;</span>

                  <div *ngIf="showResultLoading" class="aw-table-loading-indicator">
                    <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                    <div class="lds-hourglass" *ngIf="showResultLoading"></div>
                  </div>
                </ng-template>

                <ng-template pTemplate="caption">
                  <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedTools.length > 0 }">
                    <div class="aw-table-global-filter">
                      <label class="aw-table-global-filter-label">
                        <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                      </label>

                      <input
                        #ptableResultsGlobalFilter
                        class="aw-table-global-filter-input"
                        type="text"
                        placeholder="{{ 'table.globalFilterText' | translate }}"
                        (input)="ptableResults.filterGlobal($event.target.value, 'contains')"
                      />
                    </div>

                    <div class="aw-table-actions">
                      <button
                        *ngIf="toolsList.list && toolsList.list.length > 0 && selectedTools.length === 0"
                        type="button"
                        mat-raised-button
                        (click)="exportTable()"
                      >
                        {{ "global.export" | translate }}
                      </button>

                      <button *ngIf="selectedTools.length > 0" type="button" mat-raised-button (click)="openForm()">
                        {{ "global.open" | translate }}
                      </button>
                    </div>
                  </div>
                </ng-template>

                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="aw-table-checkbox-wrapper" />
                    <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                  </colgroup>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="aw-table-checkbox-wrapper">
                      <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                    </th>

                    <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                      {{ getComponentName() + "." + col.field | translate }}
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                    <td class="aw-table-checkbox-wrapper">
                      <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                    </td>

                    <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
                      <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
