<h4 class="section-title">
  {{ getComponentName() + ".installation" | translate }}
</h4>

<div class="section-content">
  <div class="row">
    <div class="form-group">
      <label class="form-label">
        {{ getComponentName() + ".woCode" | translate }}
      </label>

      <div class="form-control">
        <div class="form-control-generic">
          <a (click)="openWorkOrder()">{{ workOrderCode }}</a>
        </div>
      </div>
    </div>

    <div class="form-group flex--2">
      <label class="form-label">
        {{ getComponentName() + ".woDescription" | translate }}
      </label>

      <div class="form-control">
        <textarea
          class="aw-textarea"
          [rows]="2"
          pInputTextarea
          autoResize="autoResize"
          [(ngModel)]="workOrderDescription"
          [disabled]="true"
        ></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">
        {{ getComponentName() + ".date" | translate }}
      </label>

      <div class="form-control">
        <p-calendar
          showButtonBar="true"
          [monthNavigator]="true"
          [yearNavigator]="true"
          [yearRange]="sessionService.calendarYearRange"
          class="aw-calendar"
          [dateFormat]="sessionService.dateFormatPrimeNG"
          [(ngModel)]="installationDate"
          [showTime]="true"
          appendTo="body"
          [readonlyInput]="true"
          [disabled]="stockMvt.bidoNotificationNotificationCode"
        ></p-calendar>
      </div>
    </div>

    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">
        {{ getComponentName() + ".newOperationalStatus" | translate }}
      </label>

      <div class="form-control">
        <p-dropdown
          class="aw-dropdown fixed-width"
          [options]="operationalStatusList"
          [(ngModel)]="installationNewOperationalStatus"
          [showClear]="true"
          placeholder="&nbsp;"
          [disabled]="stockMvt.bidoNotificationNotificationCode"
        ></p-dropdown>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">
        {{ getComponentName() + ".warehouse" | translate }}
      </label>

      <div class="form-control">
        <div class="form-control-generic">
          {{ installationWarehouseName }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">
        {{ getComponentName() + ".superiorAsset" | translate }}
      </label>

      <div class="form-control">
        <p-dropdown
          class="aw-dropdown fixed-width"
          [options]="superiorAssetList"
          [(ngModel)]="installationSuperiorAsset"
          [showClear]="true"
          placeholder="&nbsp;"
          (onChange)="onChangeSuperiorAsset()"
          [disabled]="stockMvt.bidoNotificationNotificationCode"
        ></p-dropdown>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">
        {{ getComponentName() + ".functionLocation" | translate }}
      </label>

      <div class="form-control">
        <p-dropdown
          *ngIf="!stockMvt.bidoNotificationNotificationCode"
          class="aw-dropdown fixed-width"
          [options]="functionLocationList"
          [(ngModel)]="installationFunctionLocation"
          [showClear]="true"
          placeholder="&nbsp;"
          (onChange)="onChangeFunctionLocation()"
        ></p-dropdown>
        <div class="form-control-generic" *ngIf="stockMvt.bidoNotificationNotificationCode">
          {{ installationFunctionLocationName }}
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="!stockMvt.bidoNotificationNotificationCode">
      <label class="form-label">
        {{ getComponentName() + ".item" | translate }}
      </label>

      <div class="form-control">
        <p-dropdown
          class="aw-dropdown fixed-width"
          [options]="itemList"
          [(ngModel)]="installationItem"
          [showClear]="true"
          placeholder="&nbsp;"
          (onChange)="onChangeItem()"
          [disabled]="stockMvt.bidoNotificationNotificationCode"
        ></p-dropdown>
      </div>
    </div>
    <div class="form-group" *ngIf="stockMvt.bidoNotificationNotificationCode"></div>
  </div>

  <div class="row flex-row--justify-end">
    <button type="button" mat-raised-button (click)="openEvent()" *ngIf="stockMvt.bidoNotificationNotificationCode">
      {{ "openEvent" | translate }}
    </button>

    <button
      type="button"
      mat-raised-button
      (click)="validate()"
      class="btn-with-spinner"
      color="primary"
      *ngIf="!stockMvt.bidoNotificationNotificationCode"
      [disabled]="!installationDate || !installationNewOperationalStatus || !installationSuperiorAsset"
    >
      <span class="lds-hourglass" *ngIf="saving"></span>
      <span *ngIf="saving">&nbsp;</span>
      {{ "validate" | translate }}
    </button>
  </div>
</div>
