<div class="page-content">
  <div class="grid-row">
    <div class="grid-cell grid-cell--container">
      <div class="grid-cell-content">
        <div class="column">
          <div class="row">
            <div class="form-group flex--auto">
              <label class="form-label">{{ getComponentName() + ".statusList" | translate }}</label>

              <div class="form-control aw-selectbutton-wrapper">
                <p-selectButton
                  [(ngModel)]="searchCriteria.statusList"
                  [options]="statusList"
                  multiple="multiple"
                ></p-selectButton>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group flex--auto">
              <label class="form-label">{{ getComponentName() + ".woTypeList" | translate }}</label>

              <div class="form-control aw-selectbutton-wrapper">
                <p-selectButton
                  [(ngModel)]="searchCriteria.woTypeList"
                  [options]="woTypeList"
                  multiple="multiple"
                ></p-selectButton>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label class="form-label">{{ getComponentName() + ".userList" | translate }}</label>

              <div class="form-control">
                <p-dropdown
                  class="aw-dropdown fixed-width"
                  [options]="userList"
                  [(ngModel)]="searchCriteria.assignedTo"
                  [showClear]="true"
                  placeholder="&nbsp;"
                >
                </p-dropdown>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label">{{ getComponentName() + ".assetList" | translate }}</label>

              <div class="form-control">
                <p-dropdown
                  class="aw-dropdown fixed-width"
                  [options]="assetList"
                  [(ngModel)]="searchCriteria.asset"
                  [showClear]="true"
                  placeholder="&nbsp;"
                >
                </p-dropdown>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label">{{ getComponentName() + ".zoneList" | translate }}</label>

              <div class="form-control">
                <p-dropdown
                  class="aw-dropdown fixed-width"
                  [options]="zoneList"
                  [(ngModel)]="searchCriteria.zone"
                  [showClear]="true"
                  placeholder="&nbsp;"
                >
                </p-dropdown>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label">{{ getComponentName() + ".qualificationList" | translate }}</label>

              <div class="form-control">
                <p-dropdown
                  class="aw-dropdown fixed-width"
                  [options]="qualificationList"
                  [(ngModel)]="searchCriteria.qualification"
                  [showClear]="true"
                  placeholder="&nbsp;"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row action-list">
  <button type="button" mat-raised-button (click)="reset()">
    {{ getComponentName() + ".reset" | translate }}
  </button>

  <button type="button" mat-raised-button (click)="filter()">
    {{ getComponentName() + ".filter" | translate }}
  </button>
</div>
