<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".docManagement" | translate }}</div>
  </a-header>

  <a-content>
    <div class="row">
      <div class="form-group">
        <label class="form-label">{{ getComponentName() + ".docName" | translate }}</label>

        <div class="form-control">
          <input class="aw-input" type="text" [(ngModel)]="currentDoc.docName" [disabled]="true" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label class="form-label">{{ getComponentName() + ".docType" | translate }}</label>

        <div class="form-control">
          <input class="aw-input" type="text" [(ngModel)]="currentDoc.docType" [disabled]="true" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label class="form-label">{{ getComponentName() + ".docExtension" | translate }}</label>

        <div class="form-control">
          <input class="aw-input" type="text" [(ngModel)]="currentDoc.docExtension" [disabled]="true" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label class="form-label">{{ getComponentName() + ".docSize" | translate }}</label>

        <div class="form-control">
          <input class="aw-input" type="text" [(ngModel)]="currentDoc.docSize" [disabled]="true" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label class="form-label">{{ getComponentName() + ".docPublicationDate" | translate }}</label>

        <div class="form-control">
          <input class="aw-input" type="text" [(ngModel)]="currentDoc.docPublicationDate" [disabled]="true" />
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">{{ "global.cancel" | translate }}</button>
  </a-footer>
</a-modal>
