<a-modal class="aw-modal" [(visible)]="display" [width]="65">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>

    <i class="material-icons aw-icon aw-icon-with-border" (click)="onCancel()">close</i>
  </a-header>

  <a-content>
    <div class="search-dialog-container">
      <div class="section search-criteria-section">
        <h4 class="section-title">{{ "global.search" | translate }}</h4>

        <div class="section-content">
          <div class="column">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-label"> {{ getComponentName() + ".bidmProjectNumber" | translate }} </label>

                  <div class="form-control">
                    <input class="aw-input" type="text" [(ngModel)]="searchObject.projectCriteria.projectNumber" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".woCode" | translate }} </label>

                <div class="form-control">
                  <input class="aw-input" type="text" [(ngModel)]="searchObject.workOrderCriteria.woCode" />
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".woType" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="propertyWoType"
                    [(ngModel)]="searchObject.workOrderCriteria.woType"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    appendTo="body"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".statusState" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="status"
                    [(ngModel)]="searchObject.workOrderCriteria.calculatedStatus"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    appendTo="body"
                  ></p-dropdown>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".woDescription" | translate }} </label>

                <div class="form-control">
                  <input class="aw-input" type="text" [(ngModel)]="searchObject.workOrderCriteria.woDescription" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".site" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    appendTo="body"
                    class="aw-dropdown fixed-width"
                    placeholder="&nbsp;"
                    [options]="sites"
                    [showClear]="true"
                    [(ngModel)]="bidtSiteId"
                    (onChange)="updateWarehouses()"
                    [disabled]="disable"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".workshop" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    appendTo="body"
                    class="aw-dropdown fixed-width"
                    placeholder="&nbsp;"
                    [options]="warehouses"
                    [showClear]="true"
                    [(ngModel)]="searchObject.workOrderCriteria.bidtWarehouseId"
                    [disabled]="disable"
                  ></p-dropdown>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label class="form-label">{{ getComponentName() + ".pn" | translate }}</label>

                <div class="form-control form-control-with-modal">
                  <div class="form-control-data" (click)="openPnDialog()">
                    {{ pn?.pnCode }}
                  </div>

                  <div *ngIf="pn" class="btn-clear-wrapper">
                    <i
                      class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                      aria-hidden="true"
                      (click)="erasePn()"
                    ></i>
                  </div>
                  <div class="btn-search-wrapper">
                    <i class="fa fa-fw fa-search aw-icon btn-search" aria-hidden="true" (click)="openPnDialog()"></i>
                  </div>
                </div>

                <div class="italic" style="padding: 8px 0 0 16px;" *ngIf="pn && pn.articleDesignation">
                  {{ pn.articleDesignation }}
                </div>
              </div>

              <div class="form-group">
                <label class="form-label">
                  {{ getComponentName() + ".sn" | translate }}
                </label>

                <div class="form-control">
                  <input class="aw-input" type="text" [(ngModel)]="searchObject.workOrderCriteria.assetSn" />
                </div>
              </div>
            </div>

            <div class="row search-criteria-footer">
              <div class="search-actions">
                <button type="button" color="primary" mat-raised-button (click)="searchWorkOrders()">
                  <span>{{ "global.toSearch" | translate }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section results-section">
        <h4 class="section-title">
          {{ "global.results" | translate }} ({{ resultsTable.list ? resultsTable.list.length : 0 }})
        </h4>

        <div class="section-content">
          <p-table
            [resizableColumns]="true"
            #ptable
            class="aw-table2"
            [columns]="resultsTableCols"
            [value]="resultsTable.list"
            [(selection)]="selectedObject"
            selectionMode="single"
            dataKey="woCode"
            [scrollable]="true"
            (onRowUnselect)="onRowUnselect()"
          >
            <ng-template pTemplate="emptymessage">
              <span *ngIf="!isLoading"> &nbsp;</span>

              <div *ngIf="isLoading" class="aw-table-loading-indicator">
                <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                <div class="lds-hourglass"></div>
              </div>
            </ng-template>

            <ng-template pTemplate="caption">
              <div class="aw-table-header">
                <div class="aw-table-global-filter">
                  <label class="aw-table-global-filter-label">
                    <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                  </label>

                  <input
                    #ptableGlobalFilter
                    class="aw-table-global-filter-input"
                    type="text"
                    placeholder="{{ 'table.globalFilterText' | translate }}"
                    (input)="ptable.filterGlobal($event.target.value, 'contains')"
                  />
                </div>
              </div>
            </ng-template>

            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
              </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                  {{ getComponentName() + "." + col.field | translate }}
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                <td *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                  <span *ngIf="!col.isDate && col.field !== 'woType' && col.field !== 'calculatedStatus'">
                    {{ rowData[col.field] }}
                  </span>
                  <span
                    *ngIf="
                      !col.isDate && rowData[col.field] && (col.field === 'woType' || col.field === 'calculatedStatus')
                    "
                  >
                    {{ getComponentName() + "." + rowData[col.field] | translate }}
                  </span>
                  <span *ngIf="col.isDate">
                    {{ rowData[col.field] | date: "short":"":translateService.currentLang }}
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button *ngIf="!isOneObjectSelected()" color="primary" type="button" mat-raised-button (click)="onValidate()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-search-pn
  *ngIf="showPnDialog"
  [(display)]="showPnDialog"
  (onSelected)="onSelectPn($event)"
  [showPartTypeSelection]="true"
></aw-dialog-search-pn>
