<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="form-group">
      <textarea class="aw-textarea" [rows]="20" [cols]="150" pInputTextarea [(ngModel)]="reportContent.text"></textarea>
    </div>
  </a-content>
  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">{{ "global.close" | translate }}</button>
    <button type="button" mat-raised-button (click)="exportToTxt()">
      {{ getComponentName() + ".exportTxt" | translate }}
    </button>
  </a-footer>
</a-modal>
