<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">{{ getComponentName() + ".site" | translate }}</label>

      <div class="form-control">
        <p-dropdown
          class="aw-dropdown fixed-width"
          placeholder="&nbsp;"
          [options]="sites"
          [(ngModel)]="siteId"
          (onChange)="loadWarehouse()"
          appendTo="body"
          [showClear]="true"
          [disabled]="isReadOpenMode"
        ></p-dropdown>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">{{ getComponentName() + ".warehouse" | translate }}</label>

      <div class="form-control">
        <p-dropdown
          class="aw-dropdown fixed-width"
          placeholder="&nbsp;"
          [showClear]="true"
          [options]="warehouse"
          appendTo="body"
          [(ngModel)]="wareHouseId"
          [disabled]="isReadOpenMode"
          (onChange)="loadStorageBins()"
        ></p-dropdown>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".lowerThreshold" | translate }}</label>

      <div class="form-control">
        <input
          #whPrLowThreshold="ngModel"
          type="text"
          class="aw-input"
          [pKeyFilter]="inputValidationService.validatorOfNumber()"
          [pValidateOnly]="true"
          maxlength="19"
          [(ngModel)]="warehouseDetail.whPrLowThreshold"
          [disabled]="isReadOpenMode"
        />
        <p-message
          *ngIf="whPrLowThreshold.invalid && (whPrLowThreshold.dirty || whPrLowThreshold.touched)"
          severity="error"
          [text]="inputValidationService.formatOfNumber()"
        ></p-message>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".higherThreshold" | translate }}</label>

      <div class="form-control">
        <input
          #whPrHighThreshold="ngModel"
          type="text"
          class="aw-input"
          [pKeyFilter]="inputValidationService.validatorOfNumber()"
          [pValidateOnly]="true"
          maxlength="19"
          [(ngModel)]="warehouseDetail.whPrHighThreshold"
          [disabled]="isReadOpenMode"
        />
        <p-message
          *ngIf="whPrHighThreshold.invalid && (whPrHighThreshold.dirty || whPrHighThreshold.touched)"
          severity="error"
          [text]="inputValidationService.formatOfNumber()"
        ></p-message>
      </div>
    </div>
    <div class="row">
      <div class="form-group" *ngFor="let bin of storageBinForWarehouse">
        <label class="form-label"> {{ bin.label }} </label>

        <div class="form-control">
          <p-checkbox class="aw-checkbox" binary="true" [(ngModel)]="bin.value"></p-checkbox>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="cancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button
      *ngIf="!isReadOpenMode"
      type="button"
      mat-raised-button
      color="primary"
      (click)="validate()"
      [disabled]="
        (whPrLowThreshold.invalid && (whPrLowThreshold.dirty || whPrLowThreshold.touched)) ||
        (whPrHighThreshold.invalid && (whPrHighThreshold.dirty || whPrHighThreshold.touched)) ||
        !isScreenValid()
      "
    >
      {{ "global.validate" | translate }}
    </button>
    <button *ngIf="isReadOpenMode" type="button" mat-raised-button (click)="cancel()">
      {{ "global.close" | translate }}
    </button>
  </a-footer>
</a-modal>
