<a-modal class="aw-modal" [(visible)]="display" [width]="50">
  <a-header>
    <div class="modal-title">
      {{ "employeeOVSPopup.title" | translate }} ({{ resultsTable.list ? resultsTable.list.length : 0 }})
    </div>
  </a-header>

  <a-content>
    <div class="row">
      <p-table
        [resizableColumns]="true"
        #ptable
        class="aw-table2"
        [columns]="resultsTableCols"
        [value]="resultsTable.list"
        [(selection)]="selectedObject"
        selectionMode="single"
        dataKey="employeeNumber"
        [scrollable]="true"
        (onRowUnselect)="onRowUnselect()"
      >
        <ng-template pTemplate="emptymessage">
          <span *ngIf="!isLoading"> &nbsp;</span>

          <div *ngIf="isLoading" class="aw-table-loading-indicator">
            <div class="loading-message">{{ "table.loadingData" | translate }}</div>
            <div class="lds-hourglass"></div>
          </div>
        </ng-template>

        <ng-template pTemplate="caption">
          <div class="aw-table-header">
            <div class="aw-table-global-filter">
              <label class="aw-table-global-filter-label">
                <i class="fa fa-fw fa-search" aria-hidden="true"></i>
              </label>

              <input
                #ptableGlobalFilter
                class="aw-table-global-filter-input"
                type="text"
                placeholder="{{ 'table.globalFilterText' | translate }}"
                (input)="ptable.filterGlobal($event.target.value, 'contains')"
              />
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
          </colgroup>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
              {{ "employeeOVSPopup." + col.field | translate }}
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            <td *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">{{ rowData[col.field] }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="isReadOpenMode" type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button type="button" mat-raised-button color="primary" (click)="onValidate()" [disabled]="isOneObjectSelected()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
