<div class="page-header">
  <div class="page-info">
    <div>
      <h2 class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </h2>
    </div>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ componentData.componentId + ".stockStatus" | translate }}
                </h3>
              </div>
            </div>

            <div class="grid-cell-content grid-cell-content-with-section">
              <div class="row">
                <div class="section" style="padding-right: 8px; width: 20%;">
                  <h3 class="section-title">
                    &nbsp;
                  </h3>

                  <div class="section-content">
                    <p-treeTable
                      class="aw-tree-table2"
                      selectionMode="single"
                      [value]="stockViewTreeTable"
                      [resizableColumns]="true"
                      [scrollable]="true"
                      [(selection)]="selectedStockViewTreeNode"
                      (onNodeSelect)="onSelectStockViewTreeNode($event.node)"
                      (onNodeUnselect)="onUnselectStockViewTreeNode()"
                    >
                      <ng-template pTemplate="colgroup">
                        <colgroup>
                          <col style="width: 80%;" />
                          <col style="width: 20%;" />
                        </colgroup>
                      </ng-template>

                      <ng-template pTemplate="header">
                        <tr>
                          <th ttResizableColumn style="text-align: left;">
                            {{ getComponentName() + ".location" | translate }}
                          </th>

                          <th ttResizableColumn style="text-align: right;">
                            {{ getComponentName() + ".quantity" | translate }}
                          </th>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                        <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                          <td style="overflow: hidden; text-overflow: ellipsis;">
                            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>

                            <ng-container *ngIf="rowData.type == treeNodeType.SITE">
                              {{ rowData.data.site.siteName }}
                            </ng-container>

                            <ng-container *ngIf="rowData.type == treeNodeType.WAREHOUSE">
                              {{ rowData.data.warehouse.whName }}
                            </ng-container>

                            <ng-container *ngIf="rowData.type == treeNodeType.ZONE">
                              {{ rowData.data.zone.sbNumber }}
                              <ng-container *ngIf="rowData.data.zone.sbDescription">
                                - {{ rowData.data.zone.sbDescription }}
                              </ng-container>
                            </ng-container>
                          </td>

                          <td style="text-align: right;">
                            {{ rowData.quantity }}
                          </td>
                        </tr>
                      </ng-template>
                    </p-treeTable>
                  </div>
                </div>

                <div class="section" style="border-left: 1px solid #000; padding-left: 8px; width: 80%;">
                  <h3 class="section-title">
                    {{ componentData.componentId + ".stockToDate" | translate }}
                    ({{ date | date: "shortDate":"":translateService.currentLang }})
                  </h3>

                  <div class="section-content">
                    <p-table
                      #ptableStockInformation
                      class="aw-table2"
                      [resizableColumns]="true"
                      [scrollable]="true"
                      [value]="stockInformationTable"
                      [(selection)]="selectedStockInformations"
                      [globalFilterFields]="[
                        'pn',
                        'designation',
                        'stockSn',
                        'stockBatchNumber',
                        'manufacturingBatchNumber',
                        'interchangeabilityText',
                        'siteText',
                        'warehouseText',
                        'areaText',
                        'storageBinText',
                        'stockIssueDate'
                      ]"
                      (sortFunction)="customSort($event)"
                      [customSort]="true"
                    >
                      <ng-template pTemplate="caption">
                        <div
                          class="aw-table-header"
                          [ngClass]="{ 'rows-selected': selectedStockInformations.length > 0 }"
                        >
                          <div class="aw-table-global-filter">
                            <label class="aw-table-global-filter-label">
                              <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                            </label>

                            <input
                              #ptableStockInformationGlobalFilter
                              class="aw-table-global-filter-input"
                              type="text"
                              placeholder="{{ 'table.globalFilterText' | translate }}"
                              (input)="ptableStockInformation.filterGlobal($event.target.value, 'contains')"
                            />
                          </div>

                          <div class="aw-table-actions">
                            <button
                              *ngIf="
                                selectedStockInformations.length > 0 &&
                                selectedStockViewTreeNode.data.type != treeNodeType.SITE
                              "
                              type="button"
                              mat-raised-button
                              (click)="changeLocation()"
                            >
                              {{ getComponentName() + ".changeLocation" | translate }}
                            </button>
                          </div>
                          <div class="aw-table-icon-actions">
                            <i
                              *ngIf="!!completeStockInformationTable && completeStockInformationTable.length > 0"
                              class="fa fa-fw fa-filter aw-icon aw-icon-with-border aw-icon-with-overlay"
                              aria-hidden="true"
                              [ngClass]="{ active: filtersVisible }"
                              (click)="opFilters.toggle($event); openFilters()"
                            ></i>
                          </div>
                        </div>
                      </ng-template>

                      <ng-template pTemplate="colgroup">
                        <colgroup>
                          <col class="aw-table-checkbox-wrapper" />
                          <col style="width: 15%;" />
                          <col style="width: 15%;" />
                          <col style="width: 15%;" />
                          <col style="width: 5%;" />
                          <col style="width: 15%;" *ngIf="withAlternatives" />
                          <col style="width: 15%;" />
                          <col style="width: 10%;" />
                          <col style="width: 10%;" />
                        </colgroup>
                      </ng-template>

                      <ng-template pTemplate="header">
                        <tr>
                          <th class="aw-table-checkbox-wrapper">
                            <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                          </th>
                          <th style="text-align: left;" pSortableColumn="pn">
                            {{ getComponentName() + ".material" | translate }}
                            <p-sortIcon field="pn"></p-sortIcon>
                          </th>
                          <th style="text-align: left;" pSortableColumn="stockBatchNumber">
                            {{ getComponentName() + ".batchNumber" | translate }}
                            <p-sortIcon field="stockBatchNumber"></p-sortIcon>
                          </th>
                          <th style="text-align: left;" pSortableColumn="stockSn">
                            {{ getComponentName() + ".snAndManufactoring" | translate }}
                            <p-sortIcon field="stockSn"></p-sortIcon>
                          </th>
                          <th style="text-align: right;" pSortableColumn="stockQuantity">
                            {{ getComponentName() + ".quantity" | translate }}
                            <p-sortIcon field="stockQuantity"></p-sortIcon>
                          </th>
                          <th
                            style="text-align: left;"
                            *ngIf="withAlternatives"
                            pSortableColumn="interchangeabilityText"
                          >
                            {{ getComponentName() + ".interchangeability" | translate }}
                            <p-sortIcon field="interchangeabilityText"></p-sortIcon>
                          </th>
                          <th style="text-align: left;" pSortableColumn="siteText">
                            {{ getComponentName() + ".location" | translate }}
                            <p-sortIcon field="siteText"></p-sortIcon>
                          </th>
                          <th style="text-align: left;" pSortableColumn="areaText">
                            {{ getComponentName() + ".storage" | translate }}
                            <p-sortIcon field="areaText"></p-sortIcon>
                          </th>
                          <th style="text-align: left;" pSortableColumn="stockIssueDate">
                            {{ getComponentName() + ".plannedIssue" | translate }}
                            <p-sortIcon field="stockIssueDate"></p-sortIcon>
                          </th>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                          <td class="aw-table-checkbox-wrapper">
                            <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                          </td>
                          <td>
                            <div>
                              <div>
                                <a class="bold" (click)="openPn(rowData)">
                                  {{ rowData["pn"] }}
                                </a>
                              </div>
                              <div>
                                <span class="italic">{{ rowData["designation"] }}</span>
                              </div>
                            </div>
                          </td>

                          <td>
                            <div>
                              <a
                                class="bold"
                                (click)="rowData['stockSn'] ? openEquipment(rowData) : openBatch(rowData)"
                              >
                                {{ rowData["stockBatchNumber"] }}
                              </a>
                            </div>
                            <div *ngIf="rowData['stockBatchNumber']">
                              <span class="italic">
                                {{ rowData["operationalStatus"] | formatSelectOption: equipmentStatuses }}
                              </span>
                            </div>
                          </td>

                          <td>
                            <div>
                              <a
                                class="bold"
                                (click)="openEquipment(rowData)"
                                *ngIf="rowData['stockSn'] && !rowData['manufacturingBatchNumber']"
                              >
                                {{ rowData["stockSn"] }}
                              </a>
                              <a
                                class="bold"
                                (click)="openManufacturingBatch(rowData)"
                                *ngIf="!rowData['stockSn'] && rowData['manufacturingBatchNumber']"
                              >
                                {{ rowData["manufacturingBatchNumber"] }}
                              </a>
                            </div>
                            <div *ngIf="!rowData['stockBatchNumber']">
                              <span class="italic">
                                {{ rowData["operationalStatus"] | formatSelectOption: equipmentStatuses }}
                              </span>
                            </div>
                          </td>

                          <td style="text-align: right;">
                            {{ rowData["stockQuantity"] | formatNumber }}
                          </td>

                          <td *ngIf="withAlternatives">
                            {{ rowData["interchangeabilityText"] }}
                          </td>

                          <td>
                            <div>
                              <div>
                                <span class="bold">
                                  {{ rowData["siteText"] }}
                                </span>
                              </div>
                              <div>
                                {{ rowData["warehouseText"] }}
                              </div>
                            </div>
                          </td>

                          <td>
                            <div>
                              <div>
                                <span class="bold">
                                  {{ rowData["areaText"] }}
                                </span>
                              </div>
                              <div>
                                {{ rowData["storageBinText"] }}
                              </div>
                            </div>
                          </td>

                          <td>
                            <span class="bold">
                              {{ rowData["stockIssueDate"] | date: "shortDate":"":translateService.currentLang }}
                            </span>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-overlayPanel
    #opFilters
    [appendTo]="'body'"
    class="aw-overlay"
    [dismissable]="false"
    (onShow)="filtersVisible = true"
    (onHide)="filtersVisible = false"
  >
    <aw-stock-view-filter
      *ngIf="showFilterOverlay && !!completeStockInformationTable && completeStockInformationTable.length > 0"
      [stockInformationTable]="completeStockInformationTable"
      (onFilter)="opFilters.hide(); filtersVisible = false; filterWithCriteria($event)"
    ></aw-stock-view-filter>
  </p-overlayPanel>

  <aw-dialog-select-location
    *ngIf="isChangeLocationDisplayed"
    [(display)]="isChangeLocationDisplayed"
    [rows]="selectedStockInformations"
    [equipmentStatuses]="equipmentStatuses"
    [withAlternatives]="withAlternatives"
    (onChangeLocation)="onValidateChangeLocation($event)"
  ></aw-dialog-select-location>
</div>
