@import "constants";
@import "mixins";

:host {
  #breadcrumbs-status {
    overflow: hidden;
    display: flex;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .breadcrumbs {
    display: flex;
    flex-grow: 1;
  }

  .bread-crumb-custom-cell {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    padding-bottom: 0 !important;
  }

  #breadcrumbs-status li {
    float: left;
    margin: 0 1em 0 1em;
  }

  #breadcrumbs-status .current {
    float: left;
    margin: 0 1em 0 1em;
  }

  #breadcrumbs-status .statusLabel {
    background: #ffffff;
    padding: 0.3em 1em;
    float: left;
    text-decoration: none;
    color: $primary-text-color;
    position: relative;
    white-space: nowrap;
    min-height: 3em;
  }

  #breadcrumbs-status .current .statusLabel {
    background: $accent-color;
  }

  #breadcrumbs-status .statusLabel::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #ffffff #ffffff #ffffff transparent;
    left: -1em;
  }

  #breadcrumbs-status .current .statusLabel::before {
    border-color: $accent-color $accent-color $accent-color transparent;
  }

  #breadcrumbs-status .statusLabel::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #ffffff;
    right: -1em;
  }

  #breadcrumbs-status .current .statusLabel::after {
    border-left-color: $accent-color;
  }

  #breadcrumbs-status .current .statusLabel {
    color: white;
    font-weight: bold;
  }

  #breadcrumbs-status .current::after,
  #breadcrumbs-status .current::before {
    content: normal;
  }

  .illustration {
    text-align: center;
  }

  .img-class {
    max-height: 10rem;
    cursor: pointer;
  }

  .margin-class {
    margin-top: 1em;
  }

  .breadcrumb-cursor {
    cursor: pointer;
  }

  .disable-pointer {
    cursor: none;
    pointer-events: none;
  }

  .custom-breadcrumb-padding {
    padding: 0 !important;
  }

  .sibling-list {
    float: right;
  }
  .subtitle {
    word-wrap: break-word;
    text-overflow: ellipsis;
  }
  .aw-table-icon-actions {
    @include flex-row();

    justify-content: flex-end;
    margin-left: calc(#{$margin-value} * 2);

    .aw-icon {
      font-size: 1.125rem;
      line-height: 2rem;
      width: 2rem;
    }
  }
}
