<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="column">
      <div class="row">
        <div class="form-group" [ngClass]="{ required: !isReadOnlyForm, disabled: isReadOnlyForm }">
          <label class="form-label">{{ getComponentName() + ".opeCode" | translate }} </label>

          <div class="form-control form-control-with-modal" [ngClass]="{ disabled: isReadOnlyForm }">
            <div class="form-control-data" (click)="!isReadOnlyForm && openOperationTableDialog()">
              {{ operation.opeCode }}
            </div>

            <div *ngIf="operation.opeCode" class="btn-clear-wrapper">
              <i
                class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                aria-hidden="true"
                (click)="
                  operation.opeCode = undefined; operation.opeVersion = undefined; operation.rangeCode = undefined
                "
              ></i>
            </div>
            <div class="btn-search-wrapper">
              <i
                class="fa fa-fw fa-search aw-icon btn-search"
                aria-hidden="true"
                (click)="!isReadOnlyForm && openOperationTableDialog()"
              ></i>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="operation.opeVersion" class="row">
        <div class="form-group" [ngClass]="{ required: !isReadOnlyForm }">
          <label class="form-label">{{ getComponentName() + ".opeVersion" | translate }} </label>

          <div class="form-control">
            <input type="text" class="aw-input" [(ngModel)]="operation.opeVersion" [disabled]="true" />
          </div>
        </div>
      </div>

      <div *ngIf="operation.rangeCode" class="row">
        <div class="form-group" [ngClass]="{ required: !isReadOnlyForm }">
          <label class="form-label">{{ getComponentName() + ".rangeCode" | translate }}</label>

          <div class="form-control">
            <input type="text" class="aw-input" [(ngModel)]="operation.rangeCode" [disabled]="true" />
          </div>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="isReadOnlyForm" type="button" mat-raised-button (click)="cancel()">
      <span>{{ "global.close" | translate }}</span>
    </button>

    <button *ngIf="!isReadOnlyForm" type="button" mat-raised-button (click)="cancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button
      *ngIf="!isReadOnlyForm"
      color="primary"
      type="button"
      mat-raised-button
      (click)="add()"
      [disabled]="!isValidOperation()"
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-table
  *ngIf="showOperationTableDialog"
  [data]="operationTableData"
  [(display)]="showOperationTableDialog"
  (onSelected)="onSelectedOperation($event)"
></aw-dialog-table>
