@import "constants";
@import "mixins";

:host {
  .alignLeft {
    text-align: left;
  }

  .procurement-alert {
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 50%;
  }

  .procurement--nok {
    background-color: $red-light1;
  }

  .procurement--ok {
    background-color: $green-light1;
  }

  .procurement--warning {
    background-color: $orange;
  }

  /deep/ p-progressbar.pla .ui-progressbar-value {
    background: $grey1;
  }
  /deep/ p-progressbar.ong .ui-progressbar-value {
    background: $blue-light1;
  }
  /deep/ p-progressbar.tbc .ui-progressbar-value {
    background: $blue-light1;
  }
  /deep/ p-progressbar.per .ui-progressbar-value {
    background: $blue-dark1;
  }
  /deep/ p-progressbar.clo .ui-progressbar-value {
    background: $green-light1;
  }
  /deep/ p-progressbar.pos .ui-progressbar-value {
    background: $green-light1;
  }
  /deep/ p-progressbar.por .ui-progressbar-value {
    background: $yellow1;
  }

  /deep/ .colored-field {
    padding: 5px 0px !important;
    input {
      padding: 3px 0px !important;
      width: 100px !important;
    }
    .error-field {
      background-color: $red-light1 !important;
    }
    .ok-field {
      background-color: $green-light1 !important;
    }
    .warning-field {
      background-color: $orange !important;
    }
  }

  .space {
    padding-top: 8px;
  }

  .link {
    cursor: pointer;
  }

  .ok {
    background-color: $green-light1 !important;
    width: 30%;
    text-align: center;
  }

  .warning {
    background-color: $orange !important;
    width: 30%;
    text-align: center;
  }

  .nok {
    background-color: $red-light1 !important;
    width: 30%;
    text-align: center;
  }

  .grid-cell-work-package {
    height: 35%;
  }

  .grid-cell-work-in-progress {
    .chart-container {
      @include flex-row();

      @media screen and (max-width: 1280px) {
        flex-direction: row;
      }

      .chart-legend {
        @include flex-column();

        justify-content: center;
        margin-left: $margin-value;

        .chart-legend-label {
          @include flex-row();

          align-items: center;

          .chart-legend-label-color {
            height: 0.75rem;
            margin-right: $margin-value;
            width: 2rem;

            &.airworthy {
              background-color: $green-light1;
            }

            &.airworthy-with-alerts {
              background-color: $orange;
            }

            &.not-airworthy {
              background-color: $red-light1;
            }
          }
        }

        .chart-value {
          font-weight: 700;
          text-align: end;
          padding-right: 5px;
        }
      }

      .chart-wrapper {
        position: relative;
        height: 9rem;
        width: 99%;
      }
    }
  }
}

.grid-cell-work-in-progress {
  padding-top: 10px;
  height: 65%;
}

.outgoingConf.section {
  flex-grow: 1;
  text-align: center;
}

.outgoingConf.row {
  flex-wrap: nowrap !important;
}

.outgoingConf .row {
  flex: 1;
  padding: 0;
}

.outgoingConf {
  input {
    text-align: center;
  }
  .ok {
    background-color: $green-light1 !important;
  }

  .outgoing-conf-warning {
    background-color: $orange !important;
  }

  .outgoing-conf-nok {
    background-color: $red-light1 !important;
  }
}

.link {
  padding-top: 24px;
  padding-bottom: 8px;
  color: #01579b;
}

.action-list {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;

  .aw-btn {
    margin-left: $margin-value;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
