<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".addRule" | translate }}</div>
  </a-header>

  <a-content>
    <div class="column">
      <div class="form-group required">
        <label class="form-label">{{ getComponentName() + ".property" | translate }}</label>
        <div class="form-control">
          <p-dropdown
            class="aw-dropdown fixed-width"
            placeholder="&nbsp;"
            [showClear]="propertySelected !== ''"
            appendTo="body"
            [options]="propertiesOptionsList"
            [(ngModel)]="propertySelected"
          ></p-dropdown>
        </div>
      </div>

      <div class="form-group required">
        <label class="form-label">{{ getComponentName() + ".item" | translate }}</label>
        <div class="form-control form-control-with-modal" [ngClass]="{ disabled: isReadOpenMode }">
          <div class="form-control-data" (click)="openItemTableDialog()">
            {{ item.chapter }} <span *ngIf="item.section">- {{ item.section }}</span>
            <span *ngIf="item.subject">- {{ item.subject }}</span> <span *ngIf="item.sheet">- {{ item.sheet }}</span>
            <span *ngIf="item.marks">- {{ item.marks }}</span>
          </div>

          <div
            *ngIf="item.chapter && item.section && item.subject && item.sheet && item.marks"
            class="btn-clear-wrapper"
          >
            <i
              class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
              aria-hidden="true"
              (click)="
                item.chapter = undefined;
                item.section = undefined;
                item.subject = undefined;
                item.sheet = undefined;
                item.marks = undefined;
                item.versionNumber = undefined
              "
            ></i>
          </div>
          <div class="btn-search-wrapper">
            <i class="fa fa-fw fa-search aw-icon btn-search" aria-hidden="true" (click)="openItemTableDialog()"></i>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">{{ getComponentName() + ".isn" | translate }}</label>
        <div class="form-control">
          <p-dropdown
            class="aw-dropdown fixed-width"
            placeholder="&nbsp;"
            [showClear]="isnSelected !== ''"
            appendTo="body"
            [options]="isnOptionsList"
            [(ngModel)]="isnSelected"
          ></p-dropdown>
        </div>
      </div>

      <div class="form-group flex--2">
        <label class="form-label"> {{ getComponentName() + ".applicability" | translate }} </label>

        <div class="form-control form-control-with-btn">
          <input type="text" class="aw-input" disabled [ngModel]="applicability" />
          <i
            class="fa fa-fw fa-search aw-icon"
            aria-hidden="true"
            pTooltip="{{ 'global.search' | translate }}"
            tooltipPosition="top"
            (click)="openApplicabilityDialog()"
          ></i>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button type="button" color="primary" mat-raised-button (click)="validate()" [disabled]="disableItemInput()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-search-item
  *ngIf="showItemPopup"
  [(display)]="showItemPopup"
  (onValidated)="onSelectedItem($event)"
></aw-dialog-search-item>

<aw-dialog-table
  *ngIf="showApplicabilityPopup"
  [(display)]="showApplicabilityPopup"
  [data]="applicabilityTableData"
  (onSelected)="setSelectedApplicability($event)"
></aw-dialog-table>
