<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="form-group required">
      <label class="form-label">{{ getComponentName() + ".propertiesKey" | translate }}</label>
      <div class="form-control">
        <input
          type="text"
          class="aw-input"
          [(ngModel)]="propertyValue.propertiesKey"
          [disabled]="!isNewPropertyValue"
        />
      </div>
    </div>

    <div class="form-group" *ngIf="!isNewPropertyValue">
      <label class="form-label">{{ getComponentName() + ".isStandard" | translate }}</label>
      <div class="form-control">
        <p-checkbox class="aw-checkbox" binary="true" [(ngModel)]="propertyValue.isStandard" disabled></p-checkbox>
      </div>
    </div>

    <div *ngIf="propertyValue.locale" class="form-group">
      <label class="form-label">{{ getComponentName() + ".enPropertiesValue" | translate }}</label>
      <div class="form-control">
        <input
          type="text"
          class="aw-input"
          [(ngModel)]="propertyValue.enPropertiesValue"
          [disabled]="viewModePropertyValue"
        />
      </div>
    </div>

    <div *ngIf="propertyValue.locale" class="form-group">
      <label class="form-label">{{ getComponentName() + ".frPropertiesValue" | translate }}</label>
      <div class="form-control">
        <input
          type="text"
          class="aw-input"
          [(ngModel)]="propertyValue.frPropertiesValue"
          [disabled]="viewModePropertyValue"
        />
      </div>
    </div>

    <div *ngIf="!propertyValue.locale" class="form-group">
      <label class="form-label">{{ getComponentName() + ".propertiesValue" | translate }}</label>
      <div class="form-control">
        <input
          type="text"
          class="aw-input"
          [(ngModel)]="propertyValue.propertiesValue"
          [disabled]="viewModePropertyValue"
        />
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="cancel()">{{ "global.cancel" | translate }}</button>
    <button
      *ngIf="!viewModePropertyValue"
      type="button"
      mat-raised-button
      color="primary"
      (click)="associate()"
      [disabled]="!propertyValue.propertiesKey"
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
