@import "constants";
@import "mixins";

:host {
    /deep/ .ui-treetable {
        width: calc(100% - 40px);
    }
    /deep/ table tr {
        border-bottom: 0px !important;
    }
    /deep/ .ui-treetable {
        top: 35px;
    }
}
.ui-treetable-col {
    background-color: #f4f4f4 !important;
    border-left: 1px solid #006ea9 !important;
    border-right: 1px solid #006ea9 !important;
    text-align: center;
}
