<a-modal class="aw-table-fullscreen" [(visible)]="display" [fullScreen]="true">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".workOrders" | translate }} ({{ workOrderTable.length }})</div>

    <div class="close-wrapper">
      <i class="aw-icon aw-icon-with-border fa fa-fw fa-minus" (click)="closeDialog()"></i>
    </div>
  </a-header>

  <a-content>
    <div class="column">
      <p-treeTable
        #ptreeTableItemStructure
        class="aw-tree-table2"
        [value]="workOrderTable"
        [columns]="tableCols"
        selectionMode="checkbox"
        [(selection)]="selectedWorkOrders"
        [scrollable]="true"
        scrollHeight="calc(100vh - 250px)"
        [resizableColumns]="true"
      >
        <ng-template pTemplate="emptymessage">
          <span *ngIf="!isLoadingWorkOrderTable"> &nbsp;</span>
        </ng-template>

        <ng-template pTemplate="caption">
          <div class="aw-table-header">
            <div class="aw-table-global-filter">
              <label class="aw-table-global-filter-label">
                <i class="fa fa-fw fa-search" aria-hidden="true"></i>
              </label>

              <input
                #ptreeTableItemStructureGlobalFilter
                class="aw-table-global-filter-input"
                type="text"
                placeholder="{{ 'table.globalFilterText' | translate }}"
                [(ngModel)]="searchGlobalFilter"
                (keyup)="searchGlobalFilterChange(searchGlobalFilter)"
              />
            </div>
            <div class="aw-table-actions">
              <div class="form-control">
                <p-selectButton
                  multiple="multiple"
                  class="woDisplayType-btn"
                  [(ngModel)]="tableDisplayTypeSelected"
                  [options]="tableDisplayTypeList"
                  (onChange)="changeWorkOrderTableCols()"
                ></p-selectButton>
              </div>

              <div *ngIf="!isLoadingWorkOrderTable" class="aw-table-icon-actions">
                <i
                  class="fa fa-fw fa-filter aw-icon aw-icon-with-border aw-icon-with-overlay"
                  aria-hidden="true"
                  pTooltip="{{ getComponentName() + (filtersVisible ? '.hideFilters' : '.showFilters') | translate }}"
                  tooltipPosition="top"
                  [ngClass]="{ active: filtersVisible }"
                  (click)="woFilters.toggle($event)"
                ></i>
              </div>
            </div>
          </div>
        </ng-template>
        <!-- 
        <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData">
            <tr>
                <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{rowData.name}}
                </td>
            </tr>            
        </ng-template> -->

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
          </colgroup>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr *ngFor="let row of tableColsHeader">
            <th
              ttResizableColumn
              *ngFor="let col of row"
              [attr.colspan]="col.colspan"
              [class.ui-treetable-col]="!col.isFreezed"
            >
              {{ getComponentName() + "." + col.field | translate }}
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr>
            <td
              *ngFor="let col of columns; let i = index"
              [ngSwitch]="col.field"
              [ngStyle]="{ width: col.width, 'text-align': col.alignment }"
            >
              <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>

              <span *ngSwitchCase="'progress'">
                <p-progressBar
                  [ngClass]="rowData['statusCrititicy']"
                  [value]="rowData['statusPercent']"
                ></p-progressBar>
              </span>

              <span *ngSwitchCase="'WTY'">
                <p-checkbox
                  binary="true"
                  class="aw-checkbox"
                  [(ngModel)]="rowData['WTY']"
                  [disabled]="true"
                ></p-checkbox>
              </span>

              <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </a-content>
</a-modal>
<p-overlayPanel #woFilters class="aw-overlay" (onShow)="filtersVisible = true" (onHide)="filtersVisible = false">
  <aw-work-order-table-filters
    [searchCriteria]="searchCriteria"
    (onFilter)="woFilters.hide(); filtersVisible = false; filter()"
    (onReset)="woFilters.hide(); reset()"
  >
  </aw-work-order-table-filters>
</p-overlayPanel>
