<div class="page-header-container">
  <div class="page-context">
    <div class="page-title-container">
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-secondary-actions">
        <i
          class="fa fa-fw aw-icon aw-icon-with-border"
          [ngClass]="{ 'fa-star': isFavoriteEntry, 'fa-star-o': !isFavoriteEntry }"
          aria-hidden="true"
          (click)="updateFavoriteState()"
          pTooltip="{{ 'page.' + (isFavoriteEntry ? 'removeFromFavorites' : 'addToFavorites') | translate }}"
          tooltipPosition="bottom"
        ></i>

        <i
          class="fa fa-fw fa-info aw-icon aw-icon-with-border"
          aria-hidden="true"
          pTooltip="{{ 'page.info' | translate }}"
          tooltipPosition="bottom"
        ></i>
      </div>
    </div>

    <div class="page-subtitle-container">
      <div class="page-subtitle"></div>
    </div>
  </div>

  <div class="page-primary-actions"><!-- Remove enclosing tag if empty --></div>

  <div class="page-close"><i class="material-icons" (click)="closeComponent()">close</i></div>
</div>

<div class="page-wrapper">
  <div class="page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-content grid-cell-content-with-section">
              <div class="row">
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container">
                    <h3 class="grid-cell-title">
                      Received File List ({{ refrentialTableDataSource ? refrentialTableDataSource.dataCount : 0 }})
                    </h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="grid-cell-content">
                  <a-table [dataSource]="refrentialTableDataSource">
                    <ng-template tableActionsDef>
                      <button
                        *ngIf="refrentialTableDataSource.hasDataSelection"
                        type="button"
                        mat-raised-button
                        (click)="downloadFile()">
                        {{ "global.download" | translate }}
                      </button>
                      <button
                        *ngIf="hasManageAccessRight && refrentialTableDataSource.hasDataSelection"
                        type="button"
                        mat-raised-button
                        (click)="deleteFiles()">
                        {{ "global.delete" | translate }}
                      </button>
                    </ng-template>
                    <ng-template columnDef="reportName" let-rowData="rowData">
                      <a class="report-name-text">{{ rowData.reportName | uppercase }} </a>
                    </ng-template>
                  </a-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
