@import "constants";
@import "mixins";

:host {
  .alert {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    width: 8em;
    text-align: center;

    &.alert--ok {
      background-color: $green-light1;
    }

    &.alert--warning {
      background-color: $orange;
    }

    &.alert--nok {
      background-color: $red-light1;
    }

    &.alert--none {
      background-color: $grey1;
    }
  }

  .custom-control {
    padding-top: 0.8em;
  }

  .chart-container {
    @media screen and (max-width: 1280px) {
      flex-direction: column;
    }

    .chart-legend {
      @include flex-column();

      justify-content: center;
      margin-left: $margin-value;

      .chart-legend-label {
        @include flex-row();

        align-items: center;

        .chart-legend-label-color {
          height: 0.75rem;
          margin-right: $margin-value;
          width: 2rem;
          margin-top: 0.7em;

          &.completed {
            background-color: $green-light1;
          }

          &.warning {
            background-color: $orange;
          }

          &.not-completed {
            background-color: $red-light1;
          }
        }
      }

      .chart-value {
        font-weight: 700;
        margin-left: $margin-value;
      }
    }

    .chart-wrapper {
      position: relative;
      height: 8rem;
      width: 10rem;
    }

    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }

  div.control-result {
    span {
      padding: calc(#{$margin-value} - 4px);

      &.value {
        background-color: #f0f0f0;
        text-align: center;
        float: right;
        min-width: 3em;
        font-weight: normal !important;
        margin-right: 2em;

        &.ok {
          background-color: $green-light1;
        }

        &.warning {
          background-color: $orange;
        }

        &.nok {
          background-color: $red-light1;
        }
      }
    }
  }

  .custom-width {
    height: 30.3em;
  }
  .custom-height {
    height: 19em;
  }

  .action-list {
    display: flex;
    justify-content: flex-end;
    margin-top: 2px;

    .aw-btn {
      margin-left: $margin-value;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  .margin-top-custom {
    margin-top: 3em !important;
  }

  .sub-assembly-padding {
    padding: 0px !important;
  }

  .applied-conf-padding {
    padding: 0 0 0 16px !important;
  }

  .legant-width {
    width: 10%;
  }
}
