<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".stakeholder" | translate }}</div>
  </a-header>

  <a-content>
    <div class="row">
      <div class="form-group required">
        <div class="form-control">
          <p-selectButton
            [options]="stakeHolderTypes"
            [(ngModel)]="selectedStakeHolder"
            [disabled]="isReadOpenMode"
            (onChange)="onChangeStakeHolderType()"
          ></p-selectButton>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group required">
        <label class="form-label">
          {{ getComponentName() + ".stakeholderName" | translate }}
        </label>

        <div class="form-control">
          <p-dropdown
            class="aw-dropdown fixed-width"
            [options]="stakeholderList"
            [(ngModel)]="stakeholder.woAssignedTo"
            [showClear]="true"
            placeholder="&nbsp;"
            [disabled]="isReadOpenMode"
            (onChange)="onAssignedUserChange()"
            appendTo="body"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label class="form-label">
          {{ getComponentName() + ".qualification" | translate }}
        </label>

        <div class="form-control">
          <input type="text" class="aw-input" [ngModel]="stakeholder.employeeQualification" [disabled]="true" />
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" *ngIf="!isReadOpenMode" mat-raised-button (click)="closeDialog()">
      {{ "global.cancel" | translate }}
    </button>
    <button type="button" *ngIf="isReadOpenMode" mat-raised-button (click)="closeDialog()">
      {{ "global.close" | translate }}
    </button>
    <button type="button" *ngIf="!isReadOpenMode" mat-raised-button color="primary" (click)="validate()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
