<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="form-group" [ngClass]="{ required: !isReadOnlyForm }">
      <label class="form-label">{{ getComponentName() + ".material" | translate }}</label>

      <div class="form-control form-control-with-modal" [ngClass]="{ disabled: !newObj }">
        <div class="form-control-data" (click)="openMaterialDialog()">
          {{ obj.pnText }}
        </div>

        <div *ngIf="obj.pnText && newObj" class="btn-clear-wrapper">
          <i
            class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
            aria-hidden="true"
            (click)="obj.pnText = undefined"
          ></i>
        </div>
        <div *ngIf="newObj" class="btn-search-wrapper">
          <i
            *ngIf="!isReadOnlyForm"
            class="fa fa-fw fa-search aw-icon btn-search"
            aria-hidden="true"
            (click)="openMaterialDialog()"
          ></i>
        </div>
      </div>
    </div>

    <div *ngIf="snVisibility" class="form-group">
      <label class="form-label">{{ getComponentName() + ".serialNumber" | translate }}</label>

      <div class="form-control">
        <input type="text" class="aw-input" [(ngModel)]="obj.serialNumber" maxlength="50" [disabled]="isReadOnlyForm" />
      </div>
    </div>

    <div *ngIf="bnVisibility" class="form-group">
      <label class="form-label">{{ getComponentName() + ".batchNumber" | translate }}</label>

      <div class="form-control">
        <input type="text" class="aw-input" [(ngModel)]="obj.batchNumber" maxlength="50" [disabled]="isReadOnlyForm" />
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".quantity" | translate }}</label>

      <div class="form-control">
        <input
          type="text"
          pKeyFilter="int"
          maxlength="37"
          class="aw-input"
          [(ngModel)]="obj.quantityForTable"
          [disabled]="isReadOnlyForm"
        />
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".warehouse" | translate }}</label>

      <div class="form-control">
        <p-dropdown
          class="aw-dropdown fixed-width"
          [options]="warehouses"
          [(ngModel)]="obj.warehouse"
          [disabled]="isReadOnlyForm"
          [showClear]="true"
          placeholder="&nbsp;"
          appendTo="body"
        ></p-dropdown>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".partStatus" | translate }}</label>

      <div class="form-control">
        <input type="text" class="aw-input" [(ngModel)]="obj.partStatus" disabled />
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">
      <span *ngIf="!isReadOnlyForm">{{ "global.cancel" | translate }}</span>
      <span *ngIf="isReadOnlyForm">{{ "global.close" | translate }}</span>
    </button>

    <button
      *ngIf="!isReadOnlyForm"
      color="primary"
      type="button"
      mat-raised-button
      (click)="associate()"
      [disabled]="!obj.pnText"
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-search-material
  *ngIf="showQuickSearchMaterialPopup"
  [(display)]="showQuickSearchMaterialPopup"
  [material-code]="pnCode"
  (onSelected)="setSelectedMaterial($event)"
></aw-dialog-search-material>
