<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div *ngIf="!isCreateOpenMode && componentData && componentData.objectId" class="page-subtitle">
          - {{ serializationService.deserialize(componentData.objectId)["contactName"] }}
        </div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button *ngIf="isReadOpenMode && hasUpdateAccessRight" type="button" mat-raised-button (click)="editContact()">
      {{ "global.edit" | translate }}
    </button>

    <button
      *ngIf="!isReadOpenMode && !isCreateOpenMode"
      type="button"
      mat-raised-button
      color="warn"
      (click)="cancelContact()"
    >
      {{ "global.cancel" | translate }}
    </button>

    <button
      *ngIf="!isReadOpenMode"
      class="btn-with-spinner"
      color="primary"
      type="button"
      mat-raised-button
      (click)="saveContact()"
    >
      <span class="lds-hourglass" *ngIf="showSaveSpinner"></span>
      {{ "global.save" | translate }}
    </button>

    <button
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #actions="matMenu">
      <button mat-menu-item (click)="reloadContact()">{{ "global.refresh" | translate }}</button>
      <button mat-menu-item (click)="openStatusUpdatesPopup()">{{ "global.updates" | translate }}</button>
      <button mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ getComponentName() + ".contact" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <div class="row">
                  <div class="form-group">
                    <label class="form-label">{{ componentData.componentId + ".name" | translate }}</label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [(ngModel)]="contactListOutputDTO.contactName"
                        disabled="true"
                      />
                    </div>
                  </div>

                  <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
                    <label class="form-label">{{ componentData.componentId + ".firstName" | translate }}</label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [(ngModel)]="contactListOutputDTO.firstName"
                        [disabled]="componentData.objectId || isReadOpenMode"
                      />
                    </div>
                  </div>

                  <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
                    <label class="form-label">{{ componentData.componentId + ".lastName" | translate }}</label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [(ngModel)]="contactListOutputDTO.lastName"
                        [disabled]="componentData.objectId || isReadOpenMode"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
                    <label class="form-label">{{ componentData.componentId + ".businessPartner" | translate }}</label>

                    <div
                      class="form-control form-control-with-modal"
                      [ngClass]="{ disabled: isReadOpenMode || isWriteOpenMode }"
                    >
                      <div class="form-control-data" (click)="openCustomerDialog()">
                        {{ contactListOutputDTO.customerCode }}
                        <span *ngIf="businessPartnerName">({{ businessPartnerName }})</span>
                      </div>

                      <div *ngIf="contactListOutputDTO.customerCode && isCreateOpenMode" class="btn-clear-wrapper">
                        <i
                          class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                          aria-hidden="true"
                          (click)="resetCustomerCode()"
                        ></i>
                      </div>
                      <div *ngIf="isCreateOpenMode" class="btn-search-wrapper">
                        <i
                          class="fa fa-fw fa-search aw-icon btn-search"
                          aria-hidden="true"
                          (click)="openCustomerDialog()"
                        ></i>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">{{ componentData.componentId + ".primaryContact" | translate }}</label>

                    <div class="form-control">
                      <p-checkbox
                        class="aw-checkbox"
                        binary="true"
                        [(ngModel)]="contactListOutputDTO.primaryContact"
                        [disabled]="isReadOpenMode"
                      ></p-checkbox>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">{{ componentData.componentId + ".title" | translate }}</label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [(ngModel)]="contactListOutputDTO.title"
                        [disabled]="isReadOpenMode"
                        maxlength="10"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label">{{ componentData.componentId + ".officePhone" | translate }}</label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [(ngModel)]="contactListOutputDTO.phone1"
                        [disabled]="isReadOpenMode"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">{{ componentData.componentId + ".mobilePhone" | translate }}</label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [(ngModel)]="contactListOutputDTO.phone2"
                        [disabled]="isReadOpenMode"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">{{ componentData.componentId + ".eMail" | translate }}</label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [(ngModel)]="contactListOutputDTO.email"
                        [disabled]="isReadOpenMode"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label">{{ componentData.componentId + ".address" | translate }}</label>

                    <div class="form-control">
                      <textarea
                        class="aw-textarea"
                        [rows]="3"
                        pInputTextarea
                        [disabled]="isReadOpenMode"
                        [(ngModel)]="contactListOutputDTO.address"
                      ></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">{{ componentData.componentId + ".town" | translate }}</label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [disabled]="isReadOpenMode"
                        [(ngModel)]="contactListOutputDTO.town"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">{{ componentData.componentId + ".country" | translate }}</label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [disabled]="isReadOpenMode"
                        [(ngModel)]="contactListOutputDTO.country"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label class="form-label">{{ componentData.componentId + ".fax" | translate }}</label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [(ngModel)]="contactListOutputDTO.fax"
                        [disabled]="isReadOpenMode"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<aw-dialog-search-customer
  *ngIf="showCustomerDialog"
  [(display)]="showCustomerDialog"
  [customer-code]="contactListOutputDTO.customerCode"
  (onSelected)="onSelectedCustomer($event)"
></aw-dialog-search-customer>
<aw-dialog-status
  *ngIf="showStatusUpdatesPopup"
  [isStatusEditable]="false"
  [item]="contactListOutputDTO"
  [itemId]="contactListOutputDTO.contactName"
  [(display)]="showStatusUpdatesPopup"
></aw-dialog-status>
