<p-dialog
  class="aw-dialog"
  header="{{ getComponentName() + '.title' | translate }}"
  modal="modal"
  positionTop="60"
  [(visible)]="display"
  [closable]="false"
  [focusOnShow]="false"
  [contentStyle]="{ width: '85vw' }"
>
  <div class="popup-content">
    <div class="search-panel-container">
      <div class="row search-criteria-container">
        <div class="column">
          <div class="form-group">
            <label>
              {{ getComponentName() + ".equipmentCode" | translate }}
            </label>
            <input type="text" class="aw-input" [(ngModel)]="searchObject.equipmentCode" />
          </div>

          <div class="form-group">
            <label>
              {{ getComponentName() + ".equipmentDesignation" | translate }}
            </label>
            <input type="text" class="aw-input" [(ngModel)]="searchObject.equipmentDesignation" />
          </div>

          <div class="form-group">
            <label>
              {{ getComponentName() + ".operatorCustomerCode" | translate }}
            </label>
            <input type="text" class="aw-input" [(ngModel)]="searchObject.operatorCustomerCode" />
          </div>
        </div>

        <div class="column">
          <div class="form-group">
            <label>
              {{ getComponentName() + ".pnCode" | translate }}
            </label>
            <input type="text" class="aw-input" [(ngModel)]="searchObject.pnCode" />
          </div>

          <div class="form-group">
            <label>
              {{ getComponentName() + ".registration" | translate }}
            </label>
            <input type="text" class="aw-input" [(ngModel)]="searchObject.registration" />
          </div>

          <div class="form-group">
            <label>
              {{ getComponentName() + ".modelCode" | translate }}
            </label>
            <input type="text" class="aw-input" [(ngModel)]="searchObject.modelCode" />
          </div>
        </div>

        <div class="column">
          <div class="form-group">
            <label>
              {{ getComponentName() + ".sn" | translate }}
            </label>
            <input type="text" class="aw-input" [(ngModel)]="searchObject.sn" />
          </div>

          <div class="form-group">
            <label>
              {{ getComponentName() + ".equipmentFunction" | translate }}
            </label>
            <p-dropdown
              class="aw-dropdown fixed-width"
              [options]="functionList"
              [(ngModel)]="searchObject.equipmentFunction"
              [showClear]="true"
              placeholder="&nbsp;"
            ></p-dropdown>
          </div>

          <div class="form-group">
            <label>
              {{ getComponentName() + ".operationalStatus" | translate }}
            </label>
            <p-dropdown
              class="aw-dropdown fixed-width"
              [options]="statusList"
              [(ngModel)]="searchObject.operationalStatus"
              [showClear]="true"
              placeholder="&nbsp;"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="search-button-container">
        <button type="button" color="primary" mat-raised-button (click)="search()">
          <i class="fa fa-fw fa-search" aria-hidden="true"></i>
          <span>{{ "global.toSearch" | translate }}</span>
        </button>
      </div>
    </div>

    <p-table
      [resizableColumns]="true"
      #ptableEquipment
      class="aw-table aw-table-section"
      [columns]="equipmenTableCols"
      [value]="equipmenTable.list"
      [style]="{ margin: '0 auto', width: '100%' }"
      selectionMode="single"
      [(selection)]="selectedEquipment"
      dataKey="equipmentCode"
      (onFilter)="updateDisplayedEquipmentRowNb($event.filteredValue.length)"
      [scrollable]="true"
      scrollHeight="60vh"
    >
      <ng-template pTemplate="emptymessage">
        &nbsp;
      </ng-template>

      <ng-template pTemplate="caption">
        <div class="aw-table-header">
          <div class="aw-table-header-title-wrapper">
            <div class="aw-table-results-number" *ngIf="ptableEquipment.totalRecords > 0">
              {{ displayedEquipmentRowNb }} / {{ ptableEquipment.totalRecords }}
              <span class="aw-table-more-results" *ngIf="equipmenTable.moreResults">+</span>
            </div>
          </div>

          <div class="aw-table-global-filter">
            <input
              type="text"
              class="aw-input"
              placeholder="{{ 'global.globalFilter' | translate }}"
              (input)="ptableEquipment.filterGlobal($event.target.value, 'contains')"
            />
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            pResizableColumn
            *ngFor="let col of columns"
            [pSortableColumn]="col.field"
            [ngStyle]="{ 'text-align': col.alignment }"
          >
            {{ getComponentName() + "." + col.field | translate }}

            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-footer>
    <button type="button" color="primary" mat-raised-button (click)="validate()">
      <i class="fa fa-fw fa-check" aria-hidden="true"></i>
      <span>{{ "global.validate" | translate }}</span>
    </button>

    <button type="button" mat-raised-button (click)="closeDialog()">
      <i class="fa fa-fw fa-times" aria-hidden="true"></i>
      <span>{{ "global.cancel" | translate }}</span>
    </button>
  </p-footer>
</p-dialog>
