<div class="page-header-container">
  <div class="page-context">
    <div class="page-title-container">
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-secondary-actions">
        <i
          class="fa fa-fw aw-icon aw-icon-with-border"
          [ngClass]="{ 'fa-star': isFavoriteEntry, 'fa-star-o': !isFavoriteEntry }"
          aria-hidden="true"
          (click)="updateFavoriteState()"
          pTooltip="{{ 'page.' + (isFavoriteEntry ? 'removeFromFavorites' : 'addToFavorites') | translate }}"
          tooltipPosition="bottom"
        ></i>

        <i
          class="fa fa-fw fa-info aw-icon aw-icon-with-border"
          aria-hidden="true"
          pTooltip="{{ 'page.info' | translate }}"
          tooltipPosition="bottom"
        ></i>
      </div>
    </div>

    <div class="page-subtitle-container">
      <div class="page-subtitle">
        PK4000918
      </div>
    </div>
  </div>

  <div class="page-primary-actions">
    <button type="button" mat-raised-button>
      {{ getComponentName() + ".createLitigation" | translate }}
    </button>
    <button type="button" mat-raised-button>
      {{ "global.refresh" | translate }}
    </button>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container">
    <div class="page-content">
      <div class="grid-row">
        <!-- MAIN INFO PANEL -->
        <div #mainInfoAnchor class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ "page.mainData" | translate }}
                </h3>
              </div>
            </div>

            <div class="grid-cell-content  grid-cell-content-with-section">
              <div class="section">
                <div class="section-content">
                  <!-- ROW 1 -->
                  <div class="row">
                    <div class="form-group">
                      <label class="form-label">{{ getComponentName() + ".number" | translate }}</label>

                      <div class="form-control">
                        <input class="aw-input" type="text" disabled [(ngModel)]="mainInfo.number" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">{{ getComponentName() + ".type" | translate }}</label>

                      <div class="form-control">
                        <input class="aw-input" type="text" disabled [(ngModel)]="mainInfo.type" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">{{ getComponentName() + ".weight" | translate }}</label>

                      <div class="form-control">
                        <input class="aw-input" type="text" disabled [(ngModel)]="mainInfo.weight" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">{{ getComponentName() + ".volume" | translate }}</label>

                      <div class="form-control">
                        <input class="aw-input" type="text" disabled [(ngModel)]="mainInfo.volume" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">{{ getComponentName() + ".modeOfTransport" | translate }}</label>

                      <div class="form-control">
                        <input class="aw-input" type="text" disabled [(ngModel)]="mainInfo.modeOfTransport" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">{{ getComponentName() + ".status" | translate }}</label>

                      <div class="form-control">
                        <input class="aw-input" type="text" disabled [(ngModel)]="mainInfo.status" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section">
                <h4 class="section-title">{{ componentData.componentId + ".recepient" | translate }}</h4>
                <div class="section-content">
                  <div class="row">
                    <div class="form-group">
                      <label class="form-label">{{ getComponentName() + ".site" | translate }}</label>

                      <div class="form-control">
                        <input class="aw-input" type="text" disabled [(ngModel)]="mainInfo.site" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">{{ getComponentName() + ".wareHouse" | translate }}</label>

                      <div class="form-control">
                        <input class="aw-input" type="text" disabled [(ngModel)]="mainInfo.wareHouse" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">{{ getComponentName() + ".shippedDate" | translate }}</label>

                      <div class="form-control">
                        <p-calendar
                          showButtonBar="true"
                          [monthNavigator]="true"
                          [yearNavigator]="true"
                          [yearRange]="sessionService.calendarYearRange"
                          class="aw-calendar"
                          [dateFormat]="sessionService.dateFormatPrimeNG"
                          [locale]="sessionService.calendarFormat"
                          appendTo="body"
                          [(ngModel)]="mainInfo.shippedDate"
                          disabled
                        ></p-calendar>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">{{ getComponentName() + ".receiptDate" | translate }}</label>

                      <div class="form-control">
                        <p-calendar
                          showButtonBar="true"
                          [monthNavigator]="true"
                          [yearNavigator]="true"
                          [yearRange]="sessionService.calendarYearRange"
                          class="aw-calendar"
                          [dateFormat]="sessionService.dateFormatPrimeNG"
                          [locale]="sessionService.calendarFormat"
                          appendTo="body"
                          [(ngModel)]="mainInfo.receiptDate"
                          disabled
                        ></p-calendar>
                      </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="form-group"></div>
                  </div>
                </div>
              </div>
              <div class="section">
                <h4 class="section-title">{{ getComponentName() + ".receiptFolder" | translate }}</h4>
                <div class="section-content">
                  <div class="row">
                    <div class="form-group">
                      <label class="form-label">{{ getComponentName() + ".reference" | translate }}</label>

                      <div class="form-control">
                        <input class="aw-input" type="text" disabled [(ngModel)]="mainInfo.reference" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">{{ getComponentName() + ".receiptType" | translate }}</label>

                      <div class="form-control">
                        <input class="aw-input" type="text" disabled [(ngModel)]="mainInfo.receiptType" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">{{ getComponentName() + ".folderStatus" | translate }}</label>

                      <div class="form-control">
                        <input class="aw-input" type="text" disabled [(ngModel)]="mainInfo.folderStatus" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">{{ getComponentName() + ".criticity" | translate }}</label>

                      <div class="form-control critcity-span">
                        <span class="critictiy-alert package--warning">
                          {{ mainInfo.criticity }}
                        </span>
                      </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="form-group"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ getComponentName() + ".items" | translate }} ({{ itemTable ? itemTable.length : 0 }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <p-table
                [resizableColumns]="true"
                #ptableResult
                class="aw-table2"
                [columns]="itemTableCols"
                [value]="itemTable"
                [(selection)]="selectedItems"
                [scrollable]="true"
              >
                <ng-template pTemplate="emptymessage">
                  <span *ngIf="!isLoading"> &nbsp;</span>

                  <div *ngIf="isLoading" class="aw-table-loading-indicator">
                    <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                    <div class="lds-hourglass"></div>
                  </div>
                </ng-template>

                <ng-template pTemplate="caption">
                  <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedItems.length > 0 }">
                    <div class="aw-table-global-filter">
                      <label class="aw-table-global-filter-label">
                        <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                      </label>

                      <input
                        #ptableEquipmentGlobalFilter
                        class="aw-table-global-filter-input"
                        type="text"
                        placeholder="{{ 'table.globalFilterText' | translate }}"
                        (input)="ptableResult.filterGlobal($event.target.value, 'contains')"
                      />
                    </div>

                    <div class="aw-table-actions">
                      <div class="aw-table-icon-actions">
                        <i
                          class="fa fa-fw fa-filter aw-icon aw-icon-with-border aw-icon-with-overlay"
                          aria-hidden="true"
                          tooltipPosition="top"
                        ></i>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="aw-table-checkbox-wrapper" />
                    <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                  </colgroup>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="aw-table-checkbox-wrapper">
                      <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                    </th>

                    <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                      {{ componentData.componentId + "." + col.field | translate }}
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                    <td class="aw-table-checkbox-wrapper">
                      <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                    </td>

                    <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
                      <span *ngSwitchCase="'criticity'">
                        <span *ngIf="rowData.criticity === 'Immediate'" class="package-alert package--nok">
                          {{ rowData[col.field] }}
                        </span>
                        <span *ngIf="rowData.criticity === 'Urgent'" class=" package-alert package--warning">
                          {{ rowData[col.field] }}
                        </span>
                        <span *ngIf="rowData.criticity === 'Routline'" class=" package-alert package--ok">
                          {{ rowData[col.field] }}
                        </span>
                      </span>
                      <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ getComponentName() + ".documents" | translate }} ({{ documentTable ? documentTable.length : 0 }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <p-table
                [resizableColumns]="true"
                #ptableResult
                class="aw-table2"
                [columns]="documentTableCols"
                [value]="documentTable"
                [(selection)]="selectedDocuments"
                [scrollable]="true"
              >
                <ng-template pTemplate="emptymessage">
                  <span *ngIf="!isLoading"> &nbsp;</span>

                  <div *ngIf="isLoading" class="aw-table-loading-indicator">
                    <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                    <div class="lds-hourglass"></div>
                  </div>
                </ng-template>

                <ng-template pTemplate="caption">
                  <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedDocuments.length > 0 }">
                    <div class="aw-table-global-filter">
                      <label class="aw-table-global-filter-label">
                        <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                      </label>

                      <input
                        #ptableEquipmentGlobalFilter
                        class="aw-table-global-filter-input"
                        type="text"
                        placeholder="{{ 'table.globalFilterText' | translate }}"
                        (input)="ptableResult.filterGlobal($event.target.value, 'contains')"
                      />
                    </div>
                  </div>
                </ng-template>

                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="aw-table-checkbox-wrapper" />
                    <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                  </colgroup>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="aw-table-checkbox-wrapper">
                      <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                    </th>

                    <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                      {{ componentData.componentId + "." + col.field | translate }}
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                    <td class="aw-table-checkbox-wrapper">
                      <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                    </td>

                    <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
                      <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
