@import "variables";

$search-input-inner-width: 200px;
$search-input-inner-width--active: $search-input-inner-width * 1.5;

:host {
  .overlay {
    max-height: 400px;
    overflow-y: auto;
    width: $search-input-inner-width--active;

    .item {
      display: flex;
      flex-direction: column;

      .item-header {
        font-size: 1rem;
        font-weight: 600;
        padding: 8px 12px;
      }
    }
  }
}
