<div class="overlay">
  <div class="item" *ngIf="(menuEntries$ | async)!.length === 0">
    <div class="item-header">
      {{ "noMatching" | translate }}
    </div>
  </div>

  <div class="item" *ngIf="(menuEntries$ | async)!.length > 0">
    <!-- <div class="item-header">
      Pages
    </div> -->

    <div class="select-container">
      <a
        class="option"
        [innerHTML]="menuEntry.label"
        (mousedown)="openMenu(menuEntry.value)"
        *ngFor="let menuEntry of menuEntries$ | async"
      ></a>
    </div>
  </div>
</div>
