<a-modal class="aw-modal" [(visible)]="display" [width]="80">
  <a-header>
    <div class="modal-title" *ngIf="!isReadOpenMode">
      {{ getComponentName() + ".createProcurementRequest" | translate }}
    </div>
    <div class="modal-title" *ngIf="isReadOpenMode">
      {{ getComponentName() + ".modifyProcurementRequest" | translate }}
    </div>
  </a-header>

  <a-content>
    <div class="row">
      <div class="form-group required">
        <label class="form-label">{{ "type" | translate }}</label>

        <div class="form-control">
          <p-selectButton
            [options]="procurementRequestTypes"
            [(ngModel)]="procurementRequest.procType"
            (onChange)="onChangeProcurementRequestType()"
            [disabled]="isReadOpenMode"
          ></p-selectButton>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="form-group"
        [ngClass]="
          procurementRequest.procType == awPropertiesConstants.PROCUREMENT_REQUEST_TYPE_MAINTENANCE_ES ? 'required' : ''
        "
        *ngIf="
          procurementRequest.procType == awPropertiesConstants.PROCUREMENT_REQUEST_TYPE_MAINTENANCE ||
          procurementRequest.procType == awPropertiesConstants.PROCUREMENT_REQUEST_TYPE_MAINTENANCE_WITH_EXCHANCE ||
          procurementRequest.procType == awPropertiesConstants.PROCUREMENT_REQUEST_TYPE_MAINTENANCE_ES
        "
      >
        <label class="form-label">{{ getComponentName() + ".originalDocumentReference" | translate }}</label>

        <div class="form-control" *ngIf="inputWorkOrder">
          {{ wo?.woCode }}
        </div>

        <div class="form-control form-control-with-modal" *ngIf="!inputWorkOrder">
          <div class="form-control-data" (click)="openWoDialog()">
            {{ wo?.woCode }}
          </div>

          <div *ngIf="wo" class="btn-clear-wrapper">
            <i class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear" aria-hidden="true" (click)="eraseWo()"></i>
          </div>
          <div class="btn-search-wrapper">
            <i class="fa fa-fw fa-search aw-icon btn-search" aria-hidden="true" (click)="openWoDialog()"></i>
          </div>
        </div>
        <div class="italic" style="padding: 8px 0 0 16px;" *ngIf="wo && wo?.woDescription">
          {{ wo?.woDescription }}
        </div>
      </div>

      <div class="form-group"></div>
    </div>

    <ng-container *ngIf="procurementRequest.procType">
      <div class="row">
        <div class="form-group" style="max-width: 16rem;">
          <label class="form-label">{{ "status" | translate }}</label>

          <div class="form-control">
            <p-selectButton
              [options]="procurementRequestStatuses"
              [(ngModel)]="procurementRequest.procStatus"
              [disabled]="isReadOpenMode"
            ></p-selectButton>
          </div>
        </div>

        <div style="margin-top: 32px;">
          <ng-container *ngIf="procurementRequest.procStatus == awPropertiesConstants.PROCUREMENT_REQUEST_STATUS_DRAFT">
            <div class="bold">
              {{ getComponentName() + ".draftRow1" | translate }}
            </div>

            <div class="bold">
              {{ getComponentName() + ".draftRow2" | translate }}
            </div>
          </ng-container>
          <ng-container
            *ngIf="procurementRequest.procStatus == awPropertiesConstants.PROCUREMENT_REQUEST_STATUS_RELEASED"
          >
            <div class="bold">
              {{ getComponentName() + ".releasedRow1" | translate }}
            </div>

            <div class="bold">
              {{ getComponentName() + ".releasedRow2" | translate }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="row">
        <div class="form-group" [class.required]="!isReadOpenMode">
          <label class="form-label">{{ getComponentName() + ".articleCode" | translate }}</label>

          <div class="form-control" *ngIf="inputPn">
            {{ pn?.pnCode }}
          </div>

          <div class="form-control form-control-with-modal" *ngIf="!inputPn" [ngClass]="{ disabled: isReadOpenMode }">
            <div class="form-control-data" (click)="openPnDialog()">
              {{ pn?.pnCode }}
            </div>

            <div *ngIf="!isReadOpenMode && pn" class="btn-clear-wrapper">
              <i
                class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                aria-hidden="true"
                (click)="erasePn()"
              ></i>
            </div>
            <div class="btn-search-wrapper">
              <i
                *ngIf="!isReadOpenMode"
                class="fa fa-fw fa-search aw-icon btn-search"
                aria-hidden="true"
                (click)="openPnDialog()"
              ></i>
            </div>
          </div>

          <div class="italic" style="padding: 8px 0 0 16px;" *ngIf="pn && pn.articleDesignation">
            {{ pn.articleDesignation }}
          </div>
        </div>

        <div class="display--flex-row flex--1">
          <div class="form-group required">
            <label class="form-label">
              <div style="display: inline;">
                {{ getComponentName() + ".quantity" | translate }}
                <span class="italic" style="display: inline;" *ngIf="pn && requestedQuantity && pn.quantityPerIssue">
                  ({{ "distributionQuantity" | translate }} = {{ pn.quantityPerIssue | formatNumber }})
                </span>
              </div>
            </label>

            <div class="form-control">
              <input type="number" name="quantity" class="aw-input" [(ngModel)]="requestedQuantity" />
            </div>
          </div>

          <div class="form-group">
            <label class="form-label">{{ "unit" | translate }}</label>

            <div class="form-control">
              <div class="form-control-generic" *ngIf="pn && requestedQuantity && pn.quantityUnit">
                {{ pn.quantityUnit }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div
          class="form-group"
          [ngClass]="{
            required: procurementRequest.procStatus != awPropertiesConstants.PROCUREMENT_REQUEST_STATUS_DRAFT
          }"
        >
          <label class="form-label">{{ getComponentName() + ".expectedDate" | translate }}</label>

          <div class="form-control">
            <p-calendar
              appendTo="body"
              class="aw-calendar"
              [dateFormat]="sessionService.dateFormatPrimeNG"
              [locale]="sessionService.calendarFormat"
              [(ngModel)]="procurementRequest.requestedDate"
              showButtonBar="true"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [yearRange]="sessionService.calendarYearRange"
            ></p-calendar>
          </div>
        </div>

        <div
          class="form-group"
          style="height: 47px;"
          [ngClass]="{
            required: procurementRequest.procStatus != awPropertiesConstants.PROCUREMENT_REQUEST_STATUS_DRAFT
          }"
        >
          <label class="form-label">{{ getComponentName() + ".criticity" | translate }}</label>

          <div class="form-control aw-selectbutton-wrapper">
            <p-selectButton [options]="criticalities" [(ngModel)]="procurementRequest.criticality"></p-selectButton>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="form-label">
            {{ "criticityReason" | translate }}
          </label>

          <div class="form-control text-area">
            <textarea
              pInputTextarea
              autoResize="autoResize"
              class="aw-textarea"
              [rows]="2"
              [(ngModel)]="procurementRequest.criticalityReason"
            ></textarea>
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'visibility--hidden': !isExpectedSnVisible() }">
          <label class="form-label"> {{ getComponentName() + ".expectedSn" | translate }} </label>

          <div class="form-control">
            <input
              class="aw-input"
              name="value"
              type="text"
              [(ngModel)]="procurementRequest.procComment"
              [disabled]="isReadOpenMode"
            />
          </div>
        </div>
      </div>

      <div class="section">
        <h4 class="section-title">{{ getComponentName() + ".recipient" | translate }}</h4>

        <div class="section-content">
          <div class="row">
            <div class="form-group required">
              <label class="form-label"> {{ getComponentName() + ".site" | translate }} </label>
              <div class="form-control">
                <p-dropdown
                  appendTo="body"
                  class="aw-dropdown fixed-width"
                  placeholder="&nbsp;"
                  [disabled]="isReadOpenMode || inputWorkOrder"
                  [options]="sites"
                  [showClear]="true"
                  [(ngModel)]="procurementRequest.bidtSiteByBidtSiteReceiptId"
                  (onChange)="updateWarehouses()"
                ></p-dropdown>
              </div>
            </div>

            <div class="form-group required">
              <label
                class="form-label"
                *ngIf="
                  procurementRequest.procType == awPropertiesConstants.PROCUREMENT_REQUEST_TYPE_MAINTENANCE ||
                  procurementRequest.procType == awPropertiesConstants.PROCUREMENT_REQUEST_TYPE_MAINTENANCE_ES ||
                  procurementRequest.procType ==
                    awPropertiesConstants.PROCUREMENT_REQUEST_TYPE_MAINTENANCE_WITH_EXCHANCE
                "
              >
                {{ getComponentName() + ".workshop" | translate }}
              </label>
              <label
                class="form-label"
                *ngIf="
                  procurementRequest.procType == awPropertiesConstants.PROCUREMENT_REQUEST_TYPE_STOCK_LEVELING ||
                  procurementRequest.procType == awPropertiesConstants.PROCUREMENT_REQUEST_TYPE_STOCK_LEVELING_ES ||
                  procurementRequest.procType == awPropertiesConstants.PROCUREMENT_REQUEST_TYPE_DEPLOYEMENT_BATCH
                "
              >
                {{ getComponentName() + ".warehouse" | translate }}
              </label>
              <label
                class="form-label"
                *ngIf="procurementRequest.procType == awPropertiesConstants.PROCUREMENT_REQUEST_TYPE_MISCELLANEOUS"
              >
                {{ getComponentName() + ".warehouse" | translate }} / {{ getComponentName() + ".workshop" | translate }}
              </label>

              <div class="form-control">
                <p-dropdown
                  appendTo="body"
                  class="aw-dropdown fixed-width"
                  placeholder="&nbsp;"
                  [disabled]="isReadOpenMode || inputWorkOrder"
                  [options]="warehouses"
                  [showClear]="true"
                  [(ngModel)]="procurementRequest.bidtWarehouseByBidtWarehouseReceiptId"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <h4 class="section-title">{{ getComponentName() + ".desiredPotential" | translate }}</h4>

        <div class="section-content">
          <div class="row" *ngIf="units.length == 0">
            <div class="form-group">
              <div class="form-control">
                <div class="form-control-generic italic">
                  {{ getComponentName() + ".noPotentialUnit" | translate }}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group" *ngIf="units.length > 0">
              <label class="form-label"> {{ getComponentName() + ".value" | translate }} </label>

              <div class="form-control">
                <input
                  class="aw-input"
                  name="value"
                  type="number"
                  [(ngModel)]="procurementRequest.requestedPotential"
                />
              </div>
            </div>

            <div class="form-group" *ngIf="units.length > 0">
              <label class="form-label">
                {{ getComponentName() + ".unit" | translate }}
              </label>

              <div class="form-control">
                <p-dropdown
                  appendTo="body"
                  class="aw-dropdown fixed-width"
                  placeholder="&nbsp;"
                  [options]="units"
                  [showClear]="true"
                  [(ngModel)]="procurementRequest.potentialUnit"
                ></p-dropdown>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label">{{ getComponentName() + ".calendarPotential" | translate }}</label>

              <div class="form-control">
                <p-calendar
                  appendTo="body"
                  class="aw-calendar"
                  [dateFormat]="sessionService.dateFormatPrimeNG"
                  [locale]="sessionService.calendarFormat"
                  [(ngModel)]="procurementRequest.calendarPotential"
                  showButtonBar="true"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  [yearRange]="sessionService.calendarYearRange"
                ></p-calendar>
              </div>
            </div>

            <div class="form-group" *ngIf="units.length == 0"></div>
          </div>
        </div>
      </div>
    </ng-container>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">{{ "global.cancel" | translate }}</button>

    <button
      type="button"
      class="btn-with-spinner"
      color="primary"
      mat-raised-button
      (click)="validate()"
      [disabled]="
        !procurementRequest.procType ||
        !pn ||
        !requestedQuantity ||
        !procurementRequest.bidtSiteByBidtSiteReceiptId ||
        !procurementRequest.bidtWarehouseByBidtWarehouseReceiptId ||
        (procurementRequest.procStatus != awPropertiesConstants.PROCUREMENT_REQUEST_STATUS_DRAFT &&
          (!procurementRequest.criticality || !procurementRequest.requestedDate)) ||
        (procurementRequest.procType == awPropertiesConstants.PROCUREMENT_REQUEST_TYPE_MAINTENANCE_ES && !wo)
      "
    >
      <span class="lds-hourglass" *ngIf="saving"></span>
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-search-pn
  *ngIf="showPnDialog"
  [(display)]="showPnDialog"
  (onSelected)="onSelectPn($event)"
  [showPartTypeSelection]="true"
  [checkContainer]="true"
  [withAllTypes]="true"
  [withSparePartClass]="true"
  [isSparePartClassPredefined]="
    procurementRequest.procType == awPropertiesConstants.PROCUREMENT_REQUEST_TYPE_MAINTENANCE_ES ||
    procurementRequest.procType == awPropertiesConstants.PROCUREMENT_REQUEST_TYPE_STOCK_LEVELING_ES
  "
></aw-dialog-search-pn>

<aw-dialog-search-work-order *ngIf="showWoDialog" [(display)]="showWoDialog" (onSelected)="onSelectWo($event)">
</aw-dialog-search-work-order>
