<div class="overlay">
  <div class="stepper">
    <aw-stepper *ngIf="currentStatus !== constants.FLIGHT_STATUS_CANCELED" [steps]="draftToValidatedSteps"></aw-stepper>
    <aw-stepper class="alternative-stepper" [steps]="delayedAndCanceledSteps"></aw-stepper>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.FLIGHT_STATUS_DRAFT">
    <p>
      {{ getComponentName() + ".draftRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".draftRow2" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".draftRow3" | translate }}
    </p>

    <!-- No button, dates, duration and mission must be filled to pass to scheduled status -->
    <div *ngIf="!!missionEquipment.missionCode" class="actions">
      <button mat-raised-button color="primary" (click)="updateStatus(constants.FLIGHT_STATUS_SCHEDULED)">
        {{ getComponentName() + ".changeToScheduledStatus" | translate }}
      </button>
    </div>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.FLIGHT_STATUS_SCHEDULED">
    <p>
      {{ getComponentName() + ".scheduledRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".scheduledRow2" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".scheduledRow3" | translate }}
    </p>

    <div class="actions">
      <button mat-raised-button (click)="updateStatus(constants.FLIGHT_STATUS_DRAFT)">
        {{ getComponentName() + ".returnToDraftStatus" | translate }}
      </button>

      <button mat-raised-button (click)="updateStatus(constants.FLIGHT_STATUS_DELAYED)">
        {{ getComponentName() + ".changeToDelayedStatus" | translate }}
      </button>

      <button mat-raised-button color="warn" (click)="confirmCanceledStatus()">
        {{ getComponentName() + ".changeToCanceledStatus" | translate }}
      </button>
    </div>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.FLIGHT_STATUS_GO_VALIDATED">
    <p>
      {{ getComponentName() + ".goValidatedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".goValidatedRow2" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".goValidatedRow3" | translate }}
    </p>

    <div class="actions">
      <button
        mat-raised-button
        color="primary"
        (click)="updateStatus(constants.FLIGHT_STATUS_COMPLETED)"
        [disabled]="!isCompletedStatusButtonClickable()"
      >
        {{ getComponentName() + ".changeToCompletedStatus" | translate }}
      </button>

      <button
        mat-raised-button
        (click)="updateStatus(constants.FLIGHT_STATUS_ARRIVED)"
        [disabled]="!isArrivedStatusButtonClickable()"
      >
        {{ getComponentName() + ".changeToArrivedStatus" | translate }}
      </button>

      <button mat-raised-button (click)="updateStatus(constants.FLIGHT_STATUS_SCHEDULED)">
        {{ getComponentName() + ".returnToScheduledStatus" | translate }}
      </button>

      <button mat-raised-button color="primary" color="warn" (click)="updateStatus(constants.FLIGHT_STATUS_DELAYED)">
        {{ getComponentName() + ".changeToDelayedStatus" | translate }}
      </button>
    </div>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.FLIGHT_STATUS_DELAYED">
    <p>
      {{ getComponentName() + ".delayedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".delayedRow2" | translate }}
    </p>

    <div class="actions">
      <!-- If previous status was Gonogo -->
      <button
        *ngIf="isComingFromGonogo()"
        mat-raised-button
        (click)="updateStatus(constants.FLIGHT_STATUS_ARRIVED)"
        [disabled]="!isArrivedStatusButtonClickable()"
      >
        {{ getComponentName() + ".changeToArrivedStatus" | translate }}
      </button>

      <!-- If previous status were Draft or Scheduled -->
      <button *ngIf="!isComingFromGonogo()" mat-raised-button (click)="updateStatus(constants.FLIGHT_STATUS_SCHEDULED)">
        {{ getComponentName() + ".returnToScheduledStatus" | translate }}
      </button>

      <!-- In any case -->
      <button mat-raised-button color="warn" (click)="confirmCanceledStatus()">
        {{ getComponentName() + ".changeToCanceledStatus" | translate }}
      </button>
    </div>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.FLIGHT_STATUS_CANCELED">
    <p>
      {{ getComponentName() + ".canceledRow1" | translate }}
    </p>
    <!-- Status cannot be changed anymore -->
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.FLIGHT_STATUS_ARRIVED">
    <p>
      {{ getComponentName() + ".arrivedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".arrivedRow2" | translate }}
    </p>

    <div class="actions">
      <button mat-raised-button (click)="updateStatus(constants.FLIGHT_STATUS_GO_VALIDATED)">
        {{ getComponentName() + ".returnToGoValidate" | translate }}
      </button>

      <button
        mat-raised-button
        color="primary"
        (click)="updateStatus(constants.FLIGHT_STATUS_COMPLETED)"
        [disabled]="!isCompletedStatusButtonClickable()"
      >
        {{ getComponentName() + ".changeToCompletedStatus" | translate }}
      </button>
    </div>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.FLIGHT_STATUS_COMPLETED">
    <p>
      {{ getComponentName() + ".completedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".completedRow2" | translate }}
    </p>

    <div class="actions">
      <button mat-raised-button (click)="updateStatus(constants.FLIGHT_STATUS_ARRIVED)">
        {{ getComponentName() + ".returnToArrivedStatus" | translate }}
      </button>
    </div>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.FLIGHT_STATUS_VALIDATED">
    <p>
      {{ getComponentName() + ".validatedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".validatedRow2" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".validatedRow3" | translate }}
    </p>

    <!-- Status cannot be changed anymore -->

    <!--     <div class="actions">
      <button mat-raised-button (click)="updateStatus(constants.FLIGHT_STATUS_COMPLETED)">
        {{ getComponentName() + ".returnToCompletedStatus" | translate }}
      </button>

      <button mat-raised-button color="primary" (click)="updateStatus(constants.FLIGHT_STATUS_GO_VALIDATED)">
        {{ getComponentName() + ".changeToGoValidatedStatus" | translate }}
      </button>
    </div> -->
  </div>
</div>
