@import "constants";

$warn-color: #f44336;

:host {
  .overlay {
    padding: 40px;
  }

  .stepper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .status-info {
    padding-top: 40px;
    font-size: 1rem;

    p:first-of-type {
      font-weight: 600;
      padding-bottom: 20px;
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 40px;

      & > button {
        margin: 0 8px;
      }
    }
  }
}

::ng-deep {
  .cdk-overlay-container {
    z-index: 40;
  }

  aw-stepper.alternative-stepper {
    .step {
      border-color: $warn-color !important;
    }

    .step-join {
      background-color: $warn-color !important;
    }
  }
}
