<a-modal class="aw-modal" [(visible)]="display" [width]="85">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>

    <i class="material-icons aw-icon aw-icon-with-border" (click)="onCancel()">close</i>
  </a-header>

  <a-content>
    <div class="search-dialog-container">
      <div class="section search-criteria-section">
        <h4 class="section-title">{{ "global.search" | translate }}</h4>

        <div class="section-content">
          <div class="column">
            <div class="row">
              <div class="form-group" *ngIf="showFamilyVariantSelection">
                <label class="form-label"> {{ getComponentName() + ".familyVariant" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="propertyVariant"
                    [(ngModel)]="familyVariant"
                    [showClear]="true"
                    placeholder="&nbsp;"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group">
                <ng-container
                  *ngIf="!showPartTypeSelection && !showFamilyVariantSelection; then designation; else pnCode"
                ></ng-container>

                <ng-template #pnCode>
                  <label class="form-label"> {{ getComponentName() + ".pnCode" | translate }} </label>

                  <div class="form-control">
                    <input type="text" class="aw-input" [(ngModel)]="searchObject.pnCode" />
                  </div>
                </ng-template>
              </div>

              <div class="form-group" *ngIf="showPartTypeSelection">
                <label class="form-label"> {{ getComponentName() + ".type" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="pnTypes"
                    [(ngModel)]="pnType"
                    [showClear]="false"
                    placeholder="&nbsp;"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group">
                <ng-container
                  *ngIf="!showPartTypeSelection && !showFamilyVariantSelection; then designation; else otanPnReference"
                ></ng-container>

                <ng-template #otanPnReference>
                  <label class="form-label"> {{ getComponentName() + ".otanPnReference" | translate }} </label>

                  <div class="form-control">
                    <input type="text" class="aw-input" [(ngModel)]="searchObject.otanPnReference" />
                  </div>
                </ng-template>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <ng-container
                  *ngIf="!showPartTypeSelection && !showFamilyVariantSelection; then pnCode; else designation"
                ></ng-container>

                <ng-template #designation>
                  <label class="form-label"> {{ getComponentName() + ".designation" | translate }} </label>

                  <div class="form-control">
                    <input type="text" class="aw-input" [(ngModel)]="searchObject.articleDesignation" />
                  </div>
                </ng-template>
              </div>
            </div>

            <div class="row" *ngIf="withSparePartClass">
              <div class="form-group">
                <label class="form-label"> {{ getComponentName() + ".sparePartClass" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    placeholder="&nbsp;"
                    [showClear]="true"
                    [(ngModel)]="searchObject.sparePartClassCode"
                    [options]="sparePartClasses"
                    appendTo="body"
                    [disabled]="isSparePartClassPredefined"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group flex--3"></div>
            </div>

            <div class="row search-criteria-footer">
              <div class="search-actions">
                <button type="button" color="primary" mat-raised-button (click)="search()">
                  <span>{{ "global.toSearch" | translate }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section results-section">
        <h4 class="section-title">
          {{ "global.results" | translate }} ({{ resultsTable.list ? resultsTable.list.length : 0 }})
        </h4>

        <div class="section-content">
          <p-table
            #ptable
            class="aw-table2"
            [columns]="resultsTableCols"
            [value]="resultsTable.list"
            selectionMode="single"
            [(selection)]="selectedPn"
            [scrollable]="true"
          >
            <ng-template pTemplate="emptymessage">
              <span *ngIf="!isLoading"> &nbsp;</span>

              <div *ngIf="isLoading" class="aw-table-loading-indicator">
                <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                <div class="lds-hourglass"></div>
              </div>
            </ng-template>

            <ng-template pTemplate="caption">
              <div class="aw-table-header">
                <div class="aw-table-global-filter">
                  <label class="aw-table-global-filter-label">
                    <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                  </label>

                  <input
                    #ptableGlobalFilter
                    class="aw-table-global-filter-input"
                    type="text"
                    placeholder="{{ 'table.globalFilterText' | translate }}"
                    (input)="ptable.filterGlobal($event.target.value, 'contains')"
                  />
                </div>

                <div class="aw-table-actions">
                  <button type="button" mat-raised-button *ngIf="selectedPn" (click)="showPnAlternativesDialog()">
                    {{ getComponentName() + ".showAlternatives" | translate }}
                  </button>
                </div>
              </div>
            </ng-template>

            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
              </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                  {{ getComponentName() + "." + col.field | translate }}
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                <td *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }" [ngSwitch]="col.field">
                  <span *ngSwitchCase="'statusState'"> {{ statusDictionary[rowData[col.field]] }}</span>
                  <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button [disabled]="!selectedPn" color="primary" type="button" mat-raised-button (click)="onValidate()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-search-pn-alternatives
  *ngIf="pnAlternativesDialogVisible"
  [(display)]="pnAlternativesDialogVisible"
  [pn]="selectedPn"
  (onSelected)="onSelectPnAlternative($event)"
></aw-dialog-search-pn-alternatives>
