$green: rgb(80, 190, 135);
$red: rgb(169, 3, 41);

:host {
  .form-group {
    margin-right: 20px;
    max-width: 15rem;
    min-width: 10rem;
    width: 20%;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .table-wrapper {
    width: 100%;
  }

  .users-program-list-table {
    .red {
      color: $red;
    }

    .green {
      color: $green;
    }
  }
}
