<div class="overlay">
  <div class="stepper">
    <aw-stepper [steps]="steps"></aw-stepper>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.AIRM_PROJECT_STATUS_SIMULATED">
    <p>
      {{ getComponentName() + ".simulatedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".simulatedRow2" | translate }}
    </p>

    <ul>
      <li>{{ getComponentName() + ".simulatedRow3" | translate }}</li>
      <li>{{ getComponentName() + ".simulatedRow4" | translate }}.</li>
    </ul>

    <div class="actions">
      <button mat-raised-button color="primary" (click)="updateStatus(constants.AIRM_PROJECT_STATUS_SCHEDULED)">
        {{ getComponentName() + ".changeToPlannedStatus" | translate }}
      </button>
    </div>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.AIRM_PROJECT_STATUS_SCHEDULED">
    <p>
      {{ getComponentName() + ".scheduledRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".scheduledRow2" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".scheduledRow3" | translate }}
    </p>

    <div class="actions">
      <button mat-raised-button (click)="updateStatus(constants.AIRM_PROJECT_STATUS_SIMULATED)">
        {{ getComponentName() + ".returnToSimulatedStatus" | translate }}
      </button>

      <button mat-raised-button color="primary" (click)="updateStatus(constants.AIRM_PROJECT_STATUS_RELEASED)">
        {{ getComponentName() + ".changeToReleasedStatus" | translate }}
      </button>
    </div>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.AIRM_PROJECT_STATUS_RELEASED">
    <p>
      {{ getComponentName() + ".releasedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".releasedRow2" | translate }}
    </p>

    <div class="actions">
      <button mat-raised-button (click)="updateStatus(constants.AIRM_PROJECT_STATUS_SCHEDULED)">
        {{ getComponentName() + ".returnToPlannedStatus" | translate }}
      </button>
    </div>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.AIRM_PROJECT_STATUS_ONGOING">
    <p>
      {{ getComponentName() + ".ongoingRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".ongoingRow2" | translate }}
    </p>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.AIRM_PROJECT_STATUS_PERFORMED">
    <p>
      {{ getComponentName() + ".performedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".performedRow2" | translate }}
    </p>

    <div class="actions">
      <button mat-raised-button color="primary" (click)="updateStatus(constants.AIRM_PROJECT_STATUS_CLOSE)">
        {{ getComponentName() + ".changeToClosedStatus" | translate }}
      </button>
    </div>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.AIRM_PROJECT_STATUS_CLOSE">
    <p>
      {{ getComponentName() + ".closedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".closedRow2" | translate }}
    </p>

    <div class="actions">
      <button mat-raised-button (click)="updateStatus(constants.AIRM_PROJECT_STATUS_PERFORMED)">
        {{ getComponentName() + ".returnToPerformedStatus" | translate }}
      </button>
    </div>
  </div>
</div>
