<div class="page-header">
  <div class="page-info">
    <div>
      <h2 class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </h2>
    </div>
  </div>

  <div class="page-actions">
    <button
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #actions="matMenu">
      <button mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ "results" | translate }} ({{ enterpriseDefinitionTable.length }})</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <p-treeTable
                #enterpriseDefinition
                class="aw-tree-table2"
                selectionMode="single"
                [columns]="enterpriseDefinitionTableCols"
                [resizableColumns]="true"
                [scrollable]="true"
                [value]="enterpriseDefinitionTable"
                [(selection)]="enterpriseDefinitionTableSelection"
              >
                <ng-template pTemplate="emptymessage">
                  <span *ngIf="!isLoadingEnterpriseDefinitionTable"> &nbsp;</span>

                  <div *ngIf="isLoadingEnterpriseDefinitionTable" class="aw-table-loading-indicator">
                    <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                    <div class="lds-hourglass"></div>
                  </div>
                </ng-template>

                <ng-template pTemplate="caption">
                  <div class="aw-table-header">
                    <div class="aw-table-global-filter">
                      <label class="aw-table-global-filter-label">
                        <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                      </label>

                      <input
                        class="aw-table-global-filter-input"
                        type="text"
                        placeholder="{{ 'table.globalFilterText' | translate }}"
                        (input)="enterpriseDefinition.filterGlobal($event.target.value, 'contains')"
                      />
                    </div>

                    <div class="aw-table-actions">
                      <button
                        type="button"
                        mat-raised-button
                        color="warn"
                        (click)="deleteSelection()"
                        *ngIf="enterpriseDefinitionTableSelection"
                      >
                        {{ "delete" | translate }}
                      </button>

                      <button
                        type="button"
                        mat-raised-button
                        (click)="editSelection()"
                        *ngIf="enterpriseDefinitionTableSelection"
                      >
                        {{ "edit" | translate }}
                      </button>

                      <button
                        type="button"
                        mat-raised-button
                        (click)="openSelection()"
                        *ngIf="enterpriseDefinitionTableSelection && !enterpriseDefinitionTableSelection.data.isCompany"
                      >
                        {{ "open" | translate }}
                      </button>

                      <p-splitButton
                        class="aw-split-btn aw-table-action"
                        appendTo="body"
                        label="{{ 'global.add' | translate }}"
                        [model]="addItems"
                        *ngIf="!enterpriseDefinitionTableSelection"
                      ></p-splitButton>
                    </div>
                  </div>
                </ng-template>

                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                  </colgroup>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th ttResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                      {{ componentData.componentId + "." + col.field | translate }}
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                  <tr [ttSelectableRow]="rowNode">
                    <td *ngFor="let col of columns; let i = index" [ngSwitch]="col.field">
                      <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>

                      <span *ngSwitchCase="'level'">
                        <span *ngIf="rowData['isCompany']">{{ "company" | translate }}</span>
                        <span *ngIf="rowData['isSite']">{{ "site" | translate }}</span>
                        <span *ngIf="rowData['isWarehouse']">{{ "warehouse" | translate }}</span>
                        <span *ngIf="rowData['isWorkshop']">{{ "workshop" | translate }}</span>
                      </span>

                      <span *ngSwitchCase="'type'">
                        <span *ngIf="rowData['isCompany']">
                          {{ rowData[col.field] | formatSelectOption: companyTypes }}
                        </span>
                        <span *ngIf="rowData['isWarehouse']">
                          {{ rowData[col.field] | formatSelectOption: warehouseTypes }}
                        </span>
                        <span *ngIf="rowData['isWorkshop']">
                          {{ rowData[col.field] | formatSelectOption: workshopTypes }}
                        </span>
                      </span>

                      <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                    </td>
                  </tr>
                </ng-template>
              </p-treeTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <aw-enterprise-definition-company
    *ngIf="showCompanyDialog"
    [companyId]="this.enterpriseDefinitionTableSelection?.data.id"
    [(display)]="showCompanyDialog"
    (onSave)="reload()"
  ></aw-enterprise-definition-company>

  <aw-enterprise-definition-site
    *ngIf="showSiteDialog"
    [siteId]="this.enterpriseDefinitionTableSelection?.data.id"
    [(display)]="showSiteDialog"
    (onSave)="reload()"
  ></aw-enterprise-definition-site>

  <aw-enterprise-definition-warehouse
    *ngIf="showWarehouseDialog"
    [isWorkshopCategory]="false"
    [warehouseId]="this.enterpriseDefinitionTableSelection?.data.id"
    [(display)]="showWarehouseDialog"
    (onSave)="reload()"
  ></aw-enterprise-definition-warehouse>

  <aw-enterprise-definition-warehouse
    *ngIf="showWorkshopDialog"
    [isWorkshopCategory]="true"
    [warehouseId]="this.enterpriseDefinitionTableSelection?.data.id"
    [(display)]="showWorkshopDialog"
    (onSave)="reload()"
  ></aw-enterprise-definition-warehouse>
</div>
