<a-modal class="aw-modal" [(visible)]="display" [width]="50">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".titlePopup" | translate }}</div>
  </a-header>

  <a-content>
    <div class="column">
      <div class="row">
        <div class="form-group" [ngClass]="{ required: !isReadOnlyForm }">
          <label class="form-label">{{ getComponentName() + ".familyCode" | translate }}</label>

          <div class="form-control form-control-with-modal" [ngClass]="{ disabled: isReadOnlyForm }">
            <div class="form-control-data" (click)="showFamilyCode()">{{ newEvol.familyCode }}</div>

            <div *ngIf="newEvol.familyCode && !isReadOnlyForm" class="btn-clear-wrapper">
              <i
                class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                aria-hidden="true"
                (click)="
                  newEvol.familyCode = undefined; newEvol.structureType = undefined; newEvol.variantCode = undefined
                "
              ></i>
            </div>
            <div class="btn-search-wrapper" *ngIf="!isReadOnlyForm">
              <i class="fa fa-fw fa-search aw-icon btn-search" aria-hidden="true" (click)="showFamilyCode()"></i>
            </div>
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'visibility--hidden': !newEvol.structureType }">
          <label class="form-label">{{ getComponentName() + ".structureType" | translate }}</label>

          <div class="form-control">
            <input type="text" class="aw-input" [(ngModel)]="newEvol.structureType" [disabled]="true" />
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'visibility--hidden': !newEvol.structureType }">
          <label class="form-label">{{ getComponentName() + ".variantCode" | translate }}</label>

          <div class="form-control">
            <input type="text" class="aw-input" [(ngModel)]="newEvol.variantCode" [disabled]="true" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group" [ngClass]="{ required: !isReadOnlyForm }">
          <label class="form-label">{{ getComponentName() + ".evolutionNumber" | translate }}</label>

          <div class="form-control form-control-with-modal" [ngClass]="{ disabled: isReadOnlyForm }">
            <div class="form-control-data" (click)="showEvolutionNumber()">{{ newEvol.evoEvolutionNumber }}</div>

            <div *ngIf="newEvol.evoEvolutionNumber && !isReadOnlyForm" class="btn-clear-wrapper">
              <i
                class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                aria-hidden="true"
                (click)="newEvol.evoEvolutionNumber = undefined; newEvol.evoEvolutionRevisionNumber = undefined"
              ></i>
            </div>
            <div class="btn-search-wrapper" *ngIf="!isReadOnlyForm">
              <i class="fa fa-fw fa-search aw-icon btn-search" aria-hidden="true" (click)="showEvolutionNumber()"></i>
            </div>
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'visibility--hidden': !newEvol.evoEvolutionRevisionNumber }">
          <label class="form-label">{{ getComponentName() + ".evolutionRevisionNumber" | translate }}</label>

          <div class="form-control">
            <input type="text" class="aw-input" [disabled]="true" [(ngModel)]="newEvol.evoEvolutionRevisionNumber" />
          </div>
        </div>

        <div class="form-group"></div>
      </div>

      <div class="row">
        <div class="form-group" [ngClass]="{ required: !isReadOnlyForm }">
          <label class="form-label">{{ getComponentName() + ".interdependence" | translate }}</label>

          <div class="form-control">
            <p-dropdown
              class="aw-dropdown fixed-width"
              [disabled]="isReadOnlyForm"
              [showClear]="true"
              placeholder="&nbsp;"
              [options]="interdependence"
              [(ngModel)]="newEvol.interdependenceCode"
              appendTo="body"
            ></p-dropdown>
          </div>
        </div>

        <div class="form-group flex--2"></div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="isReadOnlyForm" type="button" mat-raised-button (click)="onHide()">
      <span>{{ "global.close" | translate }}</span>
    </button>

    <button *ngIf="!isReadOnlyForm" type="button" mat-raised-button (click)="onHide()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button
      *ngIf="!isReadOnlyForm"
      type="button"
      color="primary"
      mat-raised-button
      (click)="onValidate()"
      [disabled]="
        newEvol.evoEvolutionNumber === undefined ||
        newEvol.evoEvolutionNumber === null ||
        newEvol.interdependenceCode === undefined ||
        newEvol.interdependenceCode === null
      "
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-table
  *ngIf="showFamilyCodeDialog"
  [keyMap]="keyMap"
  [(display)]="showFamilyCodeDialog"
  [data]="dialogTableDataFamilyCode"
  (onSelected)="setSelectedFamilyCode($event)"
></aw-dialog-table>

<aw-dialog-search-evolution
  *ngIf="showEvolutionNumberDialog"
  [(display)]="showEvolutionNumberDialog"
  [evolutionNumber]="newEvol.evoEvolutionNumber"
  [evolutionRevisionNumber]="newEvol.evoEvolutionRevisionNumber"
  (onSelected)="setSelectedEvolutionNumber($event)"
>
</aw-dialog-search-evolution>

<!-- <aw-dialog-table
  *ngIf="showEvolutionNumberDialog"
  [keyMap]="keyMap"
  [(display)]="showEvolutionNumberDialog"
  [data]="dialogTableDataEvolutionNumber"
  (onSelected)="setSelectedEvolutionNumber($event)"
></aw-dialog-table> -->
