<p-dialog
  class="aw-dialog"
  header="{{ getComponentName() + '.title' | translate }}"
  modal="modal"
  positionTop="60"
  [(visible)]="display"
  [closable]="false"
  [focusOnShow]="false"
  [contentStyle]="{ width: '50vw' }"
>
  <div class="popup-content">
    <div class="search-panel-container">
      <div class="search-criteria-container">
        <div class="form-group">
          <label>
            {{ getComponentName() + ".customerCode" | translate }}
          </label>
          <input type="text" class="aw-input" [(ngModel)]="searchObject.customerCode" />
        </div>

        <div class="form-group">
          <label>
            {{ getComponentName() + ".customerName" | translate }}
          </label>
          <input type="text" class="aw-input" [(ngModel)]="searchObject.customerName" />
        </div>
      </div>

      <div>
        <button type="button" color="primary" mat-raised-button (click)="search()">
          <i class="fa fa-fw fa-search" aria-hidden="true"></i>
          <span>{{ "global.toSearch" | translate }}</span>
        </button>
      </div>
    </div>

    <p-table
      [resizableColumns]="true"
      #ptableCustomer
      class="aw-table aw-table-section"
      [columns]="customersTableCols"
      [value]="customersTable.list"
      [style]="{ margin: '0 auto', width: '100%' }"
      selectionMode="single"
      [(selection)]="selectedCustomer"
      dataKey="customerCode"
      (onFilter)="updateDisplayedCustomerRowNb($event.filteredValue.length)"
      [scrollable]="true"
      scrollHeight="60vh"
    >
      <ng-template pTemplate="emptymessage">
        &nbsp;
      </ng-template>

      <ng-template pTemplate="caption">
        <div class="aw-table-header">
          <div class="aw-table-header-title-wrapper">
            <div class="aw-table-results-number" *ngIf="ptableCustomer.totalRecords > 0">
              {{ displayedCustomerRowNb }} / {{ ptableCustomer.totalRecords }}
              <span class="aw-table-more-results" *ngIf="customersTable.moreResults">+</span>
            </div>
          </div>

          <div class="aw-table-global-filter">
            <input
              type="text"
              class="aw-input"
              placeholder="{{ 'global.globalFilter' | translate }}"
              (input)="ptableCustomer.filterGlobal($event.target.value, 'contains')"
            />
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            pResizableColumn
            *ngFor="let col of columns"
            [pSortableColumn]="col.field"
            [ngStyle]="{ 'text-align': col.alignment }"
          >
            {{ getComponentName() + "." + col.field | translate }}

            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-footer>
    <button type="button" color="primary" mat-raised-button (click)="validate()">
      <i class="fa fa-fw fa-check" aria-hidden="true"></i>
      <span>{{ "global.validate" | translate }}</span>
    </button>

    <button type="button" mat-raised-button (click)="closeDialog()">
      <i class="fa fa-fw fa-times" aria-hidden="true"></i>
      <span>{{ "global.cancel" | translate }}</span>
    </button>
  </p-footer>
</p-dialog>
