<div class="grid-cell-header">
  <div class="grid-cell-title-container">
    <div class="grid-cell-title">
      <span>{{ getComponentName() + ".gonogoValidation" | translate }}</span>
    </div>
  </div>
</div>

<div class="grid-cell-content">
  <div class="column">
    <div *ngIf="sessionService.isSpecificDassault" class="row data">
      <div id="goNoGoStatus" *ngIf="!isCreateOpenMode" class="form-group">
        <label class="form-label">
          {{ getComponentName() + ".status" | translate }}
        </label>

        <div class="form-control">
          <div class="form-control-generic">
            <span *ngIf="gonogoValidationStatus === controlConfigConstants.ICON_GREEN" class="alert alert--ok">
              {{ getComponentName() + ".validationOk" | translate }}
            </span>

            <span *ngIf="gonogoValidationStatus === controlConfigConstants.ICON_RED" class="alert alert--nok">
              {{ getComponentName() + ".validationNok" | translate }}
            </span>
          </div>
        </div>
      </div>

      <div
        id="date"
        class="form-group"
        [ngClass]="{ 'visibility--hidden': gonogoValidationStatus === controlConfigConstants.ICON_RED }"
      >
        <label class="form-label">
          {{ getComponentName() + ".date" | translate }}
        </label>

        <div class="form-control">
          <p-calendar
            showButtonBar="true"
            [monthNavigator]="true"
            [yearNavigator]="true"
            [yearRange]="sessionService.calendarYearRange"
            class="aw-calendar"
            [dateFormat]="sessionService.dateFormatPrimeNG"
            [locale]="sessionService.calendarFormat"
            [showTime]="true"
            [(ngModel)]="date"
            [disabled]="true"
          ></p-calendar>
        </div>
      </div>

      <div
        id="user"
        class="form-group"
        [ngClass]="{ 'visibility--hidden': gonogoValidationStatus === controlConfigConstants.ICON_RED }"
      >
        <label class="form-label">
          {{ getComponentName() + ".user" | translate }}
        </label>

        <div class="form-control">
          <input type="text" class="aw-input" [(ngModel)]="user" [disabled]="true" />
        </div>
      </div>
    </div>

    <div *ngIf="!sessionService.isSpecificDassault" class="row">
      <div id="goNoGoStatus" *ngIf="!isCreateOpenMode" class="form-group">
        <label class="form-label">
          {{ getComponentName() + ".status" | translate }}
        </label>

        <div class="form-control">
          <div class="form-control-generic">
            <span *ngIf="gonogoValidationStatus === controlConfigConstants.ICON_GREEN" class="alert alert--ok">
              {{ getComponentName() + ".validationOk" | translate }}
            </span>

            <span *ngIf="gonogoValidationStatus === controlConfigConstants.ICON_RED" class="alert alert--nok">
              {{ getComponentName() + ".validationNok" | translate }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
