@import "constants";

:host {
  .label-info {
    display: flex;
  }
  .procurement-type--in {
    color: $green-light1;
    transform: rotate(320deg);
  }

  .procurement-type--out {
    color: $red-light1;
    transform: rotate(45deg);
  }

  .procurement-type--transfer {
    color: $blue-dark1;
  }
}
