<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div *ngIf="!isCreateOpenMode && componentData && componentData.objectId" class="page-subtitle">
          - {{ this.serializationService.deserialize(this.componentData.objectId).siteCode }}
          {{ this.serializationService.deserialize(this.componentData.objectId).siteName }}
        </div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button *ngIf="isReadOpenMode && hasUpdateAccessRight" type="button" mat-raised-button (click)="editSite()">
      {{ "global.edit" | translate }}
    </button>

    <button
      *ngIf="!isReadOpenMode && !isCreateOpenMode"
      type="button"
      color="warn"
      mat-raised-button
      (click)="cancelSite()"
    >
      {{ "global.cancel" | translate }}
    </button>

    <button
      *ngIf="!isReadOpenMode"
      class="btn-with-spinner"
      color="primary"
      type="button"
      mat-raised-button
      (click)="saveSite()"
    >
      <span class="lds-hourglass" *ngIf="showSaveSpinner"></span>
      {{ "global.save" | translate }}
    </button>

    <button
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #actions="matMenu">
      <button mat-menu-item (click)="reloadSite()">{{ "global.refresh" | translate }}</button>
      <button mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ "page.mainData" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
                <label class="form-label"> {{ componentData.componentId + ".siteCode" | translate }} </label>
                <div class="form-control">
                  <input
                    type="text"
                    class="aw-input"
                    [(ngModel)]="site.siteCode"
                    maxlength="50"
                    [disabled]="isReadOpenMode || !isCreateOpenMode"
                  />
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ componentData.componentId + ".siteName" | translate }} </label>
                <div class="form-control">
                  <input
                    type="text"
                    class="aw-input"
                    [(ngModel)]="site.siteName"
                    maxlength="100"
                    [disabled]="isReadOpenMode"
                  />
                </div>
              </div>

              <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
                <label class="form-label"> {{ componentData.componentId + ".bidtCompanyId" | translate }} </label>
                <div class="form-control">
                  <p-dropdown
                    name="bidtCompanyName"
                    class="aw-dropdown fixed-width"
                    placeholder="&nbsp;"
                    [options]="companies"
                    [(ngModel)]="site.companyId"
                    placeholder="&nbsp;"
                    (onChange)="loadCompany()"
                    [disabled]="isReadOpenMode"
                    required
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ componentData.componentId + ".siteDescription" | translate }} </label>
                <div class="form-control">
                  <textarea
                    class="aw-textarea"
                    [rows]="3"
                    maxlength="300"
                    [(ngModel)]="site.siteDescription"
                    [disabled]="isReadOpenMode"
                    pInputTextarea
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div #documentTableAnchor class="grid-cell grid-cell--container">
            <!-- Capabilities table -->

            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ componentData.componentId + ".capabilities" | translate }} ({{
                    capabilityTableDataSource ? capabilityTableDataSource.dataCount : 0
                  }})
                </h3>
              </div>
            </div>
            <div class="grid-cell-content">
              <a-table [dataSource]="capabilityTableDataSource">
                <ng-template tableActionsDef>
                  <button
                    *ngIf="!isReadOpenMode && !capabilityTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    (click)="createCapability()"
                  >
                    {{ "global.add" | translate }}
                  </button>
                  <button
                    *ngIf="!isReadOpenMode && capabilityTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    color="warn"
                    (click)="deleteCapability()"
                  >
                    {{ "global.delete" | translate }}
                  </button>
                  <button
                    *ngIf="!isReadOpenMode && capabilityTableDataSource.dataSelectionCount === 1"
                    type="button"
                    mat-raised-button
                    (click)="editCapability()"
                  >
                    {{ "global.edit" | translate }}
                  </button>

                  <button
                    *ngIf="capabilityTableDataSource.dataSelectionCount === 1"
                    type="button"
                    mat-raised-button
                    (click)="openCapability()"
                  >
                    {{ "global.open" | translate }}
                  </button>
                </ng-template>
              </a-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <aw-dialog-capability
    *ngIf="showCapabilityDialog"
    [(display)]="showCapabilityDialog"
    [capabilityTemp]="currentCapability"
    [openMode]="capabilityDialogOpenMode"
    (onValidated)="onAddCapability($event)"
  >
  </aw-dialog-capability>
</div>
