<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>
  <a-content>
    <div class="form-control">
      <input type="text" class="aw-input" [(ngModel)]="_changedVersion" />
    </div>
  </a-content>
  <a-footer>
    <button *ngIf="isReadOpenMode" type="button" mat-raised-button (click)="cancel()">
      <span>{{ "global.close" | translate }}</span>
    </button>

    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="cancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button *ngIf="!isReadOpenMode" color="primary" type="button" mat-raised-button (click)="add()" [disabled]="false">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
