$event-width: 21.21px;

:host {
  .legend-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 2.25rem;

    .label {
      margin-left: 1rem;
    }

    .flight {
      width: calc(#{$event-width} * 2);

      &.real {
        background-color: #42a5f5;
        height: 6px;
      }

      &.simulated {
        background-color: #42a5f5;
        height: 2px;
      }
    }

    .upcoming-event {
      height: $event-width;
      transform: rotate(45deg);
      width: $event-width;

      &.nok {
        background-color: #e53935;
      }

      &.ok {
        background-color: #43a047;
      }

      &.warn {
        background-color: #fdd835;
      }
    }

    .work-package {
      height: $event-width;
      width: calc(#{$event-width} * 2);

      &.absences {
        background-color: #a0a0a0;
      }

      &.holidays {
        background-color: #a0a0a0;
      }

      &.jobs {
        background-color: #42a5f5;
      }

      &.training {
        background-color: #ffa726;
      }

      &.availability {
        background-color: #66bb6a;
      }
    }
  }
}
