<div class="grid-cell-header">
  <div class="grid-cell-title-container">
    <div class="grid-cell-title">
      <span>{{ getComponentName() + ".replenishmentsValidation" | translate }}</span>
    </div>
  </div>
</div>

<div class="grid-cell-content">
  <div class="column">
    <div *ngIf="!isCreateOpenMode" class="row flex-row--justify-end">
      <button *ngIf="showCancelReplenishmentButton()" type="button" mat-raised-button (click)="cancel()">
        {{ "global.cancel" | translate }}
      </button>
      <button
        *ngIf="showValidateReplenishmentButton()"
        color="primary"
        type="button"
        mat-raised-button
        (click)="validate()"
      >
        {{ "global.validate" | translate }}
      </button>
    </div>

    <div *ngIf="sessionService.isSpecificDassault" class="row data">
      <div *ngIf="!isCreateOpenMode" class="form-group">
        <label class="form-label">
          {{ getComponentName() + ".status" | translate }}
        </label>

        <div class="form-control">
          <div class="form-control-generic">
            <span *ngIf="replenishmentValidationStatus === controlConfigConstants.ICON_GREEN" class="alert alert--ok">
              {{ getComponentName() + ".validationOk" | translate }}
            </span>

            <span *ngIf="replenishmentValidationStatus === controlConfigConstants.ICON_RED" class="alert alert--nok">
              {{ getComponentName() + ".validationNok" | translate }}
            </span>
          </div>
        </div>
      </div>

      <div
        class="form-group"
        [ngClass]="{ 'visibility--hidden': replenishmentValidationStatus === controlConfigConstants.ICON_RED }"
      >
        <label class="form-label">
          {{ getComponentName() + ".date" | translate }}
        </label>

        <div class="form-control">
          <p-calendar
            showButtonBar="true"
            [monthNavigator]="true"
            [yearNavigator]="true"
            [yearRange]="sessionService.calendarYearRange"
            class="aw-calendar"
            [dateFormat]="sessionService.dateFormatPrimeNG"
            [locale]="sessionService.calendarFormat"
            [showTime]="true"
            [(ngModel)]="missionEquipment.repleValidationDate"
            [disabled]="true"
          ></p-calendar>
        </div>
      </div>

      <div
        class="form-group"
        [ngClass]="{ 'visibility--hidden': replenishmentValidationStatus === controlConfigConstants.ICON_RED }"
      >
        <label class="form-label">
          {{ getComponentName() + ".user" | translate }}
        </label>

        <div class="form-control">
          <input type="text" class="aw-input" [(ngModel)]="missionEquipment.repleValidationUser" [disabled]="true" />
        </div>
      </div>
    </div>

    <div *ngIf="!sessionService.isSpecificDassault" class="row">
      <div *ngIf="!isCreateOpenMode" class="form-group">
        <label class="form-label">
          {{ getComponentName() + ".status" | translate }}
        </label>

        <div class="form-control">
          <div class="form-control-generic">
            <span *ngIf="replenishmentValidationStatus === controlConfigConstants.ICON_GREEN" class="alert alert--ok">
              {{ getComponentName() + ".validationOk" | translate }}
            </span>

            <span *ngIf="replenishmentValidationStatus === controlConfigConstants.ICON_RED" class="alert alert--nok">
              {{ getComponentName() + ".validationNok" | translate }}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">
          {{ getComponentName() + ".date" | translate }}
        </label>

        <div class="form-control">
          <p-calendar
            showButtonBar="true"
            [monthNavigator]="true"
            [yearNavigator]="true"
            [yearRange]="sessionService.calendarYearRange"
            class="aw-calendar"
            [dateFormat]="sessionService.dateFormatPrimeNG"
            [locale]="sessionService.calendarFormat"
            [showTime]="true"
            [(ngModel)]="missionEquipment.repleValidationDate"
            [disabled]="true"
          ></p-calendar>
        </div>
      </div>
    </div>

    <div *ngIf="!sessionService.isSpecificDassault" class="row">
      <div class="form-group">
        <label class="form-label">
          {{ getComponentName() + ".user" | translate }}
        </label>

        <div class="form-control">
          <input type="text" class="aw-input" [(ngModel)]="missionEquipment.repleValidationUser" [disabled]="true" />
        </div>
      </div>
    </div>
  </div>
</div>
