@import "constants";
@import "mixins";

:host {
  .grid-cell-configuration-control {
    .list-with-details {
      .details,
      .list {
        max-height: 50rem;
      }

      .details {
        flex-grow: 1;

        .configuration-control-node-action-list {
          justify-content: flex-end;

          & > button {
            margin-right: $margin-value;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }

        .configuration-control-node-image {
          & > img {
            max-width: 100%;
            min-width: 100%;
          }
        }
      }

      .list {
        max-width: 40%;
        min-width: 40%;
      }
    }
  }

  .grid-cell-summary {
    .table-summary-wrapper {
      margin: 0 auto;
      max-width: 90%;
    }
  }

  .issue-asset,
  .receipt-asset {
    padding: 2px;
  }

  .issue-asset {
    background-color: lighten($green-light1, 20%);
  }

  .receipt-asset {
    background-color: lighten($red-light1, 20%);
  }

  .fl-node {
    font-weight: 600;
  }

  .node {
    margin-left: 2px;
  }

  td > span {
    display: block;
    padding: calc(#{$margin-value} - 4px);
    &.ok {
      background-color: $green-light1;
    }
    &.nok {
      background-color: $red-light1;
    }
    &.warning {
      background-color: $orange;
    }
    &.toBeRecorded {
      // background-color: $yellow1;
      background-color: $red-light1;
    }
  }

  .alert {
    display: inline-block;
    max-width: 7rem;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    text-align: center;
    width: 5rem;

    &.alert--ok {
      background-color: $green-light1;
    }

    &.alert--warning {
      background-color: $orange;
    }

    &.alert--nok {
      background-color: $red-light1;
    }
  }

  .custom-margin {
    margin-right: 5px !important;
  }
}

::ng-deep .grid-cell-configuration-control .list .asset-check-wrapper {
  max-width: 5rem;
  min-width: 5rem;
}

::ng-deep .grid-cell-configuration-control .list .asset-check-wrapper .asset-check {
  color: initial;
  font-style: initial;
}

::ng-deep .grid-cell-configuration-control .list .asset-type {
  @include flex-row();

  align-items: flex-start;
  font-size: 1.25rem;
  margin: 0 $margin-value;
}

::ng-deep .grid-cell-configuration-control .list .asset-data {
  @include flex-column();
}

::ng-deep .grid-cell-configuration-control .list .structure {
  display: inline-block;
  font-weight: 600;
}

::ng-deep .grid-cell-configuration-control .list .asset {
  font-style: italic;
}

::ng-deep .aw-overlay .action-list {
  justify-content: flex-end;

  .aw-btn {
    margin-left: $margin-value;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
