<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="section">
      <div class="section-content">
        <div class="column">
          <div class="row">
            <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
              <label class="form-label">{{ getComponentName() + ".pnCode" | translate }}</label>

              <div class="form-control form-control-with-modal" [ngClass]="{ disabled: !isCreateOpenMode }">
                <div class="form-control-data" (click)="openMaterialDialog()">
                  {{ bidtPurchaseContractElementDTO.birePnPnCode }}
                </div>

                <div *ngIf="bidtPurchaseContractElementDTO.birePnPnCode && !isReadOpenMode" class="btn-clear-wrapper">
                  <i
                    class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                    aria-hidden="true"
                    (click)="bidtPurchaseContractElementDTO.birePnPnCode = undefined"
                  ></i>
                </div>
                <div
                  *ngIf="bidtPurchaseContractElementDTO.birePnPnCode === undefined && !isReadOpenMode"
                  class="btn-search-wrapper"
                >
                  <i
                    class="fa fa-fw fa-search aw-icon btn-search"
                    aria-hidden="true"
                    (click)="openMaterialDialog()"
                  ></i>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label class="form-label">{{ getComponentName() + ".pceUnit" | translate }}</label>

              <div class="form-control">
                <input
                  maxlength="37"
                  class="aw-input"
                  [(ngModel)]="bidtPurchaseContractElementDTO.pceUnit"
                  [disabled]="isReadOpenMode"
                />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">{{ getComponentName() + ".pceQuantity" | translate }}</label>

              <div class="form-control">
                <input
                  type="text"
                  pKeyFilter="int"
                  maxlength="37"
                  class="aw-input"
                  [(ngModel)]="bidtPurchaseContractElementDTO.pceQuantity"
                  [disabled]="isReadOpenMode"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label class="form-label"
                >{{ getComponentName() + ".pcePriceExclTax" | translate }} ({{
                  bidtPurchaseContractElementDTO.pceCurrency
                }})</label
              >

              <div class="form-control">
                <input
                  #pciePriceExclTax="ngModel"
                  type="text"
                  [pKeyFilter]="inputValidationService.validatorOfMoney()"
                  [pValidateOnly]="true"
                  maxlength="37"
                  class="aw-input"
                  [(ngModel)]="bidtPurchaseContractElementDTO.pcePriceExclTax"
                  [disabled]="isReadOpenMode"
                  (blur)="calculatePrice()"
                />
                <p-message
                  *ngIf="pciePriceExclTax.invalid && (pciePriceExclTax.dirty || pciePriceExclTax.touched)"
                  severity="error"
                  [text]="inputValidationService.formatOfMoney()"
                ></p-message>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label">{{ getComponentName() + ".pceVat" | translate }}</label>

              <div class="form-control">
                <input
                  type="text"
                  [pKeyFilter]="inputValidationService.validatorOfMoney()"
                  maxlength="37"
                  class="aw-input"
                  [(ngModel)]="bidtPurchaseContractElementDTO.pceVat"
                  [disabled]="isReadOpenMode"
                  (blur)="calculatePrice()"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label class="form-label">{{ getComponentName() + ".pcePrice" | translate }}</label>

              <div class="form-control">
                <input
                  type="text"
                  pKeyFilter="money"
                  maxlength="37"
                  class="aw-input"
                  [(ngModel)]="bidtPurchaseContractElementDTO.pcePrice"
                  [disabled]="true"
                />
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">{{ getComponentName() + ".pceCurrency" | translate }}</label>

              <div class="form-control">
                <input
                  type="text"
                  pKeyFilter="alpha"
                  maxlength="37"
                  class="aw-input"
                  [(ngModel)]="bidtPurchaseContractElementDTO.pceCurrency"
                  [disabled]="isReadOpenMode"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label class="form-label">{{ getComponentName() + ".pceTimeLimit" | translate }}</label>

              <div class="form-control">
                <input
                  type="text"
                  pKeyFilter="int"
                  maxlength="37"
                  class="aw-input"
                  [(ngModel)]="bidtPurchaseContractElementDTO.pceTimeLimit"
                  [disabled]="isReadOpenMode"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">
      <span *ngIf="!isReadOpenMode">{{ "global.cancel" | translate }}</span>
      <span *ngIf="isReadOpenMode">{{ "global.close" | translate }}</span>
    </button>

    <button
      *ngIf="!isReadOpenMode"
      type="button"
      mat-raised-button
      color="primary"
      (click)="validate()"
      [disabled]="!bidtPurchaseContractElementDTO.birePnPnCode"
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-search-material
  *ngIf="showQuickSearchMaterialPopup"
  [(display)]="showQuickSearchMaterialPopup"
  [material-code]="bidtPurchaseContractElementDTO.birePnPnCode"
  (onSelected)="setSelectedMaterial($event)"
></aw-dialog-search-material>
