@import "constants";
@import "mixins";
@import "modifiers";

:host {
  .table-border-left {
    border-left: solid 1px #006ea9 !important;
  }

  .grid-cell.in-simulation {
    border-left-color: $orange;
    border-left-style: $border-style;
    border-left-width: $margin-value;
  }

  .grid-cell-detail {
    .form-control-potential-unit {
      width: 4rem;
    }
  }

  .grid-cell-scope {
    .ancestor-actions,
    .ancestor-data {
      background-color: $secondary-background-color;
    }

    .ancestor-actions {
      justify-content: flex-end;
      padding: $margin-value;
    }
  }

  .grid-cell-state-simulation {
    background-color: $orange;
    padding: 0;

    .grid-cell-title {
      color: $primary-text-color;
    }

    .simulation-criterion:not(:last-of-type)::after {
      content: " | ";
    }
  }

  .grid-cell-chart {
    .chart-container {
      @include flex-row();

      @media screen and (max-width: 1280px) {
        flex-direction: column;
      }

      .chart-legend {
        @include flex-column();

        justify-content: center;
        margin-left: $margin-value;

        .chart-legend-label {
          @include flex-row();

          align-items: center;

          .chart-legend-label-color {
            height: 0.75rem;
            margin-right: $margin-value;
            width: 2rem;

            &.quantity {
              background-color: #006ea9;
            }

            &.amount {
              background-color: #d3c632;
            }

            &.not-airworthy {
              background-color: $red-light1;
            }
          }
        }

        .chart-value {
          font-weight: 700;
          margin-left: $margin-value;
        }
      }

      .chart-wrapper {
        position: relative;
        height: 18rem;
        width: 30rem;
      }
    }
  }
}
