<a-modal class="aw-modal" [(visible)]="display" [width]="90">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <p-table
      [resizableColumns]="true"
      #ptableEvents
      class="aw-table2"
      [columns]="eventTableColList"
      [value]="eventTable"
      [(selection)]="eventTableSelection"
      [scrollable]="true"
      (onHeaderCheckboxToggle)="onSelectAllRows($event)"
      (onRowSelect)="onSelectRow()"
      (onRowUnselect)="onUnselectRow()"
    >
      <ng-template pTemplate="caption">
        <div class="aw-table-header" [ngClass]="{ 'rows-selected': eventTableSelection.length > 0 }">
          <div class="aw-table-global-filter">
            <label class="aw-table-global-filter-label">
              <i class="fa fa-fw fa-search" aria-hidden="true"></i>
            </label>

            <input
              class="aw-table-global-filter-input"
              type="text"
              placeholder="{{ 'table.globalFilterText' | translate }}"
              (input)="ptableEvents.filterGlobal($event.target.value, 'contains')"
            />
          </div>

          <div class="aw-table-actions">
            <button
              *ngIf="showRemoveFromWorkPackage"
              type="button"
              mat-raised-button
              (click)="removeSelectionFromWorkPackage()"
            >
              {{ "removeFromWorkPackage" | translate }}
            </button>

            <p-splitButton
              *ngIf="showAddToWorkPackage"
              [label]="'addToWorkPackage' | translate"
              class="aw-split-btn aw-table-action"
              [model]="workPackageItemList"
              appendTo="body"
            ></p-splitButton>

            <button
              *ngIf="eventTableSelection.length > 0"
              type="button"
              mat-raised-button
              (click)="updatePlannedDate()"
            >
              {{ getComponentName() + ".updatePlannedDate" | translate }}
            </button>

            <button *ngIf="eventTableSelection.length === 1" type="button" mat-raised-button (click)="editEvent()">
              {{ getComponentName() + ".editMainInformation" | translate }}
            </button>

            <button *ngIf="eventTableSelection.length === 1" type="button" mat-raised-button (click)="openEvent()">
              {{ "openObject" | translate: { value: eventTableSelection[0].formattedType } }}
            </button>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="aw-table-checkbox-wrapper" />
          <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="aw-table-checkbox-wrapper">
            <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
          </th>

          <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
            {{ getComponentName() + "." + col.field | translate }}
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td class="aw-table-checkbox-wrapper">
            <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
          </td>

          <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">
      {{ "close" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-forecast-form-defect
  *ngIf="showDefectDialog"
  [(display)]="showDefectDialog"
  [eventModel]="selectedEventModel"
></aw-dialog-forecast-form-defect>

<aw-dialog-forecast-form-planned-date
  *ngIf="showPlannedDateDialog"
  [(display)]="showPlannedDateDialog"
  (onSelected)="onSelectedPlannedDate($event)"
></aw-dialog-forecast-form-planned-date>

<aw-dialog-forecast-form-scheduled-event
  *ngIf="showScheduledEventDialog"
  [(display)]="showScheduledEventDialog"
  [eventModel]="selectedEventModel"
></aw-dialog-forecast-form-scheduled-event>
