<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="column">
      <div class="row">
        <div class="form-group" [ngClass]="{ required: !isReadOnlyForm }">
          <label class="form-label">{{ getComponentName() + ".evolutionNumber" | translate }} </label>

          <div class="form-control form-control-with-modal" [ngClass]="{ disabled: isReadOnlyForm }">
            <div class="form-control-data" (click)="openEvolutionDialog()">{{ evolution.evolutionNumber }}</div>

            <div *ngIf="evolution.evolutionNumber" class="btn-clear-wrapper">
              <i
                class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                aria-hidden="true"
                (click)="evolution.evolutionNumber = undefined; evolution.evolutionRevisionNumber = undefined"
              ></i>
            </div>
            <div class="btn-search-wrapper">
              <i class="fa fa-fw fa-search aw-icon btn-search" aria-hidden="true" (click)="openEvolutionDialog()"></i>
            </div>
          </div>
        </div>
      </div>

      <div
        *ngIf="evolution.evolutionRevisionNumber !== undefined && evolution.evolutionRevisionNumber !== null"
        class="row"
      >
        <div class="form-group" [ngClass]="{ required: !isReadOnlyForm }">
          <label class="form-label">{{ getComponentName() + ".evolutionRevisionNumber" | translate }} </label>

          <div class="form-control">
            <input type="text" class="aw-input" [(ngModel)]="evolution.evolutionRevisionNumber" [disabled]="true" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group" [ngClass]="{ required: !isReadOnlyForm }">
          <label class="form-label">{{ getComponentName() + ".taskEvolutionTypeCode" | translate }}</label>

          <div class="form-control">
            <p-dropdown
              class="aw-dropdown fixed-width"
              [options]="linkTypes"
              [(ngModel)]="evolution.taskEvolutionTypeCode"
              [disabled]="isReadOnlyForm"
              [showClear]="true"
              placeholder="&nbsp;"
              appendTo="body"
            ></p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="isReadOnlyForm" mat-raised-button (click)="closeDialog()">{{ "global.close" | translate }}</button>

    <button *ngIf="!isReadOnlyForm" mat-raised-button (click)="closeDialog()">{{ "global.cancel" | translate }}</button>

    <button *ngIf="!isReadOnlyForm" color="primary" mat-raised-button [disabled]="!isValidEvolution()" (click)="add()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-search-evolution-popup
  *ngIf="showEvolutionTableDialog"
  [evolutionNumber]="evolution.evolutionNumber"
  [evolutionRevisionNumber]="evolution.evolutionRevisionNumber"
  [(display)]="showEvolutionTableDialog"
  (onSelected)="onSelectedEvolution($event)"
>
</aw-dialog-search-evolution-popup>
