<div class="scheduler-filters-toggler">
  <i
    class="fa fa-fw fa-filter aw-icon aw-icon-with-border aw-icon-with-overlay"
    aria-hidden="true"
    pTooltip="{{ overlayVisible ? 'hideFilters' : ('showFilters' | translate) }}"
    tooltipPosition="top"
    [ngClass]="{ active: overlayVisible }"
    (click)="opFilters.toggle($event)"
  ></i>
</div>

<p-overlayPanel #opFilters styleClass="aw-overlay" (onShow)="showOverlay()" (onHide)="hideOverlay()" appendTo="body">
  <div class="section">
    <h4 class="section-title">
      {{ "upcomingEvents" | translate }}
    </h4>

    <div class="section-content">
      <div class="form-group form-group-no-margin">
        <div class="form-control">
          <p-selectButton
            [(ngModel)]="forecastFormService.forecastFiltering.upcomingEventTypeList"
            [options]="upcomingEventTypeList"
            multiple="multiple"
            (onChange)="filterForecast()"
          ></p-selectButton>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <h4 class="section-title">
      {{ getComponentName() + ".upcomingEventAssignment" | translate }}
    </h4>

    <div class="section-content">
      <div class="form-group form-group-no-margin">
        <div class="form-control">
          <p-selectButton
            [(ngModel)]="forecastFormService.forecastFiltering.upcomingEventStatusList"
            [options]="upcomingEventStatusList"
            multiple="multiple"
            (onChange)="filterForecast()"
          ></p-selectButton>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <h4 class="section-title">
      {{ "workPackages" | translate }}
    </h4>

    <div class="section-content">
      <div class="form-group form-group-no-margin">
        <div class="form-control">
          <p-selectButton
            [(ngModel)]="forecastFormService.forecastFiltering.workPackageStatusList"
            [options]="filteredWorkPackageStatusList"
            multiple="multiple"
            (onChange)="filterForecast()"
          ></p-selectButton>
        </div>
      </div>
    </div>
  </div>
</p-overlayPanel>
