<a-modal class="aw-modal" [(visible)]="display" [width]="75">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="section">
      <div class="section-content">
        <div class="row">
          <div class="form-group required">
            <label class="form-label">{{ getComponentName() + ".shipmentType" | translate }}</label>

            <div class="form-control">
              <p-dropdown
                appendTo="body"
                class="aw-dropdown fixed-width"
                placeholder="&nbsp;"
                [options]="dfTypes"
                [showClear]="true"
                [(ngModel)]="selectedDfType"
                (onChange)="onSelectedDfTypeChange()"
              ></p-dropdown>
            </div>
          </div>

          <div class="form-group required">
            <label class="form-label">{{ getComponentName() + ".expectedDate" | translate }}</label>

            <div class="form-control">
              <p-calendar
                showButtonBar="true"
                [monthNavigator]="true"
                [yearNavigator]="true"
                [yearRange]="sessionService.calendarYearRange"
                appendTo="body"
                class="aw-calendar"
                [dateFormat]="sessionService.dateFormatPrimeNG"
                [locale]="sessionService.calendarFormat"
                [(ngModel)]="selectedPlannedDate"
              ></p-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h4 class="section-title">{{ getComponentName() + ".sender" | translate }}</h4>

      <div class="section-content">
        <div class="row">
          <div class="form-group required">
            <label class="form-label">{{ getComponentName() + ".site" | translate }}</label>

            <div class="form-control">
              <p-dropdown
                appendTo="body"
                class="aw-dropdown fixed-width"
                placeholder="&nbsp;"
                [options]="sites"
                [showClear]="true"
                [(ngModel)]="selectedShipperSite"
                (onChange)="onChangeShipperSite()"
              ></p-dropdown>
            </div>
          </div>

          <div class="form-group flex--2" style="height: 47px;">
            <label class="form-label">
              {{ selectedShipperWarehouseCategory | formatSelectOption: warehouseCategories }}
            </label>

            <div class="form-control aw-selectbutton-wrapper aw-selectbutton-with-dropdown">
              <p-selectButton
                [options]="warehouseCategories"
                [(ngModel)]="selectedShipperWarehouseCategory"
                (onChange)="onChangeShipperWarehouseCategory()"
              ></p-selectButton>

              <p-dropdown
                appendTo="body"
                class="aw-dropdown"
                placeholder="&nbsp;"
                [options]="shipperWarehouses"
                [showClear]="true"
                [(ngModel)]="selectedShipperWarehouse"
              ></p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h4 class="section-title">{{ getComponentName() + ".recipient" | translate }}</h4>

      <div class="section-content">
        <div class="row" *ngIf="!showPartnerDropdown || contextComponent == componentContext.LOCALE">
          <div class="form-group required">
            <label class="form-label">{{ getComponentName() + ".site" | translate }}</label>

            <div class="form-control">
              <p-dropdown
                appendTo="body"
                class="aw-dropdown fixed-width"
                placeholder="&nbsp;"
                [options]="sites"
                [showClear]="true"
                [(ngModel)]="selectedRecipientSite"
                (onChange)="onChangeRecipientSite()"
              ></p-dropdown>
            </div>
          </div>

          <div class="form-group flex--2" style="height: 47px;">
            <label class="form-label">
              {{ selectedRecipientWarehouseCategory | formatSelectOption: warehouseCategories }}
            </label>

            <div class="form-control aw-selectbutton-wrapper aw-selectbutton-with-dropdown">
              <p-selectButton
                [options]="warehouseCategories"
                [(ngModel)]="selectedRecipientWarehouseCategory"
                (onChange)="onChangeRecipientWarehouseCategory()"
              ></p-selectButton>

              <p-dropdown
                appendTo="body"
                class="aw-dropdown"
                placeholder="&nbsp;"
                [options]="recipientWarehouses"
                [showClear]="true"
                [(ngModel)]="selectedRecipientWarehouse"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="showPartnerDropdown && contextComponent == componentContext.EXTERNAL">
          <div class="form-group required">
            <label class="form-label">{{ getComponentName() + ".partner" | translate }}</label>

            <div class="form-control">
              <p-dropdown
                appendTo="body"
                class="aw-dropdown fixed-width"
                placeholder="&nbsp;"
                [options]="businessPartnerList"
                [showClear]="true"
                [(ngModel)]="bidoCustomerReceiver"
              ></p-dropdown>
            </div>
          </div>
          <div class="form-group"></div>
          <div class="form-group"></div>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button mat-raised-button type="button" (click)="closeDialog()">{{ "global.cancel" | translate }}</button>

    <button
      mat-raised-button
      type="button"
      color="primary"
      [disabled]="!canValidate() || !isSitesOk()"
      (click)="validate()"
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
