<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div class="page-subtitle">- {{ "page.searchPage" | translate }}</div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button type="button" mat-raised-button (click)="createNewOperation()" *ngIf="hasUpdateAccessRight">
      {{ "global.create" | translate }}
    </button>
    <button
      id="actions"
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #actions="matMenu">
      <button id="favorites" mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ "global.search" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <div class="row search-criteria-header">
                  <i
                    class="fa fa-fw fa-undo aw-icon aw-icon-with-border search-criteria-action"
                    aria-hidden="true"
                    pTooltip="{{ 'global.reset' | translate }}"
                    tooltipPosition="top"
                    (click)="resetSearchCriteria()"
                  ></i>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".opeCode" | translate }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.opeCode" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".opeVersion" | translate }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.opeVersion" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".rangeCode" | translate }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.rangeCode" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">
                      {{ componentData.componentId + ".opeSequenceNumber" | translate }}
                    </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.opeSequenceNumber" />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="display--flex-row flex--1">
                    <div class="form-group">
                      <label class="form-label"> {{ componentData.componentId + ".opeChapter" | translate }} </label>

                      <div class="form-control">
                        <input type="text" class="aw-input" [(ngModel)]="searchObject.opeChapter" maxlength="2" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label"> {{ componentData.componentId + ".opeSection" | translate }} </label>

                      <div class="form-control">
                        <input type="text" class="aw-input" [(ngModel)]="searchObject.opeSection" maxlength="2" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label"> {{ componentData.componentId + ".opeSubject" | translate }} </label>

                      <div class="form-control">
                        <input type="text" class="aw-input" [(ngModel)]="searchObject.opeSubject" maxlength="2" />
                      </div>
                    </div>
                  </div>

                  <div class="display--flex-row flex--1">
                    <div class="form-group">
                      <label class="form-label"> {{ componentData.componentId + ".opeSheet" | translate }} </label>

                      <div class="form-control">
                        <input type="text" class="aw-input" [(ngModel)]="searchObject.opeSheet" maxlength="5" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label"> {{ componentData.componentId + ".opeMarks" | translate }} </label>

                      <div class="form-control">
                        <input type="text" class="aw-input" [(ngModel)]="searchObject.opeMarks" maxlength="5" />
                      </div>
                    </div>
                  </div>

                  <div class="form-group flex--2"></div>
                </div>

                <div class="advanced-criteria" [ngClass]="{ 'display--none': !showAdvancedCriteria }">
                  <div class="row">
                    <div class="form-group">
                      <label class="form-label">
                        {{ componentData.componentId + ".opeDesignation" | translate }}
                      </label>

                      <div class="form-control">
                        <input type="text" class="aw-input" [(ngModel)]="searchObject.opeDesignation" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label">
                        {{ componentData.componentId + ".opeDescription" | translate }}
                      </label>

                      <div class="form-control">
                        <input type="text" class="aw-input" [(ngModel)]="searchObject.opeDescription" />
                      </div>
                    </div>

                    <div class="form-group flex--2"></div>
                  </div>
                </div>

                <div class="row search-criteria-footer">
                  <button mat-button (click)="showAdvancedCriteria = !showAdvancedCriteria">
                    <ng-container *ngIf="showAdvancedCriteria">
                      <mat-icon>remove</mat-icon>
                      {{ "global.collapseCriteria" | translate }}
                    </ng-container>
                    <ng-container *ngIf="!showAdvancedCriteria">
                      <mat-icon>add</mat-icon>
                      {{ "global.expandCriteria" | translate }}
                    </ng-container>
                  </button>

                  <div class="search-actions">
                    <button
                      type="button"
                      mat-raised-button
                      class="btn-with-spinner"
                      (click)="search()"
                      color="primary"
                      appKeyPress
                      [keyCode]="'Enter'"
                      (keyPress)="search()"
                    >
                      <span *ngIf="isLoading" class="lds-hourglass"></span>
                      {{ "global.toSearch" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div #resultsContainerAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ "global.results" | translate }} ({{
                    operationTableDataSource ? operationTableDataSource.dataCount : 0
                  }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <a-table [dataSource]="operationTableDataSource">
                <ng-template tableActionsDef>
                  <button
                    *ngIf="
                      operationTableDataSource &&
                      operationTableDataSource.hasData &&
                      !operationTableDataSource.hasDataSelection
                    "
                    type="button"
                    mat-raised-button
                    (click)="exportTable()"
                  >
                    {{ "global.export" | translate }}
                  </button>

                  <button
                    *ngIf="hasManageAccessRight && operationTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    color="warn"
                    (click)="deleteSelectedOperations()"
                  >
                    {{ "global.delete" | translate }}
                  </button>

                  <button
                    *ngIf="operationTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    (click)="openSelectedOperations()"
                  >
                    {{ "global.open" | translate }}
                  </button>
                </ng-template>
                <ng-template columnDef="opeCode" let-rowData="rowData">
                  <a (click)="openOperationLink(rowData)"> {{ rowData.opeCode }} </a>
                </ng-template>
                <ng-template columnDef="isOperator" let-rowData="rowData">
                  <i
                    *ngIf="rowData.isOperator !== null && rowData.isOperator"
                    class="fa fa-fw fa-check"
                    aria-hidden="true"
                  ></i>
                </ng-template>
                <ng-template columnDef="isOwner" let-rowData="rowData">
                  <i
                    *ngIf="rowData.isOwner !== null && rowData.isOwner"
                    class="fa fa-fw fa-check"
                    aria-hidden="true"
                  ></i>
                </ng-template>
              </a-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
