@import "constants";
@import "mixins";

$table-header-height: 24px;

:host {
  .grid-cell-search {
    .search-actions {
      button {
        margin-left: $margin-value;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }

  .additionalInformationLabel {
    display: flex;
    flex-direction: row;
    color: #01579b;
    line-height: 1.75rem;
    margin-left: calc(8px * 2);
    font-size: 1rem;
  }

  .grid-cell-stock-mvt-list {
    .table {
      @include flex-column();

      position: relative;
      width: 100%;

      .batch-nb {
        width: 7.5%;
      }

      .date {
        width: 7.5%;
      }

      .illustration {
        width: 7.5%;
      }

      .material {
        width: 15%;
      }

      .quantity {
        text-align: right;
        width: 5%;
      }

      .serial-nb {
        width: 7.5%;
      }

      .source {
        width: 17.5%;
      }

      .status {
        text-align: center;
        width: 5%;
      }

      .stock {
        width: 17.5%;
      }

      .type {
        width: 5%;
      }

      .unit {
        width: 5%;
      }

      .table-body,
      .table-header {
        .table-cell {
          padding: 0 calc(#{$margin-value} / 2);
        }
      }

      .table-header {
        background-color: $primary-background-color;
        position: sticky;
        top: $topbar-height;
        z-index: 1;

        .table-row {
          @include flex-row();

          border-bottom: $border-width $border-style $border-color;
          max-height: $table-header-height;
          min-height: $table-header-height;
        }

        .table-actions {
          @include flex-row();

          padding-bottom: $margin-value;

          .row-actions {
            @include flex-row();

            align-items: flex-end;
            justify-content: flex-end;

            & > .aw-btn {
              margin-left: $margin-value;

              &:first-of-type {
                margin-left: 0;
              }
            }
          }

          .table-filters {
            @include flex-row();

            align-items: center;
            margin-right: $margin-value;

            & > .aw-icon {
              font-size: 1.125rem;
              line-height: 2rem;
              width: 2rem;
            }
          }

          .table-global-filter {
            @include flex-row();

            align-items: baseline;
            flex-grow: 1;
            padding-right: 5%;

            .global-filter-input {
              @include input();
              @include placeholder {
                color: $secondary-text-color;
                font-weight: 400;
              }

              min-width: 12rem;
              width: 12rem;

              transition: border-bottom-color 0.25s ease-in-out, width 0.5s ease;

              &:focus {
                border-bottom-color: $accent-color;
                outline: none;
                width: 100%;
              }
            }
          }
        }
      }

      .table-body {
        min-height: calc(#{$margin-value} * 5);

        .table-row {
          @include flex-row();

          border-bottom: $border-width $border-style $secondary-background-color;
          cursor: pointer;
          padding: $margin-value 0;

          &:hover {
            background-color: $secondary-background-color;
          }

          &.selected {
            background-color: #b6deff;
            border-bottom: 1px solid #b6deff;
            border-top: 1px solid #b6deff;

            &.executed {
              border-bottom: calc(2 * #{$border-width}) $border-style $border-color;
            }

            &.first {
              border-top-width: $border-width;
            }
          }

          .table-cell {
            @include flex-column();

            &.illustration img {
              max-height: 6rem;
            }

            &.material {
              .material-code {
                font-weight: 600;
              }

              .material-designation {
                font-style: italic;
              }

              .label {
                width: 3rem;

                &.available {
                  width: 5rem;
                }
              }
            }

            &.serial-nb {
              font-weight: 600;
            }

            &.source {
              &.source-default,
              .pr-code,
              .wo-code {
                font-weight: 600;
              }

              &.source-wo {
                .label {
                  width: 2.5rem;
                }
              }

              .wo-designation {
                font-style: italic;
              }
            }

            &.status {
              & > span {
                padding: calc(#{$margin-value} / 2);

                &.executed {
                  background-color: $green-light1;
                }

                &.out-dated {
                  background-color: $red-light1;
                }

                &.requested {
                  background-color: $orange;
                }
              }
            }

            &.stock {
              .label {
                width: 5rem;
              }
            }

            .additional-data {
              margin-top: $margin-value;
            }

            .label {
              display: inline-block;
            }

            .value {
              font-weight: bold;
            }

            a {
              color: $accent-color;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .table-row-details {
          @include flex-column();

          border-bottom: 1px solid #b6deff;
          border-top: 1px solid #b6deff;
          border-right: 1px solid #b6deff;
          border-left: 1px solid #b6deff;

          &.endWp {
            border-bottom: calc(2 * #{$border-width}) $border-style $blue-dark1;
          }

          .table-row-details-header {
            margin-bottom: $margin-value;
          }
        }
      }
    }
  }

  .table-filters-overlay {
    @include flex-row();

    .column {
      margin: 0 16px;
    }

    .filters {
      @include flex-column();

      & > * {
        margin: $margin-value 0 !important;
      }

      .aw-dropdown {
        overflow: visible !important;
      }
    }
  }

  .ok {
    background-color: $green-light1 !important;
    width: 30%;
    text-align: center;
  }

  .warning {
    background-color: $orange !important;
    width: 30%;
    text-align: center;
  }

  .nok {
    background-color: $red-light1 !important;
    width: 30%;
    text-align: center;
  }

  .main-data-block {
    .grid-cell-content {
      & > .column {
        .form-group {
          margin-bottom: 4px !important;
        }
      }
    }
  }

  .work-package-block {
    .grid-cell-content {
      & > .column {
        .form-group {
          &.form-group-inline {
            &.form-group-no-margin {
              margin: 4px 0 4px 0 !important;

              .form-label {
                width: 65px;
              }
            }
          }
        }
      }
    }
  }

  .material-availability-block {
    .grid-cell-content {
      & > .column {
        align-items: center;

        label {
          width: 4rem;
        }

        .form-group {
          align-items: center;

          &.form-group-inline {
            &.form-group-no-margin {
              margin: 4px 0 4px 0 !important;
            }
          }

          .form-control-generic {
            flex-direction: row;
            justify-content: center;
            min-width: 4rem;
            padding: 0 $margin-value;

            &.nok {
              background-color: $red-light1;
            }

            &.ok {
              background-color: $green-light1;
            }

            &.warn {
              background-color: $orange;
            }
          }
        }
      }
    }
  }

  .material-availability-horizontal-block {
    .row {
      label {
        width: 4rem;
      }

      .form-group {
        align-items: center;

        &.form-group-no-margin {
          margin: 4px 0 4px 0 !important;

          .form-label {
            text-align: center;
          }

          .form-control {
            flex-direction: row;
            text-align: center;
            min-width: 4rem;
            padding: 0 $margin-value;
            margin: 8px 16px 0px 16px !important;
            line-height: 2;

            &.nok {
              background-color: $red-light1;
            }

            &.ok {
              background-color: $green-light1;
            }

            &.warn {
              background-color: $orange;
            }
          }
        }
      }
    }
  }
}
