<div class="page-header-container">
  <div class="page-context">
    <div class="page-title-container">
      <div class="page-title">
        {{ "transaction." + getComponentName() | translate }}
      </div>

      <div class="page-secondary-actions">
        <i
          class="fa fa-fw aw-icon aw-icon-with-border"
          [ngClass]="{ 'fa-star': isFavoriteEntry, 'fa-star-o': !isFavoriteEntry }"
          aria-hidden="true"
          (click)="updateFavoriteState()"
          pTooltip="{{ 'page.' + (isFavoriteEntry ? 'removeFromFavorites' : 'addToFavorites') | translate }}"
          tooltipPosition="bottom"
        ></i>
      </div>
    </div>

    <div class="page-subtitle-container">
      <div class="page-subtitle">
        {{ componentContext }}
      </div>
    </div>
  </div>
  <div class="page-primary-actions">
    <button type="button" mat-raised-button (click)="onReload()">
      {{ "global.refresh" | translate }}
    </button>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container full-width">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--6">
          <div #forecastInfos class="grid-cell grid-cell--container main-data-block">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ "page.mainData" | translate }}
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <div class="row">
                  <div class="form-group">
                    <label class="form-label">
                      {{ getComponentName() + ".mroCenter" | translate }}
                    </label>
                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [(ngModel)]="mainDataInformation.mroCenter"
                        [disabled]="true"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">
                      {{ getComponentName() + ".numberOfAircraft" | translate }}
                    </label>
                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [(ngModel)]="mainDataInformation.aircraftNumber"
                        [disabled]="true"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label class="form-label">
                      {{ getComponentName() + ".startDate" | translate }}
                    </label>
                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [(ngModel)]="mainDataInformation.startDate"
                        [disabled]="true"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">
                      {{ getComponentName() + ".endDate" | translate }}
                    </label>
                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="mainDataInformation.endDate" [disabled]="true" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-cell--3">
          <div #ForecastInfos class="grid-cell grid-cell--container work-package-block">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ getComponentName() + ".workPackages" | translate }}
                </h3>
              </div>
            </div>

            <div class="grid-cell-content " *ngIf="statusList">
              <div class="column">
                <div
                  *ngFor="
                    let status of statusList | slice: startFirstPartStatusList:endFirstPartStatusList;
                    let i = index
                  "
                  class="form-group form-group-inline form-group-no-margin"
                >
                  <label class="form-label">
                    {{ status.label }}
                  </label>

                  <div class="form-control">
                    <div class="form-control-generic">
                      {{ status.value }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div
                  *ngFor="let status of statusList | slice: endFirstPartStatusList; let i = index"
                  class="form-group form-group-inline form-group-no-margin"
                >
                  <label class="form-label">
                    {{ status.label }}
                  </label>

                  <div class="form-control">
                    <div class="form-control-generic">
                      {{ status.value }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-cell--3">
          <aw-material-availability-indicators [procurementRequests]="procurementRequests">
          </aw-material-availability-indicators>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-cell--12">
          <aw-procurement-requests-table [procurementRequests]="procurementRequests"></aw-procurement-requests-table>
        </div>
      </div>
    </div>
  </div>
</div>
