<a-modal class="aw-table-fullscreen" [(visible)]="display" [fullScreen]="true">
  <a-header>
    <div class="modal-title">
      {{ getComponentName() + ".title" | translate }}
    </div>

    <div class="close-wrapper">
      <i class="aw-icon aw-icon-with-border fa fa-fw fa-minus" (click)="closeDialog()"></i>
    </div>
  </a-header>

  <a-content>
    <div class="column">
      <div class="row top-bar">
        <div class="calendar-navigation">
          <button type="button" class="calendar-navigation__btn-today" (click)="showCurrentMonth()">
            {{ "calendar.today" | translate }}
          </button>

          <button type="button" class="calendar-navigation__btn-previous-month" (click)="showPreviousMonth()">
            <i class="fa fa-fw fa-chevron-left" aria-hidden="true"></i>
          </button>

          <button type="button" class="calendar-navigation__btn-next-month" (click)="showNextMonth()">
            <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
          </button>
        </div>

        <div class="current-date">
          {{ currentYear }}.{{ currentMonth.toString().length === 1 ? "0" + currentMonth : currentMonth }}
        </div>

        <!-- <div class="calendar-search">
          <input
            class="calendar-search__input"
            type="text"
            placeholder="{{ 'global.search' | translate }}"
            [(ngModel)]="searchText"
            (keyup)="search(searchText)"
          />

          <i
            class="material-icons calendar-search__btn"
            [ngClass]="{ visible: isSearchClearButtonVisible() }"
            (click)="clearSearchText()"
            >close</i
          >
        </div> -->
      </div>

      <div class="row">
        <div class="calendar" [ngClass]="{ 'on-resize': resizedWorkPackage }">
          <div class="calendar__header">
            <div class="calendar-day-header" *ngFor="let dayName of dayNamesShort">
              {{ "calendar." + dayName | translate }}
            </div>
          </div>

          <div
            class="calendar__week"
            *ngFor="let _ of ' '.repeat(calendarDays.length / 7).split(''); let weekIndex = index"
          >
            <div
              id="drop-wp-{{ weekIndex }}-{{ weekDayIndex }}"
              class="calendar-day-container"
              pDroppable="dd-work-package"
              (onDrop)="dropWorkPackage($event)"
              *ngFor="
                let calendarDay of calendarDays.slice(weekIndex * 7, (weekIndex + 1) * 7);
                let weekDayIndex = index
              "
              (mouseup)="endResize($event)"
            >
              <div class="calendar-month-day-header" [ngClass]="{ 'droppable-work-package': draggedWorkPackage }">
                <div class="calendar-month-day-wrapper" (click)="openCalendarDayDialog($event)">
                  <div
                    class="calendar-month-day"
                    [ngClass]="{
                      'current-month': calendarDay.moment.month() + 1 === currentMonth,
                      today:
                        calendarDay.moment.format('D') === today &&
                        calendarDay.moment.month() + 1 === todayMonth &&
                        calendarDay.moment.year() == todayYear,
                      'search-result': selectedCalendarDays.includes(+weekIndex * 7 + +weekDayIndex)
                    }"
                  >
                    {{ calendarDay.moment.format("D") }}
                  </div>
                </div>

                <!-- <div class="calendar-day-alerts">
                        <i class="fa fa-exclamation-triangle warning" aria-hidden="true" (click)="openAlertDialog($event)"></i>
                        <i class="fa fa-exclamation-circle danger" aria-hidden="true" (click)="openAlertDialog($event)"></i>
                    </div> -->
              </div>

              <div class="calendar-day-events" [ngClass]="{ 'resizable-work-package': resizedWorkPackage }">
                <div
                  class="calendar-day-fake-work-package"
                  *ngFor="let _ of ' '.repeat(calendarDay._fakeWorkPackageNb).split('')"
                ></div>

                <div
                  id="drop-me-{{ workPackage.id }}"
                  class="calendar-day-work-package"
                  pDroppable="dd-maintenance-events"
                  (onDrop)="dropMaintenanceEvent($event)"
                  [ngClass]="{
                    'droppable-maintenance-event': draggedMaintenanceEvent,
                    'draggable-work-package': draggedWorkPackage && draggedWorkPackage.id === workPackage.id,
                    'status-simulated': workPackage.isSimulated,
                    'status-scheduled': workPackage.isScheduled,
                    'status-other': !workPackage.isSimulated && !workPackage.isScheduled
                  }"
                  [ngStyle]="{
                    width: 'calc(' + workPackage.weekDuration + ' * 100% + ' + (workPackage.weekDuration - 1) + '* 7px)'
                  }"
                  *ngFor="let workPackage of calendarDay.workPackages"
                >
                  <i
                    *ngIf="showStartDateResizeHandler(workPackage, weekIndex)"
                    class="fa fa-fw fa-ellipsis-v start-date-resize-handler"
                    aria-hidden="true"
                    (mousedown)="updateWorkPackageStartDate($event, workPackage)"
                  ></i>

                  <div
                    *ngIf="
                      calendarDay.moment.date() === workPackage.startDate.date() &&
                      calendarDay.moment.month() === workPackage.startDate.month()
                    "
                    class="calendar-day-work-package-icon"
                  >
                    <i class="fa fa-fw fa-folder-open" aria-hidden="true"></i>
                  </div>

                  <div
                    id="drag-wp-{{ weekIndex }}-{{ weekDayIndex }}"
                    class="calendar-day-work-package-name"
                    pDraggable="dd-work-package"
                    (onDragStart)="startWorkPackageDrag($event, workPackage)"
                    (onDragEnd)="endWorkPackageDrag()"
                    (click)="openWorkPackageDialog($event, workPackage)"
                  >
                    <span>WP n°{{ workPackage.name }}</span>
                  </div>

                  <i
                    *ngIf="showEndDateResizeHandler(workPackage, weekIndex)"
                    class="fa fa-fw fa-ellipsis-v end-date-resize-handler"
                    aria-hidden="true"
                    (mousedown)="updateWorkPackageEndDate($event, workPackage)"
                  ></i>
                </div>

                <div
                  class="calendar-day-flight"
                  *ngIf="calendarDay.flights && calendarDay.flights.length > 0"
                  (click)="openFlightDialog($event, calendarDay.flights)"
                >
                  <div class="calendar-day-flight-icon"><i class="fa fa-fw fa-plane" aria-hidden="true"></i></div>

                  <div class="calendar-day-flight-name">
                    {{ calendarDay.flights.length }}
                    <span *ngIf="calendarDay.flights.length === 1">{{ "global.flight" | translate }}</span>
                    <span *ngIf="calendarDay.flights.length !== 1">{{ "global.flights" | translate }}</span>
                  </div>
                </div>

                <div
                  class="calendar-day-maintenance-event"
                  [ngStyle]="{
                    'border-bottom-width':
                      draggedMaintenanceEvent && draggedMaintenanceEvent.id === maintenanceEvent.id ? '1px' : '0'
                  }"
                  *ngFor="let maintenanceEvent of calendarDay.maintenanceEvents"
                  (click)="openMaintenanceEventDialog($event)"
                >
                  <div class="calendar-day-maintenance-event-icons">
                    <i
                      class="fa fa-fw fa-circle calendar-day-maintenance-event-group-icon"
                      [style.color]="maintenanceEvent.color"
                      aria-hidden="true"
                    ></i>
                    <i
                      class="fa fa-fw calendar-day-maintenance-event-type-icon"
                      [ngClass]="maintenanceEvent.icon"
                      aria-hidden="true"
                    ></i>
                  </div>

                  <div
                    id="drag-me-{{ weekIndex }}-{{ weekDayIndex }}"
                    class="calendar-day-maintenance-event-name"
                    pDraggable="dd-maintenance-events"
                    (onDragStart)="startMaintenanceEventDrag($event, maintenanceEvent)"
                    (onDragEnd)="endMaintenanceEventDrag()"
                  >
                    {{ maintenanceEvent.name }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a-content>
</a-modal>

<aw-dialog-work-package
  *ngIf="showCalendarDayDialog"
  [(display)]="showCalendarDayDialog"
  [startDate]="selectedDate"
  (onValidated)="createWorkPackage($event)"
></aw-dialog-work-package>

<aw-dialog-work-package
  *ngIf="showWorkPackageDialog"
  [(display)]="showWorkPackageDialog"
  [workPackage]="selectedWorkPackage"
></aw-dialog-work-package>
