<div class="grid-cell-header">
  <div class="grid-cell-title-container">
    <div class="grid-cell-title">
      <span>{{ getComponentName() + ".passengersLoads" | translate }}</span>
    </div>
  </div>
</div>

<div class="grid-cell-content grid-cell-content-with-section">
  <div class="section">
    <div class="section-content">
      <div class="row">
        <div class="row">
          <div id="passengers" class="form-group">
            <label class="form-label">
              {{ getComponentName() + ".passengers" | translate }}
            </label>

            <div class="form-control">
              <input type="text" class="aw-input" [(ngModel)]="passengers" [disabled]="isReadOpenMode" />
            </div>
          </div>

          <div id="shipment" class="form-group">
            <label class="form-label">
              {{ getComponentName() + ".shipment" | translate }}
            </label>

            <div class="form-control">
              <input type="text" class="aw-input" [(ngModel)]="shipment" [disabled]="isReadOpenMode" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <aw-dialog-add-load
    *ngIf="dialogAddLoadVisible"
    [(display)]="dialogAddLoadVisible"
    [defaultVolumeUnitCode]="defaultVolumeUnitCode"
    [loadCategoryList]="remainingloadCategoryList"
    [uomList]="uomList"
    (onValidate)="onAddedLoad($event)"
  ></aw-dialog-add-load>

  <aw-dialog-edit-load
    *ngIf="dialogEditLoadVisible"
    [(display)]="dialogEditLoadVisible"
    [loadRow]="loadTableSelection"
    [uomList]="uomList"
    (onValidate)="onEditedLoad($event)"
  ></aw-dialog-edit-load>
</div>
