<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div class="page-subtitle">- {{ "page.searchPage" | translate }}</div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #actions="matMenu">
      <button mat-menu-item (click)="refresh()">{{ "global.refresh" | translate }}</button>
      <button mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div #resultsContainerAnchor class="grid-cell grid-cell--container">
            <!-- Background jobs table -->

            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ "global.results" | translate }} ({{
                    backgroundJobsTableDataSource ? backgroundJobsTableDataSource.dataCount : 0
                  }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <a-table [dataSource]="backgroundJobsTableDataSource">
                <ng-template tableActionsDef>
                  <button
                    *ngIf="backgroundJobsTableDataSource && backgroundJobsTableDataSource.hasData"
                    type="button"
                    mat-raised-button
                    (click)="exportTable()"
                  >
                    {{ "global.export" | translate }}
                  </button>
                </ng-template>
              </a-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
