<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="column">
      <div class="form-group required">
        <label class="form-label">{{ getComponentName() + ".packBaseOptionCode" | translate }}</label>
        <div class="form-control">
          <p-dropdown
            class="aw-dropdown fixed-width"
            [options]="optionCodeList"
            [(ngModel)]="selectedOptionCode"
            [showClear]="true"
            placeholder="&nbsp;"
            appendTo="body"
            [disabled]="isReadOpenMode"
          ></p-dropdown>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button type="button" color="primary" mat-raised-button (click)="validate()" [disabled]="!selectedOptionCode">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
