<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">{{ getComponentName() + ".supplier" | translate }}</label>

      <div class="form-control">
        <p-dropdown
          class="aw-dropdown fixed-width"
          placeholder="&nbsp;"
          [options]="supplier"
          [(ngModel)]="supplierDetail.bidoCustomerCustomerCode"
          [showClear]="true"
          appendTo="body"
          [disabled]="isReadOpenMode"
        ></p-dropdown>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">{{ getComponentName() + ".delay" | translate }}</label>

      <div class="form-control">
        <input
          #numberOfDays="ngModel"
          type="text"
          class="aw-input"
          [pKeyFilter]="inputValidationService.validatorOfNumber()"
          [pValidateOnly]="true"
          maxlength="10"
          [(ngModel)]="supplierDetail.numberOfDays"
          [disabled]="isReadOpenMode"
        />
        <p-message
          *ngIf="numberOfDays.invalid && (numberOfDays.dirty || numberOfDays.touched)"
          severity="error"
          [text]="inputValidationService.formatOfNumber()"
        ></p-message>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">{{ getComponentName() + ".quantity" | translate }}</label>

      <div class="form-control">
        <input
          #productQuantity="ngModel"
          type="text"
          class="aw-input"
          [pKeyFilter]="inputValidationService.validatorOfNumber()"
          [pValidateOnly]="true"
          maxlength="50"
          [(ngModel)]="supplierDetail.productQuantity"
          [disabled]="isReadOpenMode"
        />
        <p-message
          *ngIf="productQuantity.invalid && (productQuantity.dirty || productQuantity.touched)"
          severity="error"
          [text]="inputValidationService.formatOfNumber()"
        ></p-message>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">{{ getComponentName() + ".price" | translate }}</label>

      <div class="form-control">
        <input
          #priceValue="ngModel"
          type="text"
          style="width:80%"
          class="aw-input"
          [pKeyFilter]="inputValidationService.validatorOfNumber()"
          [pValidateOnly]="true"
          maxlength="50"
          [(ngModel)]="supplierDetail.priceValue"
          [disabled]="isReadOpenMode"
        />
        <span style="width:20%;padding-top:1em; float:right">{{ getComponentName() + ".euro" | translate }}</span>
        <p-message
          *ngIf="priceValue.invalid && (priceValue.dirty || priceValue.touched)"
          severity="error"
          [text]="inputValidationService.formatOfNumber()"
        ></p-message>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">{{ getComponentName() + ".serviceType" | translate }}</label>

      <div class="form-control">
        <p-dropdown
          class="aw-dropdown fixed-width"
          placeholder="&nbsp;"
          [options]="serviceType"
          [(ngModel)]="supplierDetail.serviceType"
          [showClear]="true"
          appendTo="body"
          [disabled]="isReadOpenMode"
        ></p-dropdown>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="cancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button
      *ngIf="!isReadOpenMode"
      type="button"
      mat-raised-button
      color="primary"
      color="primary"
      (click)="validate()"
      [disabled]="
        (numberOfDays.invalid && (numberOfDays.dirty || numberOfDays.touched)) ||
        (productQuantity.invalid && (productQuantity.dirty || productQuantity.touched)) ||
        (priceValue.invalid && (priceValue.dirty || priceValue.touched)) ||
        !isScreenValid()
      "
    >
      {{ "global.validate" | translate }}
    </button>
    <button *ngIf="isReadOpenMode" type="button" mat-raised-button (click)="cancel()">
      {{ "global.close" | translate }}
    </button>
  </a-footer>
</a-modal>
