@import "constants";
@import "mixins";

.red {
  color: $red-light1;
}

.green {
  color: $green-light1;
}

.yellow {
  color: $orange;
}

.action-list {
  justify-content: flex-end;

  .aw-btn {
    margin-left: $margin-value;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.filter-list {
  display: none;
  padding: $margin-value;

  &.visible {
    display: block;
  }
}

.object-details {
  border: $border-width $border-style $accent-color;
  border-radius: $border-radius;
  padding: $margin-value;
  margin-bottom: calc(#{$margin-value} * 5);

  .actions-bar {
    @include flex-row();

    justify-content: flex-end;
  }
}

.task-configuration {
  margin-right: 0.5rem;
}
