<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div *ngIf="componentData && componentData.objectId" class="page-subtitle">
          - {{ assetMaintenanceData.assetText }}
        </div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <!-- <p-splitButton
      *ngIf="!isLoadingTaskTable && selectedTasks.length === 0"
      class="aw-split-btn"
      label="{{ getComponentName() + '.potentialUnit' | translate }} {{
        potentialUnitSelected ? '(' + potentialUnitSelected + ')' : potentialUnitSelected
      }}"
      [model]="potentialUnitList"
    ></p-splitButton> -->

    <button
      *ngIf="!isLoadingTaskTable && selectedTasks.length === 0 && !!assetMaintenanceData.ampCode"
      type="button"
      mat-raised-button
      (click)="compare()"
    >
      {{ getComponentName() + ".compare" | translate }}
    </button>

    <button
      *ngIf="!isLoadingTaskTable && selectedTasks.length === 0 && assetMaintenanceData.isPlanApproved === true"
      type="button"
      mat-raised-button
      (click)="approvePlan(false)"
    >
      {{ getComponentName() + ".disapprove" | translate }}
    </button>

    <button
      *ngIf="!isLoadingTaskTable && selectedTasks.length === 0 && assetMaintenanceData.isPlanApproved === false"
      type="button"
      mat-raised-button
      (click)="approvePlan(true)"
    >
      {{ getComponentName() + ".approve" | translate }}
    </button>

    <button
      id="actions"
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #actions="matMenu">
      <button type="button" mat-menu-item (click)="refresh()">{{ "global.refresh" | translate }}</button>
      <button id="favorites" mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container loading-indicator">
                <div class="grid-cell-title"><div *ngIf="isAssetLoading" class="lds-hourglass"></div></div>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <div class="row">
                  <div class="form-group">
                    <label class="form-label"> {{ "global.asset" | translate }} </label>

                    <div class="form-control">
                      <a (click)="openEquipment()" style="cursor: pointer;"> {{ assetMaintenanceData.assetText }} </a>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ getComponentName() + ".flightHour" | translate }} </label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        maxlength="100"
                        [(ngModel)]="assetMaintenanceData.assetTSN"
                        [disabled]="true"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ getComponentName() + ".customisationStatus" | translate }} </label>

                    <div class="form-control">
                      <div class="form-control-generic">
                        <span *ngIf="assetMaintenanceData.customisationStatusIcon === 'green'" class="alert alert--ok">
                          {{ "global.alertOk" | translate }}
                        </span>

                        <span *ngIf="assetMaintenanceData.customisationStatusIcon === 'red'" class="alert alert--nok">
                          {{ "global.alertNok" | translate }}
                        </span>

                        <span
                          *ngIf="assetMaintenanceData.customisationStatusIcon === 'yellow'"
                          class="alert alert--warning"
                        >
                          {{ "global.alertWarning" | translate }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label"> {{ "global.registration" | translate }} </label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        maxlength="10"
                        [(ngModel)]="assetMaintenanceData.assetRegistration"
                        [disabled]="true"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ getComponentName() + ".flightCycle" | translate }} </label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        maxlength="10"
                        [(ngModel)]="assetMaintenanceData.assetCSN"
                        [disabled]="true"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ "global.eisDate" | translate }} </label>

                    <div class="form-control">
                      <p-calendar
                        showButtonBar="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [yearRange]="sessionService.calendarYearRange"
                        class="aw-calendar"
                        [dateFormat]="sessionService.dateFormatPrimeNG"
                        [locale]="sessionService.calendarFormat"
                        [(ngModel)]="assetMaintenanceData.assetEisDate"
                        [disabled]="true"
                      ></p-calendar>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label">
                      {{ getComponentName() + ".asociatedMaintenancePlan" | translate }}
                    </label>

                    <div class="form-control">
                      <a (click)="openMaintenanceProgram(assetMaintenanceData.ampCode)" style="cursor: pointer;">
                        {{ assetMaintenanceData.ampName }}
                      </a>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ getComponentName() + ".revisionNumber" | translate }} </label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        maxlength="10"
                        [(ngModel)]="assetMaintenanceData.ampRevision"
                        [disabled]="true"
                      />
                    </div>
                  </div>

                  <div class="form-group" *ngIf="!remainingEquivalentPotential"></div>
                  <div class="form-group" *ngIf="remainingEquivalentPotential">
                    <label class="form-label">
                      {{ getComponentName() + ".remainingEquivalentPotential" | translate }}
                    </label>

                    <div class="form-control">
                      <span
                        [ngClass]="{
                          red: remainingEquivalentPotentialColor === 'red',
                          green: remainingEquivalentPotentialColor === 'green'
                        }"
                        >{{ remainingEquivalentPotential }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ getComponentName() + ".taskHeading" | translate }} ({{ tasks ? tasks.length : 0 }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content grid-cell-content-with-section">
              <div class="section">
                <div class="section-content">
                  <div class="row">
                    <div class="form-group">
                      <div class="form-control">
                        <p-dropdown
                          class="aw-dropdown fixed-width"
                          [options]="referencesList"
                          [(ngModel)]="referenceSelected"
                        ></p-dropdown>
                      </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="form-group"></div>
                  </div>
                  <div class="row">
                    <p-table
                      [resizableColumns]="true"
                      #ptableTask
                      class="aw-table2"
                      [columns]="taskTableCols"
                      [value]="tasks"
                      [(selection)]="selectedTasks"
                      [scrollable]="true"
                      dataKey="dataKey"
                      (onRowSelect)="setActions()"
                      (onRowUnselect)="setActions()"
                      (onHeaderCheckboxToggle)="setActions()"
                      [paginator]="true"
                      [rows]="TABLE_PAGINATION_DEFAULT_ROWS"
                    >
                      <ng-template pTemplate="emptymessage">
                        <span *ngIf="!isLoadingTaskTable"> &nbsp;</span>

                        <div *ngIf="isLoadingTaskTable" class="aw-table-loading-indicator">
                          <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                          <div class="lds-hourglass"></div>
                        </div>
                      </ng-template>

                      <ng-template pTemplate="caption">
                        <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedTasks.length > 0 }">
                          <div class="aw-table-global-filter">
                            <label class="aw-table-global-filter-label">
                              <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                            </label>

                            <input
                              #ptableTaskGlobalFilter
                              class="aw-table-global-filter-input"
                              type="text"
                              placeholder="{{ 'table.globalFilterText' | translate }}"
                              (input)="ptableTask.filterGlobal($event.target.value, 'contains')"
                            />
                          </div>

                          <div class="aw-table-actions">
                            <p-splitButton
                              *ngIf="showTaskConfigurationList()"
                              class="aw-split-btn task-configuration"
                              label="{{ getComponentName() + '.taskConfiguration' | translate }}"
                              [model]="taskConfigurationList"
                            ></p-splitButton>

                            <p-splitButton
                              *ngIf="!isLoadingTaskTable"
                              class="aw-split-btn"
                              label="{{ getComponentName() + '.navigate' | translate }}"
                              [model]="navigationLinkList"
                            ></p-splitButton>

                            <button
                              *ngIf="tasks.length > 0 && selectedTasks.length === 0"
                              type="button"
                              mat-raised-button
                              (click)="exportTable()"
                              title="Export due list"
                            >
                              {{ "global.export" | translate }}
                            </button>
                          </div>
                        </div>
                      </ng-template>

                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col class="aw-table-checkbox-wrapper" [ngStyle]="{ width: '2.5rem' }" />
                          <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                          <col [ngStyle]="{ width: '5%', 'text-align': 'left' }" />
                        </colgroup>
                      </ng-template>

                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th class="aw-table-checkbox-wrapper" [ngStyle]="{ width: '2.5rem' }">
                            <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                          </th>

                          <th
                            pResizableColumn
                            *ngFor="let col of columns"
                            [ngStyle]="{ 'text-align': col.alignment, width: col.width }"
                          >
                            {{ componentData.componentId + "." + col.field | translate }}
                          </th>
                          <th [ngStyle]="{ width: '5%', 'text-align': 'left' }"></th>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" *ngIf="rowData.conf !== 'red'">
                          <td class="aw-table-checkbox-wrapper" [ngStyle]="{ width: '2.5rem' }">
                            <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                          </td>

                          <ng-container *ngFor="let col of columns">
                            <td
                              *ngIf="col.field === 'taskCode'"
                              [attr.rowspan]="rowData['rowSpan']"
                              [ngStyle]="{ 'text-align': col.alignment, width: col.width }"
                            >
                              <a (click)="openTaskCode(rowData)">
                                <span *ngIf="!rowData.conf">{{ rowData[col.field] }}</span>
                                <span *ngIf="rowData.conf === 'green'" class="green">{{ rowData[col.field] }}</span>
                              </a>
                            </td>

                            <td
                              *ngIf="col.field === 'version'"
                              [attr.rowspan]="rowData['rowSpan']"
                              [ngStyle]="{ 'text-align': col.alignment, width: col.width }"
                            >
                              {{ rowData[col.field] }}
                            </td>

                            <td
                              *ngIf="col.field === 'designation'"
                              [attr.rowspan]="rowData['rowSpan']"
                              [ngStyle]="{ 'text-align': col.alignment, width: col.width }"
                            >
                              {{ rowData[col.field] }}
                            </td>

                            <td
                              *ngIf="col.field !== 'taskCode' && col.field !== 'version' && col.field !== 'designation'"
                              [ngStyle]="{ 'text-align': col.alignment, width: col.width }"
                            >
                              {{ rowData[col.field] }}
                            </td>
                          </ng-container>
                          <td
                            class="row-expand-wrapper"
                            [pRowToggler]="rowData"
                            [ngStyle]="{ width: '5%', 'text-align': 'left' }"
                          >
                            <i
                              class="fa fa-fw aw-icon aw-icon-with-border"
                              [ngClass]="rowData.expand ? 'fa-minus' : 'fa-plus'"
                              aria-hidden="true"
                              pTooltip="{{ 'global.showTableRowDetails' | translate }}"
                              tooltipPosition="top"
                              (click)="toggleRowDetailsVisibility(rowData)"
                            ></i>
                          </td>
                        </tr>
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" *ngIf="rowData.conf === 'red'">
                          <td class="aw-table-checkbox-wrapper" [ngStyle]="{ width: '2.5rem' }">
                            <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                          </td>

                          <td [attr.rowspan]="rowData['rowSpan']" [ngStyle]="{ 'text-align': 'left', width: '10%' }">
                            <span class="red">{{ rowData.groupCode }}</span>
                          </td>

                          <td
                            [attr.colspan]="columns.length"
                            [attr.rowspan]="rowData['rowSpan']"
                            [ngStyle]="{ 'text-align': 'left' }"
                          >
                            {{ getComponentName() + "." + "msgSelectTask" | translate }}
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                        <tr class="row-expanded">
                          <td [attr.colspan]="columns.length + 2">
                            <div class="column forced-backgroung">
                              <div class="row">
                                <div class="form-group flex--1" [ngClass]="{ required: !isReadOpenMode }">
                                  <label class="form-label">
                                    {{ getComponentName() + "." + "taskType" | translate }}
                                  </label>

                                  <div class="form-control">
                                    <input
                                      type="text"
                                      class="aw-input"
                                      maxlength="50"
                                      [(ngModel)]="rowData.taskType"
                                      [disabled]="true"
                                    />
                                  </div>
                                </div>

                                <div class="form-group flex--1" [ngClass]="{ required: !isReadOpenMode }">
                                  <label class="form-label">
                                    {{ getComponentName() + "." + "groupCode" | translate }}
                                  </label>

                                  <div class="form-control">
                                    <input
                                      type="text"
                                      class="aw-input"
                                      maxlength="50"
                                      [(ngModel)]="rowData.groupCode"
                                      [disabled]="true"
                                    />
                                  </div>
                                </div>
                                <div class="form-group flex--1" [ngClass]="{ required: !isReadOpenMode }">
                                  <label class="form-label">
                                    {{ getComponentName() + "." + "firstPeriodicity" | translate }}
                                  </label>

                                  <div class="form-control">
                                    <input
                                      type="text"
                                      class="aw-input"
                                      maxlength="50"
                                      [(ngModel)]="rowData.firstPeriodicity"
                                      [disabled]="true"
                                    />
                                  </div>
                                </div>
                                <div class="form-group flex--1" [ngClass]="{ required: !isReadOpenMode }">
                                  <label class="form-label">
                                    {{ getComponentName() + "." + "periodicityType" | translate }}
                                  </label>

                                  <div class="form-control">
                                    <input
                                      type="text"
                                      class="aw-input"
                                      maxlength="50"
                                      [(ngModel)]="rowData.periodicityType"
                                      [disabled]="true"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="form-group flex--1" [ngClass]="{ required: !isReadOpenMode }">
                                  <label class="form-label">
                                    {{ getComponentName() + "." + "tolerance" | translate }}
                                  </label>

                                  <div class="form-control">
                                    <input
                                      type="text"
                                      class="aw-input"
                                      maxlength="50"
                                      [(ngModel)]="rowData.tolerance"
                                      [disabled]="true"
                                    />
                                  </div>
                                </div>

                                <div class="form-group flex--1" [ngClass]="{ required: !isReadOpenMode }">
                                  <label class="form-label">
                                    {{ getComponentName() + "." + "alertThreshold" | translate }}
                                  </label>

                                  <div class="form-control">
                                    <input
                                      type="text"
                                      class="aw-input"
                                      maxlength="50"
                                      [(ngModel)]="rowData.alertThreshold"
                                      [disabled]="true"
                                    />
                                  </div>
                                </div>

                                <div class="form-group flex--1" [ngClass]="{ required: !isReadOpenMode }">
                                  <label class="form-label">
                                    {{ getComponentName() + "." + "comments" | translate }}
                                  </label>

                                  <div class="form-control">
                                    <input
                                      type="text"
                                      class="aw-input"
                                      maxlength="50"
                                      [(ngModel)]="rowData.comments"
                                      [disabled]="true"
                                    />
                                  </div>
                                </div>
                                <div class="form-group flex--1"></div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<aw-asset-mp-report-popup-form
  *ngIf="showReportPopup"
  [reportContent]="reportText"
  [(display)]="showReportPopup"
></aw-asset-mp-report-popup-form>

<!-- <aw-dialog-table
  *ngIf="showItemTaskSearchPopup"
  [keyMap]="taskKeyMap"
  [(display)]="showItemTaskSearchPopup"
  [data]="dialogTaskSearchTableData"
  (onSelected)="addTask($event)"
></aw-dialog-table> -->

<aw-dialog-search-task
  *ngIf="showItemTaskSearchPopup"
  [(display)]="showItemTaskSearchPopup"
  (onSelected)="addTask($event)"
></aw-dialog-search-task>

<aw-asset-dialog-task-counters
  *ngIf="taskCountersVisible"
  [(display)]="taskCountersVisible"
  [selectedRow]="selectedBaseMpRowInput"
  (onClose)="refreshTasks()"
></aw-asset-dialog-task-counters>

<aw-task-report-popup-form
  *ngIf="showTaskReportPopup"
  [reportContent]="taskReportText"
  [(display)]="showTaskReportPopup"
></aw-task-report-popup-form>
