<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".damageManagement" | translate }}</div>
  </a-header>

  <a-content>
    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">{{ getComponentName() + ".itemVersion" | translate }}</label>
      <div class="form-control">
        <p-dropdown
          class="aw-dropdown fixed-width"
          placeholder="&nbsp;"
          [showClear]="true"
          [options]="itemVersionList"
          [(ngModel)]="versionNumber"
          [disabled]="isReadOpenMode"
          appendTo="body"
        ></p-dropdown>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">{{ getComponentName() + ".damageCode" | translate }}</label>

      <div class="form-control form-control-with-modal" [ngClass]="{ disabled: isReadOpenMode }">
        <div class="form-control-data" (click)="showDamageDialog()">{{ bireDamageDTO.damageCode }}</div>

        <div *ngIf="bireDamageDTO.damageCode" class="btn-clear-wrapper">
          <i
            class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
            aria-hidden="true"
            (click)="bireDamageDTO.damageCode = undefined"
          ></i>
        </div>
        <div class="btn-search-wrapper">
          <i class="fa fa-fw fa-search aw-icon btn-search" aria-hidden="true" (click)="showDamageDialog()"></i>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="isReadOpenMode" type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.close" | translate }}</span>
    </button>

    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button
      *ngIf="!isReadOpenMode"
      type="button"
      mat-raised-button
      color="primary"
      [disabled]="!versionNumber || !bireDamageDTO.damageCode"
      (click)="onValidate()"
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-damage-list-popup
  *ngIf="showDamageListDialog"
  [(display)]="showDamageListDialog"
  (onCreate)="setSelectedItems($event)"
></aw-damage-list-popup>
