<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div class="page-subtitle">- {{ "page.searchPage" | translate }}</div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #actions="matMenu">
      <button mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <aw-fleet-data-form
        (searchLaunched)="searchLaunched($event)"
        (selectedTypeUpdated)="selectedTypeUpdated($event)"
        (resultsTableAircraftUpdated)="resultsTableAircraftUpdated($event)"
        (resultsTableEngineUpdated)="resultsTableEngineUpdated($event)"
        (resultsTableEquipmentUpdated)="resultsTableEquipmentUpdated($event)"
      ></aw-fleet-data-form>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div #resultsContainerAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 *ngIf="selectedType === 'aircraft'" class="grid-cell-title">
                  {{ "global.results" | translate }} ({{
                    resultsTableAircraft.list ? resultsTableAircraft.list.length : 0
                  }}{{ resultsTableAircraft.moreResults ? "+" : "" }})
                </h3>
                <h3 *ngIf="selectedType === 'engine'" class="grid-cell-title">
                  {{ "global.results" | translate }} ({{ resultsTableEngine.list ? resultsTableEngine.list.length : 0
                  }}{{ resultsTableEngine.moreResults ? "+" : "" }})
                </h3>
                <h3 *ngIf="selectedType === 'equipment'" class="grid-cell-title">
                  {{ "global.results" | translate }} ({{
                    resultsTableEquipment.list ? resultsTableEquipment.list.length : 0
                  }}{{ resultsTableEquipment.moreResults ? "+" : "" }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <p-table
                [resizableColumns]="true"
                *ngIf="selectedType === 'aircraft'"
                #tableAircraft
                class="aw-table2"
                [columns]="resultsTableCols"
                [value]="resultsTableAircraft.list"
                [(selection)]="selectedAircrafts"
                [scrollable]="true"
              >
                <ng-template pTemplate="emptymessage">
                  <span *ngIf="!isLoading"> &nbsp;</span>

                  <div *ngIf="isLoading" class="aw-table-loading-indicator">
                    <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                    <div class="lds-hourglass"></div>
                  </div>
                </ng-template>

                <ng-template pTemplate="caption">
                  <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedAircrafts.length > 0 }">
                    <div class="aw-table-global-filter">
                      <label class="aw-table-global-filter-label">
                        <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                      </label>

                      <input
                        #ptableResultsGlobalFilter
                        class="aw-table-global-filter-input"
                        type="text"
                        placeholder="{{ 'table.globalFilterText' | translate }}"
                        (input)="tableAircraft.filterGlobal($event.target.value, 'contains')"
                      />
                    </div>

                    <div class="aw-table-actions">
                      <button
                        *ngIf="selectedAircrafts.length > 0"
                        type="button"
                        mat-raised-button
                        (click)="openSelectedAircrafts()"
                      >
                        {{ componentData.componentId + ".copyData" | translate }}
                      </button>
                    </div>
                  </div>
                </ng-template>

                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="aw-table-checkbox-wrapper" />
                    <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                  </colgroup>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="aw-table-checkbox-wrapper">
                      <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                    </th>
                    <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                      {{ componentData.componentId + "." + col.field | translate }}
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                    <td class="aw-table-checkbox-wrapper">
                      <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                    </td>

                    <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
                      <span *ngSwitchCase="'asset'">
                        <a *ngIf="rowData['pnCode']" (click)="openLinkAircraft(rowData['equipmentCode'])">
                          {{ "P/N " + rowData["pnCode"] }}</a
                        >
                        <a *ngIf="rowData['sn']" (click)="openLinkAircraft(rowData['equipmentCode'])">
                          {{ " | S/N " + rowData["sn"] }}</a
                        >
                      </span>
                      <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>

              <p-table
                [resizableColumns]="true"
                *ngIf="selectedType === 'engine'"
                #tableEngine
                class="aw-table2"
                [columns]="resultsTableCols"
                [value]="resultsTableEngine.list"
                [(selection)]="selectedEngines"
                [scrollable]="true"
              >
                <ng-template pTemplate="emptymessage">
                  <span *ngIf="!isLoading"> &nbsp;</span>

                  <div *ngIf="isLoading" class="aw-table-loading-indicator">
                    <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                    <div class="lds-hourglass"></div>
                  </div>
                </ng-template>

                <ng-template pTemplate="caption">
                  <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedEngines.length > 0 }">
                    <div class="aw-table-global-filter">
                      <label class="aw-table-global-filter-label">
                        <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                      </label>

                      <input
                        #ptableResultsGlobalFilter
                        class="aw-table-global-filter-input"
                        type="text"
                        placeholder="{{ 'table.globalFilterText' | translate }}"
                        (input)="tableEngine.filterGlobal($event.target.value, 'contains')"
                      />
                    </div>

                    <div class="aw-table-actions">
                      <button
                        *ngIf="selectedEngines.length > 0"
                        type="button"
                        mat-raised-button
                        (click)="openSelectedEngines()"
                      >
                        {{ componentData.componentId + ".copyData" | translate }}
                      </button>
                    </div>
                  </div>
                </ng-template>

                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="aw-table-checkbox-wrapper" />
                    <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                  </colgroup>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="aw-table-checkbox-wrapper">
                      <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                    </th>
                    <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                      {{ componentData.componentId + "." + col.field | translate }}
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                    <td class="aw-table-checkbox-wrapper"><p-tableCheckbox [value]="rowData"></p-tableCheckbox></td>

                    <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
                      <span *ngSwitchCase="'asset'">
                        <a *ngIf="rowData['pnCode']" (click)="openLinkEngine(rowData['equipmentCode'])">
                          {{ "P/N " + rowData["pnCode"] }}</a
                        >
                        <a *ngIf="rowData['sn']" (click)="openLinkEngine(rowData['equipmentCode'])">
                          {{ " | S/N " + rowData["sn"] }}</a
                        >
                      </span>
                      <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>

              <p-table
                [resizableColumns]="true"
                *ngIf="selectedType === 'equipment'"
                #tableEquipment
                class="aw-table2"
                [columns]="resultsTableCols"
                [value]="resultsTableEquipment.list"
                [(selection)]="selectedEquipments"
                [scrollable]="true"
              >
                <ng-template pTemplate="emptymessage">
                  <span *ngIf="!isLoading"> &nbsp;</span>
                  <div *ngIf="isLoading" class="aw-table-loading-indicator">
                    <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                    <div class="lds-hourglass"></div>
                  </div>
                </ng-template>

                <ng-template pTemplate="caption">
                  <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedEquipments.length > 0 }">
                    <div class="aw-table-global-filter">
                      <label class="aw-table-global-filter-label">
                        <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                      </label>

                      <input
                        #ptableResultsGlobalFilter
                        class="aw-table-global-filter-input"
                        type="text"
                        placeholder="{{ 'table.globalFilterText' | translate }}"
                        (input)="tableEquipment.filterGlobal($event.target.value, 'contains')"
                      />
                    </div>

                    <div class="aw-table-actions">
                      <button
                        *ngIf="selectedEquipments.length > 0"
                        type="button"
                        mat-raised-button
                        (click)="openSelectedEquipments()"
                      >
                        {{ componentData.componentId + ".copyData" | translate }}
                      </button>
                    </div>
                  </div>
                </ng-template>

                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="aw-table-checkbox-wrapper" />
                    <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                  </colgroup>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="aw-table-checkbox-wrapper">
                      <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                    </th>
                    <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                      {{ componentData.componentId + "." + col.field | translate }}
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                    <td class="aw-table-checkbox-wrapper"><p-tableCheckbox [value]="rowData"></p-tableCheckbox></td>

                    <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
                      <span *ngSwitchCase="'asset'">
                        <a *ngIf="rowData['pnCode']" (click)="openLinkEquipment(rowData['equipmentCode'])">
                          {{ "P/N " + rowData["pnCode"] }}</a
                        >
                        <a *ngIf="rowData['sn']" (click)="openLinkEquipment(rowData['equipmentCode'])">
                          {{ " | S/N " + rowData["sn"] }}</a
                        >
                      </span>
                      <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <aw-fleet-data-copy-popup
    *ngIf="showFleetDataCopyPopup"
    [(display)]="showFleetDataCopyPopup"
    [assets]="currentAssets"
  ></aw-fleet-data-copy-popup>
</div>
