<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div class="page-subtitle">- {{ "page.searchPage" | translate }}</div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button type="button" mat-raised-button (click)="openNewAttributeForm()" *ngIf="hasUpdateAccessRight">
      {{ "global.create" | translate }}
    </button>
    <button
      id="actions"
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #actions="matMenu">
      <button id="favorites" mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <!-- All attributes table -->

          <div #resultsContainerAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 *ngIf="selectedType === component.TYPE_ALL" class="grid-cell-title">
                  {{ "global.list" | translate }} ({{ allTableDataSource ? allTableDataSource.dataCount : 0 }})
                </h3>
                <h3 *ngIf="selectedType === component.TYPE_ENGINEERING" class="grid-cell-title">
                  {{ "global.list" | translate }} ({{
                    engineeringTableDataSource ? engineeringTableDataSource.dataCount : 0
                  }})
                </h3>
                <h3 *ngIf="selectedType === component.TYPE_FLEET" class="grid-cell-title">
                  {{ "global.list" | translate }} ({{ fleetTableDataSource ? fleetTableDataSource.dataCount : 0 }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="row">
                <div class="form-group form-group-type">
                  <label class="form-label"> &nbsp; </label>
                  <div class="form-control aw-selectbutton-wrapper">
                    <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
                  </div>
                </div>

                <div class="form-group form-group-category" *ngIf="selectedType === component.TYPE_ENGINEERING">
                  <label class="form-label"> &nbsp; </label>
                  <div class="form-control">
                    <p-dropdown
                      class="aw-dropdown fixed-width"
                      [(ngModel)]="categoryEngineeringValue"
                      placeholder="&nbsp;"
                      [options]="engineeringCategoryList"
                      (onChange)="reloadEngineeringAttributeList()"
                    ></p-dropdown>
                  </div>
                </div>

                <div class="form-group form-group-category" *ngIf="selectedType === component.TYPE_FLEET">
                  <label class="form-label"> &nbsp; </label>
                  <div class="form-control">
                    <p-dropdown
                      class="aw-dropdown fixed-width"
                      [(ngModel)]="categoryFleetValue"
                      [options]="fleetCategoryList"
                      placeholder="&nbsp;"
                      (onChange)="reloadFleetAttributeList()"
                    >
                    </p-dropdown>
                  </div>
                </div>
              </div>

              <a-table [dataSource]="allTableDataSource" *ngIf="selectedType === component.TYPE_ALL">
                <ng-template tableActionsDef>
                  <button
                    *ngIf="allTableDataSource.hasData && !allTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    (click)="exportAllTable()"
                  >
                    {{ "global.export" | translate }}
                  </button>

                  <button
                    *ngIf="hasManageAccessRight && allTableDataSource.hasDataSelection && isStandardCheckEnginerring()"
                    type="button"
                    mat-raised-button
                    color="warn"
                    (click)="deleteSelectedAllAttributeConfirm()"
                  >
                    {{ "global.delete" | translate }}
                  </button>

                  <button
                    *ngIf="allTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    (click)="openSelectedAttribute()"
                  >
                    {{ "global.open" | translate }}
                  </button>
                </ng-template>

                <ng-template columnDef="isStandard" let-rowData="rowData">
                  <i
                    *ngIf="rowData.isStandard !== null && rowData.isStandard"
                    class="fa fa-fw fa-check"
                    aria-hidden="true"
                  >
                  </i>
                </ng-template>
              </a-table>

              <!-- Engineering attributes table -->

              <a-table [dataSource]="engineeringTableDataSource" *ngIf="selectedType === component.TYPE_ENGINEERING">
                <ng-template tableActionsDef>
                  <button
                    *ngIf="engineeringTableDataSource.hasData && !engineeringTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    (click)="exportEngineeringTable()"
                  >
                    {{ "global.export" | translate }}
                  </button>

                  <button
                    *ngIf="
                      hasManageAccessRight &&
                      engineeringTableDataSource.hasDataSelection &&
                      isStandardCheckEnginerring()
                    "
                    type="button"
                    mat-raised-button
                    color="warn"
                    (click)="deleteSelectedEngineeringAttribute()"
                  >
                    {{ "global.delete" | translate }}
                  </button>

                  <button
                    *ngIf="engineeringTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    (click)="openSelectedAttribute()"
                  >
                    {{ "global.open" | translate }}
                  </button>
                </ng-template>

                <ng-template columnDef="isStandard" let-rowData="rowData">
                  <i
                    *ngIf="rowData.isStandard !== null && rowData.isStandard"
                    class="fa fa-fw fa-check"
                    aria-hidden="true"
                  >
                  </i>
                </ng-template>
              </a-table>

              <!-- Fleet attributes table -->

              <a-table [dataSource]="fleetTableDataSource" *ngIf="selectedType === component.TYPE_FLEET">
                <ng-template tableActionsDef>
                  <button
                    *ngIf="fleetTableDataSource.hasData && !fleetTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    (click)="exportFleetTable()"
                  >
                    {{ "global.export" | translate }}
                  </button>

                  <button
                    *ngIf="hasManageAccessRight && fleetTableDataSource.hasDataSelection && isStandardCheckFleet()"
                    type="button"
                    mat-raised-button
                    color="warn"
                    (click)="deleteSelectedFleetAttribute()"
                  >
                    {{ "global.delete" | translate }}
                  </button>

                  <button
                    *ngIf="fleetTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    (click)="openSelectedAttribute()"
                  >
                    {{ "global.open" | translate }}
                  </button>
                </ng-template>

                <ng-template columnDef="isStandard" let-rowData="rowData">
                  <i
                    *ngIf="rowData.isStandard !== null && rowData.isStandard"
                    class="fa fa-fw fa-check"
                    aria-hidden="true"
                  >
                  </i>
                </ng-template>
              </a-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
