<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ getComponentName() + ".measureOfEquipment" | translate }}
      </div>

      <div class="page-subtitle">
        <div class="page-subtitle">
          <span *ngIf="!!bidoEquipmentDTO"> - P/N {{ bidoEquipmentDTO.pnCode }}</span>
          <span *ngIf="!!bidoEquipmentDTO.sn"> | S/N {{ bidoEquipmentDTO.sn }} </span>
          <span *ngIf="!!equipment && !!equipment.bidoEquipmentDTO">
            | {{ equipment.bidoEquipmentDTO.equipmentDesignation }}</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button
      id="actions"
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #actions="matMenu">
      <button type="button" mat-menu-item (click)="refresh()">
        {{ "global.refresh" | translate }}
      </button>
      <button id="favorites" mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container grid-cell-scope  custom-height">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container  loading-indicator">
                <h3 class="grid-cell-title">
                  {{ "transaction." + componentData.componentId | translate }}
                  ({{ bidoMeasuresDisplayed ? bidoMeasuresDisplayed.length : 0 }})
                  <div *ngIf="isLoadingMeasureTable" class="lds-hourglass"></div>
                </h3>
              </div>
            </div>

            <!-- Chart -->
            <div class="grid-cell-content" *ngIf="showMeasureChart">
              <div class="grid-cell-chart custom-width">
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container loading-indicator">
                    <div class="grid-cell-title">
                      <div *ngIf="isLoadingMeasureTable" class="lds-hourglass"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group flex--2">
                    <label class="form-label"> {{ tsnLabel }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input tsn" [(ngModel)]="tsn" [disabled]="true" />
                    </div>
                  </div>
                  <div class="form-group flex--2">
                    <label class="form-label"> {{ csnLabel }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input csn" [(ngModel)]="csn" [disabled]="true" />
                    </div>
                  </div>
                  <div class="form-group flex--2">
                    <p-selectButton
                      [options]="measureTypes"
                      [(ngModel)]="selectedMeasureType"
                      (onChange)="setMeasureChartData()"
                    ></p-selectButton>
                  </div>

                  <div class="form-group flex--2">
                    <label class="form-label">{{ getComponentName() + ".from" | translate }}</label>

                    <div class="form-control">
                      <p-calendar
                        showButtonBar="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [yearRange]="sessionService.calendarYearRange"
                        class="aw-calendar"
                        [dateFormat]="sessionService.dateFormatPrimeNG"
                        [locale]="sessionService.calendarFormat"
                        [(ngModel)]="startDate"
                        (onSelect)="setMeasureChartData()"
                        (onInput)="setMeasureChartData()"
                      ></p-calendar>
                    </div>
                  </div>

                  <div class="form-group flex--2">
                    <label class="form-label">{{ getComponentName() + ".to" | translate }}</label>

                    <div class="form-control">
                      <p-calendar
                        showButtonBar="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [yearRange]="sessionService.calendarYearRange"
                        class="aw-calendar"
                        [dateFormat]="sessionService.dateFormatPrimeNG"
                        [locale]="sessionService.calendarFormat"
                        [(ngModel)]="endDate"
                        (onSelect)="setMeasureChartData()"
                        (onInput)="setMeasureChartData()"
                      ></p-calendar>
                    </div>
                  </div>
                </div>

                <div class="row flex-row--justify-center">
                  <div class="chart-container flex--1">
                    <div class="chart-wrapper custom-width custom-height">
                      <p-chart
                        type="line"
                        [data]="measureVariationData"
                        [options]="measureChartOptions"
                        width="100%"
                        height="100%"
                      ></p-chart>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Table -->
            <div class="grid-cell-content grid-cell-content-with-section">
              <div class="section">
                <h4 class="section-title">{{ getComponentName() + ".results" | translate }}</h4>
                <div class="section-content">
                  <p-table
                    #ptableMeasures
                    class="aw-table2"
                    [columns]="measuresTableCols"
                    [value]="bidoMeasuresDisplayed"
                    [(selection)]="selectedMeasure"
                    [scrollable]="true"
                    [paginator]="true"
                    [rows]="TABLE_PAGINATION_DEFAULT_ROWS"
                  >
                    <ng-template pTemplate="emptymessage">
                      <span *ngIf="!isLoadingMeasureTable"> &nbsp;</span>

                      <div *ngIf="isLoadingMeasureTable" class="aw-table-loading-indicator">
                        <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                        <div class="lds-hourglass"></div>
                      </div>
                    </ng-template>

                    <ng-template pTemplate="caption">
                      <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedMeasure.length > 0 }">
                        <div class="aw-table-global-filter">
                          <label class="aw-table-global-filter-label">
                            <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                          </label>

                          <input
                            #ptableMeasuresGlobalFilter
                            class="aw-table-global-filter-input"
                            type="text"
                            placeholder="{{ 'table.globalFilterText' | translate }}"
                            (input)="ptableMeasures.filterGlobal($event.target.value, 'contains')"
                          />
                        </div>

                        <div class="aw-table-actions"></div>
                      </div>
                    </ng-template>

                    <ng-template pTemplate="colgroup" let-columns>
                      <colgroup>
                        <col class="aw-table-checkbox-wrapper" />
                        <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                      </colgroup>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th class="aw-table-checkbox-wrapper">
                          <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                        </th>

                        <th *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                          {{ getComponentName() + "." + col.field | translate }}
                        </th>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                        <td class="aw-table-checkbox-wrapper">
                          <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                        </td>

                        <td
                          *ngFor="let col of columns"
                          [ngSwitch]="col.field"
                          [ngStyle]="{ 'text-align': col.alignment }"
                        >
                          <span *ngSwitchCase="'counterCode'">
                            <span>
                              {{ rowData[col.field] }}
                            </span>
                          </span>
                          <span
                            class="custom-padding"
                            *ngSwitchCase="'remainingValue'"
                            [style.background-color]="getAlertIcon(rowData)"
                            pTooltip="{{ getAlertIconTooltip(rowData) }}"
                          >
                            {{ rowData[col.field] }}
                          </span>
                          <span *ngSwitchDefault>
                            {{ rowData[col.field] }}
                          </span>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
