@import "constants";
@import "mixins";

:host {
  a-content {
    .menu {
      max-width: 50vw;
      min-width: 50vw;

      @media screen and (max-width: 1600px) {
        max-width: 75vw;
        min-width: 75vw;
      }
    }

    .filtered-menu-list {
      font-size: 1rem;
      margin: calc(#{$margin-value} * 0.5) auto 0 auto;
      max-height: 100%;
      max-width: 25rem;
      min-width: 25rem;
      overflow-y: auto;

      ul {
        margin: 0 $margin-value;

        li {
          transition-duration: 0.3s;
          transition-property: background-color, color;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            color: $accent-color;
            cursor: pointer;
          }

          .search-result {
            margin: 0 auto;
            padding: calc(#{$margin-value} * 1.5);
          }
        }
      }
    }

    .menu-filter-wrapper {
      @include flex-row();

      background-color: $primary-background-color;
      font-size: 1.25rem;
      justify-content: center;
      position: sticky;
      top: 0;

      & > .form-group {
        max-width: 25rem;
      }
    }

    .menu-wrapper {
      @include flex-row();

      margin-top: calc(#{$margin-value} * 2);
      max-height: 30rem;
      min-height: 30rem;

      .sub-menu-entry-list {
        @include flex-row();

        flex-grow: 1;
        flex-wrap: wrap;

        .menu-entry-wrapper {
          @include flex-column();

          padding: calc(#{$margin-value} * 2);
          width: 19rem;

          .menu-entry {
            @include flex-row();

            align-items: flex-end;
            font-size: 1.125rem;
            font-variant: small-caps;
            font-weight: 600;
            line-height: 1;
            max-width: fit-content;
            padding-bottom: $margin-value;
          }

          .sub-menu-entry-wrapper {
            @include flex-row();

            padding-top: $margin-value;

            .sub-menu-entry {
              cursor: pointer;

              transition: color 0.3s;

              &:hover {
                color: $accent-color;
              }
            }
          }
        }
      }

      .top-menu-entry-list {
        font-size: 1.25rem;
        font-variant: small-caps;
        margin-right: calc(#{$margin-value} * 4);
        max-width: 15rem;
        min-width: 15rem;

        & > div {
          cursor: pointer;
          padding: calc(#{$margin-value} * 2) $margin-value;
          text-align: right;

          transition-duration: 0.3s;
          transition-property: background-color, color;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            color: $accent-color;
          }

          &.active {
            background-color: $accent-color;
            color: $primary-background-color;
          }
        }
      }
    }
  }
}
