<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="close-wrapper">
      <i class="aw-icon aw-icon-with-border material-icons" (click)="closeDialog()">close</i>
    </div>
  </a-header>

  <a-content>
    <div class="menu column">
      <div class="menu-filter-wrapper">
        <div class="form-group">
          <label class="form-label"> {{ getComponentName() + ".searchMenu" | translate }} </label>

          <div class="form-control">
            <input #searchTextElement type="text" class="aw-input" [(ngModel)]="searchText" />
          </div>
        </div>
      </div>

      <div *ngIf="!searchText || searchText.trim().length === 0" class="menu-wrapper">
        <div class="top-menu-entry-list">
          <div
            *ngFor="let menu of menuEntryList"
            [ngClass]="{ active: currentSubMenuEntrySelected && menu.key === currentSubMenuEntrySelected.key }"
            (click)="selectTopMenuEntry(menu)"
          >
            {{ "menu." + menu.key | translate }}
          </div>
        </div>

        <div class="sub-menu-entry-list" [ngClass]="{ 'visibility--hidden': currentSubMenuEntryList.length === 0 }">
          <div *ngFor="let menu of currentSubMenuEntryList" class="menu-entry-wrapper">
            <div class="menu-entry">{{ "menu." + menu.key | translate }}</div>

            <div *ngFor="let submenu of menu.submenus" class="sub-menu-entry-wrapper">
              <span class="sub-menu-entry" (click)="onSelectMenuEntry(submenu.key)">
                {{ "transaction." + submenu.key | translate }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="searchText && searchText.trim().length > 0" class="filtered-menu-list">
        <ul class="list--unstyled">
          <li
            *ngFor="let component of componentList | filterByValue: searchText"
            (click)="onSelectMenuEntry(component.key)"
          >
            <div class="search-result">{{ component.value }}</div>
          </li>
        </ul>
      </div>
    </div>
  </a-content>
</a-modal>
