<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div class="page-subtitle">- {{ "page.searchPage" | translate }}</div>
      </div>
    </div>
  </div>
  <div class="page-actions">
    <button
      *ngIf="(showPropertyValuesTable || showDynamicComponent) && !(showCreateButton || showImportButton)"
      type="button"
      class="btn-with-spinner"
      color="primary"
      mat-raised-button
      (click)="savePropertyCatalog()"
    >
      <span class="lds-hourglass" *ngIf="showSaveSpinner"></span>
      {{ "global.save" | translate }}
    </button>

    <button
      *ngIf="showDynamicComponent && !!showCreateButton && hasUpdateAccessRight"
      type="button"
      mat-raised-button
      (click)="createPropertyCatalog()"
    >
      {{ "global.create" | translate }}
    </button>

    <button
      *ngIf="showDynamicComponent && !!showImportButton"
      type="button"
      mat-raised-button
      (click)="exportPropertyCatalog()"
    >
      {{ "global.export" | translate }}
    </button>

    <button
      *ngIf="showDynamicComponent && !!showImportButton"
      type="button"
      mat-raised-button
      (click)="importPropertyCatalog()"
    >
      {{ "global.import" | translate }}
    </button>

    <button
      id="actions"
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #actions="matMenu">
      <button mat-menu-item (click)="refreshPropertyCatalog()">{{ "global.refresh" | translate }}</button>

      <button id="favorites" mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ componentData.componentId + ".catalogName" | translate }}
                </h3>
              </div>
            </div>
            <div class="grid-cell-content">
              <div class="form-group">
                <label class="form-label"> {{ componentData.componentId + ".catalogArea" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="catalogAreaValues"
                    [(ngModel)]="catalogArea"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    (onChange)="onCatalogAreaChange($event)"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"> {{ componentData.componentId + ".catalogName" | translate }} </label>

                <div class="form-control">
                  <p-dropdown
                    class="aw-dropdown fixed-width"
                    [options]="catalogNameValues"
                    [(ngModel)]="catalogName"
                    [showClear]="true"
                    placeholder="&nbsp;"
                    [disabled]="!catalogArea"
                    (onChange)="onCatalogNameChange($event)"
                  ></p-dropdown>
                </div>
              </div>

              <div class="form-group"></div>
              <div class="form-group"></div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showPropertyValuesTable" class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ componentData.componentId + ".propertyValues" | translate }} ({{
                    propertyValuesTableDataSource.dataCount
                  }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <a-table [dataSource]="propertyValuesTableDataSource">
                <ng-template tableActionsDef>
                  <button
                    *ngIf="!disablePropertyTypeDeleteButton()"
                    type="button"
                    mat-raised-button
                    color="warn"
                    (click)="deleteSelectedPropertyValue()"
                  >
                    {{ "global.delete" | translate }}
                  </button>

                  <button
                    *ngIf="propertyValuesTableDataSource.dataSelectionCount === 1"
                    type="button"
                    mat-raised-button
                    (click)="editSelectedPropertyValue()"
                  >
                    {{ "global.edit" | translate }}
                  </button>

                  <button
                    *ngIf="!propertyValuesTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    (click)="addPropertyValue()"
                  >
                    {{ "global.add" | translate }}
                  </button>
                </ng-template>

                <ng-template columnDef="isStandard" let-rowData="rowData">
                  <i
                    *ngIf="rowData.isStandard !== null && rowData.isStandard"
                    class="fa fa-fw fa-check"
                    aria-hidden="true"
                  ></i>
                </ng-template>
              </a-table>
            </div>
          </div>
        </div>
      </div>

      <ng-template #node> </ng-template>
    </div>
  </div>

  <aw-property-values-popup
    *ngIf="showPropertyValuePopup"
    [(display)]="showPropertyValuePopup"
    [propertyValue]="currentPropertyValue"
    [viewModePropertyValue]="viewModePropertyValue"
    [isNewPropertyValue]="isNewPropertyValue"
    (onCreate)="createPropertyValue($event)"
    (onUpdate)="updatePropertyValue($event)"
  ></aw-property-values-popup>
</div>
