<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="row">
      <div class="form-group">
        <label class="form-label">{{ getComponentName() + ".packageNumber" | translate }}</label>

        <div class="form-control">
          <input type="text" name="docName" class="aw-input" disabled [(ngModel)]="bidtPackageDTO.packageCode" />
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">{{ getComponentName() + ".pn" | translate }}</label>

        <div class="form-control">
          <b>{{ partNumer }}</b>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">{{ getComponentName() + ".designation" | translate }}</label>

        <div class="form-control">
          <input type="text" name="docName" class="aw-input" disabled [(ngModel)]="designation" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="form-label">{{ getComponentName() + ".label" | translate }}</label>
        <div>
          <ul class="form-label">
            <li>{{ getComponentName() + ".subLabel1" | translate }}</li>
            <li>{{ getComponentName() + ".subLabel2" | translate }}</li>
            <li>{{ getComponentName() + ".subLabel3" | translate }}</li>
            <li>{{ getComponentName() + ".subLabel4" | translate }}</li>
            <li>{{ getComponentName() + ".subLabel5" | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" class="aw-btn" (click)="createLitigation()">
      {{ getComponentName() + ".createLitigation" | translate }}
    </button>
    <button type="button" class="aw-btn" (click)="validate()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
