<div class="page-header-container">
  <div class="page-context">
    <div class="page-title-container">
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-secondary-actions">
        <i
          class="fa fa-fw aw-icon aw-icon-with-border"
          [ngClass]="{ 'fa-star': isFavoriteEntry, 'fa-star-o': !isFavoriteEntry }"
          aria-hidden="true"
          (click)="updateFavoriteState()"
          pTooltip="{{ 'page.' + (isFavoriteEntry ? 'removeFromFavorites' : 'addToFavorites') | translate }}"
          tooltipPosition="bottom"
        ></i>
      </div>
    </div>

    <div class="page-subtitle-container">
      <div class="page-subtitle">
        {{ "page.searchPage" | translate }}
      </div>
    </div>
  </div>

  <div class="page-primary-actions">
    <button type="button" mat-raised-button (click)="newCalculation()">
      {{ componentData.componentId + ".newCalculation" | translate }}
    </button>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ "page.mainData" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="row">
                <div class="form-group">
                  <label class="form-label"> {{ componentData.componentId + ".site" | translate }} </label>

                  <div *ngIf="!!searchObject && !!searchObject.siteId" class="form-control">
                    <input type="text" class="aw-input" [(ngModel)]="site" [disabled]="true" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-label"> {{ componentData.componentId + ".warehouseId" | translate }} </label>

                  <div *ngIf="!!searchObject && !!searchObject.warehouseId" class="form-control">
                    <input type="text" class="aw-input" [(ngModel)]="warehouse" [disabled]="true" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-label">{{ componentData.componentId + ".warehouseType" | translate }} </label>

                  <div *ngIf="!!searchObject && !!searchObject.warehouseTypeId" class="form-control">
                    <input type="text" class="aw-input" [(ngModel)]="warehouseType" [disabled]="true" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-label"> {{ componentData.componentId + ".storagebin" | translate }} </label>

                  <div *ngIf="!!searchObject && !!searchObject.storageBinId" class="form-control">
                    <input type="text" class="aw-input" [(ngModel)]="storageBin" [disabled]="true" />
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-cell-content">
              <div class="row">
                <div class="form-group">
                  <label class="form-label">{{ componentData.componentId + ".materialCode" | translate }} </label>

                  <div *ngIf="!!searchObject && !!searchObject.pn" class="form-control">
                    <input type="text" class="aw-input" [(ngModel)]="searchObject.pn" [disabled]="true" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-label">{{ componentData.componentId + ".stocktype" | translate }} </label>

                  <div *ngIf="!!searchObject && !!searchObject.stockTypeId" class="form-control">
                    <input type="text" class="aw-input" [(ngModel)]="stockType" [disabled]="true" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-label">{{ componentData.componentId + ".valuationgroup" | translate }} </label>

                  <div *ngIf="!!searchObject && !!searchObject.valuationGroupId" class="form-control">
                    <input type="text" class="aw-input" [(ngModel)]="valuationGroup" [disabled]="true" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-label">{{ componentData.componentId + ".issueplannedbefore" | translate }} </label>

                  <div *ngIf="!!searchObject && !!searchObject.issuePeriod" class="form-control">
                    <input type="text" class="aw-input" [(ngModel)]="issuePlannedBefore" [disabled]="true" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div #documentTableAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ componentData.componentId + ".stockList" | translate }} ({{
                    stockInformaionDtos ? stockInformaionDtos.length : 0
                  }})
                </h3>
              </div>
            </div>
            <div class="grid-cell-content">
              <p-table
                [resizableColumns]="true"
                #ptableAlerts
                class="aw-table2"
                [columns]="stockListTableCols"
                [value]="stockInformaionDtos"
                [(selection)]="selectedStockDto"
                [scrollable]="true"
                dataKey="stockSn"
              >
                <ng-template pTemplate="emptymessage">
                  <span *ngIf="!isLoadingStructureTable"> &nbsp;</span>

                  <div *ngIf="isLoadingStructureTable" class="aw-table-loading-indicator">
                    <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                    <div class="lds-hourglass"></div>
                  </div>
                </ng-template>

                <ng-template pTemplate="caption">
                  <div class="aw-table-header">
                    <div class="aw-table-global-filter">
                      <label class="aw-table-global-filter-label">
                        <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                      </label>

                      <input
                        #ptableAlertsGlobalFilter
                        class="aw-table-global-filter-input"
                        type="text"
                        placeholder="{{ 'table.globalFilterText' | translate }}"
                        (input)="ptableAlerts.filterGlobal($event.target.value, 'contains')"
                      />
                    </div>
                  </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th
                      pResizableColumn
                      *ngFor="let col of columns"
                      [ngStyle]="{ 'text-align': col.alignment, width: col.width }"
                    >
                      {{ componentData.componentId + "." + col.field | translate }}
                    </th>
                    <th class="row-expand-wrapper"></th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                    <td
                      *ngFor="let col of columns"
                      [ngSwitch]="col.field"
                      [ngStyle]="{ 'text-align': col.alignment, width: col.width }"
                    >
                      <a *ngSwitchCase="'pn'" (click)="openMaterialScreen(rowData['pn'])">{{ rowData[col.field] }}</a>
                      <a *ngSwitchCase="'stockSn'" (click)="openSerailNumber(rowData)">{{ rowData[col.field] }}</a>
                      <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                    </td>
                    <td class="row-expand-wrapper" [pRowToggler]="rowData">
                      <i
                        class="fa fa-fw aw-icon aw-icon-with-border"
                        [ngClass]="rowData.expand ? 'fa-minus' : 'fa-plus'"
                        aria-hidden="true"
                        pTooltip="{{ 'global.showTableRowDetails' | translate }}"
                        tooltipPosition="top"
                        (click)="toggleRowDetailsVisibility(rowData)"
                      ></i>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                  <tr class="row-expanded">
                    <td [attr.colspan]="columns.length + 2">
                      <div class="row">
                        <p-table
                          [resizableColumns]="true"
                          #ptable
                          class="aw-table2"
                          [columns]="remainingTableCols"
                          [value]="rowData.stockQuantityDtos"
                          [scrollable]="true"
                        >
                          <ng-template pTemplate="caption">
                            <div class="aw-table-header">
                              {{ componentData.componentId + ".receipt" | translate }}
                            </div>
                          </ng-template>

                          <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                              <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                            </colgroup>
                          </ng-template>

                          <ng-template pTemplate="header" let-columns>
                            <tr>
                              <th
                                pResizableColumn
                                *ngFor="let col of columns"
                                [ngStyle]="{ 'text-align': col.alignment }"
                              >
                                {{ getComponentName() + "." + col.field | translate }}
                              </th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                              <td
                                *ngFor="let col of columns"
                                [ngSwitch]="col.field"
                                [ngStyle]="{ 'text-align': col.alignment }"
                              >
                                <a
                                  *ngSwitchCase="'stockReceiptWorkOrderWoCode'"
                                  (click)="openRecieptDocument(rowData)"
                                  >{{ rowData[col.field] }}</a
                                >
                                <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                      <div class="row">
                        <p-table
                          [resizableColumns]="true"
                          #ptable
                          class="aw-table2"
                          [columns]="remainingTableCols2"
                          [value]="rowData.stockIssueDtos"
                          [scrollable]="true"
                        >
                          <ng-template pTemplate="caption">
                            <div class="aw-table-header">
                              {{ componentData.componentId + ".issue" | translate }}
                            </div>
                          </ng-template>
                          <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                              <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                            </colgroup>
                          </ng-template>

                          <ng-template pTemplate="header" let-columns>
                            <tr>
                              <th
                                pResizableColumn
                                *ngFor="let col of columns"
                                [ngStyle]="{ 'text-align': col.alignment }"
                              >
                                {{ getComponentName() + "." + col.field | translate }}
                              </th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                              <td
                                *ngFor="let col of columns"
                                [ngSwitch]="col.field"
                                [ngStyle]="{ 'text-align': col.alignment }"
                              >
                                <a *ngSwitchCase="'stockIssueWorkOrderWoCode'" (click)="openIssueDocument(rowData)">{{
                                  rowData[col.field]
                                }}</a>
                                <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
