<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <!-- Day -->
    <div class="form-group required">
      <label class="form-label"
        ><b>{{ getComponentName() + ".thDayOfWeek" | translate }}</b></label
      >
    </div>
    <div class="form-group">
      <label class="form-label">{{ getComponentName() + ".thDayOfWeek" | translate }}</label>
      <div class="form-control">
        <p-dropdown
          name="status"
          class="aw-dropdown fixed-width"
          appendTo="body"
          placeholder="&nbsp;"
          [options]="dayOption"
          [(ngModel)]="data.thDayOfWeek"
        ></p-dropdown>
      </div>
    </div>

    <!-- START -->
    <div class="form-group">
      <label class="form-label"
        ><b>{{ getComponentName() + ".thHourOfBeginning" | translate }}</b></label
      >
    </div>
    <div class="grid-row">
      <div class="form-group required">
        <label class="form-label"> {{ getComponentName() + ".hr" | translate }} </label>
        <div class="form-control">
          <p-dropdown
            name="status"
            class="aw-dropdown aw-dropdown fixed-width"
            appendTo="body"
            placeholder="&nbsp;"
            [options]="hrOptions"
            [(ngModel)]="bHr"
          ></p-dropdown>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label"> {{ getComponentName() + ".min" | translate }} </label>
        <div class="form-control">
          <p-dropdown
            name="status"
            class="aw-dropdown fixed-width"
            appendTo="body"
            placeholder="&nbsp;"
            [options]="minOptions"
            [(ngModel)]="bMin"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <!-- END -->
    <div class="form-group">
      <label class="form-label"
        ><b>{{ getComponentName() + ".thHourOfEnd" | translate }}</b></label
      >
    </div>
    <div class="grid-row">
      <div class="form-group required">
        <label class="form-label"> {{ getComponentName() + ".hr" | translate }} </label>
        <div class="form-control">
          <p-dropdown
            name="status"
            class="aw-dropdown fixed-width"
            appendTo="body"
            placeholder="&nbsp;"
            [options]="hrOptions"
            [(ngModel)]="eHr"
          ></p-dropdown>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label"> {{ getComponentName() + ".min" | translate }} </label>
        <div class="form-control">
          <p-dropdown
            name="status"
            class="aw-dropdown fixed-width"
            appendTo="body"
            placeholder="&nbsp;"
            [options]="minOptions"
            [(ngModel)]="eMin"
          ></p-dropdown>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="cancel()">{{ "global.cancel" | translate }}</button>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="associate()"
      [disabled]="
        data.thDayOfWeek === undefined ||
        bHr === undefined ||
        bMin === undefined ||
        eHr === undefined ||
        eMin === undefined
      "
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
