<div class="page-header">
  <div class="page-info">
    <div>
      <h2 class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </h2>
    </div>
  </div>

  <div class="page-actions">
    <button type="button" mat-raised-button (click)="openNewMaterial()" *ngIf="hasUpdateAccessRight">
      {{ "global.create" | translate }}
    </button>

    <button
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #actions="matMenu">
      <button mat-menu-item (click)="updateFavoriteState()">{{ "addToFavorite" | translate }}</button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ "global.search" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <div class="row search-criteria-header">
                  <i
                    class="fa fa-fw fa-floppy-o aw-icon aw-icon-with-border search-criteria-action"
                    aria-hidden="true"
                    pTooltip="{{ 'global.save' | translate }}"
                    tooltipPosition="top"
                  ></i>
                  <i
                    class="fa fa-fw fa-undo aw-icon aw-icon-with-border search-criteria-action"
                    aria-hidden="true"
                    pTooltip="{{ 'global.reset' | translate }}"
                    tooltipPosition="top"
                    (click)="resetSearchCriteria()"
                  ></i>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label">
                      {{ componentData.componentId + ".pnCode" | translate }}
                    </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" maxlength="50" [(ngModel)]="searchObject.pnCode" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">
                      {{ componentData.componentId + ".articleDesignation" | translate }}
                    </label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        maxlength="300"
                        [(ngModel)]="searchObject.articleDesignation"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">
                      {{ componentData.componentId + ".pnType" | translate }}
                    </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="types"
                        [(ngModel)]="searchObject.pnType"
                        [showClear]="true"
                        placeholder="&nbsp;"
                      ></p-dropdown>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">
                      {{ componentData.componentId + ".traceability" | translate }}
                    </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="traceability"
                        [(ngModel)]="searchObject.traceability"
                        [showClear]="true"
                        placeholder="&nbsp;"
                      ></p-dropdown>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".statusState" | translate }} </label>

                    <div class="form-control">
                      <p-dropdown
                        class="aw-dropdown fixed-width"
                        [options]="propertyStatus"
                        [(ngModel)]="searchObject.statusState"
                        [showClear]="true"
                        placeholder="&nbsp;"
                      ></p-dropdown>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">{{ componentData.componentId + ".otanPnReference" | translate }}</label>

                    <div class="form-control">
                      <input
                        type="text"
                        class="aw-input"
                        [(ngModel)]="searchObject.otanPnReference"
                        maxlength="20"
                        [disabled]="isReadOpenMode"
                      />
                    </div>
                  </div>
                </div>

                <div class="row search-criteria-footer">
                  <div class="search-actions">
                    <button
                      type="button"
                      mat-raised-button
                      class="btn-with-spinner"
                      color="primary"
                      (click)="search()"
                      appKeyPress
                      [keyCode]="'Enter'"
                      (keyPress)="search()"
                    >
                      <span *ngIf="isLoading" class="lds-hourglass"></span>
                      {{ "global.toSearch" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div #resultsContainerAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ "global.results" | translate }} ({{
                    materialTableDataSource ? materialTableDataSource.dataCount : 0
                  }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <a-table [dataSource]="materialTableDataSource">
                <ng-template tableActionsDef>
                  <button
                    *ngIf="
                      materialTableDataSource &&
                      materialTableDataSource.hasData &&
                      !materialTableDataSource.hasDataSelection
                    "
                    type="button"
                    mat-raised-button
                    (click)="exportTable()"
                  >
                    {{ "global.export" | translate }}
                  </button>

                  <button
                    *ngIf="hasManageAccessRight && materialTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    (click)="deleteMaterials()"
                  >
                    {{ "global.delete" | translate }}
                  </button>

                  <button
                    *ngIf="materialTableDataSource.hasDataSelection"
                    type="button"
                    mat-raised-button
                    (click)="openSelectedMaterials()"
                  >
                    {{ "global.open" | translate }}
                  </button>
                </ng-template>

                <ng-template columnDef="pnCode" let-rowData="rowData">
                  <a (click)="openMaterialFromLink(rowData)"> {{ rowData["pnCode"] }}</a>
                </ng-template>

                <ng-template columnDef="pnType" let-rowData="rowData">
                  {{ rowData["pnTypeText"] }}
                </ng-template>

                <ng-template columnDef="statusState" let-rowData="rowData">
                  {{ statusDictionary[rowData.statusState] }}
                </ng-template>
              </a-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
