<a-modal class="aw-modal" [(visible)]="display" width="15">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".itemFatherManagement" | translate }}</div>
  </a-header>

  <a-content>
    <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
      <label class="form-label">{{ getComponentName() + ".item" | translate }}</label>
      <div class="form-control display--flex-row">
        <input
          type="text"
          class="aw-input flex--1"
          [disabled]="isReadOpenMode"
          [(ngModel)]="bireItemDTO.chapter"
          maxlength="2"
        />
        <span class="separator">-</span>
        <input
          type="text"
          class="aw-input flex--1"
          [disabled]="isReadOpenMode"
          [(ngModel)]="bireItemDTO.section"
          maxlength="2"
        />
        <span class="separator">-</span>
        <input
          type="text"
          class="aw-input flex--1"
          [disabled]="isReadOpenMode"
          [(ngModel)]="bireItemDTO.subject"
          maxlength="2"
        />
        <span class="separator">-</span>
        <input
          type="text"
          class="aw-input flex--3"
          [disabled]="isReadOpenMode"
          [(ngModel)]="bireItemDTO.sheet"
          maxlength="5"
        />
        <span class="separator">-</span>
        <input
          type="text"
          class="aw-input flex--3"
          [disabled]="isReadOpenMode"
          [(ngModel)]="bireItemDTO.marks"
          maxlength="5"
        />
        <i
          class="fa fa-fw fa-search aw-icon btn-search"
          aria-hidden="true"
          *ngIf="!isReadOpenMode"
          (click)="searchItems()"
        ></i>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="isReadOpenMode" type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.close" | translate }}</span>
    </button>

    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="onCancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button
      *ngIf="!isReadOpenMode"
      type="button"
      mat-raised-button
      color="primary"
      [disabled]="
        !bireItemDTO.chapter || !bireItemDTO.section || !bireItemDTO.subject || !bireItemDTO.sheet || !bireItemDTO.marks
      "
      (click)="onValidate()"
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-table
  *ngIf="showItemDialog"
  [(display)]="showItemDialog"
  [data]="dialogTableDataItems"
  (onSelected)="setSelectedItems($event)"
></aw-dialog-table>
