@import "constants";

.configuration-control-alert {
  text-align: center;
}

.configuration-control-alert.configuration-control-alert--nok {
  background-color: $red-light1;
}

.configuration-control-alert.configuration-control-alert--ok {
  background-color: $green-light1;
}

.configuration-control-alert.configuration-control-alert--warning {
  background-color: $orange;
}

.aw-table2 .configuration-control-alert {
  display: inline-block;
  width: 100%;
}
