@import "constants";
@import "variables";
@import "mixins";
@import "modifiers";
@import "utils";

@import "lato-latin";
@import "material-icons";
@import "primeng";
@import "~font-awesome/css/font-awesome.min.css";
@import "~bryntum-gantt/gantt.material.min.css";
@import "~bryntum-scheduler/scheduler.material.min.css";

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

ins {
  background-color: yellow;
}

del {
  background-color: yellow;
}

body#aw-app {
  background-color: $body-background-color;
  color: $primary-text-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  margin: 0;
  overflow-y: scroll;

  ///////////////////////////////////////////////////////////////////////////////

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 2rem;
  }
  h2,
  h3 {
    font-size: 1.25rem;
  }
  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  ///////////////////////////////////////////////////////////////////////////////

  .layout-page {
    left: 0;
    padding-top: 0;
    position: absolute;
    top: 0;
    right: 0;

    .left-sidebar.collapsed {
      & + .tab-container-wrapper {
        padding-left: $left-sidebar-width--collapsed;

        & > .topbar {
          left: $left-sidebar-width--collapsed;
        }
      }
    }

    .left-sidebar.expanded {
      & + .tab-container-wrapper {
        padding-left: $left-sidebar-width--expanded;

        & > .topbar {
          left: $left-sidebar-width--expanded;
        }
      }
    }

    aw-component-sidebar.collapsed {
      & ~ .page-wrapper {
        padding-right: $right-sidebar-width--collapsed;
      }
    }

    aw-component-sidebar.expanded {
      & ~ .page-wrapper {
        padding-right: $right-sidebar-width--expanded;
      }
    }

    .tab-container-wrapper {
      transition: padding-left 0.3s;
    }

    .page-header {
      background-color: $white;
      display: flex;
      flex-direction: row;
      padding: 0 56px 40px 56px;
      z-index: 500;

      .page-actions {
        align-items: flex-end;
        display: flex;
        flex-direction: row;

        & > button {
          margin-right: 8px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }

      .page-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        & > div {
          align-items: baseline;
          display: flex;
          flex-direction: row;
        }

        .object-status {
          font-style: italic;
          font-size: 1.125rem;
          background-color: #6d326d;
          color: #fff;
          border-radius: 16px;
          padding: 4px 32px;
          width: fit-content;
          margin-top: 8px;
          cursor: pointer;

          &.disabled {
            cursor: auto;
          }
        }

        .page-subtitle,
        .page-title {
          font-size: 2rem;
          font-weight: 900;
          white-space: nowrap;
        }

        .page-subtitle {
          overflow: hidden;
          padding-left: 4px;
          text-overflow: ellipsis;
        }

        .page-title {
          margin-bottom: 0;
        }
      }
    }

    .page-header-container {
      @include flex-row();

      align-items: center;
      background-color: #fff;
      box-shadow: inset 0 calc(#{$mainbar-border-width} * -1) 0 $mainbar-border-color;
      height: $topbar-height;
      padding: 60px;
      width: 100%;
      z-index: 10;

      .status {
        font-style: italic;
        font-size: 1.25rem;
        background-color: purple;
        color: #fff;
        border-radius: 16px;
        padding: 4px 24px;
        width: fit-content;
      }

      .page-context {
        @include flex-column();

        color: $accent-color;
        flex-grow: 1;
        justify-content: center;
        max-width: 100%;
        overflow: hidden;

        .page-title-container,
        .page-subtitle-container {
          @include flex-row();

          align-items: baseline;
        }

        .page-title-container {
          height: 1.75rem;
        }

        .page-subtitle-container {
          height: 1.25rem;
        }

        .page-title {
          font-size: 1.5rem;
          font-variant: small-caps;
          font-weight: 600;
        }

        .page-secondary-actions {
          margin-left: $margin-value;

          .aw-icon {
            font-size: 1.125rem;
            line-height: 1.75rem;
            width: 1.75rem;
          }
        }

        .page-subtitle {
          @include text-overflow-hidden();

          font-size: 1.125rem;
        }
      }

      .page-close {
        margin-left: calc(#{$margin-value} * 2);

        & > i {
          color: $primary-text-color;
          cursor: pointer;
          font-size: 2rem;
          opacity: 0.25;

          transition: opacity 0.2s;

          &:hover {
            opacity: 1;
          }
        }
      }

      .page-primary-actions {
        @include flex-row();

        flex-grow: 1;
        justify-content: flex-end;

        .aw-btn,
        .aw-split-btn {
          margin-left: $margin-value;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .page-wrapper {
      padding: 0 40px 40px 40px;

      mat-tab-header {
        background-color: $body-background-color;
        margin-left: 14px !important;
        margin-right: 14px !important;
        padding-top: 4px;
        margin-bottom: 16px;
      }
    }

    .page-container:not(.full-width) {
      margin: 0 auto;
      //max-width: $page-max-width;
      position: relative;
    }

    .search-page-container {
      @include search-criteria-container();
    }
  }

  .aw-modal,
  .aw-table-fullscreen {
    .modal {
      background-color: $primary-background-color;
    }
  }

  .aw-modal .modal .modal__content,
  .aw-overlay,
  .aw-table-fullscreen .modal .modal__content {
    .column {
      @include flex-column();

      flex-grow: 1;
      flex-wrap: wrap;
    }

    .row {
      @include flex-row();

      flex-grow: 1;
      flex-wrap: wrap;

      .section {
        margin-top: 0;
      }
    }

    .section {
      @include section-container();
    }

    .form-group {
      @include flex-column();

      flex: 1;
      margin: 16px 0;

      &.form-group-inline {
        align-items: center;
        flex-direction: row;
      }

      &.form-group-no-margin {
        margin: 0;
        max-height: fit-content;
      }

      &.required {
        &.alert {
          .form-label {
            color: $red-dark1;
          }

          .aw-input {
            border-bottom-color: $red-dark1;
          }
        }

        .form-label {
          @include grid-form-control-required();
        }
      }

      .form-control,
      .form-label {
        margin: 0 calc(#{$margin-value} * 2);
      }

      .form-control {
        @include grid-form-control();

        .form-control-generic {
          @include grid-form-control-generic();
        }
      }

      .form-label {
        @include grid-form-label();
        @include text-overflow-hidden();

        color: $secondary-text-color;
      }
    }

    .aw-calendar,
    .aw-dropdown,
    .aw-input {
      @include text-overflow-hidden();
    }

    .aw-calendar {
      @include grid-calendar();
    }

    .aw-checkbox {
      @include grid-checkbox();

      margin-top: calc((#{$form-control-height} - #{$checkbox-height}) / 2);
    }

    .aw-dropdown {
      @include grid-dropdown();
    }

    .aw-fileupload {
      @include grid-fileupload();
    }

    .aw-input {
      @include grid-input();
    }

    .aw-textarea {
      @include grid-textarea();
    }

    .aw-radiobutton {
      @include grid-radiobutton();

      margin-top: calc((#{$form-control-height} - #{$radiobutton-height}) / 2);
    }
  }

  .aw-modal {
    .modal {
      background-color: $primary-background-color;
      border-radius: $border-radius;
      max-width: 90vw;
      min-width: 25rem;
      padding: $margin-value;

      .modal__header {
        a-header {
          @include flex-row();

          & > :first-child {
            flex-grow: 1;
          }

          .modal-title {
            font-size: 1.125rem;
            font-weight: 600;
          }

          .close-wrapper {
            @include flex-row();

            justify-content: flex-end;

            .aw-icon {
              color: $primary-text-color;
              font-size: 1rem;
              line-height: 1.5rem;
              opacity: 0.5;
              text-align: center;
              width: 1.5rem;

              &:hover {
                background-color: $accent-color;
                color: $primary-background-color;
                opacity: 1;
              }
            }
          }
        }
      }

      .modal__content {
        margin: calc(#{$margin-value} * 4) 0;
        max-height: 75vh;

        .aw-table2 .ui-table-scrollable-body,
        .aw-tree-table2 .ui-treetable-scrollable-body {
          max-height: none;
        }

        .search-dialog-container {
          @include search-criteria-container();
        }
      }

      .modal__footer {
        a-footer {
          @include flex-row();

          justify-content: flex-end;

          .aw-btn {
            margin-left: $margin-value;

            &:first-of-type {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  ///////////////////////////////////////////////////////////////////////////////

  .ui-overlaypanel {
    border: $border-width $border-style $border-color;
    border-radius: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-top: 0;
    padding: $margin-value;

    &::after,
    &::before {
      border-width: 0;
    }

    .section {
      @include section-container();
    }
  }

  @import "button";
  @import "grid";
  @import "sidebar";
  @import "table";

  @include calendar-panel();
  @include dropdown-panel();
}

///////////////////////////////////////////////////////////////////////////////

#login-component {
  .form-group {
    @include flex-column();

    flex: 1;
    margin: 16px 0;

    .form-control,
    .form-label {
      margin: 0 calc(#{$margin-value} * 2);
    }

    .form-control {
      @include grid-form-control();

      .form-control-generic {
        @include grid-form-control-generic();
      }
    }

    .form-label {
      @include grid-form-label();
      @include text-overflow-hidden();

      color: $secondary-text-color;
    }

    .aw-dropdown {
      @include grid-dropdown();
    }

    .aw-input {
      @include grid-input();
    }
  }
}

///////////////////////////////////////////////////////////////////////////////

.list-with-details {
  @include flex-row();

  width: 100%;

  .details,
  .list {
    overflow-y: auto;
  }

  .details {
    border-left: $border-width $border-style $border-color;
    padding-left: calc(#{$margin-value} * 2);

    .aw-table2 .ui-table-scrollable-body,
    .aw-tree-table2 .ui-treetable-scrollable-body {
      max-height: none !important;
    }

    .section {
      @include section-container();
    }
  }

  .list {
    .list-header {
      @include flex-row();

      padding-right: calc(#{$margin-value} * 2);

      .aw-tree-global-filter {
        @include flex-row();

        align-items: baseline;
        flex-grow: 1;

        .aw-tree-global-filter-input {
          @include input();
          @include placeholder {
            color: $secondary-text-color;
            font-weight: 400;
          }

          min-width: 12rem;
          width: 12rem;

          transition: border-bottom-color 0.25s ease-in-out, width 0.5s ease;

          &:focus {
            border-bottom-color: $accent-color;
            outline: none;
            width: 100%;
          }
        }
      }

      .aw-actions {
        @include flex-row();

        align-items: center;
        margin-left: calc(#{$margin-value} * 2);

        .aw-icon {
          font-size: 1.125rem;
          line-height: 2rem;
          width: 2rem;
        }
      }
    }

    p-tree .ui-tree {
      border: 0;
      width: 100%;

      .ui-treenode-content {
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.left-sidebar.collapsed + .tab-container-wrapper .aw-table-fullscreen .modal {
  left: $left-sidebar-width--collapsed !important;
}

.left-sidebar.expanded + .tab-container-wrapper .aw-table-fullscreen .modal {
  left: $left-sidebar-width--expanded !important;
}

.search-criteria-header {
  justify-content: flex-end;

  .search-criteria-action {
    background-color: transparent;
    color: $secondary-text-color;
    font-size: 1.125rem;
    line-height: 2rem;
    margin-left: calc(#{$margin-value} / 2);
    padding-left: 1px;
    text-align: center;
    width: 2rem;

    &:hover {
      background-color: $accent-color;
      color: #fff;
    }

    &:first-of-type {
      margin-left: 0;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////

bry-scheduler {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: stretch;
}

bry-scheduler > div {
  flex: 1;
}

.b-float-root .b-floating {
  .b-panel-content {
    display: flex;
    flex-direction: column;
    padding: 8px !important;

    .b-sch-hovertip-msg {
      display: flex;
      flex-direction: column;
      margin-top: $margin-value;
    }
  }
}

.b-sch-event-wrap {
  &.b-sch-event-hover,
  &.b-sch-event-hover .b-sch-event::before,
  &.b-sch-event-hover .b-sch-event label {
    cursor: pointer !important;
  }

  .b-sch-event {
    &.b-sch-event-selected {
      font-weight: 300 !important;
    }

    &.event-focus::before,
    &.workpackage-focus {
      font-weight: 600 !important;
      outline: 2px solid #2196f3 !important;
      outline-offset: 3px;
    }

    &.event-focus label {
      font-weight: 600 !important;
    }

    &.in-past label {
      color: #fff !important;
    }

    &.material-nok {
      border: 2px solid #ab000d !important;
    }

    &.material-warn {
      border: 2px solid #ab000d !important;
    }

    &.nok label {
      color: #fff !important;
    }

    &.ok label {
      color: #000 !important;
    }

    &.warn label {
      color: #000 !important;
    }

    label {
      left: -15px !important;
      padding-left: 0 !important;
      text-align: center !important;
      width: 30px !important;
    }
  }
}

.b-tree-parent-row {
  &.b-hover .b-tree-cell,
  .b-tree-cell:hover {
    background-color: initial !important;
  }

  .b-tree-cell {
    &.b-focused::after {
      border: none !important;
    }

    &.resource-selected {
      background-color: rgb(231, 231, 231) !important;
    }
  }
}

.scheduler-header {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-bottom: 1px;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  .aw-icon {
    font-size: 1.125rem;
    line-height: 2rem;
    width: 2rem;
  }

  .scheduler-filters {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    aw-forecast-form-global-filter {
      flex-grow: 1;
    }

    .aw-global-filter {
      @include flex-row();

      align-items: baseline;
      flex-grow: 1;

      .aw-global-filter-input {
        @include input();
        @include placeholder {
          color: $secondary-text-color;
          font-weight: 400;
        }

        min-width: 12rem;
        width: 12rem;

        transition: border-bottom-color 0.25s ease-in-out, width 0.5s ease;

        &:focus {
          border-bottom-color: $accent-color;
          outline: none;
          width: 100%;
        }
      }
    }

    .scheduler-filters-toggler .aw-icon {
      margin-right: $margin-value;
    }
  }

  .scheduler-legend {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: $margin-value;
  }
}

.scheduler-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scheduler-tooltip-container {
  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    flex-direction: row;
  }
}

///////////////////////////////////////////////////////////////////////////////

.attributes-column-width-4 {
  width: calc(100% / #{$attributes-column-width-4});
}
.attributes-column-width-3 {
  width: calc(100% / #{$attributes-column-width-3});
}
.attributes-column-width-2 {
  width: calc(100% / #{$attributes-column-width-2});
}

///////////////////////////////////////////////////////////////////////////////

.overlay {
  background-color: $white;
  outline-color: #dfdfdf;
  color: $black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select-container {
  display: flex;
  flex-direction: column;

  .option {
    background-color: $white;
    color: $black;

    &:focus,
    &:hover,
    &.active {
      background-color: #fafafa;
      color: $black;
    }

    button {
      background: transparent;
      box-shadow: none;
      color: $black;
    }
  }

  .option {
    cursor: pointer;
    padding: 8px 12px;

    button {
      border: 0;
      border-radius: 0;
      display: block;
      overflow: hidden;
      text-align: left;
      width: 100%;
      white-space: normal;

      &:hover {
        outline: 0;
        text-decoration: none;
      }
    }
  }
}

.back {
  position: absolute !important;
  left: 8px;
}

button.btn-with-spinner {
  .mat-button-wrapper {
    align-items: center;
    display: flex !important;
    flex-direction: row;

    .lds-hourglass:after {
      border-color: #fff transparent #fff transparent !important;
    }
  }
}

aw-component-sidebar {
  display: none !important;
}

.aw-selectbutton-with-dropdown {
  p-dropdown {
    flex-grow: 1;
    margin-left: 8px;
  }
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.form-group.may-required .form-label::after {
  color: $orange !important;
}

p-splitButton {
  border-radius: 4px !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;

  & > .ui-splitbutton {
    & > button {
      border: 0 !important;
      color: rgba(0, 0, 0, 0.87) !important;
      background-color: #fff !important;
      outline: 0 !important;
      min-height: 36px !important;

      &:first-of-type {
        padding: 0 16px !important;
      }

      .ui-button-text {
        font-family: Roboto, "Helvetica Neue", sans-serif !important;
        font-size: 14px !important;
        font-weight: 500 !important;
      }
    }
  }
}
