<div class="page-header-container">
  <div class="page-context">
    <div class="page-title-container">
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-secondary-actions">
        <i
          class="fa fa-fw aw-icon aw-icon-with-border"
          [ngClass]="{ 'fa-star': isFavoriteEntry, 'fa-star-o': !isFavoriteEntry }"
          aria-hidden="true"
          (click)="updateFavoriteState()"
          pTooltip="{{ 'page.' + (isFavoriteEntry ? 'removeFromFavorites' : 'addToFavorites') | translate }}"
          tooltipPosition="bottom"
        ></i>
      </div>
    </div>

    <div class="page-subtitle-container">
      <div class="page-subtitle">
        {{ "page.searchPage" | translate }}
      </div>
    </div>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">{{ "global.search" | translate }}</h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <div class="column">
                <div class="row search-criteria-header">
                  <i
                    class="fa fa-fw fa-undo aw-icon aw-icon-with-border search-criteria-action"
                    aria-hidden="true"
                    pTooltip="{{ 'global.reset' | translate }}"
                    tooltipPosition="top"
                    (click)="resetSearchCriteria()"
                  ></i>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".fleetCode" | translate }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.fleetCode" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".fleetName" | translate }} </label>

                    <div class="form-control">
                      <input type="text" class="aw-input" [(ngModel)]="searchObject.fleetName" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label"> {{ componentData.componentId + ".customerCode" | translate }} </label>

                    <div class="form-control form-control-with-modal" [ngClass]="{ disabled: isReadOpenMode }">
                      <div class="form-control-data" (click)="quickSearchBusinessPartner()">
                        {{ searchObject.customerCode }}
                      </div>

                      <div *ngIf="searchObject.customerCode" class="btn-clear-wrapper">
                        <i
                          class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                          aria-hidden="true"
                          (click)="searchObject.customerCode = undefined"
                        ></i>
                      </div>
                      <div class="btn-search-wrapper">
                        <i
                          class="fa fa-fw fa-search aw-icon btn-search"
                          aria-hidden="true"
                          (click)="quickSearchBusinessPartner()"
                        ></i>
                      </div>
                    </div>
                  </div>

                  <div class="form-group"></div>
                </div>

                <div class="row search-criteria-footer">
                  <div class="search-actions">
                    <button
                      type="button"
                      mat-raised-button
                      (click)="search()"
                      appKeyPress
                      color="primary"
                      [keyCode]="'Enter'"
                      (keyPress)="search()"
                    >
                      {{ "global.toSearch" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-cell--12">
          <div #resultsContainerAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ "global.results" | translate }} ({{ resultsTable.list ? resultsTable.list.length : 0 }})
                </h3>
              </div>
            </div>

            <div class="grid-cell-content">
              <p-table
                [resizableColumns]="true"
                #ptableResults
                class="aw-table2"
                [columns]="resultsTableCols"
                [value]="resultsTable.list"
                [(selection)]="selectedFleets"
                [scrollable]="true"
              >
                <ng-template pTemplate="emptymessage">
                  <span *ngIf="!isLoading"> &nbsp;</span>

                  <div *ngIf="isLoading" class="aw-table-loading-indicator">
                    <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                    <div class="lds-hourglass"></div>
                  </div>
                </ng-template>

                <ng-template pTemplate="caption">
                  <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedFleets.length > 0 }">
                    <div class="aw-table-global-filter">
                      <label class="aw-table-global-filter-label">
                        <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                      </label>

                      <input
                        #ptableResultsGlobalFilter
                        class="aw-table-global-filter-input"
                        type="text"
                        placeholder="{{ 'table.globalFilterText' | translate }}"
                        (input)="ptableResults.filterGlobal($event.target.value, 'contains')"
                      />
                    </div>

                    <div class="aw-table-actions">
                      <button
                        *ngIf="selectedFleets.length > 0"
                        type="button"
                        mat-raised-button
                        (click)="openViewScheduleForSelectedFleet()"
                      >
                        {{ "global.open" | translate }}
                      </button>
                    </div>
                  </div>
                </ng-template>

                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="aw-table-checkbox-wrapper" />
                    <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                  </colgroup>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="aw-table-checkbox-wrapper">
                      <p-tableHeaderCheckbox class="aw-table-checkbox"></p-tableHeaderCheckbox>
                    </th>

                    <th pResizableColumn *ngFor="let col of columns" [ngStyle]="{ 'text-align': col.alignment }">
                      {{ componentData.componentId + "." + col.field | translate }}
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                    <td class="aw-table-checkbox-wrapper">
                      <p-tableCheckbox class="aw-table-checkbox" [value]="rowData"></p-tableCheckbox>
                    </td>

                    <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ 'text-align': col.alignment }">
                      <span *ngSwitchCase="'fleetCode'">
                        <a (click)="openFleetForm(rowData)"> {{ rowData[col.field] }} </a>
                      </span>

                      <span *ngSwitchCase="'isOperator'">
                        <span *ngIf="rowData[col.field] !== null && rowData[col.field]">
                          <i class="fa fa-fw fa-check" aria-hidden="true"></i>
                        </span>
                      </span>

                      <span *ngSwitchCase="'isOwner'">
                        <span *ngIf="rowData[col.field] !== null && rowData[col.field]">
                          <i class="fa fa-fw fa-check" aria-hidden="true"></i>
                        </span>
                      </span>

                      <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <aw-dialog-search-customer
    *ngIf="showQuickSearchBusinessPartnerPopup"
    [(display)]="showQuickSearchBusinessPartnerPopup"
    [customer-code]="searchObject.customerCode"
    (onSelected)="setSelectedBusinessPartner($event)"
  ></aw-dialog-search-customer>
</div>
