<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="form-group ">
      <label class="form-label">{{ "global.login" | translate }}</label>

      <div class="form-control"><input class="aw-input" type="text" [disabled]="true" [(ngModel)]="login" /></div>
    </div>

    <div class="form-group required">
      <label class="form-label">{{ getComponentName() + ".oldPassword" | translate }}</label>

      <div class="form-control"><input class="aw-input" type="password" [(ngModel)]="formData.oldPassword" /></div>
    </div>

    <div class="form-group required">
      <label class="form-label">{{ getComponentName() + ".newPassword" | translate }}</label>

      <div class="form-control"><input class="aw-input" type="password" [(ngModel)]="formData.newPassword" /></div>
    </div>

    <div class="form-group required">
      <label class="form-label">{{ getComponentName() + ".confirmation" | translate }}</label>

      <div class="form-control"><input class="aw-input" type="password" [(ngModel)]="confirmation" /></div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">
      <span>{{ "global.close" | translate }}</span>
    </button>

    <button [disabled]="isChecked()" type="button" mat-raised-button color="primary" (click)="validate()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
