@import "constants";

:host {
  ::ng-deep div.slider-row{
    display: flex;
    justify-content: flex-end;
  }

  ::ng-deep .grid-cell-content{
    flex-direction: column !important;
  }

  ::ng-deep a {
    color: $accent-color;

    &.project-number-select {
      border-bottom-color: transparent;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      color: #01579b;
      cursor: pointer;
      transition: border-bottom-color 0.25s ease-in-out
    }

    &:hover {
      text-decoration: underline;
    }
  }

  ::ng-deep .b-sch-event{
    cursor: default;

    &.undefinedDueDate {
      background: repeating-linear-gradient(-45deg, $red-light1, $red-light1 7px, white 7px, white 14px) !important;

      &:hover{
        background:$red-light1 !important;
      }
    }

    &.gray {
      background-color: $grey1 !important;
    }

    &.green {
      background-color: $green-light1 !important;
    }

    &.yellow {
      background-color: $yellow1 !important;
    }

    &.red {
      background-color: $red-light1 !important;
    }

    &.blue {
      background-color: $blue-light1 !important;
    }
  }

  ::ng-deep .time-resolution {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 calc(2 * #{$margin-value});
    margin-bottom: 1em;
    p-slider {
      width: 10rem;
    }
  }

  .aw-tree-table2 tr:not(.read-only):not(.ui-state-highlight):hover > td {
    background-color: transparent !important;
    border-bottom: 0px !important;
    border-top: 0px !important;
  }

  .aw-tree-table2 {
    .aw-table-actions {
      margin-right: 3%;
    }
  }

  .scheduler-wrap {
    height: 75vh;
    visibility: hidden;

    &.show {
      visibility: visible;
    }
  }
}
