<a-modal class="aw-modal" [(visible)]="display" [width]="40">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="column">
      <div class="section">
        <h4 class="section-title">
          {{ getComponentName() + ".hotReplenishment" | translate }}
        </h4>

        <div class="section-content">
          <div class="row">
            <div class="form-group">
              <label class="form-label">
                {{ getComponentName() + ".volume" | translate }}
              </label>

              <div class="form-control">
                <input type="number" class="aw-input" [(ngModel)]="measure.hotReplenishmentVolume" />
              </div>
            </div>

            <div class="form-group">
              <label class="form-label">
                {{ getComponentName() + ".date" | translate }}
              </label>

              <div class="form-control">
                <p-calendar
                  showButtonBar="true"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  [yearRange]="sessionService.calendarYearRange"
                  class="aw-calendar"
                  [dateFormat]="sessionService.dateFormatPrimeNG"
                  [locale]="sessionService.calendarFormat"
                  [(ngModel)]="measure.hotReplenishmentDate"
                  appendTo="body"
                ></p-calendar>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <h4 class="section-title">
          {{ getComponentName() + ".coldReplenishment" | translate }}
        </h4>

        <div class="section-content">
          <div class="row">
            <div class="form-group">
              <label class="form-label">
                {{ getComponentName() + ".volume" | translate }}
              </label>

              <div class="form-control">
                <input type="number" class="aw-input" [(ngModel)]="measure.coldReplenishmentVolume" />
              </div>
            </div>

            <div class="form-group">
              <label class="form-label">
                {{ getComponentName() + ".date" | translate }}
              </label>

              <div class="form-control">
                <p-calendar
                  showButtonBar="true"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  [yearRange]="sessionService.calendarYearRange"
                  class="aw-calendar"
                  [dateFormat]="sessionService.dateFormatPrimeNG"
                  [locale]="sessionService.calendarFormat"
                  [(ngModel)]="measure.coldReplenishmentDate"
                  appendTo="body"
                ></p-calendar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">{{ "global.cancel" | translate }}</button>

    <button type="button" color="primary" mat-raised-button (click)="validate()" [disabled]="!isValid()">
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>
