<div class="page-wrapper">
  <div class="page-container">
    <mat-tab-group animationDuration="0ms" dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          {{ "home" | translate }}
        </ng-template>

        <div class="grid-row">
          <!-- MAIN INFO -->
          <div class="grid-cell--5">
            <div class="grid-cell grid-cell--container">
              <div class="grid-cell-header">
                <div class="grid-cell-title-container">
                  <h3 class="grid-cell-title">
                    {{ "page.mainData" | translate }}
                  </h3>
                </div>
              </div>

              <div class="grid-cell-content  grid-cell-content-with-section">
                <!-- ROW 1 -->
                <div class="row">
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".number" | translate }}</label>
                    <div class="form-control custom-anchor">
                      <a>{{ formInfo.number }}</a>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".toRealizeThe" | translate }}</label>

                    <div class="form-control">
                      <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.toRealizeThe" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".status" | translate }}</label>

                    <div class="form-control">
                      <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.status" />
                    </div>
                  </div>
                </div>

                <!-- ROW 2 -->
                <div class="section margin-class">
                  <h4 class="section-title">{{ getComponentName() + ".documentReference" | translate }}</h4>
                  <div class="section-content">
                    <div class="row">
                      <div class="form-group">
                        <label class="form-label">{{ getComponentName() + ".number" | translate }}</label>

                        <div class="form-control custom-anchor">
                          <a>{{ formInfo.docNumber }}</a>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-label">{{ getComponentName() + ".type" | translate }}</label>

                        <div class="form-control">
                          <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.docType" />
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-label">{{ getComponentName() + ".critical" | translate }}</label>
                        <div class="form-control custom-control">
                          <span class="alert alert--nok">
                            {{ formInfo.docControl }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Location -->
          <div class="grid-cell--7">
            <div class="grid-cell grid-cell--container">
              <div class="grid-cell-header">
                <div class="grid-cell-title-container">
                  <h3 class="grid-cell-title">
                    {{ getComponentName() + ".location" | translate }}
                  </h3>
                </div>
              </div>

              <div class="grid-cell-content  grid-cell-content-with-section">
                <!-- ROW 1 -->
                <div class="row">
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".site" | translate }}</label>

                    <div class="form-control">
                      <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.site" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">{{ getComponentName() + ".warehouse" | translate }}</label>

                    <div class="form-control">
                      <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.warehouse" />
                    </div>
                  </div>
                </div>

                <div class="grid-cell--12">
                  <div class="grid-cell--6">
                    <div class="section">
                      <h4 class="section-title">{{ getComponentName() + ".inboundLocalisation" | translate }}</h4>
                      <div class="section-content">
                        <div class="row">
                          <div class="form-group">
                            <label class="form-label">{{ getComponentName() + ".zone" | translate }}</label>

                            <div class="form-control">
                              <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.zone" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="form-label">{{ getComponentName() + ".emplacement" | translate }}</label>

                            <div class="form-control">
                              <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.emplacement" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="form-label">&nbsp;</label>

                            <div class="form-control">
                              <i class="fa fa-fw fa-search fa-arrow-right" aria-hidden="true"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="grid-cell--4">
                    <div class="section">
                      <h4 class="section-title">{{ getComponentName() + ".outboundLocalisation" | translate }}</h4>
                      <div class="section-content">
                        <div class="row">
                          <div class="form-group">
                            <label class="form-label">{{ getComponentName() + ".zone" | translate }}</label>

                            <div class="form-control">
                              <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.outZone" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="form-label">{{ getComponentName() + ".emplacement" | translate }}</label>

                            <div class="form-control">
                              <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.outEmplacement" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- MAterial panel -->
          <div class="grid-cell--12">
            <div class="grid-cell grid-cell--container">
              <div class="grid-cell-header">
                <div class="grid-cell-title-container">
                  <h3 class="grid-cell-title">
                    {{ getComponentName() + ".material" | translate }}
                  </h3>
                </div>
              </div>

              <div class="grid-cell-content  grid-cell-content-with-section">
                <div class="grid-cell--10">
                  <div class="section">
                    <div class="section-content">
                      <div class="row">
                        <div class="form-group">
                          <label class="form-label">{{ getComponentName() + ".article" | translate }}</label>

                          <div class="form-control custom-anchor">
                            <a>{{ formInfo.article }}</a>
                            <input
                              class="aw-input"
                              type="text"
                              disabled
                              title="{{ formInfo.articleDesignation }}"
                              [(ngModel)]="formInfo.articleDesignation"
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label">{{ getComponentName() + ".snOrLot" | translate }}</label>
                          <div class="form-control custom-anchor">
                            <a>{{ formInfo.snOrLot }}</a>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label">{{ getComponentName() + ".qty" | translate }}</label>

                          <div class="form-control">
                            <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.qty" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label">{{ getComponentName() + ".etat" | translate }}</label>

                          <div class="form-control">
                            <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.etat" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label">{{ getComponentName() + ".materialType" | translate }}</label>

                          <div class="form-control">
                            <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.materialType" />
                          </div>
                        </div>
                        <div class="form-group"></div>
                      </div>
                    </div>
                  </div>

                  <div class="section  margin-class">
                    <h4 class="section-title">{{ getComponentName() + ".informationLogistics" | translate }}</h4>

                    <div class="section-content">
                      <div class="row">
                        <div class="form-group">
                          <label class="form-label">{{ getComponentName() + ".volume" | translate }}</label>

                          <div class="form-control">
                            <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.volume" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label">{{ getComponentName() + ".height" | translate }}</label>

                          <div class="form-control">
                            <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.height" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label">{{ getComponentName() + ".width" | translate }}</label>

                          <div class="form-control">
                            <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.width" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label">{{ getComponentName() + ".diameter" | translate }}</label>

                          <div class="form-control">
                            <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.diameter" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label">{{ getComponentName() + ".weight" | translate }}</label>

                          <div class="form-control">
                            <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.weight" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label">{{ getComponentName() + ".additionalRemarks" | translate }}</label>

                          <div class="form-control">
                            <input class="aw-input" type="text" disabled [(ngModel)]="formInfo.additionalRemarks" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-cell--2"></div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          {{ "documents" | translate }}
        </ng-template>

        <div class="grid-row">
          <div class="grid-cell--12">
            <div class="grid-cell grid-cell--container">
              <div class="grid-cell-header">
                <div class="grid-cell-title-container">
                  <h3 class="grid-cell-title">
                    {{ getComponentName() + ".documents" | translate }}
                  </h3>
                </div>
              </div>

              <div class="grid-cell-content">
                <a-table [dataSource]="documentsTableDataSource"> </a-table>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
