<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".title" | translate }}</div>
  </a-header>

  <a-content>
    <div class="column">
      <div class="row">
        <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
          <label class="form-label">{{ getComponentName() + ".familyVariant" | translate }}</label>

          <div class="form-control">
            <p-dropdown
              class="aw-dropdown fixed-width"
              [options]="familyVariants"
              [(ngModel)]="familyVariantCode"
              [disabled]="isReadOnlyForm"
              [showClear]="true"
              placeholder="&nbsp;"
              appendTo="body"
              (onChange)="onFamilyVariantSelected($event)"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group" [ngClass]="{ required: !isReadOpenMode }">
          <label class="form-label">{{ getComponentName() + ".modelCode" | translate }}</label>

          <div class="form-control form-control-with-modal" [ngClass]="{ disabled: isReadOnlyForm }">
            <div class="form-control-data" (click)="showDialog()">{{ model.bireModelDTO.modelCode }}</div>

            <div *ngIf="model.bireModelDTO.modelCode" class="btn-clear-wrapper">
              <i
                class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                aria-hidden="true"
                (click)="
                  model.bireModelDTO.modelCode = undefined;
                  model.bireModelDTO.modelName = undefined;
                  model.bireModelDTO.ratingCode = undefined;
                  model.ratingName = undefined
                "
              ></i>
            </div>
            <div class="btn-search-wrapper">
              <i class="fa fa-fw fa-search aw-icon btn-search" aria-hidden="true" (click)="showDialog()"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div *ngIf="model.bireModelDTO.modelName" class="form-group">
          <label class="form-label">{{ getComponentName() + ".modelName" | translate }}</label>

          <div class="form-control">
            <input
              name="modelName"
              type="text"
              class="aw-input"
              [(ngModel)]="model.bireModelDTO.modelName"
              [disabled]="true"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div *ngIf="model.bireModelDTO.ratingCode" class="form-group">
          <label class="form-label">{{ getComponentName() + ".ratingCode" | translate }}</label>

          <div class="form-control">
            <input
              name="ratingCode"
              type="text"
              class="aw-input"
              [(ngModel)]="model.bireModelDTO.ratingCode"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div *ngIf="model.ratingName" class="form-group">
          <label class="form-label">{{ getComponentName() + ".ratingName" | translate }}</label>

          <div class="form-control">
            <input type="text" class="aw-input" [(ngModel)]="model.ratingName" disabled="true" />
          </div>
        </div>
      </div>
    </div>
  </a-content>

  <a-footer>
    <button *ngIf="isReadOpenMode" type="button" mat-raised-button (click)="cancel()">
      <span>{{ "global.close" | translate }}</span>
    </button>

    <button *ngIf="!isReadOpenMode" type="button" mat-raised-button (click)="cancel()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>

    <button
      *ngIf="!isReadOnlyForm"
      type="button"
      mat-raised-button
      color="primary"
      (click)="validate()"
      [disabled]="
        !familyVariantCode ||
        familyVariantCode.length === 0 ||
        !model.bireModelDTO.modelCode ||
        model.bireModelDTO.modelCode.length === 0
      "
    >
      {{ "global.validate" | translate }}
    </button>
  </a-footer>
</a-modal>

<aw-dialog-search-model
  *ngIf="displayModelPopin"
  [(display)]="displayModelPopin"
  [model-code]="this.model.modelCode"
  [family-code]="this.model.bireModelDTO.familyCode"
  [variant-code]="this.model.bireModelDTO.variantCode"
  (onSelected)="setSelectedCode($event, 'model')"
></aw-dialog-search-model>
