@import "constants";

:host {
  .procurement-type--in {
    color: $green-light1;
    transform: rotate(320deg);
  }

  .procurement-type--out {
    color: $red-light1;
    transform: rotate(45deg);
  }

  .procurement-type--transfer {
    color: $blue-dark1;
  }

  .space {
    padding-top: 8px;
  }

  .link {
    cursor: pointer;
  }

  .custom-width {
    width: 6em !important;
  }

  .custom-padding {
    padding-left: 1px !important;
  }

  .alert {
    display: inline-block;
    width: 50%;
  }

  .procurement--nok {
    background-color: $red-light1;
  }

  .procurement--ok {
    background-color: $green-light1;
  }

  .procurement--warning {
    background-color: $orange;
  }
}
