@import "constants";
@import "mixins";

@mixin tool-bar__form-control {
  background-color: $primary-background-color;
  border-radius: 25px;
  border: $border-width $border-style $secondary-background-color;
  color: $secondary-text-color;
  font-size: $font-size;
  line-height: $line-height;
  outline: none;

  transition: all 500ms;

  &:hover {
    border-color: darken($secondary-background-color, 20%);
  }
}

@mixin tool-bar__btn {
  @include tool-bar__form-control();

  cursor: pointer;

  &.active {
    background-color: $accent-color;
    border-color: $accent-color;
    color: $primary-background-color;
  }
}

@mixin tool-bar__input {
  @include tool-bar__form-control();
  @include text-overflow-hidden();
}

:host {
  .top-bar {
    @include flex-row();

    align-items: center;
    margin-bottom: calc(#{$margin-value} * 2);

    .calendar-navigation,
    .current-date {
      @include flex-row();
    }

    .calendar-navigation {
      button {
        margin-right: 5px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .calendar-search {
      @include flex-row();

      flex-grow: 1;
      justify-content: flex-end;
      margin-left: 30px;
      margin-right: -0.875rem;

      .calendar-search__input {
        @include tool-bar__input();

        padding-right: calc(#{$margin-value} * 2);
        width: 8rem;
        z-index: 1;

        transition: all 500ms;

        &:focus,
        &:hover {
          border-color: darken($secondary-background-color, 20%);
        }

        &:focus {
          width: 100%;
        }
      }

      .calendar-search__btn {
        color: #ddd;
        cursor: pointer;
        font-size: 0.875rem;
        height: 0.875rem;
        position: relative;
        right: 26px;
        top: 12px;
        visibility: hidden;
        width: 0.875rem;
        z-index: 2;

        &:hover,
        &:focus {
          color: #2e2e2e;
        }

        &.visible {
          visibility: visible;
        }
      }
    }

    .current-date {
      align-items: baseline;
      font-size: 1.5rem;
      margin-left: 15px;
    }

    .calendar-navigation__btn-next-month,
    .calendar-navigation__btn-previous-month,
    .calendar-navigation__btn-today {
      @include tool-bar__btn();
    }

    .calendar-navigation__btn-today,
    .calendar-search__input {
      padding: 8px 16px;
    }

    .calendar-navigation__btn-next-month {
      padding: 8px 6px 8px 8px;
    }

    .calendar-navigation__btn-previous-month {
      padding: 8px 8px 8px 6px;
    }

    .calendar-navigation__btn-today {
      font-weight: 700;
    }

    .calendar-search__input {
      &:hover {
        border-color: #b0b0b0;
      }
    }
  }

  .calendar {
    width: 100%;

    &.on-resize {
      cursor: move;
    }

    .calendar__header,
    .calendar__week {
      @include flex-row();
    }

    .calendar-day-container,
    .calendar-day-header {
      padding: 3px 2px 3px 3px;
      width: calc(100% / 7);
    }

    .calendar__header {
      border-bottom: 1px solid #e5e5e5;
      border-top: 1px solid #e5e5e5;
      height: 30px;

      .calendar-day-header {
        @include flex-row();

        align-items: center;
        font-weight: 700;
        padding-left: 10px;
      }
    }

    .calendar__week {
      border-bottom: 1px solid #e5e5e5;

      &:last-of-type {
        border-bottom-color: transparent;
      }

      .calendar-day-container {
        @include flex-column();

        border-left: 1px solid #e5e5e5;
        border-right: 1px solid transparent;
        min-height: 7rem;

        &:first-of-type {
          border-left-color: transparent;
        }

        .calendar-month-day-header {
          @include flex-row();

          align-items: baseline;
          background-color: transparent;
          justify-content: space-between;
          transition: background-color 1s;
          width: 100%;

          &.droppable-work-package {
            background-color: #f8f8f8;
          }

          .calendar-month-day-wrapper {
            @include flex-row();

            cursor: pointer;
            flex-grow: 1;

            .calendar-month-day {
              @include flex-row();

              align-items: center;
              border-radius: 2px;
              color: rgba(51, 51, 51, 0.4);
              height: 20px;
              justify-content: center;
              margin-bottom: 4px;
              margin-left: 2px;
              text-align: center;
              width: 20px;

              &.current-month {
                color: #333;
              }

              &.today {
                color: #00acd4;
                font-weight: 700;
              }

              &.search-result {
                border: 1px solid #4caf50;
              }
            }
          }
        }

        .calendar-day-alerts {
          i {
            cursor: pointer;
            margin-left: 5px;

            &:first-of-type {
              margin-left: 0;
            }

            &.warning {
              color: $orange;
            }

            &.danger {
              color: $red-dark1;
            }
          }
        }

        .calendar-day-events {
          flex-grow: 1;

          &.resizable-work-package {
            background-color: #f8f8f8;
            transition: all 1s;
          }

          .calendar-day-flight,
          .calendar-day-maintenance-event,
          .calendar-day-maintenance-event-icons,
          .calendar-day-work-package,
          .calendar-day-fake-work-package {
            height: 24px;
          }

          .calendar-day-flight,
          .calendar-day-maintenance-event,
          .calendar-day-work-package,
          .calendar-day-fake-work-package {
            margin-top: 2px;
          }

          .calendar-day-flight,
          .calendar-day-maintenance-event,
          .calendar-day-work-package {
            line-height: 24px;
          }

          & + *:first-child {
            margin-top: 0;
          }

          .calendar-day-flight {
            align-items: flex-start;
            display: flex;
          }

          .calendar-day-maintenance-event {
            align-items: flex-start;
            border-bottom-color: #2e2e2e;
            border-bottom-style: dashed;
            display: flex;
            width: fit-content;

            .calendar-day-maintenance-event-icons {
              align-items: center;
              display: flex;

              .calendar-day-maintenance-event-group-icon {
                font-size: 6px;
              }

              .calendar-day-maintenance-event-type-icon {
                font-size: 11px;
              }
            }
          }

          .calendar-day-flight-name,
          .calendar-day-maintenance-event-name {
            cursor: pointer;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .calendar-day-work-package {
            border-radius: 2px;
            border-style: solid;
            border-width: 1px;
            color: #fff;
            cursor: pointer;
            display: flex;
            padding: 0 3px;
            position: relative;
            z-index: 100;

            &.status-simulated {
              background-color: #00bcd4;
              border-color: #00bcd4;
            }

            &.status-scheduled {
              background-color: #0096a9;
              border-color: #0096a9;
            }

            &.status-other {
              background-color: #00707f;
              border-color: #00707f;
            }

            &.draggable-work-package {
              background-color: #fff !important;
              border-style: dashed !important;
              color: #2e2e2e !important;
            }

            &.droppable-maintenance-event {
              background-color: #f8f8f8 !important;
              color: #2e2e2e !important;
              transition: all 1s;
            }

            .calendar-day-work-package-name {
              flex-grow: 1;
              overflow: hidden;
              padding-left: 2px;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .end-date-resize-handler,
            .start-date-resize-handler {
              cursor: move;
              padding-top: 4px;
              max-width: 0.5rem;
              min-width: 0.5rem;
            }

            .end-date-resize-handler {
              margin-left: 10px;
            }

            .start-date-resize-handler {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
