<a-modal class="aw-modal" [(visible)]="display">
  <a-header>
    <div class="modal-title">{{ getComponentName() + ".tiltle" | translate }}</div>
  </a-header>

  <a-content>
    <div class="search-dialog-container">
      <div class="section results-section">
        <h4 class="section-title">
          {{ getComponentName() + ".results" | translate }} ({{
            flHistoryTableDataSource ? flHistoryTableDataSource.dataCount : 0
          }})
        </h4>
        <div class="section-content">
          <a-table [dataSource]="flHistoryTableDataSource">
            <ng-template columnDef="status" let-rowData="rowData">
              <i class="fa fa-info-circle aw-icon" aria-hidden="true" (click)="OpenStatusInfo(rowData)"></i>
            </ng-template>
            <ng-template columnDef="attachementDate" let-rowData="rowData">
              {{ rowData.attachementDate | date: "yyyy/MM/dd" }}
            </ng-template>
            <ng-template columnDef="deAttachementDate" let-rowData="rowData">
              {{ rowData.deAttachementDate | date: "yyyy/MM/dd" }}
            </ng-template>
          </a-table>
        </div>
      </div>
    </div>
  </a-content>
  <a-footer>
    <button type="button" mat-raised-button (click)="closeDialog()">
      <span>{{ "global.cancel" | translate }}</span>
    </button>
  </a-footer>
</a-modal>
<aw-dialog-status-popupy *ngIf="statusDialog" [(display)]="statusDialog" [equipmentStatus]="equipmentStatus">
</aw-dialog-status-popupy>
