@import "constants";
@import "mixins";
$red: rgb(255, 0, 60);

:host {
  .alert {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    width: 5em;
    text-align: center;
    margin-left: 6px;

    &.alert--ok {
      background-color: $green-light1;
    }

    &.alert--warning {
      background-color: $orange;
    }

    &.alert--nok {
      background-color: $red-light1;
    }

    &.alert--none {
      background-color: $grey1;
    }
  }
  .green-background {
    background-color: $green-light1;
    border-radius: 4px;
    padding: 4px;
  }

  .advancement-cell {
    display: flex;
    flex-direction: column;

    .grid-cell-content {
      flex-direction: column !important;
      flex-grow: 1;

      .advancement-items {
        display: flex;
        flex-direction: row;

        .advancement-item {
          flex-grow: 1;
          text-align: center;

          & > div:first-of-type {
            font-size: 3em;
          }
        }
      }

      .advancement-progress {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        p-progressBar {
          width: 100%;
        }
      }
    }
  }

  ::ng-deep .green {
    .ui-progressbar {
      .ui-progressbar-value {
        border: 0 none;
        margin: 0;
        background: $green-light1 !important;
      }
    }
  }

  .bold {
    font-style: bold;
  }

  .filter {
    margin-top: 8px;
  }

  .need-disclocate {
    color: $red;
  }

  .icon {
    margin-left: 8px;
    cursor: pointer;
  }
}
