<div class="overlay">
  <div class="stepper">
    <aw-stepper [steps]="steps"></aw-stepper>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.AIRM_OPERATION_STATUS_SIMULATED">
    <p>
      {{ getComponentName() + ".simulatedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".simulatedRow2" | translate }}
    </p>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.AIRM_OPERATION_STATUS_PLANNED">
    <p>
      {{ getComponentName() + ".plannedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".plannedRow2" | translate }}
    </p>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.AIRM_OPERATION_STATUS_RELEASED">
    <p>
      {{ getComponentName() + ".releasedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".releasedRow2" | translate }}
    </p>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.AIRM_OPERATION_STATUS_ONGOING">
    <p>
      {{ getComponentName() + ".ongoingRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".ongoingRow2" | translate }}
    </p>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.AIRM_OPERATION_STATUS_TO_BE_CONFIRMED">
    <p>
      {{ getComponentName() + ".toBeConfirmedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".toBeConfirmedRow2" | translate }}
    </p>

    <div class="actions">
      <button mat-raised-button color="primary" (click)="updateStatus(constants.AIRM_PROJECT_STATUS_CLOSE)">
        {{ getComponentName() + ".changeToPerformedStatus" | translate }}
      </button>
    </div>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.AIRM_OPERATION_STATUS_PERFORMED">
    <p>
      {{ getComponentName() + ".performedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".performedRow2" | translate }}
    </p>

    <div class="actions">
      <button mat-raised-button color="primary" (click)="updateStatus(constants.AIRM_PROJECT_STATUS_CLOSE)">
        {{ getComponentName() + ".changeToClosedStatus" | translate }}
      </button>
    </div>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.AIRM_OPERATION_STATUS_CLOSE">
    <p>
      {{ getComponentName() + ".closedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".closedRow2" | translate }}
    </p>

    <div class="actions">
      <button mat-raised-button (click)="updateStatus(constants.AIRM_PROJECT_STATUS_PERFORMED)">
        {{ getComponentName() + ".returnToPerformedStatus" | translate }}
      </button>
    </div>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.AIRM_OPERATION_STATUS_POSTPONEMENT_REQUESTED">
    <p>
      {{ getComponentName() + ".postponementRequestedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".postponementRequestedRow2" | translate }}
    </p>
  </div>

  <div class="status-info" *ngIf="currentStatus == constants.AIRM_OPERATION_STATUS_POSTPONED">
    <p>
      {{ getComponentName() + ".postponedRow1" | translate }}
    </p>

    <p>
      {{ getComponentName() + ".postponedRow2" | translate }}
    </p>
  </div>
</div>
