@import "constants";
@import "mixins";
@import "modifiers";

:host {
  .alert {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    width: 8em;
    text-align: center;
    margin-left: 1.2em;
    margin-top: 1em;

    &.alert--ok {
      background-color: $green-light1;
      border-radius: 1em;
    }

    &.alert--warning {
      background-color: $orange;
      border-radius: 1em;
    }

    &.alert--nok {
      background-color: $red-light1;
      border-radius: 1em;
    }

    &.alert--none {
      background-color: $grey1;
    }
  }

  .card-container {
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 1em !important;
  }

  .card-serialize-item {
    width: 14.5em;
  }

  .card-not-serialize-item {
    width: 16.5em;
  }

  .custom-cell {
    border-radius: 1em !important;
    box-shadow: 0.2em 0.2em #888888 !important;
  }

  ::ng-deep .ui-card {
    cursor: pointer !important;
  }

  .link-class {
    padding-right: 10em;
    cursor: pointer;
  }

  .custom-column {
    padding: 1em;
  }

  .custom-height {
    height: fit-content;
    font-size: 1.2em;
  }

  .custom-row {
    display: grid !important;
  }

  .form {
    padding: 0.2em;
  }

  .margin-class {
    margin-left: 0.3em;
  }

  .margin-top-class {
    margin-top: 0.25em;
    margin-right: 0.5em;
  }

  .custom-grid {
    width: auto !important;
  }

  .border-class {
    border: 1px solid !important;
  }

  ::ng-deep .card-class .alert--ok {
    border-left: 0.3em solid $green-light1 !important;
    height: 10em !important;
  }

  ::ng-deep .card-class .alert--nok {
    border-left: 0.3em solid $red-light1 !important;
    height: 10em !important;
  }

  ::ng-deep .card-class .alert--warning {
    border-left: 0.3em solid $red-light1 !important;
    height: 10em !important;
  }

  ::ng-deep .card-class-not-serialize .alert--ok {
    border-left: 0.3em solid $green-light1 !important;
    height: 10.5em !important;
  }

  ::ng-deep .card-class-not-serialize .alert--nok {
    border-left: 0.3em solid $red-light1 !important;
    height: 10.5em !important;
  }

  ::ng-deep .card-class-not-serialize .alert--warning {
    border-left: 0.3em solid $red-light1 !important;
    height: 10.5em !important;
  }

  .footer-div {
    display: inline !important;
  }

  .wks-float {
    float: left;
  }

  .action-class {
    float: right;
  }

  .add-inventory {
    cursor: pointer;
    margin-top: 2em;
  }

  .link-class {
    cursor: pointer;
  }

  .current {
    border: 0.2em solid $secondary-text-color !important;
    height: fit-content;
  }

  .align-custom {
    text-align: right;
  }

  .custom-button {
    display: flex;
    position: absolute;
    padding: 1em;
  }

  .float-right {
    float: right;
    padding-right: 0.5em;
    cursor: pointer;
  }

  .custom-control {
    display: flex;
    padding: 0 !important;
  }

  .buttons {
    display: contents;
  }

  .row-button {
    display: flex;
    padding: 0.2em !important;
  }

  .quantity {
    font-weight: bold;
  }

  .quantity-non-serialized {
    font-weight: bold;
    float: right;
  }

  .custom-panel {
    width: 100%;
    overflow-x: auto;
  }

  .custom-card-row {
    flex-wrap: initial !important;
  }

  .card-row {
    padding-bottom: 1em;
  }

  .serial-class {
    overflow-y: auto;
    max-height: 20em;
  }

  .inventory-title {
    padding-left: 0.5em;
    font-style: italic;
    font-size: large;
  }

  .select-button-custom {
    display: block !important;
  }

  .description {
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 15em;
  }

  .btn-group {
    margin-right: -2em !important;
  }
}

::ng-deep .action-list {
  justify-content: flex-end;

  .aw-btn {
    margin-left: $margin-value;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
