<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div class="page-subtitle">- {{ "global.search" | translate }}</div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button type="button" mat-raised-button (click)="create()" *ngIf="hasUpdateAccessRight">
      {{ "global.create" | translate }}
    </button>
    <button
      id="actions"
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #actions="matMenu">
      <button type="button" mat-menu-item (click)="refresh()">
        {{ "global.refresh" | translate }}
      </button>

      <button id="favorites" mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container">
    <div class="page-content">
      <div class="grid-row">
        <div class="grid-cell--12">
          <div #resultsContainerAnchor class="grid-cell grid-cell--container">
            <div class="grid-cell-header">
              <div class="grid-cell-title-container">
                <h3 class="grid-cell-title">
                  {{ getComponentName() + ".eventSubscriptionList" | translate }} ({{
                    evtSubscriptionsTableDataSource ? evtSubscriptionsTableDataSource.dataCount : 0
                  }})
                </h3>
              </div>
            </div>

            <!-- Event subscriptions table -->

            <div class="grid-cell-content">
              <a-table [dataSource]="evtSubscriptionsTableDataSource">
                <ng-template tableActionsDef>
                  <button
                    type="button"
                    *ngIf="evtSubscriptionsTableDataSource.hasDataSelection"
                    color="warn"
                    mat-raised-button
                    (click)="deleteSelectedEventSubscription()"
                  >
                    {{ "global.delete" | translate }}
                  </button>

                  <button
                    type="button"
                    mat-raised-button
                    *ngIf="evtSubscriptionsTableDataSource.hasDataSelection"
                    (click)="viewSelectedEventSubscription()"
                  >
                    {{ "global.open" | translate }}
                  </button>
                </ng-template>

                <ng-template columnDef="newEventsOnly" let-rowData="rowData">
                  <i *ngIf="rowData.newEventsOnly" class="fa fa-fw fa-check" aria-hidden="true"></i>
                </ng-template>

                <ng-template columnDef="doNotNotifyOnForms" let-rowData="rowData">
                  <i *ngIf="rowData.doNotNotifyOnForms" class="fa fa-fw fa-check" aria-hidden="true"></i>
                </ng-template>
              </a-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
