<div class="page-header">
  <div class="page-info">
    <div>
      <div class="page-title">
        {{ "transaction." + componentData.componentId | translate }}
      </div>

      <div class="page-subtitle">
        <div *ngIf="componentData && componentData.objectId" class="page-subtitle">
          {{ subtitle }}
        </div>
      </div>
    </div>
  </div>

  <div class="page-actions">
    <button *ngIf="saveDone" type="button" mat-raised-button (click)="report()">
      {{ componentData.componentId + ".report" | translate }}
    </button>

    <button
      *ngIf="!saveDone"
      class="btn-with-spinner"
      color="primary"
      [disabled]="disableSave"
      type="button"
      mat-raised-button
      (click)="saveSuperiorAsset()"
    >
      <span class="lds-hourglass" *ngIf="showSaveSpinner"></span>
      {{ "global.save" | translate }}
    </button>

    <button
      id="actions"
      mat-icon-button
      class="mat-elevation-z1"
      matTooltip="{{ 'global.showAllActionTooltip' | translate }}"
      matTooltipPosition="above"
      aria-label="Show all actions"
      [matMenuTriggerFor]="actions"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #actions="matMenu">
      <button *ngIf="!saveDone" type="button" mat-menu-item (click)="loadAssets()">
        {{ "global.refresh" | translate }}
      </button>
      <button id="favorites" mat-menu-item (click)="updateFavoriteState()">
        {{ (isFavoriteEntry ? "page.removeFromFavorites" : "page.addToFavorites") | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <div class="page-container search-page-container">
    <div class="page-content">
      <mat-tab-group animationDuration="0ms" dynamicHeight>
        <!-- Home -->
        <mat-tab id="homeTab">
          <ng-template mat-tab-label>
            {{ "home" | translate }}
          </ng-template>
          <div class="grid-row">
            <div class="grid-cell--12">
              <div class="grid-cell grid-cell--container">
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container">
                    <h3 class="grid-cell-title">
                      {{ "page.mainData" | translate }}
                    </h3>
                  </div>
                </div>

                <div class="grid-cell-content">
                  <div class="column">
                    <div class="row">
                      <div class="form-group required">
                        <label class="form-label">{{ componentData.componentId + ".date" | translate }}</label>
                        <div class="form-control">
                          <p-calendar
                            showButtonBar="true"
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            [yearRange]="sessionService.calendarYearRange"
                            class="aw-calendar"
                            [dateFormat]="sessionService.dateFormatPrimeNG"
                            (onClose)="reload()"
                            [(ngModel)]="equipmentInput.informationsDTO.eventDate"
                            [readonlyInput]="true"
                            [showTime]="true"
                          ></p-calendar>
                        </div>
                      </div>

                      <div class="form-group required">
                        <label class="form-label">{{
                          componentData.componentId + ".newOperationalStatus" | translate
                        }}</label>
                        <div class="form-control">
                          <p-dropdown
                            class="aw-dropdown fixed-width"
                            [options]="propertyOperationalStatus"
                            [(ngModel)]="equipmentInput.newOperationalStatus"
                            [showClear]="true"
                            placeholder="&nbsp;"
                          ></p-dropdown>
                        </div>
                      </div>

                      <div class="form-group required">
                        <label class="form-label">{{ getComponentName() + ".searchAsset" | translate }}</label>

                        <div class="form-control form-control-with-modal">
                          <div class="form-control-data" (click)="searchAsset()">
                            {{ superiorAssetCode }}
                          </div>

                          <div *ngIf="superiorAssetCode" class="btn-clear-wrapper">
                            <i
                              class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                              aria-hidden="true"
                              (click)="resetSuperiorAssetField($event)"
                            ></i>
                          </div>
                          <div class="btn-search-wrapper">
                            <i
                              class="fa fa-fw fa-search aw-icon btn-search"
                              aria-hidden="true"
                              (click)="searchAsset()"
                            ></i>
                          </div>
                        </div>
                      </div>
                      <div class="form-group"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-row">
            <div class="grid-cell--12">
              <div class="grid-cell grid-cell--container">
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container">
                    <h3 class="grid-cell-title">
                      {{ componentData.componentId + ".assetsToInstall" | translate }} ({{
                        resultsTable ? resultsTable.length : 0
                      }})
                    </h3>
                  </div>
                </div>

                <div class="grid-cell-content">
                  <p-table
                    [resizableColumns]="true"
                    #table
                    class="aw-table2"
                    [columns]="resultsTableCols"
                    selectionMode="single"
                    [(selection)]="selectedAssetRow"
                    [value]="resultsTable"
                    (onRowUnselect)="onAssetRowUnselect()"
                    (onRowSelect)="onAssetRowSelect($event.index)"
                    [scrollable]="true"
                  >
                    <ng-template pTemplate="emptymessage">
                      <span *ngIf="!isLoading"> &nbsp;</span>

                      <div *ngIf="isLoading" class="aw-table-loading-indicator">
                        <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                        <div class="lds-hourglass"></div>
                      </div>
                    </ng-template>

                    <ng-template pTemplate="caption">
                      <div class="aw-table-header" [ngClass]="{ 'rows-selected': selectedAssetRow }">
                        <div class="aw-table-global-filter">
                          <label class="aw-table-global-filter-label">
                            <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                          </label>

                          <input
                            #tableGlobalFilter
                            class="aw-table-global-filter-input"
                            type="text"
                            placeholder="{{ 'table.globalFilterText' | translate }}"
                            (input)="table.filterGlobal($event.target.value, 'contains')"
                          />
                        </div>

                        <div class="aw-table-actions">
                          <button
                            *ngIf="selectedAssetRow && !saveDone"
                            type="button"
                            mat-raised-button
                            (click)="editSelectedAsset()"
                          >
                            {{ "global.edit" | translate }}
                          </button>

                          <button
                            *ngIf="selectedAssetRow && !selectedAssetRow.alert"
                            type="button"
                            mat-raised-button
                            (click)="deleteAsset()"
                          >
                            {{ "global.delete" | translate }}
                          </button>

                          <button
                            *ngIf="resultsTable && !selectedAssetRow"
                            type="button"
                            mat-raised-button
                            (click)="addAsset()"
                          >
                            {{ "global.add" | translate }}
                          </button>
                        </div>
                      </div>
                    </ng-template>

                    <ng-template pTemplate="colgroup">
                      <colgroup>
                        <col style="width: 10%" />
                        <col style="width: 10%" />
                        <col style="width: 17.5%" />
                        <col style="width: 12%" />
                        <col style="width: 15%" />
                        <col style="width: 10%" />
                        <col style="width: 5%" />
                        <col style="width: 10.5%" />
                        <col style="width: 5%" />
                      </colgroup>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th style="text-align: left">{{ getComponentName() + ".assetPn" | translate }}</th>
                        <th style="text-align: left">{{ getComponentName() + ".assetSn" | translate }}</th>
                        <th style="text-align: left">{{ getComponentName() + ".assetDesignation" | translate }}</th>
                        <th style="text-align: left">{{ getComponentName() + ".assetStatusLabel" | translate }}</th>
                        <th style="text-align: left">{{ getComponentName() + ".funLocCode" | translate }}</th>
                        <th style="text-align: left">{{ getComponentName() + ".itemDataCode" | translate }}</th>
                        <th style="text-align: left">{{ getComponentName() + ".position" | translate }}</th>
                        <th style="text-align: left">{{ getComponentName() + ".superiorAssetAtDate" | translate }}</th>
                        <th *ngIf="!saveDone" style="text-align: center">
                          {{ getComponentName() + ".alerts" | translate }}
                        </th>
                        <th *ngIf="saveDone" style="text-align: center">
                          {{ getComponentName() + ".report" | translate }}
                        </th>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                        <td style="text-align: left">
                          <span>{{ rowData["assetPn"] }}</span>
                        </td>

                        <td style="text-align: left">
                          <span
                            ><a (click)="openAsset(rowData)">{{ rowData["assetSn"] }}</a></span
                          >
                        </td>

                        <td style="text-align: left">
                          <span pTooltip="{{ rowData['assetDesignation'] }}" tooltipPosition="bottom">{{
                            rowData["assetDesignation"]
                          }}</span>
                        </td>

                        <td style="text-align: left">
                          <span>{{ rowData["assetStatusLabel"] }}</span>
                        </td>

                        <td style="text-align: left">
                          <span pTooltip="{{ rowData['funLocCode'] }}" tooltipPosition="bottom">{{
                            rowData["funLocCode"]
                          }}</span>
                        </td>

                        <td style="text-align: left">
                          <span pTooltip="{{ rowData['itemDataCode'] }}" tooltipPosition="bottom">{{
                            rowData["itemDataCode"]
                          }}</span>
                        </td>

                        <td style="text-align: left">
                          <span>{{ rowData["position"] }}</span>
                        </td>

                        <td style="text-align: left">
                          <span>{{ rowData["superiorAsset"] }}</span>
                        </td>

                        <td
                          *ngIf="!saveDone"
                          style="text-align: center"
                          pTooltip="{{ rowData['alertMessage'] }}"
                          tooltipPosition="top"
                        >
                          <span *ngIf="rowData['alert']" class="alert alert--ok">
                            {{ getComponentName() + ".alertOk" | translate }}
                          </span>

                          <span *ngIf="!rowData['alert']" class="alert alert--nok">
                            {{ getComponentName() + ".alertNok" | translate }}
                          </span>
                        </td>

                        <td
                          *ngIf="saveDone"
                          style="text-align: center"
                          pTooltip="{{ rowData['reportMessage'] }}"
                          tooltipPosition="top"
                        >
                          <span *ngIf="rowData['report']" class="alert alert--ok">
                            {{ getComponentName() + ".alertOk" | translate }}
                          </span>

                          <span *ngIf="!rowData['report']" class="alert alert--nok">
                            {{ getComponentName() + ".alertNok" | translate }}
                          </span>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab id="additionalTab">
          <ng-template mat-tab-label>
            {{ "page.additionalData" | translate }}
          </ng-template>
          <div class="grid-row">
            <div class="grid-cell--12">
              <div class="grid-cell grid-cell--container">
                <div class="grid-cell-header">
                  <div class="grid-cell-title-container">
                    <h3 class="grid-cell-title">{{ "page.additionalData" | translate }}</h3>
                  </div>
                </div>

                <div class="grid-cell-content grid-cell-content-with-section">
                  <div class="section">
                    <div class="section-content">
                      <div class="row">
                        <div class="form-group">
                          <label class="form-label">{{ getComponentName() + ".fixStatus" | translate }}</label>

                          <div class="form-control">
                            <p-dropdown
                              class="aw-dropdown fixed-width"
                              [options]="fixStatusList"
                              [(ngModel)]="equipmentInput.fixStatusFromAsset"
                              pTooltip="{{ getStatusLabel(equipmentInput.fixStatusFromAsset) }}"
                              tooltipPosition="top"
                              placeholder="&nbsp;"
                              [showClear]="true"
                              appendTo="body"
                            ></p-dropdown>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="form-label"> {{ componentData.componentId + ".subject" | translate }} </label>

                          <div class="form-control">
                            <input
                              type="text"
                              class="aw-input"
                              [(ngModel)]="equipmentInput.informationsDTO.subject"
                              [title]="
                                equipmentInput.informationsDTO.subject === undefined
                                  ? ''
                                  : equipmentInput.informationsDTO.subject
                              "
                            />
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="form-label">
                            {{ componentData.componentId + ".description" | translate }}
                          </label>

                          <div class="form-control text-area">
                            <textarea
                              class="aw-textarea"
                              [rows]="3"
                              pInputTextarea
                              [(ngModel)]="equipmentInput.informationsDTO.description"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="section">
                    <h4 class="section-title">{{ componentData.componentId + ".linkedEvent" | translate }}</h4>

                    <div class="section-content">
                      <div class="row">
                        <div class="form-group">
                          <label class="form-label"> {{ componentData.componentId + ".eventCode" | translate }} </label>
                          <div class="form-control form-control-with-btn" (click)="searchEventCode()">
                            <input
                              type="text"
                              class="aw-input"
                              [(ngModel)]="equipmentInput.informationsDTO.linkedEventCode"
                              [ngModelOptions]="{ standalone: true }"
                              disabled="true"
                            />
                            <i
                              class="ui-dropdown-clear-icon pi pi-times aw-icon btn-clear"
                              aria-hidden="true"
                              *ngIf="equipmentInput.informationsDTO.linkedEventCode"
                              (click)="resetEventField($event)"
                            ></i>
                            <i
                              class="fa fa-fw fa-search aw-icon btn-search"
                              aria-hidden="true"
                              (click)="searchEventCode()"
                            ></i>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="form-label"> {{ componentData.componentId + ".type" | translate }} </label>

                          <div class="form-control">
                            <input
                              type="text"
                              class="aw-input"
                              [(ngModel)]="eventType"
                              maxlength="20"
                              disabled="true"
                            />
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="form-label"> {{ componentData.componentId + ".subject" | translate }} </label>

                          <div class="form-control">
                            <input
                              type="text"
                              class="aw-input"
                              [(ngModel)]="eventSubject"
                              [title]="eventSubject == 'null' ? '' : eventSubject"
                              maxlength="20"
                              disabled="true"
                            />
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="form-label">
                            {{ componentData.componentId + ".isScheduled" | translate }}
                          </label>
                          <div class="form-control">
                            <p-checkbox
                              binary="true"
                              class="aw-checkbox"
                              [(ngModel)]="equipmentInput.informationsDTO.isScheduled"
                            ></p-checkbox>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="form-label">
                            {{ componentData.componentId + ".generateEvent" | translate }}
                          </label>
                          <div class="form-control">
                            <p-checkbox
                              binary="true"
                              class="aw-checkbox"
                              [(ngModel)]="equipmentInput.informationsDTO.generateEvent"
                              [disabled]="true"
                            ></p-checkbox>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="section" [hidden]="!showAdvancedCriteria">
                    <h4 class="section-title">
                      {{ componentData.componentId + ".evolutionLinkedtoAsset" | translate }} ({{
                        evolutionsLinked ? evolutionsLinked.length : 0
                      }})
                    </h4>

                    <div class="section-content">
                      <p-table
                        [resizableColumns]="true"
                        #evolutionsTable
                        class="aw-table2"
                        [columns]="evolutionsTableCols"
                        [value]="evolutionsLinked"
                        [scrollable]="true"
                      >
                        <ng-template pTemplate="emptymessage">
                          <span *ngIf="!isLoadingAssetTable"> &nbsp;</span>

                          <div *ngIf="isLoadingAssetTable" class="aw-table-loading-indicator">
                            <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                            <div class="lds-hourglass"></div>
                          </div>
                        </ng-template>

                        <ng-template pTemplate="caption">
                          <div class="aw-table-header">
                            <div class="aw-table-global-filter">
                              <label class="aw-table-global-filter-label">
                                <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                              </label>

                              <input
                                #ptableEvolutionGlobalFilter
                                class="aw-table-global-filter-input"
                                type="text"
                                placeholder="{{ 'table.globalFilterText' | translate }}"
                                (input)="evolutionsTable.filterGlobal($event.target.value, 'contains')"
                              />
                            </div>
                          </div>
                        </ng-template>

                        <ng-template pTemplate="colgroup" let-columns>
                          <colgroup>
                            <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                          </colgroup>
                        </ng-template>

                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th
                              pResizableColumn
                              *ngFor="let col of columns"
                              [ngStyle]="{ 'text-align': col.alignment }"
                            >
                              {{ componentData.componentId + "." + col.field | translate }}
                            </th>
                          </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                            <td
                              *ngFor="let col of columns"
                              [ngSwitch]="col.field"
                              [ngStyle]="{ 'text-align': col.alignment }"
                            >
                              <span *ngSwitchCase="'isPartiallyApplied'">
                                <span *ngIf="rowData[col.field]">
                                  <i class="fa fa-fw fa-check" aria-hidden="true"></i>
                                </span>
                              </span>
                              <span *ngSwitchCase="'isNotApplicable'">
                                <span *ngIf="rowData[col.field]">
                                  <i class="fa fa-fw fa-check" aria-hidden="true"></i>
                                </span>
                              </span>
                              <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>

                  <div class="section" [hidden]="!showAdvancedCriteria">
                    <h4 class="section-title">
                      {{ componentData.componentId + ".newEvolutionsAssociated" | translate }} ({{
                        evolutionsLinked ? evolutionsLinked.length : 0
                      }})
                    </h4>

                    <div class="section-content">
                      <p-table
                        [resizableColumns]="true"
                        #newEvolutionsTable
                        class="aw-table2"
                        [columns]="evolutionsTableCols"
                        [value]="newEvolutionsLinked"
                        [scrollable]="true"
                      >
                        <ng-template pTemplate="emptymessage">
                          <span *ngIf="!isLoadingAssetTable"> &nbsp;</span>

                          <div *ngIf="isLoadingAssetTable" class="aw-table-loading-indicator">
                            <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                            <div class="lds-hourglass"></div>
                          </div>
                        </ng-template>

                        <ng-template pTemplate="caption">
                          <div class="aw-table-header">
                            <div class="aw-table-global-filter">
                              <label class="aw-table-global-filter-label">
                                <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                              </label>

                              <input
                                #ptableNewEvolutionGlobalFilter
                                class="aw-table-global-filter-input"
                                type="text"
                                placeholder="{{ 'table.globalFilterText' | translate }}"
                                (input)="newEvolutionsTable.filterGlobal($event.target.value, 'contains')"
                              />
                            </div>
                          </div>
                        </ng-template>

                        <ng-template pTemplate="colgroup" let-columns>
                          <colgroup>
                            <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                          </colgroup>
                        </ng-template>

                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th
                              pResizableColumn
                              *ngFor="let col of columns"
                              [ngStyle]="{ 'text-align': col.alignment }"
                            >
                              {{ componentData.componentId + "." + col.field | translate }}
                            </th>
                          </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                            <td
                              *ngFor="let col of columns"
                              [ngSwitch]="col.field"
                              [ngStyle]="{ 'text-align': col.alignment }"
                            >
                              <span *ngSwitchCase="'isPartiallyApplied'">
                                <span *ngIf="rowData[col.field]">
                                  <i class="fa fa-fw fa-check" aria-hidden="true"></i>
                                </span>
                              </span>
                              <span *ngSwitchCase="'isNotApplicable'">
                                <span *ngIf="rowData[col.field]">
                                  <i class="fa fa-fw fa-check" aria-hidden="true"></i>
                                </span>
                              </span>
                              <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>

                  <div class="section" [hidden]="!showAdvancedCriteria">
                    <h4 class="section-title">
                      {{ componentData.componentId + ".canceledMeasureProgress" | translate }} ({{
                        evolutionsLinked ? evolutionsLinked.length : 0
                      }})
                    </h4>

                    <div class="section-content">
                      <p-table
                        [resizableColumns]="true"
                        #counterTable
                        class="aw-table2"
                        [columns]="counterTableCols"
                        [value]="canceledMeasureProgress"
                        [scrollable]="true"
                      >
                        <ng-template pTemplate="emptymessage">
                          <span *ngIf="!isLoadingAssetTable"> &nbsp;</span>

                          <div *ngIf="isLoadingAssetTable" class="aw-table-loading-indicator">
                            <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                            <div class="lds-hourglass"></div>
                          </div>
                        </ng-template>

                        <ng-template pTemplate="caption">
                          <div class="aw-table-header">
                            <div class="aw-table-global-filter">
                              <label class="aw-table-global-filter-label">
                                <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                              </label>

                              <input
                                #ptableCounterGlobalFilter
                                class="aw-table-global-filter-input"
                                type="text"
                                placeholder="{{ 'table.globalFilterText' | translate }}"
                                (input)="counterTable.filterGlobal($event.target.value, 'contains')"
                              />
                            </div>
                          </div>
                        </ng-template>

                        <ng-template pTemplate="colgroup" let-columns>
                          <colgroup>
                            <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                          </colgroup>
                        </ng-template>

                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th
                              pResizableColumn
                              *ngFor="let col of columns"
                              [ngStyle]="{ 'text-align': col.alignment }"
                            >
                              {{ componentData.componentId + "." + col.field | translate }}
                            </th>
                          </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                            <td
                              *ngFor="let col of columns"
                              [ngSwitch]="col.field"
                              [ngStyle]="{ 'text-align': col.alignment }"
                            >
                              <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>

                  <div class="section" [hidden]="!showAdvancedCriteria">
                    <h4 class="section-title">
                      {{ componentData.componentId + ".createdMeasureProgress" | translate }} ({{
                        evolutionsLinked ? evolutionsLinked.length : 0
                      }})
                    </h4>

                    <div class="section-content">
                      <p-table
                        [resizableColumns]="true"
                        #counterTable2
                        class="aw-table2"
                        [columns]="counterTableCols"
                        [value]="createMeasureProgress"
                        [scrollable]="true"
                      >
                        <ng-template pTemplate="emptymessage">
                          <span *ngIf="!isLoadingAssetTable"> &nbsp;</span>

                          <div *ngIf="isLoadingAssetTable" class="aw-table-loading-indicator">
                            <div class="loading-message">{{ "table.loadingData" | translate }}</div>
                            <div class="lds-hourglass"></div>
                          </div>
                        </ng-template>

                        <ng-template pTemplate="caption">
                          <div class="aw-table-header">
                            <div class="aw-table-global-filter">
                              <label class="aw-table-global-filter-label">
                                <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                              </label>

                              <input
                                #ptableCounterGlobalFilter
                                class="aw-table-global-filter-input"
                                type="text"
                                placeholder="{{ 'table.globalFilterText' | translate }}"
                                (input)="counterTable2.filterGlobal($event.target.value, 'contains')"
                              />
                            </div>
                          </div>
                        </ng-template>

                        <ng-template pTemplate="colgroup" let-columns>
                          <colgroup>
                            <col *ngFor="let col of columns" [ngStyle]="{ width: col.width }" />
                          </colgroup>
                        </ng-template>

                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th
                              pResizableColumn
                              *ngFor="let col of columns"
                              [ngStyle]="{ 'text-align': col.alignment }"
                            >
                              {{ componentData.componentId + "." + col.field | translate }}
                            </th>
                          </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                            <td
                              *ngFor="let col of columns"
                              [ngSwitch]="col.field"
                              [ngStyle]="{ 'text-align': col.alignment }"
                            >
                              <span *ngSwitchDefault> {{ rowData[col.field] }} </span>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>

                  <div class="row search-criteria-footer">
                    <div
                      class="advanced-criteria-toggler"
                      *ngIf="!showAdvancedCriteria"
                      (click)="showAdvancedCriteria = !showAdvancedCriteria"
                    >
                      <i class="fa fa-fw fa-plus" aria-hidden="true"></i>

                      <div class="advanced-criteria-toggler-more">
                        {{ componentData.componentId + ".showMoreDetails" | translate }}
                      </div>
                    </div>

                    <div
                      class="advanced-criteria-toggler"
                      *ngIf="showAdvancedCriteria"
                      (click)="showAdvancedCriteria = !showAdvancedCriteria"
                    >
                      <i class="fa fa-fw fa-minus" aria-hidden="true"></i>

                      <div class="advanced-criteria-toggler-less">
                        {{ componentData.componentId + ".showLessDetails" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <aw-dialog-search-equipment
    *ngIf="dialogAddAssetVisible"
    [(display)]="dialogAddAssetVisible"
    [selectionMultiple]="true"
    [isGroundEquipment]="isGroundEquipment"
    [equipmentFunction]="equipmentFunctionToSearch"
    (onSelected)="onAddAsset($event)"
  ></aw-dialog-search-equipment>

  <aw-dialog-search-equipment
    *ngIf="showQuickSearchEquipmentPopup"
    [(display)]="showQuickSearchEquipmentPopup"
    [equipment-code]="superiorAssetCode"
    [isGroundEquipment]="isGroundEquipment"
    [equipmentFunction]="equipmentFunctionToSearch"
    (onSelected)="setSelectedAsset($event)"
  ></aw-dialog-search-equipment>

  <aw-dialog-install-asset
    *ngIf="showInstallAssetPopup"
    [(display)]="showInstallAssetPopup"
    [superiorCode]="equipmentInput.equipmentCodeFather"
    [selectedAsset]="selectedAssetRow"
    [isSuperiorAircraft]="isSuperiorAircraft"
    [date]="equipmentInput.informationsDTO.eventDate"
    (onValidated)="onRowEdit($event)"
  ></aw-dialog-install-asset>

  <aw-dialog-install-report
    *ngIf="showInstallReportPopup"
    [(display)]="showInstallReportPopup"
    [report]="installEquipmentOutputWithReportDTO"
  ></aw-dialog-install-report>

  <aw-dialog-search-event
    *ngIf="showQuickSearchEventPopup"
    [(display)]="showQuickSearchEventPopup"
    (onSelected)="setSelectedEvent($event)"
  ></aw-dialog-search-event>
</div>
